.custom-select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.4.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 4 5' style='enable-background:new 0 0 4 5;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23F08865;%7d %3c/style%3e%3cpath class='st0' d='M2,0L0,2h4L2,0z M2,5L0,3h4L2,5z'/%3e%3c/svg%3e ");
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-label::before {
  border-color: #F39A7B;
}

.custom-control-input:checked~.custom-control-label::before {
  background-color: #F39A7B;
  border-color: #F39A7B;
}

$ease: ease;
$duration: 400ms;
.plus-to-minus {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform $ease $duration;
  &:before, &:after {
    content: '';
    position: absolute;
    background-color: #2C4057;
    border-radius: 10px;
  }
  &:before {
    left: 50%;
    margin-left: -1px;
    width: 2px;
    height: 20px;
  }
  &:after {
    top: 50%;
    margin-top: -1px;
    height: 2px;
    width: 20px;
    transition: transform $ease $duration;
  }
  &.minus {
    transform: rotate( -90deg );
    &:after {
      transform: rotate( -90deg );
    }
  }
}

.burger {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 22px;
  height: 14px;
  cursor: pointer;
  border: none;
  background: transparent;
  .burger_line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 2px;
    transition: all 0.2s, background 0s;
    background: #fff;

    &:nth-child(2) {
      top: 6px;
    }

    &:last-child {
      top: 12px;
    }
  }
}

.list_commitment {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    a {
      display: block;
      padding: 2px 10px;
      border: 0.5px solid #262626;
      border-radius: 2px;
      margin-bottom: 10px;
      margin-right: 8px;
      font-size: 0.75em;
      &.actived {
        color: #fff;
      }
    }
  }
}

.section_search_conditions{
  margin-bottom:60px;
}

.frm_search_conditions {
  max-width: 725px;
  margin: auto;
  .frm_search_conditions_content {
    display: none;
  }
  h2 {
    background: #F2F2F2;
    padding: 10px 20px;
    font-size: 0.75em;
    color: #828282;
    font-weight: normal;
    margin-bottom: 20px;
    position: relative;
    a {
      position: absolute;
      display: block;
      right: 10px;
      top: 8px;
    }
    .burger {
      .burger_line {
        background: #2C4057;
      }
    }
    &.little_title {
      background: #2C4057;
      color: #fff;
      position: relative;
      button {
        background: transparent;
        border: 0;
        &:focus {
          outline: none;
        }
      }
      .burger {
        .burger_line {
          background: #fff;
        }
      }
    }

    
  }
  .nav {
    justify-content: space-evenly;
    border: 1px solid #F08865;
    margin-bottom: 30px;
  }
  .nav-pills {
    .nav-item {
      flex: 1 1 auto;
      text-align: center;
    }
    .nav-link {
      border-radius: 0;
      font-size: 0.875em;
      font-weight: 600;
      color: #F08865;
      position: relative;
      &.active {
        background: #F08865;
        color: #fff;
        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(240, 136, 101, 0);
          border-top-color: #F08865;
          border-width: 10px;
          margin-left: -10px;
        }
      }
    }
  }
  label {
    font-size: 0.875em;
    color: #2C4057;
  }
  p {
    margin-bottom: 0;
    &.cases {
      text-align: right;
      font-size: 0.75em;
      span {
        font-size: 1.5em;
      }
    }
    
  }
  .custom-checkbox {
    margin-bottom: 30px;
  }
  .box_form_group {
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    p {
      margin: 0 10px;
    }
  }

  .accordion {
    .card {
      border: none;
      border-radius: 0;
      .card-header {
        background: #fff;
        padding: 0;
        border-bottom: 1px solid #E0E0E0;
        margin-bottom: 0;
        h2 {
          background: transparent;
          padding: 0;
          position: relative;
          .ck_all {
            position: absolute;
            z-index: 10;
            left: 20px;
            top: 20px;
            bottom: 0;
            margin: auto;
            label {
              font-size: 1.17em;
              span {
                position: relative;
                top: 5px;
              }
            }
          }
          .btn {
            padding: 30px 20px;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              right: 20px;
              top: 0;
              bottom: 0;
              margin: auto;
              background: url('../images/icons/i-arrow-down.svg') no-repeat;
              width: 20px;
              height: 20px;
            }
            &.collapsed {
              &::before {
                background: url('../images/icons/i-arrow-up.svg') no-repeat;
              }
            }
          }
        }
      }
    }
    .card-body {
      background: rgba(240, 136, 101, .1);
    }
  }
}


.btn_search_conditions {
  display: inline-flex;
  justify-content: center;
}

@media (max-width: 768px) {
    .frm_search_conditions {
    h2 {
      margin-left: -10px;
      margin-right: -10px;
    }
    .accordion {
      .card {
        .card-header {
          h2 {
            margin-left: 0;
            margin-right: 0;
          }
        }
      }
    }
  }
}

