.board-tool{
	position: fixed;
	top:92px;
	left:20px;
	@media(max-width:991px){
		display: none;
	}
	ul{
		list-style-type: none;
		padding-left:0;
		li{
			a{
				border: 1px solid #BDC0BA;
			    background: #fff;
			    width: 50px;
			    height: 50px;
			    display: flex;
			    align-items: center;
			    justify-content: center;
			    svg{
			    	fill:#5B5B5B;
			    	
				}
				&:hover{
					svg{
						fill:#1F91B3;
					}
				}
			}

			&:last-child{
				margin-right:0;
			}
		}
	}
}

.board-info{
	background: #5B5B5B;
	padding:9px 20px;
	position: fixed;
	bottom:0;
	width: 100%;
	z-index: 9999;
	@media(max-width:576px){
		padding:9px 10px;
	}
	.board-info_blocker{
		display: flex;
	}
	.col-left,.col-right{
		display:flex;
		float:left;
    	@media (max-width: 991px){
    		float:none;
    		
    	}
	}
	.btn-yellow{
		width: 100%;
		margin-right:10px;
		max-width: 176px;
		background: #D3A243;
		border-radius: 3px;
		font-weight: 600;
		font-size: 0.875rem;
		line-height: 19px;
		display: flex;
		align-items: center;
		justify-content: center;
		color: #FFFFFF;
		@media (max-width: 991px){
			max-width:150px;
			@include fluid-font-size(768px,991px,13px,14px);
		}
		@media (max-width: 767px){
			max-width:105px;
			@include fluid-font-size(576px,767px,10px,13px);
		}
		@media(max-width:576px){
			@include fluid-font-size(320px,576px,6px,9px);
			padding:0;
		}
	}
	.col-left{
		width: 50%;
		@media(max-width:1200px){
			width: 45%;
		}
		@media (max-width: 767px){
			width: 38%;
		}
	}
	.col-right{
		width: 50%;
		justify-content: flex-end;
		@media(max-width:1200px){
			width: 55%;
		}
		@media (max-width: 991px){
			flex-flow: nowrap;
			align-item:center;
		}
		@media (max-width: 767px){
			width: 65%;
		}
		span{
			font-family: Hiragino Kaku Gothic Pro;
			font-weight: bold;
			font-size: 1.125rem;
			line-height: 27px;
			display: flex;
			align-items: center;
			color: #D1D1D1;
			justify-content: center;
			margin-right:20px;
			.preview-total-price{
				margin-right:0;
			}
			@media (max-width: 991px){
				@include fluid-font-size(768px,991px,13px,14px);
				text-align: center;
			}
			@media (max-width: 767px){
				@include fluid-font-size(546px,767px,10px,13px);
			}
			@media(max-width:576px){
				@include fluid-font-size(320px,576px,7px,10px);
			}
			@media(max-width:375px){
				margin-right:10px;
				@include fluid-font-size(320px,576px,7.5px,10px);
			}
		}
		.btn-yellow{
			margin-right:0;
			max-width: 186px;
			@media (max-width: 991px){
				max-width: 155px;
			}
			@media (max-width: 767px){
				max-width:143px;
			}
			@media(max-width:576px){
				max-width:90px;
			}
			@media(max-width:375px){
				max-width:65px;
			}
		}
	}
}


