
.btn-turquoise{
	background: #6699A1;
	border-radius: 3px;
	font-weight: 600;
	font-size: 0.75rem;
	line-height: 14px;
	color: #FFFFFF;
	&:hover{
		color:#fff;
	}
}


.btn-yellow{
	background: #D3A243;
	border-radius: 3px;
	font-weight: 600;
	font-size: 0.875rem;
	ine-height: 19px;
	color: #FFFFFF;
	&:hover{
		color:#fff;
	}
}

.btn-normal{
	background: #D1D1D1;
	border-radius: 3px;
	font-weight: 600;
	font-size: 0.875rem;
	ine-height: 19px;
	color: #FFFFFF;
	&:hover{
		color:#fff;
	}
}