/*Custom Detail 30/09/2021 */
.board-info{
	.col-right{
		width: 100%;
		span{
			@media (max-width: 991px) {
				font-size:35px;
				text-align: center;
			}
		}
		.btn-yellow{
			@media (max-width: 991px) {
				max-width:240px;
				font-size:35px;
				padding: 15px 10px;
				max-height:100%;
			}
		}
		button.btn-yellow{
			margin-right:20px;
		}
	}
}
/* End custom detail 30/09/2021 */

/*Custom Detail 05/10/2021 */
.board-info_extra {
	.cs-group {
		.cs-pattern_box{
		    margin-right: 60px;
		    text-align: center;
		    display: flex;
		    max-width: max-content;
		    &:last-child{
		    	margin-right:0;
		    }
		    p{
		    	font-weight: bold;
			    color: #fff;
			    text-align: center;
			    font-size: 1rem;
			    padding-right: 20px;
			    margin-top: 13px;
			    width: max-content;
			    max-width:90px;
			    @media (max-width: 991px){
			    	margin-top: 13px;
		    		font-size:1.5rem;
		    		width: max-content;
		    		max-width:120px;
		    		margin-top:46px;
		    	}
		    }
		}
	}
}
/* End custom detail 05/10/2021 */



/*Custom Detail 11/10/2021 */
.touch-control{
	.btn-touch-left{
		position: fixed;
		left:21px;
		bottom:111px;
		width: 82px;
		height:82px;
		&:before{
			content:'';
			position: absolute;
			left:0;
			top:0;
			background-image: url('../images/icons/touch-left.svg');
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
    		opacity: .5;
		}
	}

	.btn-touch-right{
		position: fixed;
		right:21px;
		bottom:111px;
		width: 82px;
		height:82px;
		&:before{
			content:'';
			position: absolute;
			right:0;
			top:0;
			background-image: url('../images/icons/touch-right.svg');
			background-repeat: no-repeat;
			background-size: cover;
			height: 100%;
			width: 100%;
    		opacity: .5;
		}
	}

	
	@media (max-width:991px){
		.btn-touch-left{
			bottom:161px;
		}

		.btn-touch-right{
			bottom:161px;
		}
	}	

}



/* End custom detail 11/10/2021 */
