/*Custom Detail 20/09/2021 */
.i-circle-close{
	position: relative;
	&:before{
		content:'';
		position: absolute;
		background-image: url('../images/icons/circle-close.svg');
		background-repeat:no-repeat;
		background-size:1.5em 1.5em;
		width:1.5em;
		height:1.5em;
	}
}

.drawer{
	@media (max-width:991px){
		display: block;
	}
	.drawer-pos{
		@media (max-width:991px){
			display: none;
		}
	}
}

.drawer-detail-modal{
	position: fixed;
	top:0;
	right:0;
	z-index: 9;
	bottom:0;
	background:#F4F4F4;
	display: none;
	transition: transform .4s ease;
	-webkit-transform: translate3d(300px,0,0);
	transform: translate3d(300px,0,0);
	border: 1px solid #D1D1D1;
	overflow-y: auto;
	overflow-x: hidden;
	max-width:315px;
	.drawer-navbars_top{
		border-bottom: 1px solid #D1D1D1;
	}
	
	.drawer-btn_prev{
		text-align:left;
		cursor: default;
	}
	.i-circle-close.right{
		position: absolute;
		right:37px;
		top:12px;
		cursor: pointer;
	}
}

.show-detail{
	.drawer-detail-modal{
		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
		display: block;
	}
}

.detail-showing{
	.drawer-detail-modal{
		display: block;
	}
}

.detail-closing{
	.drawer-detail-modal{
		display: block;
	}
}


// Footer
.board-info_extra{
	z-index: 200;
    min-width: 320px;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    transition: transform .2s ease;
    transform: translateY(0px);
    background: #5B5B5B;
    padding: 9px 20px;
    position: absolute;
    bottom: 50px;
    z-index: -1;
    @media (max-width:991px){
    	bottom: 43px;
    }
    @media (max-width:767px){
    	
    }
	.tab{
	    display: flex;
	    justify-content: center;
	    width: 100%;
	    height: 40px;
	    cursor: pointer;
	    z-index:2;
	    .bar{
	    	display: block;
		    margin-top: 8px;
		    width: 52px;
		    height: 6px;
		    border-radius: 3px;
		    background: #fff;
		    transition: background-color .25s;
	    }
	}
	.cs-group{
	    margin-right: 8px;
	    display: flex;
	    font-size: 0.625rem;
	    ovevflow-x:auto;
	    overflow-y:hidden;
	    @media(max-width:991px){
	    	height: 75%;
	    }
	    .cs-pattern{
	    	margin: 0 6px;
		    text-align: center;
		    display: -webkit-flex;
		    display: flex;
		    -webkit-flex-direction: column;
		    flex-direction: column;
		    -webkit-align-items: center;
		    align-items: center;
		    cursor: pointer;
		    width: max-content;
		    &:first-child{
		    	margin-left:0;
		    }
		    &:last-child{
		    	margin-right:0;
		    }
		    .thumbnail{
	    	    box-sizing: border-box;
			    width: 50px;
			    height: 50px;
			    border-radius: 25px;
			    border: 1px solid #fff;
			    margin-bottom: 8px;
		    }

		    &.active{
		     	.thumbnail{
			    	border-width: 3px;
			    }
			}

		    .name{
		    	font-weight: bold;
		    	color:#fff;
		    	text-align: center;
		    	font-size:1rem;
		    }
	    }
	}
}
.board-info{
	padding:0;
	background: transparent;
 	.col-left {
		@media (max-width: 767px){
    		width: 30%;
    	}
	}
	.col-right {
		@media (max-width: 767px){
    		width: 70%;
    	}
    	.btn-yellow{
    		max-height:33px;
    		align-self: center;
    	}
	}

}

.board-info_blocker{
	position: relative;
	padding: 9px 20px;
	background: #5B5B5B;
	@media(max-width:991px){
	    padding: 10px 20px;
	    max-width: 100%;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-align-items: center;
	    align-items: center;
	    overflow-x: auto;
	    overflow-y: hidden;
	    --webkit-overflow-scrolling: touch;
	}

}



/* End custom detail 20/09/2021 */














