.section_muku {
  padding-bottom: 160px;
  .muku_content {
    position: relative;
    top: -100px;
    background: #fff;
    padding: 80px 145px;
  }
}

.list_img_content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  li {
    max-width: 368px;
    img {
      width: 100%;
      height: 250px;
      object-fit: fill;
    }
    h3 {
      margin: 0;
      padding: 10px 0;
      font-size: 1.5rem;
      color: #938152;
    }
    p {
      margin: 0;
    }
  }
}

.section_muku,
.section_artisanshipdesign {
  .muku_content {
    width: 998px;
    padding: 80px 145px;
  }
}

.section_muku {
  .row {
    .muku_content {
      height: 376px;
      p:nth-of-type(2) {
        font-size: 14px;
      }
    }
  }
}

.section_artisanshipdesign {
  .row {
    div:nth-of-type(2) {
      .muku_content {
        height: 545px;
        p {
          font-size: 16px;
        }
      }
    }
    .list_img_content {
      li {
        padding-bottom: 80px;
      }
    }
  }
}

@media (max-width: 767px) {
  .section_muku {
    padding-bottom: 40px;
    .row {
      div:nth-of-type(1) {
        .muku_content {
          p {
            font-size: 0.75em;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .section_artisanshipdesign {
    .row {
      div:nth-of-type(2) {
        padding-bottom: 40px;
        .muku_content {
          p {
            font-size: 0.75em;
            word-wrap: break-word;
          }
        }
      }
    }
  }

  .section_muku,
  .section_artisanshipdesign {
    .row {
      .muku_content {
        top: -50px;
        padding: 15px;
        width: 100%;
        p {
          font-size: 0.75em;
        }
      }
      .list_img_content {
        justify-content: center;
        li {
          padding-bottom: 15px;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .section_muku,
  .section_artisanshipdesign {
    .row {
      .list_img_content {
        li {
          max-width: 100%;
          padding-bottom: 15px;
          :last-child {
            padding-bottom: 0px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .section_muku {
    .row {
      div:nth-of-type(1) {
        .muku_content {
          height: 100%;
          p {
            font-size: 0.75em;
            word-wrap: break-word;
          }
        }
      }
      .list_img_content {
        justify-content: center;
        li {
          padding-bottom: 15px;
          :last-child {
            padding-bottom: 0px;
          }
        }
      }
    }
  }

  .section_artisanshipdesign {
    .row {
      div:nth-of-type(2) {
        .muku_content {
          height: 100%;
          p {
            font-size: 0.75em;
            word-wrap: break-word;
          }
        }
      }
      .list_img_content {
        justify-content: center;
      }
    }
  }

  .section_muku,
  .section_artisanshipdesign {
    .row {
      .muku_content {
        width: 100%;
      }
    }
  }
}


//cuong 

.list_img_content {
  li {
    a {
      display: block;
      width: 100%;
      height: 270px;
      img {
        width: 100%;
        height: 270px;
        object-fit: cover;
      }
    }
  }
}