.box_equipment_info{
	.box_equipment_info_top .row > .col-12{
		max-width: max-content;
		padding-right: 45px;
	}
	.btn-equip{
		border: 0.5px solid #000000;
		box-sizing: border-box;
		font-weight: 600;
		font-size: 0.75rem;
		line-height: 1.4;
		display: flex;
		align-items: center;
		justify-content:center;
		letter-spacing: 0.1em;
		color: #000000;
		max-width:344px;
		margin:40px auto 0 auto;
		height:40px;
	}
}