@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");

body {
    color: #556170;
    font-size: 1rem;
    background: transparent;
    font-weight: 300;
    font-family: 'Noto Sans JP', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.breadcrumb {
    background: transparent;
    padding: 30px 0 0;
    margin: 0;
}

.breadcrumb li {
    font-size: 0.75em;
}

.breadcrumb li a {
    color: #771116;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0;
    font-weight: 700;
}

h1 {
    font-size: 1.875em;
    margin-bottom: 30px;
}

h2 {
    font-size: 1em;
    margin-bottom: 30px;
}

p {
    line-height: 1.8em;
}

ul {
    list-style: none;
}

a,
a:focus,
a:active,
a:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

button,
button:focus,
button:active,
button:hover {
    outline: none;
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

.container {
    max-width: 1235px;
}

.title {
    text-align: center;
    font-size: 2.25em;
    font-weight: 400;
    margin-bottom: 60px;
}

section {
    padding: 50px 0;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type:hover .nav-link {
    color: #556170;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type:hover .nav-link span::before {
    background: #fff;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type .nav-link {
    padding-left: 90px;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type .nav-link span {
    display: inline-block;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item:last-of-type .nav-link span::before {
    content: '';
    position: absolute;
    z-index: -1;
    border-radius: 100px;
    border: 1px solid #fff;
    left: -60px;
    right: -60px;
    top: -10px;
    bottom: -10px;
}

.navbar-expand-lg .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 0.875em;
    padding: 34.5px;
}

.navbar-nav .nav-item.active > .nav-link, .navbar-nav .nav-item:active:focus > .nav-link, .navbar-nav .nav-item:active > .nav-link, .navbar-nav .nav-item:focus > .nav-link, .navbar-nav .nav-item:hover > .nav-link {
    color: #ccc;
}

header .bsnav {
    background: #73886B;
}

footer {
    background: #73886B;
    padding: 40px 0;
}

footer ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    padding-left: 0;
}

footer ul li a {
    color: #fff;
    padding: 0 30px;
    font-weight: 300;
}

footer p {
    color: #fff;
}

footer small {
    font-size: 75%;
}

.section_about .container {
    max-width: 1030px;
}

.section_about ul {
    padding-left: 0;
}

.section_about ul li {
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.section_about ul li:last-of-type {
    margin-bottom: 0;
}

.section_about ul li .box_circle {
    width: 188px;
    height: 188px;
    border-radius: 200px;
    background: #E9EAEA;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
}

.section_about ul li .box_content {
    width: 78%;
}

.section_about ul li .box_content h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    font-weight: 500;
}

.section_about ul li .box_content p:last-of-type {
    margin-bottom: 0;
}

.section_about ul li .box_content small {
    font-size: 74%;
    line-height: .5em;
}

@media (max-width: 768px) {
    .navbar-brand {
        margin: auto;
    }

    .navbar-brand img {
        width: 100px;
    }

    .navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
        background: #fff;
    }

    .bsnav-mobile {
        z-index: 999;
    }

    .bsnav-mobile.in .bsnav-mobile-overlay {
        background: rgba(115, 136, 107, 0.64);
    }

    .bsnav-mobile .navbar-nav {
        padding: 0;
    }

    .bsnav-mobile .navbar-nav .nav-item .nav-link {
        padding: 10px 15px;
        border-bottom: 1px solid #EEEEEE;
        display: block;
        font-weight: 500;
    }

    .bsnav-mobile .navbar {
        padding-top: 15px;
    }

    header .bsnav {
        padding: 10px;
    }

    .section_about ul li {
        flex-direction: column;
        align-items: center;
    }

    .section_about ul li .box_circle {
        margin-bottom: 15px;
    }

    .section_about ul li .box_content {
        width: 100%;
        text-align: center;
        margin-top: 15px;
    }

    footer ul li a {
        padding: 0 5px;
        font-size: 0.875em;
    }
}

.section_faq .faq_content .card {
    margin-bottom: 80px;
    border: none;
}

.section_faq .faq_content .card h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

.section_faq .faq_content .card .card-title {
    font-size: 1.5em;
    margin-bottom: 25px;
}

.section_faq .faq_content .card .card-body {
    padding: 0;
}

@media (max-width: 768px) {
    .section_faq .faq_content .card {
        margin-bottom: 30px;
    }

    .section_faq .faq_content .card .card-title {
        font-size: 1.3em;
    }

    .section_faq .faq_content .card h2 {
        font-size: 1.3em;
    }
}

.first_time_content .container {
    max-width: 850px;
}

.first_time_content section {
    padding: 100px 0;
}

.first_time_content section:nth-of-type(2n) {
    background: #F3F3F3;
}

.first_time_content section img {
    margin: 50px 0;
}

.first_time_content h2 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 40px;
}

@media (max-width: 1024px) {
    .navbar-expand-lg .navbar-nav {
        padding-right: 50px;
    }

    .navbar-expand-lg .navbar-nav .nav-item .nav-link {
        padding: 25px 15px;
    }
}

@media (max-width: 768px) {
    .navbar-expand-lg .navbar-nav {
        padding-right: 0;
    }

    .first_time_content section {
        padding: 50px 0;
    }

    .first_time_content h2 {
        margin-bottom: 15px;
    }
}
