@font-face {
    font-family: 'Sequel';
    src: url('../fonts/Sequel-Regular.eot');
    src: url('../fonts/Sequel-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Sequel-Regular.woff2') format('woff2'),
        url('../fonts/Sequel-Regular.woff') format('woff'),
        url('../fonts/Sequel-Regular.ttf') format('truetype'),
        url('../fonts/Sequel-Regular.svg#Sequel-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}