.box_infoview_img {

	.path-hover_s301 {
	    // background-color: rgba(180,136,86,0.5);
		position: absolute;
	    bottom: 15%;
	    left: 15%;
	    right: 63.6%;
	    transform: translateY(-50%);
	    top: 75%;
	    cursor: pointer;
	}
	
}