.icon_copy {
    display: block;

    img {
        height: 40px;
    }
}

.seciton_pagelist {
    ul {
        li {
            margin-inline-end: 10px;
        }
    }
}


.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;

    svg {
        height: 16px;
        margin-right: 4px;
    }
}

.seciton_pagelist {
    .table {
        td {
            padding: 15px;
        }

        th {
            vertical-align: middle;
            line-height: 1.3em;
        }
    }
}

@media (max-width: 1300px) {
    .seciton_pagelist {
        .table {
            display: block;

            td {
                padding: 10px;
            }
        }
    }

    .table_sp {
        display: none;
    }
}

@media (max-width: 1200px) {
    .seciton_pagelist {
        .table {
            display: none;
        }
    }

    .table_sp {
        display: block;
    }
}