.icon_copy {
    display: block;

    img {
        height: 40px;
    }
}

.seciton_pagelist {
    ul {
        li {
            margin-inline-end: 10px;
        }
    }
}


.file-input__input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file-input__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    padding: 0 16px;

    svg {
        height: 16px;
        margin-right: 4px;
    }
}

.seciton_pagelist {
    .table {
        td {
            padding: 15px;
        }

        th {
            vertical-align: middle;
            line-height: 1.3em;
        }
    }
}

@media (max-width: 1300px) {
    .seciton_pagelist {
        .table {
            display: block;

            td {
                padding: 10px;
            }
        }
    }

    .table_sp {
        display: none;
    }
}

@media (max-width: 1200px) {
    .seciton_pagelist {
        .table {
            display: none;
        }
    }

    .table_sp {
        display: block;
    }
}

.section_template {
    background: #e2ecf4;
    padding: 30px;
    margin-bottom: 30px;

    h3 {
        font-size: 1.5em;
        color: #333;
    }

    .template {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;

        li {
            width: calc((100% / 3) - 20px);
            max-width: calc((100% / 3) - 20px);
            border-radius: 3px;
            background: #fff;
            padding: 15px;
            margin-left: 10px;
            margin-right: 10px;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);

                .template_content {
                    .template_img {
                        a {
                            &::before {
                                opacity: 1;
                            }
                        }
                    }
                }
            }

            .template_name {
                font-size: 1em;
                text-align: center;
                color: #4d4d4d;
            }

            .template_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                margin-bottom: 10px;

                .template_img {
                    width: 56%;
                    margin-right: 10px;

                    a {
                        display: block;
                        position: relative;

                        &::before {
                            content: '';
                            position: absolute;
                            height: 100%;
                            width: 100%;
                            opacity: 0;
                            transition: opacity .4s ease;
                            background-image: linear-gradient(0deg, #0006 0, #0000 80px);
                        }
                    }
                }

                .box_button {
                    width: 40%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: relative;



                    .box_button_bottom {
                        width: 100%;
                        position: absolute;
                        left: 0;
                        bottom: 0;

                        .box_button_bottom_footer {
                            margin-top: 10px;

                            p {
                                margin-bottom: 0;
                                font-size: 0.625em;
                                line-height: 1.5em;
                                font-weight: 600;
                                color: #999;

                                span {
                                    font-weight: 700;
                                }
                            }
                        }

                        &.custom {
                            position: relative;
                            margin-top: 10px;
                        }
                    }

                    .box_button_center {
                        width: 100%;
                    }

                    .btn {
                        width: 100%;
                        border-radius: 2px;
                        background: #fff;
                        margin-bottom: 10px;
                        font-size: 0.75em;
                        padding: 10px;
                        font-weight: 600;
                        border: 1px solid #666;

                        &:last-of-type {
                            margin-bottom: 0;
                        }

                        &:hover {
                            background: #087096;
                            color: #fff;
                            border-color: #087096;
                        }

                        &.btn_edit {
                            background: #087096;
                            color: #fff;
                            border-color: #087096;

                            &:hover {
                                background: #6ca329;
                                border-color: #6ca329;
                            }
                        }

                        &.btn_makeit {
                            background: #087096;
                            color: #fff;
                            border-color: #087096;

                            &:hover {
                                background: #0168b7;
                                border-color: #0168b7;
                            }
                        }

                        &.btn_delete {
                            background: #ccc;
                            border-color: #ccc;
                            color: #666;
                            display: flex;
                            justify-content: center;

                            svg {
                                margin-right: 5px;
                            }

                            &:hover {
                                background: #e60045;
                                border-color: #e60045;
                                color: #fff;
                            }
                        }

                        &.btn_nowopen {
                            background-color: #0168B7;
                            color: white;
                            border-color: #0168B7;
                            transition: background-color 0.3s ease, color 0.3s ease;

                            &.active {
                                background: #ccc;
                                border-color: #ccc;
                                color: #666;

                                &::after {
                                    content: "非公開";
                                }

                                &::before {
                                    display: none;
                                }
                            }

                            &:not(.active)::after {
                                content: "公開中";
                            }
                        }
                    }
                }
            }

            .template_footer {
                position: relative;
                z-index: 10;

                p {
                    margin-top: 15px;
                    margin-bottom: 0;
                    line-height: 1.5em;
                    color: #4d4d4d;
                    font-size: 0.875em;
                    height: 120px;
                }

                .btn_edit {
                    font-size: 0.625em;
                    background: #087096;
                    border-color: #087096;
                    color: #fff;
                    border-radius: 2px;
                    position: absolute;
                    right: 0;
                    bottom: -2px;
                    padding: 3px 8px;
                    font-weight: 600;

                    &:hover {
                        background: #065977;
                        border-color: #065977;
                    }
                }
            }




        }
    }
}

.sortable-chosen {
    background-color: #f0f0f0;
    border: 2px dashed #ccc;
}

.btn_poweredby {
    transition: opacity 0.3s ease;
}

.pb-200 {
    padding-bottom: 200px;
}



@media (max-width: 1600px) {
    .section_template {
        .template {
            li {
                .template_content {
                    .box_button {
                        .box_button_bottom {
                            position: relative;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .section_template {
        .template {
            li {
                .template_content {
                    .box_button {
                        justify-content: space-between;

                        .box_button_bottom {
                            position: relative;
                            margin-top: 10px;
                        }
                    }
                }

                .template_footer {
                    .btn_edit {
                        position: relative;
                        bottom: 0;
                    }
                }
            }
        }
    }
}

@media (max-width: 1110px) {
    .section_template {
        .template {
            li {
                .template_content {
                    .template_img {
                        width: 100%;
                        margin-right: 0;
                    }

                    .box_button {
                        width: 100%;

                        .box_button_top {
                            margin-top: 15px;
                        }

                        .box_button_bottom {
                            position: relative;
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 830px) {
    .section_template {
        padding: 15px;

        .template {
            flex-direction: column;

            li {
                width: 100%;
                max-width: 100%;
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}