@charset "utf-8";


/* =============================================================

　　LESS変数 カラー設定

============================================================= */


/*　ベースカラー
---------------------------------------------*/

@colorBase: #40210d; /* 一番濃い茶色 */

@colorTxtBase: #542721; /* 少し濃い茶色 */

@colorBdrBase: #dfdfd0; /* 薄いベージュ */

@colorBdrBase02: #e6e4e1;　/* 薄いグレー */


/*　ポイントカラー
---------------------------------------------*/

@colorPoint: #7f6a59;　/* 薄い茶色 */


/*　背景カラー
---------------------------------------------*/

@colorBg: #fff;　/* 全体仕様の背景色 */

@colorBg02: #f1eee8;　/* テーブル内などの背景色 */


/*　その他カラー
---------------------------------------------*/

@colorWhite: #fff;　/* 白色 */

@colorGrey: #ccc;　/* 灰色 */

@colorOrange: #ff7f00;　/* オレンジ色 */

@colorRed: #ff4000;　/* 赤色 */





