.header_nav #hdMain {
  background: url('../sources/pattern_wood.png') repeat bottom right;
}
.header_nav #hdSide ul li a {
  color: #720e00;
}
.header_nav #hdSide ul li a, .header_nav #hdSide ul li:nth-child(1) a, .header_nav #hdSide ul li:nth-child(2) a {
  background: url('../sources/pattern_wood.png') repeat bottom left;
}
.header_nav #hdSide ul li:nth-child(1):hover a, .header_nav #hdSide ul li:nth-child(2):hover a {
  background: url('../sources/pattern_wood.png') repeat bottom left;
}
.i_showroom {
  color: #000;
}
.c5E5E5E {
  color: #000;
}
.c744639 {
  color: #720e00;
}
.navbar-custom.top-nav-collapse .navbar-nav > li > a {
  border: none;
}