$primary-color: #000000;
$purple-color: #BB6BD9;
$yellow-color: #F2C94C;
$sliver-color: #F2F2F2;
$prink-color: #EB5757;
$primary-font: 'Noto Sans JP', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;

a {color: $primary-color;}
.btn {color: $primary-color; border-radius: 0;}
.btn,a,.btn:hover{-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.btn:hover, .btn.focus {-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
.btn.focus, .btn:focus {box-shadow: none;} button:focus {outline: none;}
::selection{background:$yellow-color;color:#FFF;text-shadow:none;}
::-moz-selection{background:$yellow-color;color:#FFF;text-shadow:none;}
::-webkit-selection{background:$yellow-color;color:#FFF;text-shadow:none;}
html{width:100%;height:100%}
body{width:100%;height:100%;
  background:#F2F2F2;
  font-family: $primary-font;
  line-height: 1.5em;
  font-size: 1rem;
  font-weight: 400;
  color: #4F4F4F;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
}
.btn-link {color: $primary-color;word-break:normal;word-break:break-all;word-break:keep-all;text-decoration: underline;}
.btn-link:hover{color: $primary-color;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family: $primary-font;
line-height: 1.3em; text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased; color:$primary-color; margin-bottom: 10px; font-size: 1.25em; font-weight: 600;}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
html,body{position:relative;height:100%}
p {word-wrap: break-word;}
a:hover {text-decoration:none;color:$primary-color;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}

h1 {font-size: 2.3125em;}
h2 {
  font-size: 1.5em;
}

.red {color: #EB5757;}

.form-control {
  font-size: 0.875em;
  border-color: #BDBDBD;
  height: calc(1.5em + .75rem + 7px);
}
.custom-select:focus {
  border-color: $primary-color;
}
.form-control:focus {box-shadow: none; border-color: $primary-color;}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-label::before {
  border-color: $prink-color;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: $prink-color;
  border-color: $prink-color;
}

.relative {position: relative;}
b {
  font-weight: 700;
}
section {
  padding: 60px 0;
}
.title {
  text-align: center;
  margin-bottom: 60px;
}
.subtitle {
  font-size: 0.875em;
  text-align: center;
  margin-bottom: 60px;
}

header {
  #dropdown_user {
    border: 1px solid #fff;
    margin-right: 30px;
  }
  .dropdown_user {
    border: 1px solid #fff;
  }
  .box_user {
    display: flex;
    a {
      color: #fff;
      display: block;
      
      
      padding: 0 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      span {
        margin-left: 5px;
        font-size: 0.75em;
        font-weight: 600;
      }
      &:last-of-type {
        margin-right: 0;
        border: none;
      }
    }
  }
  padding: 30px;
  transition: all 0.3s;
  &.compressed {
    background: #000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  }

  &.subheader {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    background: #fff;
    .i_white {
      display: none;
    }
    .i_black {
      display: block;
    }
    .dropdown_user {
      border: none;
    }
    #dropdown_user {
      border-color: #000;
      color: #000;
    }
    &.compressed {
      background: #000;
      #dropdown_user {
        border-color: #fff;
        color: #fff;
      }
      .i_black {
        display: none;
      }
      .i_white {
        display: block;
      }
    }
  }

}
.navbar {
  padding: 0;
}

.dropdown_user {
  position: relative;
  .dropdown_user_content {
    display: none;
    position: absolute;
    right: -66px;
    background: #fff;
    top: 63px;
    min-width: 377px;
    &:after {
      content: '';
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      left: 0;
      right: 0;
      top: 100px;
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: block;
      li {
        a {
          color: #000;
          text-align: left;
          display: block;
          padding: 15px 22px;
          border-bottom: 1px solid #BDBDBD;
          font-size: 0.875em;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            right: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            width: 8px;
            height: 10px;
            background: url('../images/svg/i_right.svg') no-repeat;
          }
          span {
            width: 20px;
            height: 20px;
            border-radius: 100px;
            background: $prink-color;
            color: #fff;
            font-weight: 600;
            line-height: 1em;
            right: 40px;
            top: 0;
            bottom: 0;
            margin: auto;
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: stretch;
          }
        }
      }
    }
  }
}

.dropdown-menu {
  z-index: 100;
  border-radius: 0;
  min-width: 377px;
  border: none;
  padding: 0;
  top: 236%;
  
  .dropdown-item {
    color: #000;
    border-bottom: 1px solid #BDBDBD;
    padding: 15px 22px;
    text-align: left;
    font-size: 0.875em;
    display: block !important;
    position: relative;
    background: #fff;
    &:after {
      content: '';
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 8px;
      height: 10px;
      background: url('../images/svg/i_right.svg') no-repeat;
    }
    span {
      width: 20px;
      height: 20px;
      border-radius: 100px;
      background: $prink-color;
      color: #fff;
      font-weight: 600;
      line-height: 1em;
      right: 40px;
      top: 0;
      bottom: 0;
      margin: auto;
      position: absolute;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
    }
  }
  &.show {
    z-index: 100;
    &:after {
      content: '';
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      left: 0;
      right: 0;
      top: 100px;
    }
  }
}
.dropdown-menu-right {
  right: -30px;
}

.dropdown_search {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: relative;
  .dropdown_search_content {
    display: none;
    position: absolute;
    right: -30px;
    top: 63px;
    min-width: 377px;
    &:after {
      content: '';
      position: fixed;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .5);
      left: 0;
      right: 0;
      top: 100px;
    }
    .card {
      border-radius: 0;
      border-left: none;
      border-right: none;
      .card-header {
        background: #fff;
        .btn {
          padding: 0;
          font-size: 0.5833em;
          transition: 0.3s;
          img {
            margin-right: 10px;
          }
          background: url('../images/svg/i_up.svg') no-repeat right center;
          &.collapsed {
            background: url('../images/svg/i_right.svg') no-repeat right center;
          }
        }
      }
      .card-body {
        ul {
          padding: 0;
          margin: 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          align-items: stretch;
          align-content: stretch;
          li {
            margin-right: 18px;
            margin-bottom: 15px;
            position: relative;
            width: 29.33%;
            &:after {
              content: '';
              position: absolute;
              right: 10px;
              top: 0;
              bottom: 0;
              margin: auto;
              background: url('../images/svg/i_right.svg') no-repeat 100% 97%;
              width: 8px;
              height: 11px;
            }
            &:nth-of-type(3n){
              margin-right: 0;
            }
            &:hover {
              a {
                background: #f5f0f0;
              }
            }
            a {
              color: #000;
              font-size: 0.875em;
              display: block;
              background: #F2F2F2;
              border-radius: 100px;
              padding: 0 20px;
              text-align: left;
            }
          }
        }
      }
    }
  }
}


.navbar-expand-lg {
  .navbar-nav {
    .nav-item {
      &:first-of-type {
        .nav-link {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          align-content: stretch;
          img {
            margin-right: 5px;
          }
        }
      }
      &:last-of-type {
        margin-left: 30px;
        .nav-link {
          border: none;
        }
      }
       .nav-link {
        border: 1px solid #fff;
        color: #fff;
        font-weight: 500;
        font-size: 0.75em;
        padding: 5px 15px;
        line-height: 1em;
       }
    }
  }
}

.section_banner {
  background-size: cover;
  background-position: center center;
  padding: 0;
  height: 640px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }
  .caption {
    text-align: center;
    position: relative;
    z-index: 10;
    p {
      font-size: 1.125em;
      color: #fff;
      margin-top: 20px;
      margin-bottom: 40px;
      line-height: 1.8em;
    }
  }
  ul {
    position: relative;
    z-index: 10;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      margin-right: 15px;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        a {
          background: $yellow-color;
        }
      }
      a {
        background: #000;
        color: #fff;
        font-weight: 600;
        padding: 12.5px 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

ul.list_property {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  li {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 49%;
    &:nth-of-type(2n) {
      margin-right: 0;
    }
    .property_img {
      position: relative;
      width: 100%;
      height: 359px;
      * {
        transition: 0.3s;
      }
      img {
        width: 100%;
        height: 359px;
        object-fit: cover;
      }
      p {
        margin-bottom: 0;
        color: #fff;
        padding: 5px 10px;
        &.total_price {
          background: #000;
          position: absolute;
          left: 0;
          bottom: 0;
          font-weight: 600;
          font-size: 1.5em;
          span {
            font-size: 0.5em;
            font-weight: 400;
            &.sub {
              font-size: 0.4167em;
            }
          }
        }
        &.label_custom {
          position: absolute;
          top: -4px;
          right: -3px;
          background: $purple-color;
          font-size: 0.625em;
          font-weight: 600;
          text-align: center;
          line-height: 1.5em;
          padding: 10px;
          &.renovated {
            background: $yellow-color;
          }
        }
      }
    }
    .property_head {
      border: 1px solid #BDBDBD;
      border-top: none;
      padding: 10px;
      background: #fff;
      p {
        margin-bottom: 0;
        &.property_name {
          font-size: 1.125em;
          margin-bottom: 5px;
        }
        &.property_address, &.property_square {
          font-size: 0.875em;
        }
      }
      .btn_wishlist {
        float: right;
        width: 30px;
        height: 30px;
        border-radius: 100px;
        background-color: #F2F2F2;
        background-repeat: no-repeat;
        background-position: center center;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d .st1%7bfill:url(%23SVGID_1_);%7d %3c/style%3e%3cpath class='st0' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3clinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='8.9658' y1='16' x2='8.9658' y2='1' gradientTransform='matrix(1 0 0 -1 0 16)'%3e%3cstop offset='0' style='stop-color:%23FFFFFF'/%3e%3cstop offset='1' style='stop-color:%23FFFFFF;stop-opacity:0'/%3e%3c/linearGradient%3e%3cpath class='st1' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3c/svg%3e ");
        background-size: 60%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: center;
        align-content: stretch;
        &:hover {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d .st1%7bfill:%23FF4572;%7d %3c/style%3e%3cpath class='st0' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3cpath class='st1' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3c/svg%3e ");
        }
        &.on {
          background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.3, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 18 15' style='enable-background:new 0 0 18 15;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:%23FFFFFF;%7d .st1%7bfill:%23FF4572;%7d %3c/style%3e%3cpath class='st0' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3cpath class='st1' d='M16.6,1.3c-1.7-1.7-4.5-1.7-6.3,0l-1,1c-0.2,0.2-0.6,0.2-0.8,0l-1-1C5.8-0.4,3-0.4,1.3,1.3 c-1.7,1.7-1.7,4.5,0,6.3l7.2,7.2c0.2,0.2,0.6,0.2,0.8,0l7.3-7.3C18.4,5.8,18.4,3,16.6,1.3z'/%3e%3c/svg%3e ");
        }
      }
    }
  }
}

.section_near_property {
  ul.list_property {
    li {
      width: 23.5%;
      &:nth-of-type(2n) {
        margin-right: 20px;
      }
      &:nth-of-type(4n) {
        margin-right: 0;
      }
      .property_img {
        height: 173px;
        img {
          height: 173px;
        }
      }
      .property_head {
        p {
          &.property_name {
            font-size: 1em;
          }
        }
      }
    }
  }
}

.btnSeemore {
  border: 1px solid $prink-color;
  padding: 12.5px 30px;
  color: $prink-color;
  min-width: 350px;
  font-size: 1.125em;
  font-weight: 500;
  &:hover {
    background: $prink-color;
    color: #fff;
  }
}


footer {
  background: #000;
  padding: 40px 0 70px;
  hr {
    border-color: #828282;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    
    li {
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        a {
          color: $prink-color;
        }
      }
      a {
        color: #fff;
        font-size: 0.75em;
      }
    }
  }
  p {
    &:last-of-type {
      margin-top: 15px;
      color: #828282;
      a {
        color: #828282;
      }
    }
  }
  .footer_bottom {
    padding: 10px 0;
    background: #fff;
    text-align: center;
    .btn {
      background: $prink-color;
      color: #fff;
      margin-right: 20px;
      border-radius: 2px;
      padding: 12.5px 40px;
      min-width: 300px;
      font-size: 0.875em;
      font-weight: 600;
      &:hover {
        background: $yellow-color;
      }
      &:last-of-type {
        margin-right: 0;
      }
      img {
        margin-right: 10px;
      }
    }
  }
}

.box_template {
  padding-top: 100px;
}
.box_top {
  background: #fff;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
}

.box_sort {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  li {
    &:nth-of-type(2) {
      a {
        border-left: none;
      }
    }
    &:last-of-type {
      margin-left: 25px;
      a {
        color: #fff;
        background: $prink-color;
        border-color: $prink-color;
      }
    }
    a {
      display: block;
      border: 1px solid #BDBDBD;
      background: #fff;
      padding: 5px 15px;
      font-size: 0.875em;
      img {
        margin-right: 5px;
      }
    }
  }
}

.carousel_property {
  .carousel-main {
    margin-bottom: 20px;
  }
  .carousel-cell {
    width: 100%;
    height: 640px;
    img {
      width: 100%;
      height: 640px;
      object-fit: cover;
    }
  }

  .carousel-nav {
    .carousel-cell {
      width: 466px;
      height: 310px;
      margin-right: 20px;
      img {
        height: 310px;
      }
    }
  }
}

.section_property_main {
  .container {
    max-width: 941px;
  }
  .box_calcu {
    background: #fff;
    padding: 25px;
    margin-bottom: 80px;
    h1 {
      background: #F2F2F2;
      padding: 20px;
      text-align: center;
      font-size: 0.875em;
      margin-bottom: 30px;
      span {
        font-size: 2.5714em;
      }
    }
    .frm_calcu {
      h5 {
        font-size: 1.5em;
        span {
          font-weight: normal;
          font-size: 0.5833em;
          width: auto;
        }
      }
      .repayment_amount {
        max-width: 162px;
      }
      .title_simulation_result {
        width: auto;
        display: block;
        text-align: center;
        background: #F2C94C;
        border-radius: 100px;
        color: #fff;
        font-size: 1.125em;
        padding: 8px 15px;
        position: relative;
        font-weight: 600;
        max-width: 300px;
        margin: 0 auto 22px;
        &:after {
          top: 100%;
          left: 50%;
          border: solid transparent;
          content: "";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-color: rgba(136, 183, 213, 0);
          border-top-color: #F2C94C;
          border-width: 7px;
          margin-left: -7px;
        }
      }
      .box_simulation_result {
        color: #000;
        border: 4px solid #E0E0E0;
        padding: 30px 20px 15px;
        margin-bottom: 25px;
        h2 {
          font-size: 2.25em;
          margin-bottom: 0;
          color: $prink-color;
          text-align: right;
          line-height: .5em;
          span {
            font-size: 0.3889em;
          }
        }
        h4 {
          margin-bottom: 0;
          font-size: 1.125em;
        }

        p {
          margin-bottom: 0;
          font-size: 0.875em;
          span {
            font-size: 1.5em;

          }
        }
      }
      label {
        color: #000;
        font-size: 0.875em;
      }
      span {
        &.sub {
          width: 50px;
          font-size: 0.875em;
        }
      }
      .form-control {
        color: $prink-color;
        font-weight: 600;
        text-align: right;
        font-size: 1.5em;
        background: #F2F2F2;
        border-color: #BDBDBD;
        border-radius: 0;
        height: calc(1.5em + .75rem + -4px);
      }
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $prink-color;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $prink-color;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $prink-color;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $prink-color;
      }
    }


  }
}

// range slider
.irs--flat {
  .irs-bar {
    height: 17px;
    border-radius: 100px;
  }
  .irs-line {
    height: 17px;
    border-radius: 100px;
    background: #F2F2F2;
  }
  .irs-handle {
    width: 17px;
    height: 17px;
    top: 25px;
    background: $prink-color;
    border-radius: 100px;
    &:before {
      content: '';
      position: absolute;
      z-index: 20;
      left: -2px;
      right: 0;
      top: -3px;
      bottom: 0;
      margin: auto;
      background: url('../images/svg/line.svg') no-repeat;
      width: 8px;
      height: 14px;
    }
    i:first-child {
      width: 30px;
      height: 30px;
      border-radius: 100px;
      background: #fff;
      border: 1px solid #BDBDBD;
      top: -8px;
      left: -8px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
    }
  }
}
.irs-from, .irs-to, .irs-single {
  top: -5px;
}
.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
  background-color: #fff;
}
.irs--flat .irs-min, .irs--flat .irs-max {
  top: inherit;
  bottom: -48px;
  
}

.box_renovation_specifications {
  p {
    font-size: 0.875em;
  }
  .specifications_pic {
    margin-bottom: 40px;
    img {
      width: 100%;
    }
    p {
      margin-top: 15px;
      margin-bottom: 0;
    }
  }
  .renovation_specifications_table {
    background: #fff;
    table {
      th, td {
        font-size: 0.875em;
      }
      th {
        font-weight: 300;
      }
      td {
        font-weight: 500;
      }
    }
    .table {
      th, td {
        font-size: 0.875em;
      }
      th {
        font-weight: 300;
      }
      td {
        font-weight: 500;
      }
    } 
  }

  .table-bordered td, .table-bordered th {
    border: none;
  }

  .map {
    padding: 0 20px;
  }
  .btn_viewmap {
    color: $prink-color;
    text-decoration: underline;
  }
  
}

.section_pass {
  padding-bottom: 100px;
  .container {
    max-width: 675px;
  }
  .frm_settingpass {
    label {
      font-size: 0.75em;
      font-weight: 300;
      .red {
        color: $prink-color;
      }
    }

    p {
      font-size: 0.875em;
      a {
        color: $prink-color;
        text-decoration: underline;
        font-weight: 500;
      }
    }
  }
}

.btnsave {
  background: $prink-color;
  width: 100%;
  color: #fff;
  padding: 13.5px 30px;
  margin-top: 10px;
  font-size: 0.875em;
  &:hover {
    background: #000;
    color: #fff;
  }
}

.section_notice {
  margin-bottom: 100px;
  .container {
    max-width: 755px;
  }
  .box_notice_item {
    background: #fff;
    padding: 15px;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    &.new {
      .box_notice_img {
        span {
          color: $prink-color;
          border-color: $prink-color;
        }
      }
      .box_notice_content {
        p {
          &:nth-of-type(1) {
            color: $prink-color;
          }
          &:last-of-type {
            color: $prink-color;
          }
        }
      }
    }
    .btn_del {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      background: #F2F2F2;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
    }
    .box_notice_img {
      position: relative;
      width: 100%;
      height: 222px;
      img {
        width: 100%;
        height: 222px;
        object-fit: cover;
      }
      span {
        position: absolute;
        left: 0;
        top: 0;
        background: #fff;
        display: inline-block;
        color: #828282;
        padding: 3px 5px;
        font-size: 0.75em;
        font-weight: 600;
        border: 1px solid #828282;
      }
    }
    .box_notice_content {
      padding-left: 22px;
      p {
        color: #000;
        margin-bottom: 0;
        &:nth-of-type(1) {
          color: #828282;
          font-size: 0.625em;
        }
        &:nth-of-type(2) {
          margin-bottom: 10px;
        }
         &:nth-of-type(3) {
          font-size: 0.75em;
          line-height: 1em;
         }
        &:last-of-type {
          color: #828282;
          font-size: 0.75em;
        }
      }
    }
  }
}


.box_toplogin {
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      flex: 1 1 auto;
      background: #fff;
      border-radius: 4px;
      &:first-of-type {
        margin-right: 15px;
      }
      a {
        font-size: 0.875em;
        display: block;
        padding: 11px 15px;
        position: relative;
        img {
          position: absolute;
          left: 20px;
          top: 0;
          bottom: 0;
          margin: auto;
        }
      }
    }
  }
  .or {
    margin: 20px 0;
    position: relative;
    text-align: center;
    &:before {
      content: '';
      width: 100%;
      height: 1px;
      background: #BDBDBD;
      position: absolute;
      left: 0;
      top: 20px;
    }
    span {
      background: #F2F2F2;
      display: inline-block;
      position: relative;
      padding: 5px 10px;
    }
  }
}

.section_accinfo {
  .container {
    max-width: 755px;
  }
  h4 {
    background: #F2F2F2;
    color: #828282;
    padding: 10px 20px;
    font-size: 0.75em;
    margin-bottom: 0;
    margin-top: 15px;

    span {
      color: #EB5757;
    }
  }
  p {
    margin-bottom: 0;
    font-size: 0.8em;
    padding: 10px 0;
    &.head {
      font-size: 0.75em;
      color: #828282;
      margin-left: 20px;
    }
  }
  .btnedit {
    color: #EB5757;
    border: 1px solid #EB5757;
    font-size: 0.875em;
    border-radius: 4px;
    padding: 5px 10px;
    float: right;
    margin-right: 20px;
    &:hover {
      background: #EB5757;
      color: #fff;
      border-color: #EB5757;
    }
  }
}


.frm_accinfo {
  h4 {
    margin-bottom: 15px;
  }
}

.box_date {
  display: flex;
  align-items: center;
  position: relative;
  &:after {
    content: '';
    position: absolute;
    right: 40px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: url('../images/svg/i_down2.svg') no-repeat;
    width: 8px;
    height: 8px;
  }
  span {
    margin-left: 10px;
  }
}

.frm_contact {
  .box_date {
    &:after {
      right: 15px;
    }
  }
}

.list_area {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
  li {
    width: 115px;
    margin-bottom: 20px;
    label {
      font-size: 0.875em;
    }
  }
}

.box_select {
  position: relative;
  &:after {
    content: '⁓';
    position: absolute;
    right: -22px;
    top: 5px;
    bottom: 0;
    margin: auto; 
  }
}


#chartdiv {
  width: 100%;
  height: 213px;
}

.box_showmore {
  text-align: center;
  span {
    font-size: 0.875em;
    display: block;
    margin-top: 5px;
  }
}
.btnshowhide {
  background: url('../images/svg/showhide_down.svg') no-repeat center;
  text-align: center;
  display: block;
  position: relative;
  &:after {
    content: 'お支払いの詳細を見る';
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 0.875em;
  }
  &.show {
    background-image: url('../images/svg/showhide.svg');
     &:after {
      opacity: 0;
     }
  }
}

.section_contact {
  .container {
    max-width: 675px;
  }
}

.frm_contact {
  label {
    font-size: 0.75em;
    font-weight: 300;
    margin-bottom: 0;
  }
  textarea {
    height: 90px;
  }
  .primary_policy {
    font-size: 0.75em;
    a {
      color: #EB5757;
    }
  }
  .btnsave {
    position: relative;
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 15px;
      margin: auto;
    }
  }
  table {
    th, td {
      span {
        font-size: 0.75em;
      }
      
    }
  }
}

.modal_register {
  text-align: center;
  .modal-content {
    border-radius: 0;
    border-color: transparent;
  }
  .modal-body {
    padding: 30px;
  }
  .modal-title {
    font-size: 0.875em;
  }
  .modal-header {
    justify-content: space-around;
    .close {
      position: absolute;
      right: 15px;
      top: 15px;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 10px;
      a {
        display: block;
        background: #f2f2f2;
        padding: 10px;
        border-radius: 3px;
        font-weight: 700;
        img {
          margin-right: 5px;
        }
      }
    }
  }
  p {
    font-size: 0.875em;
    &.termofuse {
      a {
        text-decoration: underline;
        color: #EB5757;
      }
    }
  }
  .btn_register {
    background: #f2f2f2;
    font-weight: 700;
    padding: 10px;
    border-radius: 3px;
    display: block;
    margin-top: 15px;
  }
  .modal-footer {
    justify-content: space-around;
    padding: 30px;
    p {
      a {
        text-decoration: underline;
        color: #EB5757;
      }
    }
  }
}

.box_confirm {
  background: #fff;
  padding: 30px;
  .btn {
    background: #EB5757;
    width: 100%;
    color: #fff;
    padding: 13.5px 30px;
    margin-top: 10px;
    font-size: 0.875em;
    position: relative;
    &:hover {
      background: #000;
    }
    &.btn_back {
      img {
        left: 15px;
      }
    }
    &.btn_send {
      img {
        right: 15px;
      }
    }
    img {
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  
}



//mobile

@media (min-width: 1200px) {
  .container {
    max-width: 1130px;
  }
}

@media (max-width: 1024px) {
  ul.list_property {
    li {
      width: 48.5%;
    }
  }

  .section_near_property {
    ul.list_property {
      li {
        width: 48.5%;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
        .property_img {
          height: 359px;
          img {
            height: 359px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    .navbar-toggler {
      display: block;
    }
  }
}

@media (max-width: 823px) {
  ul.list_property {
    li {
      width: 48%;
    }
  }

  .section_near_property {
    ul.list_property {
      li {
        width: 48%;
        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }
  }

  .w_box_simulation_result {
    display: none;
  }

}

@media (max-width: 768px) {
  .box_confirm {
    padding: 15px;
  }
  section {
    padding: 30px 0;
  }
  .title {
    margin-bottom: 30px;
    font-size: 1em;
  }
  .subtitle {
    margin-bottom: 30px;
    line-height: 1.3em;
  }
  .box_template {
    padding-top: 51px;
  }
  .btnSeemore {
    min-width: 200px;
    font-size: 0.75em;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-brand {
    padding: 0;
    margin-right: 0;
    position: relative;
  }

  .navbar {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  header {
    position: relative;
    padding: 0 15px;
    background: #fff;
    &.subheader {
      .navbar-brand {
        img {
          width: 134px;
        }
      }
      #dropdown_user {
        border-color: transparent;
      }
      &.compressed {
        #dropdown_user {
          border-color: transparent;
        }
      }
      .dropdown_user {
        .dropdown_user_content {
          top: 34px;
        }
      }
      .dropdown_search {
        .dropdown_search_content {
          top: 34px;
        }
      }
    }

    &.compressed {
      background: #fff;
    }
    #dropdown_user {
      margin-right: 0;
    }
    .box_user {
      display: flex;
      a {
        &:last-of-type {
          margin-right: 0;
        }
        margin-right: 10px;
      }
      span {
        display: none;
      }
    }
  }


  .dropdown-menu {
    top: 197%;
    &.show {
      &:after {
        top: 56px;
      }
    }
  }
  

  .dropdown_user {
    .dropdown_user_content {
      min-width: 326px;
      top: 37px;
      right: -51px;
      border-top: 1px solid #BDBDBD;
      &:after {
        top: 56px;
      }
    }
  }

  .dropdown_search {
    .dropdown_search_content {
      &:after {
        top: 56px;
      }
      .card {
        .card-body {
          padding: 15px;
          ul {
            li {
              margin-right: 10px;
              margin-bottom: 10px;
              a {
                padding: 0 10px;
              }
            }
          }
        }
      }
      
      min-width: 326px;
      top: 37px;
      right: -21px;
      border-top: 1px solid #BDBDBD;
    }
  }
  
  

  .section_banner {
    margin-top: 56px;
    height: 325px;
    ul {
      position: absolute;
      bottom: 0;
      background: #fff;
      padding: 20px 10px;
      width: 100%;
      border-bottom: 1px solid #BDBDBD;
      li {
        margin-right: 12px;
        flex: 1 1 auto;
        a {
          padding: 5px;
          font-size: 0.6875em;
          border: 1px solid #BDBDBD;
          background: #fff;
          color: #4F4F4F;
          padding: 5px;
        }
      }
    }
  }

  footer {
    .logo_footer {
      img {
        width: 150px;
      }
    }
    ul {
      &:first-of-type {
        display: block;
        li {
          display: block;
          margin-right: 0;
        }
      }
      li {
        a {
          font-size: 0.5625em;
        }
      }
    }
    .footer_bottom {
      padding: 10px;
      .btn {
        min-width: auto;
        padding-left: 30px;
        padding-right: 30px;
        margin-right: 5px;
        width: 48%;
      }
    }
  }

  ul.list_property {
    li {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
      .property_img {
        height: 237px;
        p {
          &.total_price {
            font-size: 0.75em;
          }
          &.label_custom {
            padding: 5px;
            font-size: .5em;
          }
        }
        img {
          height: 237px;
        }
      }
      .property_head {
        p {
          &.property_name {
            font-size: 1em;
          }
        }
      }
    }
  }

  .section_near_property {
    ul.list_property {
      li {
        width: 47.5%;
        margin-right: 15px;
        &:nth-of-type(2n) {
          margin-right: 0;
          margin-bottom: 10px;
        }
        .property_img {
          height: 113px;
          img {
            height: 113px;
          }
          p {
            &.total_price {
              padding-top: 0;
              padding-bottom: 0;
            }
          }
        }
        .property_head {
          border: none;
          padding-top: 0;
          p {
            &.property_name {
              display: none;
            }
            &.property_address {
              font-size: 0.625em;
            }
            &.property_square {
              font-size: 0.625em;
              line-height: 1em;
            }
          }
          .btn_wishlist {
            display: none;
          }
        }
      }
    }
  }

  .box_sort {
    li {
        flex: 1 1 auto;
      a {
        padding-left: 8px;
        padding-right: 8px;
        font-size: 0.75em;
      }
    }
  }

  .carousel_property {
    .carousel-main {
      margin-bottom: 6px;
    }
    .carousel-cell {
      height: 225px;
      img {
        height: 225px;
      }
    }
    .carousel-nav {
      .carousel-cell {
        width: 120px;
        height: 80px;
        margin-right: 6px;
        img {
          height: 80px;
        }
      }
    }
  }


  .section_property_main {
    .box_calcu {
      padding: 20px;
      padding-bottom: 40px;
      h1 {
        margin-bottom: 20px;
      }
      .frm_calcu {
        .box_simulation_result {
          padding: 15px;
          h2 {
            font-size: 1.875em;
          }
          h4 {
            font-size: 1em;
          }
          p {
            font-size: 0.75em;
          }
        }
        h5 {
          font-size: 1.125em;
          margin-bottom: 0;
        }
        .form-control {
          font-size: 1.3em;
        }
        .repayment_amount {
          max-width: 110px;
        }
      }


    }
  }

  .box_renovation_specifications {
    p {
      font-size: 0.75em;
    }
  }

  .section_notice {
    .box_notice_item {
      margin: 0 -15px;
      padding: 10px;
      overflow: hidden;
      transition: all 0.3s;
      .box_notice_img {
        height: 79px;
        img {
          height: 79px;
        }
      }
      .box_notice_content {
        padding-left: 10px;
        padding-right: 10px;
        p {
          font-size: 0.875em;
          line-height: 1.4em;
          &:nth-of-type(2) {
            margin-bottom: 5px;
          }
          &:nth-of-type(3) {
            font-size: 0.625em;
          }
          &:last-of-type {
            font-size: 0.625em;
          }
        }
      }
      .btn_del {
        right: 10px;
        bottom: 10px;
        width: 30px;
        height: 30px;
        img {
          width: 60%;
        }
      }
    }
  }

  .box_toplogin {
    ul {
      display: block;
      li {
        &:first-of-type {
          margin-right: 0;
          margin-bottom: 10px;
        }
      }
    }
  }

  .section_accinfo {
    h4 {
      margin-left: -15px;
      margin-right: -15px;
    }
    p {
      &.head {
        margin-left: 0;
      }
    }
    .btnedit {
      margin-right: 0;
    }
  }

  .frm_accinfo {
    h4 {
      margin-left: -15px;
      margin-right: -15px;
    }
  }

}

@media (max-width: 414px){
  .dropdown_user {
    .dropdown_user_content {
      min-width: 416px;
    }
  }
  .dropdown_search {
    .dropdown_search_content {
      min-width: 425px;
    }
  }
}

@media (max-width: 375px){
  .dropdown_user {
    .dropdown_user_content {
      min-width: 375px;
    }
  }
  .dropdown_search {
    .dropdown_search_content {
      min-width: 385px;
    }
  }
  footer {
    .footer_bottom {
      .btn {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}

@media (max-width: 320px){
  .section_banner {
    ul {
      li {
        a {
          font-size: .5em;
        }
      }
    }
  }
  .section_near_property {
    ul.list_property {
      li {
        width: 46.5%;
      }
    }
  }
}

