@font-face {
    font-family: 'sf_pro_textlight';
    src: url('../fonts/sf-pro-text/fontsfree-net-sfprotext-light-1-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text/fontsfree-net-sfprotext-light-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_textregular';
    src: url('../fonts/sf-pro-text/fontsfree-net-sfprotext-regular-1-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text/fontsfree-net-sfprotext-regular-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_textsemibold';
    src: url('../fonts/sf-pro-text/fontsfree-net-sfprotext-semibold-1-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text/fontsfree-net-sfprotext-semibold-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_textbold';
    src: url('../fonts/sf-pro-text/fontsfree-net-sfprotext-bold-1-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text/fontsfree-net-sfprotext-bold-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_textmedium';
    src: url('../fonts/sf-pro-text/fontsfree-net-sfprotext-medium-1-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text/fontsfree-net-sfprotext-medium-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'sf_pro_textheavy';
    src: url('../fonts/sf-pro-text/fontsfree-net-sfprotext-heavy-1-webfont.woff2') format('woff2'),
         url('../fonts/sf-pro-text/fontsfree-net-sfprotext-heavy-1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}