@font-face {
  font-family: "sf_pro_textlight";
  src: url("../fonts/sf-pro-text/fontsfree-net-sfprotext-light-1-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text/fontsfree-net-sfprotext-light-1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_textregular";
  src: url("../fonts/sf-pro-text/fontsfree-net-sfprotext-regular-1-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text/fontsfree-net-sfprotext-regular-1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_textsemibold";
  src: url("../fonts/sf-pro-text/fontsfree-net-sfprotext-semibold-1-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text/fontsfree-net-sfprotext-semibold-1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_textbold";
  src: url("../fonts/sf-pro-text/fontsfree-net-sfprotext-bold-1-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text/fontsfree-net-sfprotext-bold-1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_textmedium";
  src: url("../fonts/sf-pro-text/fontsfree-net-sfprotext-medium-1-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text/fontsfree-net-sfprotext-medium-1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "sf_pro_textheavy";
  src: url("../fonts/sf-pro-text/fontsfree-net-sfprotext-heavy-1-webfont.woff2") format("woff2"), url("../fonts/sf-pro-text/fontsfree-net-sfprotext-heavy-1-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
.i-cus {
  position: relative;
}
.i-cus:before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.i-arrow-action:before {
  background-size: contain;
  background-image: url("../images/icons/i-arrow-white.svg");
  background-size: cover;
  transform-origin: left;
  border-radius: 4px;
  width: 100%;
  height: 100%;
}

body {
  color: #000;
  font-size: 16px;
  background: transparent;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: normal;
}

.container {
  max-width: 1270px;
}
@media (max-width: 767px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a,
a:focus,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
button:focus,
button:active,
button:hover {
  outline: none;
  box-shadow: none;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

.btn-action-orange {
  background: linear-gradient(271.58deg, #FF510E 6.08%, #FF8528 94.68%);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 100px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 640px;
  width: 100%;
  height: 100px;
  margin: 40px auto 60px;
}
@media (max-width: 767px) {
  .btn-action-orange {
    max-width: 310px;
    margin: 20px auto;
    padding-top: 9.1px;
    padding-bottom: 9.1px;
    height: 52px;
  }
  .btn-action-orange.w320 {
    max-width: 320px;
  }
}
.btn-action-orange span {
  display: inline-block;
  color: #FFFFFF;
  font-weight: 500;
}
.btn-action-orange .txt-left {
  margin-right: 15px;
}
.btn-action-orange .txt-left.size-42 {
  font-size: 2.625rem;
  letter-spacing: -0.05em;
  line-height: 2;
}
@media (max-width: 767px) {
  .btn-action-orange .txt-left.size-42 {
    font-size: 1.3rem;
  }
}
.btn-action-orange .txt-left.size-32 {
  font-size: 2rem;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .btn-action-orange .txt-left.size-32 {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .btn-action-orange .txt-left {
    margin-right: 10px;
  }
}
.btn-action-orange .i-arrow-action {
  width: 24px;
  height: 53px;
  position: relative;
  top: 2px;
}
@media (max-width: 767px) {
  .btn-action-orange .i-arrow-action {
    width: 12px;
    height: 26px;
  }
}
.btn-action-orange .txt-right {
  font-size: 1.25rem;
  line-height: 1.1;
  letter-spacing: -0.1em;
  margin-left: 15px;
}
.btn-action-orange .txt-right .big {
  display: block;
  font-size: 2.25rem;
  line-height: 1.1;
  letter-spacing: 0.08em;
}
@media (max-width: 767px) {
  .btn-action-orange .txt-right {
    font-size: 0.625rem;
    margin-left: 5px;
  }
  .btn-action-orange .txt-right .big {
    font-size: 1.125rem;
  }
}

.img-center {
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.bg-white {
  background-color: #fff;
}

.title-main p {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #0D38A6;
  background: #FAED00;
  border-radius: 30px;
  display: table;
  padding: 0 28px;
  margin: 0 auto 30px;
}
@media (max-width: 767px) {
  .title-main p {
    font-size: 0.75rem;
    margin: 0 auto 20px;
  }
}
.title-main h2 {
  color: #0D38A6;
  font-size: 2.25rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
  margin-bottom: 60px;
  text-align: center;
  font-weight: 600;
}
.title-main h2 .underline {
  position: relative;
  z-index: 1;
}
.title-main h2 .underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -5px;
  right: 0;
  background: #FAED00;
  height: 14px;
  z-index: -1;
}
@media (max-width: 767px) {
  .title-main h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    letter-spacing: inherit;
  }
}

.graphic-img-txt {
  display: flex;
  justify-content: space-around;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}
@media (max-width: 767px) {
  .graphic-img-txt {
    flex-flow: wrap;
    margin-bottom: 15px;
  }
  .graphic-img-txt:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.graphic-img-txt:last-child {
  margin-bottom: 0;
}
.graphic-img-txt .graphic_video {
  width: 50%;
}
.graphic-img-txt .graphic_video .embed-responsive-4by3::before {
  padding-top: 63%;
}
@media (max-width: 767px) {
  .graphic-img-txt .graphic_video {
    width: 100%;
  }
}
.graphic-img-txt .graphic-txt {
  padding: 43px 40px;
  width: 50%;
}
.graphic-img-txt .graphic-txt p {
  font-size: 0.875rem;
  line-height: 180%;
  letter-spacing: 0.1em;
  color: #000000;
  font-weight: 500;
}
.graphic-img-txt .graphic-txt .sm-title {
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.4;
  letter-spacing: 0.2em;
  color: #0D38A6;
  background: #FAED00;
  display: table;
  padding: 3px 20px;
  margin-bottom: 15px;
}
.graphic-img-txt .graphic-txt h3 {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.1em;
  color: #0D38A6;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .graphic-img-txt .graphic-txt {
    padding: 20px 20px 34px;
    width: 100%;
  }
  .graphic-img-txt .graphic-txt .sm-title {
    font-size: 0.625rem;
  }
  .graphic-img-txt .graphic-txt h3 {
    font-size: 1.25rem;
  }
}

.faq {
  display: flex;
  align-items: center;
  background: #FAF6E3;
  border-radius: 10px;
  max-width: 870px;
  margin-bottom: 30px;
  padding: 30px 20px;
}
.faq:nth-child(odd) {
  margin-left: auto;
}
.faq:nth-child(even) {
  margin-right: auto;
}
.faq img {
  padding-right: 20px;
  padding-left: 20px;
  max-width: 270px;
}
@media (max-width: 767px) {
  .faq {
    flex-flow: wrap;
    padding: 20px;
    margin-bottom: 15px;
  }
  .faq img {
    padding: 0;
    margin-bottom: 10px;
    max-width: 136px;
  }
  .faq:nth-child(even) {
    flex-direction: column-reverse;
  }
}
.faq .faq-info {
  padding-left: 20px;
  padding-right: 20px;
  width: 100%;
}
.faq .faq-info .sm-title {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 2;
  text-align: justify;
  color: #0D38A6;
  background: #FAED00;
  border-radius: 10px;
  padding: 17px 19px;
  margin-bottom: 20px;
}
.faq .faq-info p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .faq .faq-info {
    padding: 0;
  }
  .faq .faq-info .sm-title {
    padding: 10px 15px;
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  .faq .faq-info p {
    font-size: 0.875rem;
  }
}

.nav-animation-scroll {
  position: fixed;
  z-index: 9999;
  background: #fff;
  width: 100%;
  animation-name: top-to-bottom;
  animation-duration: 1s;
  top: 0;
}

@keyframes top-to-bottom {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.nav-fixed {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.nav_menu {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 50px;
}
@media (max-width: 767px) {
  .nav_menu {
    padding: 20px 16px;
  }
}
.nav_menu .navbar {
  padding: 0;
}
@media (max-width: 991px) {
  .nav_menu .navbar {
    flex-flow: nowrap;
  }
}
.nav_menu .navbar-brand {
  max-width: 199px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .nav_menu .navbar-brand {
    max-width: 132px;
  }
}
.nav_menu .navbar-brand span {
  display: block;
  margin-left: 10px;
  margin-top: 2px;
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 1.4;
  color: #000000;
}
.nav_menu .nav_menu-list {
  justify-content: flex-end;
  flex-grow: 1;
  flex-basis: 100%;
  align-items: center;
}
.nav_menu .nav_menu-list .navbar-nav:last-child {
  display: none;
}
.nav_menu .navbar-toggler {
  position: relative;
  height: 30px;
  width: 30px;
  display: none;
}
.nav_menu .navbar-toggler .nav-toggler-line {
  position: absolute;
  width: 22px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  background-color: #000;
  transition: all 0.7s cubic-bezier(0, 0.7, 0, 1);
  transition-delay: 0.2s;
  backface-visibility: hidden;
  border-radius: 3px;
}
.nav_menu .navbar-toggler .nav-toggler-line:nth-child(1) {
  top: 7px;
}
.nav_menu .navbar-toggler .nav-toggler-line:nth-child(2) {
  top: 13px;
}
.nav_menu .navbar-toggler .nav-toggler-line:nth-child(3) {
  bottom: 7px;
}
.nav_menu .navbar-toggler.open .nav-toggler-line:nth-child(1) {
  transform: rotateZ(45deg) translate(-3px, 12px);
}
.nav_menu .navbar-toggler.open .nav-toggler-line:nth-child(2) {
  opacity: 0;
}
.nav_menu .navbar-toggler.open .nav-toggler-line:nth-child(3) {
  transform: rotateZ(-45deg) translate(-4px, -12px);
}
.nav_menu .navbar-expand-lg {
  justify-content: space-between;
}
.nav_menu .navbar-expand-lg ul.navbar-nav {
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .nav_menu .navbar-expand-lg ul.navbar-nav {
    flex-direction: row;
  }
}
.nav_menu .navbar-expand-lg ul.navbar-nav .nav-item {
  display: inline-block;
}
.nav_menu .navbar-expand-lg ul.navbar-nav .nav-item .nav-link {
  border: none;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  color: #000;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 14px;
  letter-spacing: 0.5px;
  text-align: center;
  padding: 0 25px;
}
.nav_menu .navbar-expand-lg ul.navbar-nav .nav-item .nav-link > i {
  display: inline-block;
  position: relative;
  line-height: 1.2;
  width: 1.2em;
  height: 1.2em;
}
.nav_menu .navbar-expand-lg ul.navbar-nav .nav-item .nav-link > i + span {
  margin-left: 5px;
}
.nav_menu .navbar-expand-lg ul.navbar-nav .nav-item.user {
  border: 1px solid #FFFFFF;
}
@media (max-width: 767px) {
  .nav_menu .navbar-expand-lg ul.navbar-nav .nav-item.user {
    border: none;
  }
  .nav_menu .navbar-expand-lg ul.navbar-nav .nav-item.user .nav-link {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .nav_menu .navbar-expand-lg ul.navbar-nav .nav-item.search .nav-link {
    padding: 0 0 0 15px;
  }
}

.nav-black .logo-white {
  display: none;
}
.nav-black .nav_menu {
  background: #fff;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
.nav-black .navbar-expand-lg ul.navbar-nav li.user {
  border: 1px solid #424242;
}
@media (max-width: 767px) {
  .nav-black .navbar-expand-lg ul.navbar-nav li.user {
    border: none;
  }
}

.nav-white .logo-black {
  display: none;
}
.nav-white .nav_menu {
  box-shadow: none;
}
.nav-white .nav_menu .navbar-brand span {
  color: #fff;
}
.nav-white .navbar-expand-lg ul.navbar-nav .nav-item .nav-link {
  color: #fff;
}
.nav-white .navbar-toggler .nav-toggler-line {
  background-color: #fff;
}

/* Navigation */
.nav_menu .navbar-expand-lg ul.nav-pc .nav-item .btn-link {
  background: #1238A6;
  border-radius: 100px;
  font-size: 0.875rem;
  line-height: 16px;
  padding: 12px 17px;
  color: #FFFFFF;
  display: table;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-family: "Roboto", sans-serif;
}
@media (max-width: 767px) {
  .nav_menu .navbar-expand-lg ul.nav-pc .nav-item .btn-link {
    font-size: 0.6875rem;
    padding: 7px 15px;
    filter: inherit;
  }
}
.nav_menu .navbar-expand-lg ul.nav-sp {
  padding: 100px 40px;
  list-style-type: none;
  flex-direction: column;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item {
  border-bottom: 1px solid #5C5B5B;
  position: relative;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item:first-child {
  background: #5C5B5B;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 30px;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item:last-child {
  margin-left: 0;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item .nav-link {
  padding: 0 0 15px;
  width: 100%;
  text-align: left;
  font-weight: 600;
  letter-spacing: 0.05em;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #F6F6F6;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item .nav-link i {
  position: absolute;
  right: 0;
  top: 5px;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item .sub-link {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: #F6F6F6;
  padding: 0;
  padding-bottom: 15px;
  display: block;
  text-align: left;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item ul {
  padding-left: 0px;
  list-style-type: none;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item ul li {
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 12px;
}
.nav_menu .navbar-expand-lg ul.nav-sp .nav-item ul li a {
  padding: 5px 20px;
  font-size: 0.75rem;
  line-height: 1.6;
  color: #F6F6F6;
  border: 1px solid #F6F6F6;
  border-radius: 40px;
}

.menu-animation-scroll {
  animation-name: top-to-bottom;
  animation-duration: 1s;
}

header.menu-animation-scroll {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 9999;
}

.menu-opened {
  overflow: hidden;
}
.menu-opened .nav_menu button {
  top: 0;
  right: 0;
  border-radius: 0;
  position: absolute;
  z-index: 9999999;
}
.menu-opened .nav_menu button .nav-toggler-line {
  background: #fff;
}
.menu-opened .nav_menu .nav_menu-list {
  display: block;
}

.menu-opening .nav_menu-list {
  animation: drawer-open 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  animation-fill-mode: both;
}

.menu-closing .nav_menu-list {
  animation: drawer-close 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  animation-fill-mode: both;
}

@keyframes drawer-open {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes drawer-close {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    transform: translateX(100%);
  }
}
@keyframes top-to-bottom {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.footer-bottom {
  background: #FF7B16;
}
@media (max-width: 767px) {
  .footer-bottom {
    padding-bottom: 0;
  }
}
.footer-bottom .footer-top_group {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .footer-bottom .footer-top_group {
    flex-direction: column;
    padding: 10px 0 0;
  }
}
.footer-bottom .footer-top_group .footer-top_box {
  margin-right: 20px;
}
.footer-bottom .footer-top_group .footer-top_box:last-child {
  margin-right: 0;
}
@media (max-width: 767px) {
  .footer-bottom .footer-top_group .footer-top_box {
    margin-right: 0;
    font-weight: 600;
  }
}
.footer-bottom .support {
  font-size: 1.5rem;
  color: #FFFFFF;
}
@media (max-width: 991px) {
  .footer-bottom .support {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .footer-bottom .support {
    font-size: 1rem;
  }
}
.footer-bottom .phone {
  font-weight: 800;
  font-size: 2.25rem;
  line-height: 0.9;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}
.footer-bottom .phone a {
  padding: 24px 0;
  display: block;
}
@media (max-width: 767px) {
  .footer-bottom .phone a {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .footer-bottom .phone {
    font-size: 1.5rem;
  }
}
@media (max-width: 767px) {
  .footer-bottom .phone {
    font-size: 1.875rem;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: inherit;
  }
}
.footer-bottom .time {
  font-size: 1.125rem;
  color: #FFFFFF;
  height: 36px;
  line-height: 2.2;
}
@media (max-width: 991px) {
  .footer-bottom .time {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .footer-bottom .time {
    font-size: 0.75rem;
  }
}

.footer-top {
  background: #1238A6;
  padding-bottom: 105px;
}
@media (max-width: 767px) {
  .footer-top {
    padding-bottom: 136px;
  }
}
.footer-top .footer_logo {
  padding: 30px 0;
  text-align: center;
}
.footer-top .sns {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
.footer-top .sns .sns-item {
  margin-right: 20px;
}
.footer-top .sns .sns-item:last-child {
  margin-right: 0;
}
.footer-top .signature p {
  font-size: 0.625rem;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 0;
}

.home-page .container {
  max-width: 980px;
}
.home-page .w-790 .container {
  max-width: 790px;
}

.home_top {
  position: relative;
  z-index: 1;
}
.home_top:before {
  content: "";
  position: absolute;
  background-image: url("../images/top-page/bg-main-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 67%;
  width: 100%;
  z-index: -1;
}
@media (max-width: 767px) {
  .home_top {
    margin-top: 30px;
  }
  .home_top:before {
    background-image: url("../images/top-page/bg-main-sp.png");
    padding-top: unset;
    top: 80px;
    height: 80%;
  }
}

.home_top_info {
  padding: 140px 15px 0;
}
.home_top_info .home_top_img {
  text-align: center;
  margin-bottom: 90px;
  position: relative;
}
.home_top_info .home_top_img h1 {
  font-weight: 700;
  color: #1238A6;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}
@media (max-width: 767px) {
  .home_top_info .home_top_img {
    margin-bottom: 30px;
  }
  .home_top_info .home_top_img h1 {
    font-size: 1.4em;
    top: -77px;
  }
}
.home_top_info .home_top_table {
  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}
.home_top_info .home_top_table ul {
  max-width: 964px;
  margin: 0 auto;
  border: 4px solid #1238A6;
  border-radius: 10px;
  display: flex;
  padding: 77px 7px 25px;
  background: #fff;
}
@media (max-width: 768px) {
  .home_top_info .home_top_table ul {
    flex-flow: wrap;
    margin-left: 45px;
    margin-right: 15px;
    padding: 0;
  }
}
@media (max-width: 768px) {
  .home_top_info .home_top_table ul li {
    width: 100%;
  }
}
.home_top_info .home_top_table ul li .home_item {
  position: relative;
  padding: 0 12px;
}
.home_top_info .home_top_table ul li .home_item:before {
  content: "";
  position: absolute;
  background: #1238A6;
  right: 0;
  width: 2px;
  top: 0;
  bottom: 0;
}
@media (max-width: 768px) {
  .home_top_info .home_top_table ul li .home_item {
    padding: 10px 0;
  }
  .home_top_info .home_top_table ul li .home_item:before {
    top: unset;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
  }
}
.home_top_info .home_top_table ul li .home_item span {
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 120px;
  height: 120px;
  font-weight: 800;
  font-size: 0.875rem;
  line-height: 1.6;
  position: absolute;
  border-radius: 50%;
  top: -137px;
  left: 50%;
  transform: translate(-50%, 0);
}
@media (max-width: 768px) {
  .home_top_info .home_top_table ul li .home_item span {
    font-size: 0.8125rem;
    max-width: 80px;
    height: 80px;
    left: -40px;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.home_top_info .home_top_table ul li .home_item .home_txt {
  text-align: center;
  height: 145px;
}
@media (max-width: 767px) {
  .home_top_info .home_top_table ul li .home_item .home_txt {
    padding-left: 20px;
  }
}
.home_top_info .home_top_table ul li:last-child .home_item:before {
  height: 0;
}
.home_top_info .home_top_table ul li:nth-child(1) .home_item span {
  background: #574705;
}
.home_top_info .home_top_table ul li:nth-child(2) .home_item span {
  background: #055157;
}
.home_top_info .home_top_table ul li:nth-child(3) .home_item span {
  background: #053657;
}
.home_top_info .home_top_table ul li:nth-child(4) .home_item span {
  background: #1238A6;
}

.home_ct {
  position: relative;
}

.home_ct_box {
  position: relative;
  z-index: 1;
  max-width: 970px;
  margin: 0 auto;
  padding: 60px 15px 0;
}
.home_ct_box .box-blue {
  margin: 20px 0;
  color: #1238A6;
  background: rgba(18, 56, 166, 0.1);
  border: 2px solid #1238A6;
  border-radius: 10px;
  padding: 20px 70px;
  text-align: center;
  font-size: 1.125em;
}
.home_ct_box .box-blue span {
  font-weight: bold;
}
@media (max-width: 767px) {
  .home_ct_box {
    padding: 30px 15px 0;
  }
  .home_ct_box .box-blue {
    padding: 15px;
    font-size: 0.875rem;
    margin: 10px 0;
  }
}

.home_ct_action {
  margin-top: -100px;
  margin-bottom: 60px;
  z-index: 1;
  position: relative;
}
@media (max-width: 991px) {
  .home_ct_action {
    margin-top: -60px;
  }
}
@media (max-width: 767px) {
  .home_ct_action {
    margin-top: 0;
    padding-top: 40px;
    margin-bottom: 40px;
  }
}
.home_ct_action div {
  font-size: 1.125rem;
  line-height: 2;
}
.home_ct_action div span {
  font-weight: bold;
}
.home_ct_action p {
  font-size: 1.125rem;
  line-height: 2;
  text-align: justify;
}
@media (max-width: 767px) {
  .home_ct_action p {
    font-size: 0.875rem;
  }
}

.home_ct_info {
  position: relative;
  z-index: 1;
}
.home_ct_info:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0px;
  width: 100%;
  left: 0;
  background-color: #fbf6e3;
  z-index: -1;
}
.home_ct_info p {
  text-align: justify;
  margin-bottom: 0;
  line-height: 2;
}
@media (max-width: 767px) {
  .home_ct_info p {
    font-size: 0.875rem;
  }
}
.home_ct_info .txt-blue {
  font-weight: bold;
  line-height: 1.6;
  font-size: 1.125em;
  color: #0D38A6;
  text-align: center;
  margin-bottom: 55px;
}
@media (max-width: 767px) {
  .home_ct_info .txt-blue {
    font-size: 1em;
  }
}
.home_ct_info .title-main p {
  margin-bottom: 30px;
}

.bg-wave-one {
  margin-top: -70px;
}
.bg-wave-one .bg-wave-top {
  position: relative;
  z-index: 0;
}
.bg-wave-one .bg-wave-bottom {
  margin-top: -40px;
}
.bg-wave-one .home_ct_info:before {
  bottom: 40px;
}
@media (max-width: 767px) {
  .bg-wave-one {
    margin-top: 0px;
  }
  .bg-wave-one .home_ct_info {
    margin-top: -20px;
  }
  .bg-wave-one .home_ct_info:before {
    top: 15px;
  }
}

.wrap_example {
  display: flex;
  margin-top: 80px;
  margin-bottom: 50px;
}
.wrap_example .box_example {
  border: 2px solid #1238A6;
  border-radius: 10px;
  padding: 40px 23px 20px;
  position: relative;
  margin-right: 10px;
}
.wrap_example .box_example:nth-last-of-type {
  margin-right: 0;
}
@media (max-width: 767px) {
  .wrap_example .box_example {
    margin-bottom: 30px;
  }
}
.wrap_example .box_example h3 {
  font-size: 1.125em;
  text-align: center;
  color: #1238A6;
  font-weight: 600;
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
  margin: auto;
}
@media (max-width: 767px) {
  .wrap_example .box_example h3 {
    font-size: 0.9em;
    top: -20px;
  }
}
.wrap_example .box_example h3 span {
  border: 2px solid #1238A6;
  display: inline-block;
  padding: 8px 30px;
  border-radius: 100px;
  background: #fff;
}
.wrap_example .box_example table th {
  padding: 3px;
  font-size: 0.8125em;
}
@media (max-width: 767px) {
  .wrap_example .box_example table th {
    font-size: 0.75em;
  }
}
@media (max-width: 375px) {
  .wrap_example .box_example table th {
    font-size: 0.6em;
  }
}
.wrap_example .box_example table td {
  padding: 3px;
  font-size: 0.8125em;
}
@media (max-width: 767px) {
  .wrap_example .box_example table td {
    font-size: 0.75em;
  }
}
@media (max-width: 375px) {
  .wrap_example .box_example table td {
    font-size: 0.6em;
  }
}
@media (max-width: 767px) {
  .wrap_example {
    flex-direction: column;
  }
}

.box_ourstrengths {
  margin-bottom: 160px;
}
@media (max-width: 767px) {
  .box_ourstrengths {
    margin-bottom: 60px;
  }
}
.box_ourstrengths ul {
  padding: 0;
  margin: 0;
}
.box_ourstrengths ul li {
  margin-bottom: 20px;
}
.box_ourstrengths ul li:nth-last-of-type {
  margin-bottom: 0;
}
.box_ourstrengths ul li p {
  margin-bottom: 0;
  font-size: 1.125em;
  font-weight: 600;
  display: flex;
  align-items: center;
  line-height: 1.3em;
}
.box_ourstrengths ul li p span {
  display: inline-block;
}
.box_ourstrengths ul li p span:first-of-type {
  color: #fff;
  background: #0D38A6;
  border-radius: 100px;
  padding: 8px 15px;
  margin-right: 20px;
}

.nav-form .nav_menu {
  position: absolute;
  top: 0;
  z-index: 9;
  width: 100%;
}
.nav-form .navbar-expand-lg ul.nav-pc .nav-item:last-child {
  display: none;
}

.thank-you {
  font-size: 1.5rem;
}

.form-control {
  height: calc(1.5em + 0.75rem + 6px);
  border-color: #828282;
}
.form-control:focus {
  box-shadow: none;
}

.custom-control-label:before {
  width: 20px;
  height: 20px;
  border-color: #828282;
}
.custom-control-label:after {
  width: 20px;
  height: 20px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.btn_blue {
  background: #0D38A6;
  color: #fff;
  min-width: 201px;
  font-weight: 500;
  padding: 15px;
  border-radius: 0;
  margin-right: 15px;
}
.btn_blue:hover, .btn_blue:focus, .btn_blue:active {
  color: #fff;
}

.box_inquiry label {
  font-size: 0.875em;
  font-weight: bold;
  line-height: 1.9em;
  color: #556170;
  margin-bottom: 0;
}
.box_inquiry label span {
  color: #fff;
  font-size: 0.7143em;
  margin-left: 10px;
  display: inline-block;
  padding: 0 10px;
  background: #FF7E47;
}
.box_inquiry label .error-required {
  background: transparent;
  display: block;
  margin-left: 0;
  padding: 0;
}

.box_inquiry .container {
  max-width: 975px;
}
.box_inquiry .box_inquiry_content {
  padding: 42px 65px;
  background: #fff;
  border-radius: 10px;
}
.box_inquiry .box_inquiry_content h2 {
  font-size: 2.25em;
  color: #0D38A6;
  font-weight: 800;
  text-align: center;
  margin-bottom: 55px;
}
.box_inquiry .box_inquiry_content .custom-checkbox .error-required {
  background: transparent;
  display: block;
  margin-left: 0;
  padding: 0;
  font-size: 0.7143em;
}
.box_inquiry .box_inquiry_content .frm_inquiry .form-control {
  font-size: 0.875em;
}
.box_inquiry .box_inquiry_content .frm_inquiry .custom-select {
  font-size: 0.875em;
  height: calc(1.5em + 0.75rem + 6px);
  background: #fff url("../images/icons/arrow_down.svg") no-repeat right 0.75rem center/18px 20px;
  border-color: #828282;
}
.box_inquiry .box_inquiry_content .frm_inquiry .btn_zipcode {
  text-align: left;
  font-size: 0.875em;
  color: #1238A6;
  font-weight: 600;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
}
.box_inquiry .box_inquiry_content .frm_inquiry .btn_zipcode img {
  margin-right: 5px;
}

.box_moreinfo {
  border-radius: 4px;
  border: 1px solid #828282;
  padding: 20px;
  font-size: 0.875em;
  color: #333;
  margin-bottom: 40px;
  height: 185px;
  overflow: auto;
}

@media (max-width: 768px) {
  .btn_blue {
    margin-bottom: 10px;
    font-size: 0.875em;
    min-width: 120px;
  }
  .box_inquiry .box_inquiry_content {
    padding: 15px;
  }
  .box_inquiry .box_inquiry_content .frm_inquiry label {
    margin-bottom: 5px;
  }
  .box_inquiry .box_inquiry_content .frm_inquiry label.label_agree {
    line-height: 1.3em;
  }
  .box_inquiry .box_inquiry_content .frm_inquiry .btn_zipcode {
    font-size: 0.7em;
  }
}/*# sourceMappingURL=style.css.map */