@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@font-face {
  font-family: 'Mont';
  src: local('Mont Regular'), local('Mont-Regular'),
      url('../css/fonts/Mont-Regular.woff2') format('woff2'),
      url('../css/fonts/Mont-Regular.woff') format('woff'),
      url('../css/fonts/Mont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: local('Mont Bold'), local('Mont-Bold'),
      url('../css/fonts/Mont-Bold.woff2') format('woff2'),
      url('../css/fonts/Mont-Bold.woff') format('woff'),
      url('../css/fonts/Mont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

$primary_color: #1E7FB8;
$yellow_color: #EBFF00;

a {
  color: #000;
}
.btn {
  font-size: 16px;
  color: #000;
  border-radius: 0;
}
.btn, a, .btn:hover {
  transition: color .25s ease;
}
.btn:hover, .btn.focus {
  color: $primary_color;
  transition: all .3s linear;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}
button:focus {
  outline: none;
}
::-moz-selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #FBFBFB;
  font-family: "SF Pro Display", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.8em;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

.btn-link {
  color: #000;
  word-break: normal;
  word-break: break-all;
  word-break: keep-all;
  font-size: 0.75em;
  text-decoration: underline;
}

.btn-link:hover {
  color: #B48856;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SF Pro Display", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
}

*, :before, :after {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
}

p {
  word-wrap: break-word;
}

a:hover {
  text-decoration: none;
  color: #000;
  transition: all .3s linear;
}

.red {
  color: #eb5757;
}

.form-control {
  font-size: 0.875em;
  border-color: #828282;
  height: calc(1.5em + .75rem + 7px);
  border-radius: 4px;
  font-family: 'Noto Sans JP';
}
.row>* {
  padding-left: 15px;
  padding-right: 15px;
}
section {
  padding: 150px 0;
}


@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1098px;
  }
}

header {
  padding: 40px 70px;
  h1 {
    padding: 0;
    margin: 0;
  }
}
.navbar {
  padding: 0;
}
.navbar-nav {
  align-items: center;
  .nav-item {
    &:last-of-type {
      .nav-link {
        background: #000;
        padding: 15px 40px;
        border-radius: 100px;
        color: $yellow_color;
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
    }
    .nav-link {
      font-weight: 700;
      color: #000;
      padding: 0 25px;
      &.active, &:hover {
        color: $primary_color;
      }
    }
  }
}

.section_banner {
  background: url('../images/bg_banner.png') repeat-x bottom center;
  padding-bottom: 100px;
  .banner_content {
    display: flex;
    position: relative;
    .box_info {
      min-width: 540px;
      position: relative;
      z-index: 10;
      h2 {
        margin-bottom: 30px;
        letter-spacing: .2em;
      }
      h3 {
        font-size: 6em;
        line-height: 1em;
        margin-bottom: 40px;
      }
      ul {
        padding: 0;
        margin: 0 0 40px;
        list-style-type: none;
        display: flex;
        align-self: center;
        li {
          width: 140px;
          height: 140px;
          border-radius: 140px;
          background: $yellow_color;
          color: #000;
          margin-right: 20px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          &:last-of-type {
            margin-right: 0;
          }
          p {
            margin-bottom: 0;
            font-size: 1.5em;
            font-weight: 700;
          }
        }
      }
      .btn_requestinquiries {
        padding: 22px 30px;
        min-width: 460px;
        background: #000;
        color: $yellow_color;
        border-radius: 100px;
        font-weight: 700;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background: $primary_color;
        }
        img {
          margin-right: 10px;
        }
      }
    }
    .img_banner {
      position: absolute;
      right: -30%;
      bottom: 0;
    }
  }
}

.title {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  color: $primary_color;
}
.sub_title {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: 'Inter';
  font-size: 2.5em;
  text-align: center;
}

.section_submissiontool {
  background: #EDEDED;
  padding-top: 0;
  .box_submissiontool {
    display: flex;
    align-items: center;
    .box_submissiontool_info {
      margin-left: 115px;
      h2 {
        font-size: 2.25em;
        line-height: 1em;
      }
      h3 {
        font-size: 4em;
        margin-bottom: 30px;
      }
      .btn {
        border-radius: 10px;
        background: #000;
        color: $yellow_color;
        padding: 10px 45px;
        font-size: 1.5em;
        font-weight: 860;
        line-height: 1.8em;
        span {
          font-size: 2em;
        }
      }
    }
  }
}

.section_price {
  .description {
    margin-bottom: 50px;
  }
  .table {
    margin-bottom: 10px;
    overflow: hidden;
    th, td {
      padding: 20px 50px;
      text-align: center;
      font-size: 1.25em;
      font-weight: 700;
      border-color: #E0E0E0;
      position: relative;
      &:hover {
        &::after {
          content: "";
          position: absolute;
          background-color: #ffa;
          left: 0;
          top: -5000px;
          height: 10000px;
          width: 100%;
          z-index: -1;
        }
      }
    }
    th {
      background: #E0E0E0;
    }
    td {
      background: #F2F2F2;
      &:first-of-type {
        font-size: 1em;
        font-weight: 400;
      }
    }
  }
}

.section_plan {
  background: #EDEDED;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-start;
    li {
      border-radius: 20px;
      background: #FFF;
      margin-right: 20px;
      padding: 40px 34px;
      width: 50%;
      text-align: center;
      transition: all .3s linear;
      &:hover {
        box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
        transition: all .3s linear;
      }
      &:last-of-type {
        margin-right: 0;
      }
      h4 {
        font-size: 1.875em;
        font-family: 'Inter';
        margin-bottom: 30px;
      }
      h5 {
        font-size: 1.25em;
        margin-bottom: 20px;
        text-align: left;
      }
      h6 {
        margin-top: 30px;
        margin-bottom: 0;
        font-size: 2.25em;
      }
      .btn {
        border-radius: 100px;
        background: #1E7FB8;
        padding: 5px 50px;
        margin-bottom: 30px;
        color: #fff;
        font-size: 1.25em;
        font-weight: 700;
        &:hover {
          background: #0d5178;
        }
      }
      p {
        margin-top: 20px;
        margin-bottom: 30px;
        text-align: justify;
      }
    }
  }
}

.section_propertyinformation {
  padding: 75px 0;
  background: url('../images/bg_dotblue.png') repeat;
  .box_propertyinformation {
    display: flex;
    align-items: center;
    justify-content: center;
    .box_info {
      margin-right: 30px;
      text-align: center;
      min-width: 432px;
      h2 {
        font-size: 2.25em;
      }
      .logo_black {
        margin-bottom: 20px;
      }
      .btn_application {
        border-radius: 100px;
        border: 2px solid #000;
        background: #FFF;
        box-shadow: 0px 2px 2px 0px #000;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20.5px 30px;
        font-size: 1.25em;
        font-weight: 700;
        transition: color .25s ease;
        &:hover {
          color: #fff;
          background: #000;
          border-color: #fff;
          box-shadow: 0px 2px 2px 0px #fff;
          transition: all .3s linear;
          i {
            background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 25' style='enable-background:new 0 0 24 25;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cg id='file-text_1'%3e%3cpath id='Vector' class='st0' d='M14,2.5H6c-0.5,0-1,0.2-1.4,0.6C4.2,3.5,4,4,4,4.5v16c0,0.5,0.2,1,0.6,1.4C5,22.3,5.5,22.5,6,22.5 h12c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4v-12L14,2.5z'/%3e%3cpath id='Vector_2' class='st0' d='M14,2.5v6h6'/%3e%3cpath id='Vector_3' class='st0' d='M16,13.5H8'/%3e%3cpath id='Vector_4' class='st0' d='M16,17.5H8'/%3e%3cpath id='Vector_5' class='st0' d='M10,9.5H9H8'/%3e%3c/g%3e%3c/svg%3e ");
          }
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.i_edit {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 25' style='enable-background:new 0 0 24 25;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cg id='file-text_1'%3e%3cpath id='Vector' class='st0' d='M14,2.5H6c-0.5,0-1,0.2-1.4,0.6C4.2,3.5,4,4,4,4.5v16c0,0.5,0.2,1,0.6,1.4C5,22.3,5.5,22.5,6,22.5 h12c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4v-12L14,2.5z'/%3e%3cpath id='Vector_2' class='st0' d='M14,2.5v6h6'/%3e%3cpath id='Vector_3' class='st0' d='M16,13.5H8'/%3e%3cpath id='Vector_4' class='st0' d='M16,17.5H8'/%3e%3cpath id='Vector_5' class='st0' d='M10,9.5H9H8'/%3e%3c/g%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}

.section_flow {
  text-align: center;
  .sub_title {
    margin-bottom: 50px;
  }
}

.section_faq {
  background: #E6F6FF;
  .sub_title {
    margin-bottom: 50px;
  }
}
.accordion {
  background: transparent;
}
.accordion-item {
  border: none;
  background: transparent;
  &:first-of-type {
    border-radius: 0;
    .accordion-button {
      border-radius: 0;
    }
  }
}
.accordion-header {
  font-size: 1.25em;
}
.accordion-button {
  background: transparent;
  font-size: 1em;
  font-weight: 700;
  &:focus {
    box-shadow: none;
  }
  &:not(.collapsed) {
    background-color: transparent;
    box-shadow: none;
    color: #000;
  }
}
