@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.cdnfonts.com/css/sf-pro-display");
@font-face {
  font-family: "Mont";
  src: local("Mont Regular"), local("Mont-Regular"), url("../css/fonts/Mont-Regular.woff2") format("woff2"), url("../css/fonts/Mont-Regular.woff") format("woff"), url("../css/fonts/Mont-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Mont";
  src: local("Mont Bold"), local("Mont-Bold"), url("../css/fonts/Mont-Bold.woff2") format("woff2"), url("../css/fonts/Mont-Bold.woff") format("woff"), url("../css/fonts/Mont-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
a {
  color: #000;
}

.btn {
  font-size: 16px;
  color: #000;
  border-radius: 0;
}

.btn,
a,
.btn:hover {
  transition: color 0.25s ease;
}

.btn:hover,
.btn.focus {
  color: #1E7FB8;
  transition: all 0.3s linear;
}

.btn.focus,
.btn:focus {
  box-shadow: none;
}

button:focus {
  outline: none;
}

::-moz-selection {
  background: #1E7FB8;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: #1E7FB8;
  color: #FFF;
  text-shadow: none;
}

::-moz-selection {
  background: #1E7FB8;
  color: #FFF;
  text-shadow: none;
}

::-webkit-selection {
  background: #1E7FB8;
  color: #FFF;
  text-shadow: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #FBFBFB;
  font-family: "SF Pro Display", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.8em;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

.btn-link {
  color: #000;
  word-break: normal;
  word-break: break-all;
  word-break: keep-all;
  font-size: 0.75em;
  text-decoration: underline;
}

.btn-link:hover {
  color: #B48856;
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SF Pro Display", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
}

*,
:before,
:after {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  position: relative;
  height: 100%;
}

p {
  word-wrap: break-word;
}

a:hover {
  text-decoration: none;
  color: #000;
  transition: all 0.3s linear;
}

.red {
  color: #eb5757;
}

.form-control {
  font-size: 0.875em;
  border-color: #828282;
  height: calc(1.5em + 0.75rem + 7px);
  border-radius: 4px;
  font-family: "Noto Sans JP";
}

.row > * {
  padding-left: 15px;
  padding-right: 15px;
}

section {
  padding: 150px 0;
}

.small,
small {
  font-size: 0.75em;
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1098px;
  }
}
header {
  padding: 25px 70px;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.5s;
}
header.bgwhite {
  background: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  transition: 0.5s;
}
header h1 {
  padding: 0;
  margin: 0;
}

.navbar {
  padding: 0;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav .nav-item:last-of-type:hover .nav-link {
  background: #1E7FB8;
  color: #fff;
}
.navbar-nav .nav-item:last-of-type:hover .nav-link i {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 18 18' fill='none'%3E%3Cpath d='M10.5 1.5H4.5C4.10218 1.5 3.72064 1.65804 3.43934 1.93934C3.15804 2.22064 3 2.60218 3 3V15C3 15.3978 3.15804 15.7794 3.43934 16.0607C3.72064 16.342 4.10218 16.5 4.5 16.5H13.5C13.8978 16.5 14.2794 16.342 14.5607 16.0607C14.842 15.7794 15 15.3978 15 15V6L10.5 1.5Z' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.5 1.5V6H15' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 9.75H6' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 12.75H6' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M7.5 6.75H6.75H6' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.navbar-nav .nav-item:last-of-type:hover .nav-link::after {
  width: 100%;
}
.navbar-nav .nav-item:last-of-type .nav-link {
  font-size: 0.875em;
  background: #000;
  padding: 10px 30px;
  border-radius: 100px;
  color: #EBFF00;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 234px;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.navbar-nav .nav-item:last-of-type .nav-link i {
  margin-right: 10px;
  width: 18px;
  height: 18px;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3E%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 25 24' style='enable-background:new 0 0 25 24;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23EBFF00;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7D%0A%3C/style%3E%3Cg%3E%3Cpath class='st0' d='M14.1,2h-8C5.5,2,5,2.2,4.7,2.6C4.3,3,4.1,3.5,4.1,4v16c0,0.5,0.2,1,0.6,1.4C5,21.8,5.5,22,6.1,22h12 c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4V8L14.1,2z'/%3E%3Cpath class='st0' d='M14.1,2v6h6'/%3E%3Cpath class='st0' d='M16.1,13h-8'/%3E%3Cpath class='st0' d='M16.1,17h-8'/%3E%3Cpath class='st0' d='M10.1,9h-1h-1'/%3E%3C/g%3E%3C/svg%3E");
}
.navbar-nav .nav-item:last-of-type .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #1E7FB8;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.navbar-nav .nav-item .nav-link {
  font-weight: 700;
  color: #000;
  padding: 0 25px;
}
.navbar-nav .nav-item .nav-link.active, .navbar-nav .nav-item .nav-link:hover {
  color: #1E7FB8;
}

.section_banner {
  background: url("../images/bg_banner.png") repeat-x bottom center;
  padding: 110px 0 65px;
  position: relative;
  margin-top: 110px;
}
.section_banner h4 {
  text-align: center;
  font-weight: 400;
  font-size: 2.25em;
  position: relative;
  z-index: 20;
  margin-bottom: 0;
  line-height: 1.3em;
  font-family: "Inter";
  margin-top: 103px;
}
.section_banner .img_banner {
  position: absolute;
  right: 0;
  top: 10%;
}
.section_banner .banner_content {
  display: flex;
  position: relative;
}
.section_banner .banner_content .box_info {
  min-width: 540px;
  position: relative;
  z-index: 10;
}
.section_banner .banner_content .box_info h2 {
  margin-bottom: 30px;
  letter-spacing: 0.2em;
}
.section_banner .banner_content .box_info h3 {
  font-size: 6em;
  line-height: 1em;
  margin-bottom: 40px;
}
.section_banner .banner_content .box_info ul {
  padding: 0;
  margin: 0 0 40px;
  list-style-type: none;
  display: flex;
  align-self: center;
}
.section_banner .banner_content .box_info ul li {
  width: 140px;
  height: 140px;
  border-radius: 140px;
  background: #EBFF00;
  color: #000;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.3em;
}
.section_banner .banner_content .box_info ul li:last-of-type {
  margin-right: 0;
  line-height: 2em;
}
.section_banner .banner_content .box_info ul li:last-of-type p:first-of-type {
  margin-top: 5px;
}
.section_banner .banner_content .box_info ul li p {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Mont";
}
.section_banner .banner_content .box_info ul li p span {
  font-size: 2em;
}
.section_banner .banner_content .box_info .btn_requestinquiries {
  padding: 22px 30px;
  min-width: 460px;
  background: #000;
  color: #EBFF00;
  border-radius: 100px;
  font-weight: 700;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
  position: relative;
  z-index: 2;
  overflow: hidden;
}
.section_banner .banner_content .box_info .btn_requestinquiries::after {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  background: #1E7FB8;
  top: 0;
  left: 0;
  z-index: -1;
  transition: 0.4s all cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.section_banner .banner_content .box_info .btn_requestinquiries:hover {
  background: #1E7FB8;
  color: #fff;
}
.section_banner .banner_content .box_info .btn_requestinquiries:hover::after {
  width: 100%;
}
.section_banner .banner_content .box_info .btn_requestinquiries:hover i {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M14.0701 2H6.07007C5.53964 2 5.03093 2.21071 4.65585 2.58579C4.28078 2.96086 4.07007 3.46957 4.07007 4V20C4.07007 20.5304 4.28078 21.0391 4.65585 21.4142C5.03093 21.7893 5.53964 22 6.07007 22H18.0701C18.6005 22 19.1092 21.7893 19.4843 21.4142C19.8594 21.0391 20.0701 20.5304 20.0701 20V8L14.0701 2Z' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0701 2V8H20.0701' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.0701 13H8.07007' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.0701 17H8.07007' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0701 9H9.07007H8.07007' stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}
.section_banner .banner_content .box_info .btn_requestinquiries i {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='24' viewBox='0 0 25 24' fill='none'%3E%3Cpath d='M14.0701 2H6.07007C5.53964 2 5.03093 2.21071 4.65585 2.58579C4.28078 2.96086 4.07007 3.46957 4.07007 4V20C4.07007 20.5304 4.28078 21.0391 4.65585 21.4142C5.03093 21.7893 5.53964 22 6.07007 22H18.0701C18.6005 22 19.1092 21.7893 19.4843 21.4142C19.8594 21.0391 20.0701 20.5304 20.0701 20V8L14.0701 2Z' stroke='%23EBFF00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.0701 2V8H20.0701' stroke='%23EBFF00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.0701 13H8.07007' stroke='%23EBFF00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.0701 17H8.07007' stroke='%23EBFF00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M10.0701 9H9.07007H8.07007' stroke='%23EBFF00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
}

.title {
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 20px;
  color: #1E7FB8;
}

.sub_title {
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  font-family: "Inter";
  font-size: 2.5em;
  text-align: center;
}

.section_submissiontool {
  background: #EDEDED;
  padding-top: 0;
  overflow: hidden;
}
.section_submissiontool .box_submissiontool {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info {
  margin-left: 115px;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info h2 {
  font-size: 2.25em;
  line-height: 1em;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info h3 {
  font-size: 4em;
  margin-bottom: 30px;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info .btn {
  border-radius: 10px;
  background: #000;
  color: #EBFF00;
  padding: 12px 45px;
  font-size: 1.5em;
  font-weight: 860;
  line-height: 1.8em;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info .btn span:first-of-type {
  display: block;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info .btn span:last-of-type {
  font-size: 2em;
}
.section_submissiontool .box_submissiontool .box_submissiontool_info .btn i {
  font-size: 0.75em;
  font-style: normal;
}

.section_price {
  overflow: hidden;
}
.section_price .description {
  margin-bottom: 50px;
  text-align: center;
}
.section_price .table {
  margin-bottom: 10px;
  overflow: hidden;
}
.section_price .table tr:nth-of-type(1) th:nth-of-type(4n) {
  background: #1E7FB8;
  color: #fff;
}
.section_price .table tr td:nth-of-type(4n) {
  background: #E6F6FF;
  color: #1E7FB8;
}
.section_price .table tr td span {
  font-size: 0.7em;
}
.section_price .table th,
.section_price .table td {
  width: 25%;
  padding: 20px 50px;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
  border-color: #E0E0E0;
  position: relative;
}
.section_price .table th:hover::after,
.section_price .table td:hover::after {
  content: "";
  position: absolute;
  background-color: #ffa;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
.section_price .table th {
  background: #E0E0E0;
}
.section_price .table td {
  background: #F2F2F2;
}
.section_price .table td:first-of-type {
  font-size: 1em;
  font-weight: 400;
}
.section_price ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.section_price ul li {
  width: 25%;
  padding: 20px 50px;
  border: 1px solid #E0E0E0;
  text-align: center;
  font-size: 1.25em;
  font-weight: 700;
}

.section_plan {
  overflow: hidden;
  background: #EDEDED;
}
.section_plan .sub_title {
  margin-bottom: 50px;
}
.section_plan ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: stretch;
}
.section_plan ul li {
  border-radius: 20px;
  background: #FFF;
  margin-right: 20px;
  padding: 40px 34px;
  width: 50%;
  text-align: center;
  transition: all 0.3s linear;
}
.section_plan ul li:hover {
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  transition: all 0.3s linear;
}
.section_plan ul li:last-of-type {
  margin-right: 0;
}
.section_plan ul li h4 {
  font-size: 1.875em;
  font-family: "Inter";
  margin-bottom: 30px;
}
.section_plan ul li h5 {
  font-size: 1.25em;
  margin-bottom: 20px;
  text-align: left;
}
.section_plan ul li h6 {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 2.25em;
  font-weight: 860;
}
.section_plan ul li h6 span {
  font-weight: 700;
}
.section_plan ul li h6 span:last-of-type {
  font-size: 1.3333em;
  font-weight: 860;
}
.section_plan ul li h6 i {
  font-style: normal;
  font-size: 0.6667em;
  font-weight: 860;
}
.section_plan ul li h6 i:last-of-type {
  font-size: 0.5em;
}
.section_plan ul li .btn {
  border-radius: 100px;
  background: #1E7FB8;
  padding: 5px 50px;
  margin-bottom: 30px;
  color: #fff;
  font-size: 1.25em;
  font-weight: 700;
}
.section_plan ul li .btn:hover {
  background: #0d5178;
}
.section_plan ul li p {
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: justify;
  letter-spacing: -0.01em;
}

.section_propertyinformation {
  overflow: hidden;
  padding: 75px 0;
  background: url("../images/bg_dotblue.png") repeat;
}
.section_propertyinformation .box_propertyinformation {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section_propertyinformation .box_propertyinformation .box_info {
  margin-right: 30px;
  text-align: center;
  min-width: 432px;
}
.section_propertyinformation .box_propertyinformation .box_info h2 {
  font-size: 2.25em;
}
.section_propertyinformation .box_propertyinformation .box_info .logo_black {
  margin-bottom: 20px;
}
.section_propertyinformation .box_propertyinformation .box_info .btn_application {
  border-radius: 100px;
  border: 2px solid #000;
  background: #FFF;
  box-shadow: 0px 2px 2px 0px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20.5px 30px;
  font-size: 1.25em;
  font-weight: 700;
  transition: color 0.25s ease;
}
.section_propertyinformation .box_propertyinformation .box_info .btn_application:hover {
  color: #fff;
  background: #000;
  border-color: #fff;
  box-shadow: 0px 2px 2px 0px #fff;
  transition: all 0.3s linear;
}
.section_propertyinformation .box_propertyinformation .box_info .btn_application:hover i {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 25' style='enable-background:new 0 0 24 25;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cg id='file-text_1'%3e%3cpath id='Vector' class='st0' d='M14,2.5H6c-0.5,0-1,0.2-1.4,0.6C4.2,3.5,4,4,4,4.5v16c0,0.5,0.2,1,0.6,1.4C5,22.3,5.5,22.5,6,22.5 h12c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4v-12L14,2.5z'/%3e%3cpath id='Vector_2' class='st0' d='M14,2.5v6h6'/%3e%3cpath id='Vector_3' class='st0' d='M16,13.5H8'/%3e%3cpath id='Vector_4' class='st0' d='M16,17.5H8'/%3e%3cpath id='Vector_5' class='st0' d='M10,9.5H9H8'/%3e%3c/g%3e%3c/svg%3e ");
}
.section_propertyinformation .box_propertyinformation .box_info .btn_application img {
  margin-right: 10px;
}

.i_edit {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 28.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 24 25' style='enable-background:new 0 0 24 25;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:none;stroke:%23000000;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3cg id='file-text_1'%3e%3cpath id='Vector' class='st0' d='M14,2.5H6c-0.5,0-1,0.2-1.4,0.6C4.2,3.5,4,4,4,4.5v16c0,0.5,0.2,1,0.6,1.4C5,22.3,5.5,22.5,6,22.5 h12c0.5,0,1-0.2,1.4-0.6c0.4-0.4,0.6-0.9,0.6-1.4v-12L14,2.5z'/%3e%3cpath id='Vector_2' class='st0' d='M14,2.5v6h6'/%3e%3cpath id='Vector_3' class='st0' d='M16,13.5H8'/%3e%3cpath id='Vector_4' class='st0' d='M16,17.5H8'/%3e%3cpath id='Vector_5' class='st0' d='M10,9.5H9H8'/%3e%3c/g%3e%3c/svg%3e");
  width: 24px;
  height: 24px;
  display: block;
  margin-right: 10px;
}

.section_flow {
  overflow: hidden;
  text-align: center;
}
.section_flow .sub_title {
  margin-bottom: 50px;
}

.section_faq {
  overflow: hidden;
  background: #E6F6FF;
}
.section_faq .sub_title {
  margin-bottom: 50px;
}
.section_faq .accordion {
  background: transparent;
}
.section_faq .accordion-item {
  border: none;
  border-bottom: 1px solid #BDBDBD;
  background: transparent;
}
.section_faq .accordion-item:first-of-type {
  border-radius: 0;
}
.section_faq .accordion-item:first-of-type .accordion-button {
  border-radius: 0;
}
.section_faq .accordion-item:last-of-type {
  border-radius: 0;
  border-bottom: none;
}
.section_faq .accordion-header {
  font-size: 1.25em;
}
.section_faq .accordion-button {
  background: transparent !important;
  font-size: 1em;
  font-weight: 700;
  padding: 30px 0;
}
.section_faq .accordion-button::before {
  content: "Q. ";
  font-family: "Mont";
  font-weight: 700;
  font-size: 2em;
  color: #1E7FB8;
  display: inline-block;
  margin-right: 20px;
}
.section_faq .accordion-button:focus {
  box-shadow: none;
}
.section_faq .accordion-button:not(.collapsed) {
  background-color: transparent;
  box-shadow: none;
  color: #000;
}
.section_faq .accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='7' viewBox='0 0 32 7' fill='none'%3E%3Cg clip-path='url(%23clip0_384_783)'%3E%3Cpath d='M3.84717 3.5H28.1527' stroke='black' stroke-width='6' stroke-linecap='square'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_384_783'%3E%3Crect width='32' height='7' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.section_faq .accordion-button::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='32' height='31' viewBox='0 0 32 31' fill='none'%3E%3Cg clip-path='url(%23clip0_384_505)'%3E%3Cpath d='M16 3.34717V27.6527' stroke='black' stroke-width='6' stroke-linecap='square'/%3E%3Cpath d='M3.84717 15.5H28.1527' stroke='black' stroke-width='6' stroke-linecap='square'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_384_505'%3E%3Crect width='32' height='31' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
}
.section_faq .accordion-body {
  padding-left: 20px;
  padding-top: 0;
}
.section_faq .accordion-body p {
  color: #000;
}
.section_faq .accordion-body p::before {
  content: "A. ";
  font-family: "Mont";
  font-weight: 700;
  font-size: 1.5em;
  color: #000;
  display: inline-block;
  margin-right: 20px;
}
.section_faq .accordion-body p:last-of-type {
  margin-bottom: 0;
}

.section_topics {
  overflow: hidden;
  padding-bottom: 115px;
}
.section_topics .sub_title {
  margin-bottom: 50px;
}
.section_topics .topics_content {
  max-width: 722px;
  margin: 0 auto;
}
.section_topics .topics_content a {
  text-decoration: none;
}
.section_topics .topics_content p {
  margin-top: 17px;
  margin-bottom: 0;
  font-family: "Inter";
}
.section_topics ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.section_topics ul li {
  display: block;
  border-bottom: 1px solid #BDBDBD;
}
.section_topics ul li:hover a {
  color: #343333;
}
.section_topics ul li a {
  padding: 20px 0;
  display: block;
}

footer {
  padding: 30px 70px;
  display: flex;
  justify-content: space-between;
}
footer p {
  margin-bottom: 0;
  font-weight: 400;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  font-size: 0.75em;
}
footer p a {
  text-decoration: none;
}
footer p a:hover {
  color: #1E7FB8;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}
footer ul li {
  margin-right: 50px;
}
footer ul li:last-of-type {
  margin-right: 0;
}
footer ul li:hover a {
  color: #1E7FB8;
}
footer ul li a {
  text-decoration: none;
  font-size: 0.875em;
  font-weight: 700;
}

.navbar-toggler {
  border-radius: 0;
  padding: 10px 5px;
  width: 46px;
  height: 46px;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  width: 46px;
  height: 46px;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-toggler-icon:after,
.navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: "";
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-icon {
  border-color: transparent;
}

@media (max-width: 1024px) {
  header {
    padding: 20px 0;
    background: #fbfbfb;
  }
  .navbar-nav .nav-item:last-of-type .nav-link {
    min-width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .section_submissiontool .box_submissiontool .box_submissiontool_info {
    margin-left: 50px;
  }
}
@media (max-width: 844px) {
  .navbar-nav .nav-item {
    width: 100%;
  }
  .navbar-nav .nav-item:nth-of-type(4) .nav-link {
    border-bottom: none;
  }
  .navbar-nav .nav-item .nav-link {
    width: 100%;
    display: block;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #ccc;
  }
  header {
    padding: 12px 8px;
  }
  header h1 img {
    width: 116px;
  }
  section {
    padding: 50px 0;
  }
  .sub_title {
    font-size: 1.5em;
  }
  .section_banner {
    padding: 30px 0 75px;
    margin-top: 72px;
  }
  .section_banner h4 {
    margin-top: 50px;
    font-size: 2em;
  }
  .section_banner .img_banner {
    position: relative;
    top: 0;
  }
  .section_banner .banner_content {
    flex-direction: column;
  }
  .section_banner .banner_content .box_info {
    min-width: auto;
    text-align: center;
    padding: 0 20px;
  }
  .section_banner .banner_content .box_info h2 {
    text-align: center;
    font-size: 1em;
    margin-bottom: 12px;
  }
  .section_banner .banner_content .box_info h3 {
    text-align: center;
    font-size: 3em;
    margin-bottom: 20px;
  }
  .section_banner .banner_content .box_info .btn_requestinquiries {
    min-width: 288px;
    padding-top: 9px;
    padding-bottom: 9px;
    width: 100%;
  }
  .section_banner .banner_content .box_info ul {
    justify-content: center;
    margin-bottom: 23px;
  }
  .section_banner .banner_content .box_info ul li {
    width: 84px;
    height: 84px;
    border-radius: 84px;
  }
  .section_banner .banner_content .box_info ul li p {
    font-size: 0.875em;
    line-height: 1.3em;
  }
  .section_submissiontool .box_submissiontool {
    flex-direction: column;
  }
  .section_submissiontool .box_submissiontool .box_submissiontool_info {
    margin-left: 0;
    margin-bottom: 40px;
  }
  .section_submissiontool .box_submissiontool .box_submissiontool_info h2 {
    font-size: 1.5em;
    text-align: center;
  }
  .section_submissiontool .box_submissiontool .box_submissiontool_info h3 {
    font-size: 2.5em;
    text-align: center;
  }
  .section_submissiontool .box_submissiontool .box_submissiontool_info .btn {
    font-family: "YuGothic";
    padding: 11.5px 30px;
    font-size: 1.25em;
    display: block;
  }
  .section_submissiontool .box_submissiontool .box_submissiontool_info .btn span {
    font-size: 1.8em;
  }
  .section_price .table th,
  .section_price .table td {
    width: auto;
    padding: 10px 5px;
    font-size: 0.65em;
  }
  .section_price .table td:first-of-type {
    font-size: 0.75em;
  }
  .section_plan h3 {
    font-size: 2em;
  }
  .section_plan ul {
    flex-direction: column;
  }
  .section_plan ul li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    padding: 20px;
  }
  .section_plan ul li .btn {
    padding: 5px 30px;
  }
  .section_plan ul li h6 {
    font-size: 1.5em;
  }
  .section_plan ul li h4 {
    font-size: 1.3em;
  }
  .section_propertyinformation {
    padding: 45px 0;
  }
  .section_propertyinformation .box_propertyinformation {
    flex-direction: column;
  }
  .section_propertyinformation .box_propertyinformation img {
    display: none;
  }
  .section_propertyinformation .box_propertyinformation .box_info {
    min-width: auto;
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
  }
  .section_propertyinformation .box_propertyinformation .box_info .btn_application {
    width: 100%;
  }
  .section_propertyinformation .box_propertyinformation .box_info h2 {
    display: none;
  }
  .section_flow .sub_title {
    margin-bottom: 15px;
  }
  .section_topics .topics_content a {
    font-weight: 700;
    padding: 10px 0;
  }
  .section_faq .accordion-header {
    font-size: 0.875em;
  }
  .section_faq .accordion-button::before {
    font-size: 1.5em;
    margin-right: 10px;
  }
  .section_faq .accordion-body p {
    font-size: 0.75em;
  }
  .section_faq .accordion-body p::before {
    margin-right: 10px;
    font-size: 1.3em;
  }
  footer {
    padding: 30px 15px;
    flex-direction: column;
    align-items: center;
  }
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    margin-right: 0;
    text-align: center;
  }
}
.section_estatetool {
  background: #EDEDED;
  padding-top: 0;
}
.section_estatetool h2 {
  font-size: 2em;
  font-family: "Inter";
  margin-bottom: 40px;
}
.section_estatetool .w_box_item {
  display: flex;
  align-items: center;
}
.section_estatetool .w_box_item .box_item {
  display: flex;
}
.section_estatetool .w_box_item .box_item:last-of-type {
  margin-left: 64px;
  flex-direction: row-reverse;
}
.section_estatetool .w_box_item .box_item:last-of-type img {
  margin-left: 35px;
  margin-right: 0;
}
.section_estatetool .w_box_item .box_item .box_item_content {
  background: #D8D8D8;
  border-radius: 20px;
  padding: 15px;
  max-width: 310px;
  min-height: 250px;
}
.section_estatetool .w_box_item .box_item .box_item_content h3 {
  font-size: 1.5em;
  color: #1E7FB8;
  font-family: "Inter";
  margin-bottom: 30px;
  min-height: 72px;
}
.section_estatetool .w_box_item .box_item .box_item_content p {
  font-size: 1.25em;
  font-family: "Inter";
  font-weight: 700;
  color: #353535;
  margin-bottom: 0;
}
.section_estatetool .w_box_item .box_item img {
  margin-right: 70px;
}

.section_flow .note_flow {
  margin-top: 20px;
  font-weight: 700;
  font-family: "Inter";
  text-align: left;
  margin-bottom: 0;
}

@media (max-width: 844px) {
  .section_estatetool h2 {
    font-size: 1.5em;
  }
  .section_estatetool .w_box_item {
    flex-direction: column;
  }
  .section_estatetool .w_box_item .box_item {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .section_estatetool .w_box_item .box_item:last-of-type {
    margin-left: 0;
    flex-direction: inherit;
  }
  .section_estatetool .w_box_item .box_item:last-of-type img {
    margin: auto;
  }
  .section_estatetool .w_box_item .box_item img {
    margin: auto;
  }
}/*# sourceMappingURL=styles.css.map */