/* About Service */
.section-about {
    h2 {
        text-align: center;
        margin-bottom: 44px;
    }

    .title-des {
        font-weight: 300;
        font-size: 1.125rem;
        text-align: center;
        color: $cl-black;
        margin-bottom: 72px;
    }

    .news-item {
        .news-item_title {
            padding-right: 0;
        }
    }

    .note {
        font-weight: 300;
        font-size: 0.75rem;
        line-height: 200%;
        color: $cl-black;
        text-align: left;
    }

    @media (max-width: 991px) {
        .title-des {
            font-size: 1rem;

            span {
                display: block;
            }
        }
    }
}

.about {
    position: relative;
    margin-bottom: 80px;

    &:last-child {
        margin-bottom: 200px;
    }

    .about_img-caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .about_des-img {
        max-width: 503px;
        margin-top: 118px;

        &.right {
            margin-left: auto;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 60px;
        &:last-child {
            margin-bottom: 90px;
        }
        .about_img {
            margin-bottom: 30px;
        }
    }
}

.about_des {
    position: relative;
    z-index: 2;

    &:before {
        content: '';
        position: absolute;
        top: -100px;
        bottom: -100px;
        background: white;
        z-index: -1;
    }

    &.right {
        &:before {
            right: 0;
            left: -100px;
        }
    }

    &.left {
        &:before {
            right: -100px;
            left: 0;
        }
    }

    p {
        font-weight: 300;
        font-size: 1rem;
        line-height: 2.4;
        margin-bottom: 0;
        letter-spacing: -0.1px;
    }

    .about_des_title-sm {
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.05em;
        color: black;
        margin-bottom: 30px;
        line-height: auto;
    }

    h3 {
        font-weight: 600;
        font-size: 1.5rem;
        letter-spacing: 0.02em;
        color: black;
        margin-bottom: 60px;

        span {
            display: block;
        }
    }

    @media (max-width: 991px) {
        &:before {
            background: transparent;
        }

        &.right {
            &:before {
                right: unset;
                left: unset;
            }
        }

        &.left {
            &:before {
                right: unset;
                left: unset;
            }
        }

        p {
            font-size: 0.875rem;
        }

        .about_des_title-sm {
            margin-bottom: 20px;
            font-size: 0.75rem;
        }

        h3 {
            margin-bottom: 30px;
            font-size: 1.125rem;
        }
    }
}




.about_planning {
    position: relative;
    margin-bottom: 230px;

    &:before {
        content: '';
        position: absolute;
        top: -200px;
        right: 14%;
        bottom: 32%;
        background: $cl-gray-light;
        left: 0;
        z-index: -1;
    }

    @media (max-width: 991px) {
        margin-bottom: 140px;

        &:before {
            top: -60px;
            bottom: 8.6%;
            left: 30px;
            right: 0;
        }
    }
}

.about_kitchin {
    position: relative;
    margin-bottom: 230px;

    &:before {
        content: '';
        position: absolute;
        top: -100px;
        right: 0;
        bottom: 50%;
        background: $cl-gray-light;
        left: 14%;
        z-index: -1;
    }

    @media (max-width: 991px) {
        margin-bottom: 80px;

        &:before {
            top: -60px;
            left: 30px;
            right: 0;
            bottom: 30%;
        }
    }
}

.about_comforts {
    position: relative;
    margin-bottom: 130px;

    &:before {
        content: '';
        position: absolute;
        top: -100px;
        right: 14%;
        bottom: 32%;
        background: $cl-gray-light;
        left: 0;
        z-index: -1;
    }

    @media (max-width: 991px) {
        margin-bottom: 80px;

        &:before {
            top: 27%;
            bottom: 16%;
            left: 30px;
        }
    }

}


.about_commitment {
    margin-bottom: 100px;

    h4 {
        font-weight: 600;
        font-size: 1.25rem;
        letter-spacing: 0.1em;
        margin-bottom: 50px;
    }

    .about_commitment_box-img {
        p {
            color: #947B4B;
        }
    }

    .about_commitment_box-des {
        max-width: 818px;

        .sm-title {
            font-weight: bold;
            font-size: 1.125rem;
            line-height: 2;
            color: #947B4B;
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
            font-size: 1rem;
            line-height: 2;
            margin-bottom: 50px;
        }

        ul {
            margin-bottom: 80px;
            justify-content: center;

            li {
                border: 2px solid #947B4B;
                color: #947B4B;
                border-radius: 50%;
                height: 150px;
                width: 150px;
                margin-right: 20px;
                padding: 47px 33px;
                position: relative;
                margin-bottom: 10px;

                &:last-child {
                    margin-right: 0;
                }

                p {
                    position: absolute;
                    font-size: 1.25rem;
                    font-weight: bold;
                    line-height: 1.40;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin-bottom: 0;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    @media (max-width: 991px) {
          margin-bottom: 80px;
        .about_commitment_box{
            margin-bottom:60px;
        }
        h4 {
            font-size: 1.125rem;
            margin-bottom: 30px;
        }
        .about_commitment_box-img {
            margin-left: 20px;
        }
        .about_commitment_box-des {
            .sm-title {
                font-size: 0.875rem;
            }

            p {
                font-size: 0.875rem;
                margin-bottom: 30px;
            }

            ul {
                margin-bottom: 30px;

                li {
                    height: 75px;
                    width: 75px;

                    padding: 11px 5px;
                    margin-right: 10px;

                    p {
                        font-size: 0.625rem;

                        span {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}

/* End About Serice */