/*collapse*/
.collapse_group {
    margin-bottom: 80px;

    .collapse_btn {
        display: none;
        width: 100%;
        max-width: 335px;
        margin: 0 auto;
        margin-bottom: 5px;

        button {
            font-weight: 600;
            font-size: 0.75rem;
            letter-spacing: 0.05em;
            color: $cl-black;
            width: 100%;
            height: 40px;
            background: transparent;
            padding: 0 15px;
            text-align: left;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                right: 19.5px;
                border-left: 2px solid #000000;
            }

            i {
                float: right;
                position: relative;
                left: 11.5px;
                top: 3px;
            }
        }
    }

    ul {
        justify-content: center;
        li {
            max-width: 295px;
            width: 100%;
            padding: 0 9.5px;
            margin-bottom:10px;
        }
    }

    @media (max-width: 991px) {
        margin-bottom: 10px;

        .collapse_btn {
            display: block;
        }

        .collapse_ct {
            position: absolute;
            z-index: 9999;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            padding-right: 20px;
            padding-left: 20px;
        }

        ul {
            display: block;
            background: $cl-white;
            max-width: 335px;
            margin: 0 auto;
            li {
                max-width: 335px;
                margin-bottom: 5px;
                padding: 0;
                a{
                    border-left: 1px solid #000000;
                }
            }
        }
    }
}

/* Icons Add 22-02-2021 */
.i-building {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/building.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-building-radar {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/building-radar.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-dog {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/dog.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-gift {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/gift.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-health {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/health.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-metro {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/metro.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-missing {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/missing.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-office {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/office.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-officer {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/officer.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-one-r {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/one-r.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 28px;
        top: 0.4em;
        left: 0;
    }
}

.i-repair {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/repair.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-teach {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/teach.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-walking {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/walking.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-warm {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/warm.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}
/* End add 22-03-2021 */

.i-home {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/home.svg');
        background-repeat: no-repeat;
        height: 17px;
        width: 15px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

.i-email {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/mail.svg');
        background-repeat: no-repeat;
        height: 13px;
        width: 18px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

.i-sun {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/sun.svg');
        background-repeat: no-repeat;
        height: 20px;
        width: 20px;
        top: 0.4em;
        left: 0;
    }
}

.i-call {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/call.svg');
        background-repeat: no-repeat;
        height: 17px;
        width: 25px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

.i-close {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/close.svg');
        background-repeat: no-repeat;
        height: 9px;
        width: 9px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

.i-open {
    position: relative;
    &:before {
        content: '';
        position: absolute;
        background: url('../images/icons/open.svg');
        background-repeat: no-repeat;
        height: 9px;
        width: 9px;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }
}

/*Breadcrumb*/
.breadcrumb {
    ul {
        padding: 32px 0;

        li {
            font-family: 'Noto Sans JP';
            font-weight: 300;
            font-size: 0.75rem;
            line-height: 17px;
            letter-spacing: 0.05em;
            padding-right: 15px;
            position: relative;

            &:before {
                content: '';
                background: $breadcrumb-cl-gray-medium;
                right: 7px;
                position: absolute;
                top: 50%;
                width: 1px;
                height: 17px;
                transform: translateY(-50%) rotate(10deg);
            }

            a {
                color: $breadcrumb-cl-gray-medium;
            }

            span {
                color: $breadcrumb-cl-black;
            }

            &.active {
                &:before {
                    width: 0;
                }
            }
        }
    }
}


.i-arrow-disabilities {
    position: absolute;
    width: 40px;
    height: 8px;
    top: 9px;
    right: 0;

    &:before {
        content: '';
        background: $product-item-cl-black;
        position: absolute;
        width: 40px;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        height: 1px;
    }

    &:after {
        content: '';
        background: $product-item-cl-black;
        position: absolute;
        width: 10px;
        top: 1px;
        transform: rotate(30deg);
        right: 0;
        height: 1px;
    }

    @media (max-width: 375px) {
        &:before {
            width: 20px;
        }

        &:after {
            width: 8px;
        }
    }
}

/*Title*/
.ct-page{
    h1{
        font-size:3.5rem;
        color:#777777;
        text-align: center;
        font-weight:600px;
        line-height:1.2;
        margin-top: 20px;
        span{
            margin: 14px 0 10px 0;
            font-size: 1.125rem;
            font-weight:normal;
            color:$cl-black;
            line-height: 1.2;
        }
    }
    .line{
        width: 247px;
        height: 6px;
        margin: 0 auto 60px auto;
        background-color: #fff;
        margin-bottom: 45px;
    }
}

h2 {
    font-weight: 600;
    font-size: 1.875rem;
    line-height: 36px;
    color: #000000;

    @media(max-width: 768px) {
        font-size: 1.5rem;
    }
}

.sm-title {
    h3 {
        padding-top: 52px;
        font-weight: 600;
        font-size: 1.5rem;
        line-height: 29px;
        letter-spacing: 0.05em;
        color: $cl-white;
    }

    @media(max-width: 767px) {
        h3 {
            padding-top: 25px;
        }
    }
}




/*Layout*/
img {
    max-width: 100%;
    height: auto;
}

/*Button*/
.btn-white {
    border: 2px solid $cl-white;
    color: $cl-white;

    &:hover {
        color: $cl-white;
    }

    .btn-line {
        &:before {
            background: $cl-white;
        }
    }
}

.btn-black {
    border: 2px solid $cl-black;
    color: $cl-black;

    &:hover {
        color: $cl-black;
    }

    .btn-line {
        &:before {
            background: $cl-black;
        }
    }

}

.btn-mansion {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 0;
    background: transparent;

    .btn-line {
        position: absolute;
        overflow: hidden;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        width: 40px;
        height: 1px;

        &:before {
            content: '';
            position: absolute;
            width: 40px;
            height: 1px;
            right: 0;
            top: 0;
        }

    }

    &.active {
        border: 2px solid;
        border-image-slice: 2;
        border-width: 2px;
        color:$cl-green ;
        background: -webkit-linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        border-image-source: linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
        display: inline-block;
        line-height: 1.6;
        .btn-line {  
            &:before {
                background:linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
            }
        }
    }

    &:hover {
        .btn-line {
            &:before {
                right: 100%;
                animation: btn-line 1.2s cubic-bezier(.6, 0, .2, 1) infinite 0s;
                animation-fill-mode: both;
            }
        }
    }
}

.btn-sm-mansion {
    font-weight: 500;
    font-size: 1rem;
    line-height: 19px;
    letter-spacing: 0.1em;
    max-width: 295px;
    height: 40px;
}

.btn-lg-mansion {
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 17px;
    letter-spacing: 0.1em;
    max-width: 300px;
    height: 60px;
}

@keyframes btn-line {
    0% {
        right: 100%
    }

    100% {
        right: 0;
    }
}

.btn-contact {
    width: 100%;
    max-width: 240px;
    font-weight: 600;
    font-size: 1rem;
    color: $cl-white;
    border-radius: 0;
    margin-right: 20px;
    height: 59px;
    display: flex;
    align-items: center;
    justify-content: center;

    span{
        display: flex;
        padding-left: 30px;
        height: 1em;
        display: flex;
        align-items: center;
    }
    &:hover {
        color: $cl-white;
    }
    @media (max-width: 767px){
        margin-right:10px;
        font-size: 0.875rem;
        height:37px;
        margin-top: 10px;
    }
}

/* Product Item */
.products {
    padding-left: 7%;

    @media (max-width: 375px) {
        padding-left: 20px;
    }
}

.product-items {
    position: relative;
    padding-top: 6px;
    // margin-right: 25px;
    max-width: 370px;

    .item-flash {
        position: absolute;
        top: -6px;
        right: -5px;
        margin-bottom: 0;
        z-index: 1;
        padding: 11px 6px;
        text-align: center;
        width: 100%;
        max-width:60px;
        span {
            display: block;
            font-weight: bold;
            font-size: 0.75rem;
            line-height: 160%;
            color: $product-item-cl-white;
        }

        @media (max-width: 375px) {
            font-size: 0.625rem;
        }
    }

    .product-items_img {
        position: relative;
        box-shadow: 0px 20px 50px $cl-shadow-black-25;
        max-width: 370px;
        margin: 0 auto;
        max-height: 250px;
        //overflow: hidden;
        @media (max-width: 375px) {
            box-shadow: 20px 20px 30px $cl-shadow-black-25;
        }
    }


    .item-price {
        position: absolute;
        bottom: 0;
        left: 0;
        background: $product-item-cl-black;
        color: $product-item-cl-white;
        font-weight: 500;
        font-size: 1.4375rem;
        line-height: 29px;
        padding: 5px 15px;

        .item-unit {
            font-weight: 500;
            font-size: 0.875rem;
            line-height: 17px;
        }

        @media (max-width: 375px) {
            font-size: 1.125rem;

            .item-unit {
                font-size: 0.625rem;
            }
        }
    }




    h3 {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 24px;
        color: $product-item-cl-black;
        margin-top: 30px;
        position: relative;
        padding-right: 50px;
        margin-bottom: 15px;

        @media (max-width: 375px) {
            font-size: 1.125rem;
            padding-right: 30px;
        }
    }

    

    .sdk-size {
        font-style: normal;
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 17px;
        color: $product-item-cl-black;
        margin-bottom: 10px;
    }

    .des {
        font-weight: 300;
        font-size: 0.875rem;
        line-height: 160%;
        color: $product-item-cl-black;
    }

    .product-items_utilities {
        ul {
            li {
                padding: 0 10px;
                border: 1px solid $product-item-cl-gray-white;
                border-radius: 2px;
                margin-right: 5px;
                margin-bottom: 10px;

                span {
                    padding-left: 30px;
                    font-weight: 500;
                    font-size: 0.75rem;
                    color: $product-item-cl-black;
                    height: 30px;
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

/* Promotion Item */
.promotion {
    .row {
        margin-bottom: 50px;
    }

    .col-md-6:nth-child(odd) {
        padding-right: 50px;
    }

    .col-md-6:nth-child(even) {
        padding-left: 50px;
    }

    @media(max-width: 767px) {
        .col-md-6:nth-child(odd) {
            padding-right: 20px;
            padding-left: 20px;
        }

        .col-md-6:nth-child(even) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }
}

.promotion-item {
    .promotion-item_img {
        max-width: 570px;
        box-shadow: 0px 20px 50px $cl-shadow-black-25;
        margin-bottom: 30px;
    }

    .promotion-item_cat {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 14px;
        letter-spacing: 0.05em;
        color: $promotion-cl-white;
        margin-bottom: 15px;
    }

    .promotion-item_title {
        position: relative;
        height: 56px;
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 140%;
        letter-spacing: 0.02em;
        color: $promotion-cl-white;
        margin-bottom: 30px;
        padding-right: 50px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        span {
            display: block;
        }

        &:before {
            content: '';
            position: absolute;
            right: 0px;
            top: 12px;
            background: $promotion-cl-white;
            width: 40px;
            height: 1px;
        }

        &:after {
            content: '';
            position: absolute;
            right: 0px;
            width: 8px;
            height: 1px;
            top: 10px;
            background: $promotion-cl-white;
            transform: rotate(30deg);
        }

        @media(max-width: 767px) {
            margin-bottom: 25px;
            font-size: 1.125rem;
            height: auto;

            &:before {
                right: 10px;
            }

            &:after {
                right: 10px;
            }
        }
    }

    .promotion-item_des {
        font-size: 0.875rem;
        color: $promotion-cl-white;
        @media(max-width: 767px) {
            padding-right: 25px;
            margin-bottom: 40px;
        }
    }
}


.promotion-video{
    .promotion-item_des {
        font-size: 0.875rem;
        color: $promotion-cl-white;
        margin-top: 10px;
        @media(max-width: 767px) {
            padding-right: 25px;
            margin-bottom: 40px;

        }
    }
}

/* News Item */
.news-group {

    .col-md-6:nth-child(3n+2) {
        .news-item {
            margin: 0 auto;
        }
    }

    .col-md-6:nth-child(3n) {
        .news-item {
            margin-left: auto;
            margin-right: 0;
        }
    }

    .news-item {
        margin-bottom: 60px;
    }

    @media (max-width: 991px) {
        .col-md-6:nth-child(3n+2) {
            .news-item {
                margin: initial;
            }
        }

        .col-md-6:nth-child(3n) {
            .news-item {
                margin-left: initial;
                margin-right: initial;
            }
        }

        .col-md-6:nth-child(2n+2) {
            .news-item {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    @media (max-width: 767px) {
        .col-md-6 {
            .news-item {
                margin-left: auto !important;
                margin-right: auto !important;
                margin-bottom: 40px !important;
            }
        }
    }
}

.news-item {
    max-width: 370px;

    .news-item_img {
        box-shadow: 0px 20px 50px $cl-shadow-black-25;
        margin-bottom: 30px;
    }

    .news-item_cat {
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 14px;
        letter-spacing: 0.05em;
        color: $cl-black;
        margin-bottom: 15px;
    }

    .news-item_title {
        font-weight: 600;
        font-size: 1.25rem;
        line-height: 24px;
        color: $cl-black;
        margin-bottom: 15px;
        padding-right: 40px;

        span {
            display: block;
        }
    }

    .news-item_des {
        font-weight: normal;
        font-size: 0.875rem;
        line-height: 17px;
        color: $cl-black;
        text-align: justify;
    }

    @media(max-width: 767px) {
        .news-item_title {
            font-size: 1.125rem;
        }
    }
}

.i-arrows {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        right: 0;
        top: 10px;
        background: $news-cl-black;
        width: 40px;
        height: 1px;
    }

    &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 8px;
        height: 1px;
        top: 8px;
        background: $news-cl-black;
        transform: rotate(30deg);
    }
}

/*Position*/
.fixed-block-bottom{
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    background:#fff;
    z-index: 9999999;
}


/* Width And Height*/
.mr-last-to-md-0{
    @media (max-width: 767px){
        margin-right:0;
    }  
}

.w-to-md-100{
    @media (max-width: 767px){
        max-width:100%;
    }
}

.max-w-100 {
    max-width: 100%;
}



/*Contact*/
.contact{
    display: flex;
    justify-content:center;
    margin: 10px 0;
    a{
        span{
            &.i-call{
                padding-left:39px;
                @media(max-width:768px){
                    padding-left:30px;
                }
            }
        }
    }
    @media(max-width:374px){
        display:block;
        margin:0 auto;
        max-width: 240px;
        a{
            margin-bottom:10px;
        }
    }
}

/*Background Gradient*/
.bg-gradient-green-turquoise {
    background: linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
}

.bg-gradient-orange {
    background: linear-gradient(135deg, #FF8642 0%, #FA1165 100%);
}

.bg-gradient-ovlarticle{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    background: linear-gradient(to bottom,rgba(255,255,255,0) 0,rgba(255,255,255,.8) 85%,rgba(255,255,255,1) 100%);
}


