.none_splide {
	padding-left: 14.25%;
	position: relative;
}
.section_contact_page {
	background: #F2F2F2;
	padding: 80px 0 100px;
	.box_contact {
		background: #fff;
		border-radius: 10px;
		padding: 60px 100px;
	}
	.box_contact_top {
		border: 1px solid #BDBDBD;
		border-radius: 5px;
		padding: 25px;
		margin-bottom: 75px;
		p {
			margin-bottom: 0;
			font-size: 1.5em;
			text-align: right;
			font-weight: 600;
			border-top: 1px solid rgba(16,39,70, .2);
			padding-top: 10px;
			margin-top: 10px;
			span {
				font-size: 0.75em;
			}
		}
		.top_contact_img {
			width: 100%;
			height: 179px;
			overflow: hidden;
			border-radius: 3px;
			img {
				width: 100%;
				height: 179px;
				object-fit: cover;
			}
		}
		.box_top_contact_content {
			padding-left: 20px;
			h3 {
				font-size: 1.5em;
				margin-bottom: 20px;
				margin-top: 10px;
			}
			.table {
				th,td {
					padding: 5px;
					border: none;
					font-size: 0.875em;
				}
			}
		}
	}
	.box_body_contact {
		font-size: 0.875em;
		.title {
			text-align: center;
			margin-bottom: 60px;
		}
		.frm_contact {
			label {
				margin-bottom: 0;
				font-weight: 600;
				&.custom-control-label {
					font-weight: 300;
					line-height: 1.8em;
				}
			}
			.mustbe {
				display: inline-block;
				padding: 5px 15px;
				color: #fff;
				font-size: 0.75em;
			}
			.btnzipcode {
				font-size: 1em;
				color: $cl-green;
				font-weight: 500;
    			font-weight: 500;
    			opacity: 1;
    			padding-left: 0;
				i {
					position: relative;
					top: -2px;
				}
			}
		}
		.form-group {
			margin-bottom: 40px;
		}
		.form-control {
			height: calc(1.5em + .75rem + 4px);
			&:focus {
				box-shadow: 0 0 0 0.2rem #4caf5061;
			}

		}
		textarea {
			&.form-control {
				height: 140px;
				margin-bottom: 40px;
				margin-top: 15px;
			}
		}
		.custom-select {
			background: #fff url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 20' style='enable-background:new 0 0 20 20;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:url(%23SVGID_1_);%7d .st1%7bfill:none;stroke:%23FFFFFF;stroke-width:1.4;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3clinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='0' y1='10' x2='20' y2='10'%3e%3cstop offset='0' style='stop-color:%231EC656'/%3e%3cstop offset='1' style='stop-color:%231BADA9'/%3e%3c/linearGradient%3e%3ccircle class='st0' cx='10' cy='10' r='10'/%3e%3cpath class='st1' d='M5.3,8.2l4.7,4.7l4.7-4.7'/%3e%3c/svg%3e ") no-repeat right .75rem center/20px 20px;
		}
		.btn-mansion {
			&.btn_confirm {
				background: linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
				max-width: 398px;
				font-size: 1.3em;
				font-weight: 500;
				&.btn-black {
					border: none;
					color: #fff;
					.btn-line {
						&::before {
							background: #fff;
						}
					}
				}
			}
			&.btn_back, &.btn_send {
				background: #D8D8D8;
				color: #fff;
				max-width: 295px;
				border-radius: 0;
				display: inline-flex;
				margin-right: 22px;
				font-size: 1.3em;
				font-weight: 500;
				
			}
			&.btn_send {
				background: linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
				margin-right: 0;
			}
			
		}
		.link_policy {
			text-decoration: underline;
			font-weight: 500;
			color: #2F80ED;
		}
		
	}
}
.custom-control-input:focus~.custom-control-label::before {
	box-shadow: none;
}
.custom-control-input:checked~.custom-control-label::before {
	background: #fff;
	border-color: #828282;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 12 12' style='enable-background:new 0 0 12 12;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:url(%23SVGID_1_);%7d %3c/style%3e%3clinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='0' y1='6' x2='12' y2='6'%3e%3cstop offset='0' style='stop-color:%231EC656'/%3e%3cstop offset='1' style='stop-color:%231BADA9'/%3e%3c/linearGradient%3e%3ccircle class='st0' cx='6' cy='6' r='6'/%3e%3c/svg%3e");
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
	background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 25.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 8 8' style='enable-background:new 0 0 8 8;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:url(%23SVGID_1_);%7d %3c/style%3e%3clinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='0' y1='4' x2='8' y2='4'%3e%3cstop offset='0' style='stop-color:%231EC656'/%3e%3cstop offset='1' style='stop-color:%231BADA9'/%3e%3c/linearGradient%3e%3cpath class='st0' d='M6.6,0.8L3,4.4L1.4,2.8L0,4.3l3,3l5-5.1L6.6,0.8z'/%3e%3c/svg%3e ");
}

.box_completed {
	text-align: center;
	border-radius: 10px;
	background: #fff;
	padding: 60px 130px;
	h2 {
		font-size: 1.5em;
		padding-bottom: 30px;
		border-bottom: 1px solid rgba(16,39,70, .2);
		margin-bottom: 30px;
	}
	p, small {
		font-weight: 300;

	h2 {
		font-size: 1.5em;
	    padding-bottom: 30px;
	    border-bottom: 1px solid rgba(16, 39, 70, 0.2);
	    margin-bottom: 30px;
	}
	.btn_back {
		background: linear-gradient(135deg, $cl-green 0%, $cl-turquoise 100%);
		font-size: 1.125em;
		font-weight: 500;
		color: #fff;
		margin-top: 40px;
	}
	 p, small {
	    font-weight: 300;
	}
}

@media (max-width: 768px) {
	.section_contact_page {
		background: #fff;
		padding: 30px 0;
		.box_contact {
			padding: 0;
		}
		.box_body_contact {
			.frm_contact {
				label {
					margin-bottom: 10px;
				}
				.mustbe {
					position: relative;
					top: -2px;
					margin-left: 5px;
				}
				&.frm_comfirm {
					p {
						margin-bottom: 0;
					}
				}
			}
			.btn-mansion {
				&.btn_back, &.btn_send {
					max-width: 155px;
				}
			}
		}

	}
	.box_completed {
		padding: 30px 0;
}

@media (max-width: 320px) {
	.section_contact_page .box_body_contact .btn-mansion.btn_back, .section_contact_page .box_body_contact .btn-mansion.btn_send {
	    max-width: 125px;
	}
}