
$cl-black: #000000;
$cl-white: #ffffff;
$cl-green:  #1EC656;
$cl-turquoise: #1BADA9;
$cl-black-light: #333333;
$cl-gray-light:#F3F3F3;
$cl-shadow-black-25: rgba(0, 0, 0, 0.25);
$cl-gray-medium:#828282;
$cl-gray-white: #E0E0E0;
$cl-gray-dark: #B3B3B3;
$cl-gray-light-white-1:#EEEEEE;

//Product items
$product-item-cl-gray-white: #E0E0E0;
$product-item-cl-white: #ffffff;
$product-item-cl-black: #000000;

//Navigation
$nav-cl-black-light: #333333;
$nav-cl-black-light-25: rgba(51, 51, 51,0.5);

// Promotion item
$promotion-cl-white:#ffffff;

//News item
$news-cl-black:#000000;

//Breadcrumb
$breadcrumb-cl-gray-medium:#828282;
$breadcrumb-cl-black:#000000;

//Detail
$detail-cl-white:#ffffff;
$detail-cl-black:#000000;
$detail-black-light:#333333;
$detail-gray-white:#F2F2F2;
$detail-gray-light:#e0e0e0;