@import 'variables';

//----------------------------------------------//
// *Response Font Size                          //
//----------------------------------------------//
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
    }
}


@media (max-width: 1130px) {

    /* Footer */
    footer {

        ul.nav {
            display: block;

            li {
                a.nav-link {}
            }
        }

        .footer-top {
            &:before {
                right: 0;
            }

            ul {
                li {
                    padding: 10px 0px;
                }
            }
        }

        .footer-bottom {

            .navbar {
                display: block;
            }

            .navbar-brand {
                display: flex;
                justify-content: center;
            }

            .footer-bottom_list {
                justify-content: center;
            }

            ul {
                li {
                    padding: 10px 0;
                }
            }
        }
    }
}



@media (max-width:991px) {

    /* Navigation */
    .nav_menu {
        padding: 15px 20px;

        .nav_menu-list{
            position:fixed;
            top:0;
            right:0;
            
            transition: all .4s cubic-bezier(.19,1,.22,1);

            
            
            height: 100%;
            width: 100%;
            max-width:300px;

            background: $nav-cl-black-light;
            z-index:999999;
        }
        ul {
            li {
                a {
                    padding: 10px 0;
                }
            }
        }


    }

   
}




@media (max-width: 767px){
    /* Top Page  */
    .top-page_lists {
        h2{
            font-size: 1.5rem;
            padding-top:60px;
            margin-bottom: 30px;
        }
    }

    /* SlideShow */
    .g-slideshow {
        .slideshow-text {
            h2 {
                @include fluid-font-size(376px, 767px, 40px, 110px);
            }
        }
    }

}



@media (max-width: 375px){
    /* Top Page  */
    .top-page_lists {
        &:before{
            left:30px;
        }
    }

}



