@import 'variables';

//----------------------------------------------//
// *Response Font Size                          //
//----------------------------------------------//
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);

    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
    }
}

@media(max-width:1270px) {
    .section-slideshow-details {
        .sm-title {
            width: calc(100% - 12.5%);
        }
    }
}

@media (min-width: 1440px) {

    /* Top Page Content  */
    .section-top-page-content {
        .promotion {
            .col-md-6:nth-child(even) {
                .promotion-item {
                    .promotion-item_title {
                        width: calc(100% - 11.9%);
                    }

                    .promotion-item_des {
                        width: calc(100% - 11.9%);
                    }
                }
            }
        }
    }
}



@media (max-width: 1199px) {

    /* Footer */
    footer {

        ul.nav {
            display: block;

            li {
                a.nav-link {}
            }
        }

        .footer-top {
            &:before {
                right: 40px;
            }

            ul {
                padding: 22px 0;

                li {
                    padding: 0;

                    a {
                        text-align: left;
                        font-size: 0.75rem;
                        padding: 10px 0;
                    }
                }
            }
        }

        .footer-bottom {
            padding-top: 10px;

            &:before {
                top: -91px;
            }

            .navbar {
                display: block;
                padding: 0;
            }

            .navbar-brand {
                max-width: 124px;
                margin-bottom: 15px;
            }

            .footer-bottom_list {
                justify-content: start;
                width: 100%;
            }

            ul {
                li {
                    padding: 0;

                    a {
                        text-align: left;
                        font-size: 0.5625rem;
                        padding: 5px 0;
                        font-weight: 500;
                    }
                }
            }

            .copyright {
                p {
                    text-align: right;
                    padding: 25px 0 30px;
                    font-size: 0.625rem;
                }
            }
        }
    }
}



@media (max-width:991px) {

    /* Navigation */
    .nav_menu {
        padding: 15px 20px;

        .nav_menu-list {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            max-width: 300px;
            background: $nav-cl-black-light;
            transition: all .4s cubic-bezier(.19, 1, .22, 1);
            transition-timing-function: cubic-bezier(.19, 1, .22, 1);
            transform: translateX(0);
            opacity: 1;
            overflow-y: auto;
            z-index: 999999;
        }

        .navbar-expand-lg {
            ul.navbar-nav {
                padding-top: 60px;
                padding-left: 30px;

                li {
                    a {
                        padding: 17px 0;
                        margin-bottom: 10px;
                        text-align: left;
                        font-weight: 600;
                        font-size: 1rem;
                        letter-spacing: 0.05em;
                        color: $cl-white;
                    }
                }
            }
        }
    }

    //Scroll Through Menu
    .menu-animation-scroll {
        animation-name: top-to-bottom;
        animation-duration: 1s;
    }

    header.menu-animation-scroll {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 100%;
        z-index: 9999;
    }

    // Menu Open
    .menu-opened {
        overflow: hidden;

        .navbar-brand {
            display: none;
        }

        .nav_menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $nav-cl-black-light-25;
            z-index: 999999;

            button {
                top: 0;
                right: 0;
                background: $cl-white;
                border-radius: 0;
                position: absolute;
                z-index: 9999999;
            }
        }
    }

    .menu-opening {
        .nav_menu-list {
            animation: drawer-open .8s cubic-bezier(.19, 1, .22, 1) 0s;
            animation-fill-mode: both;
        }
    }

    .menu-closing {
        .nav_menu-list {
            animation: drawer-close .8s cubic-bezier(.165, .84, .44, 1) 0s;
            animation-fill-mode: both;
        }
    }

    /*Owned Property Page*/
    .owned-property_product {
        .col-md-6:nth-child(3n+2) {
            .product-items {
                margin: initial;
            }
        }

        .col-md-6:nth-child(3n) {
            .product-items {
                margin-left: initial;
                margin-right: initial;
            }
        }

        .col-md-6:nth-child(2n+2) {
            .product-items {
                margin-left: auto;
                margin-right: 0;
            }
        }
    }

    /*Detail Page*/
    .section-slideshow-details {
        .product-items {
            padding-top: unset;
        }

        .sm-title {
            width: calc(100% - 7.5%);

            h3 {
                display: inline-block;
            }
        }

        .contact-info {
            float: unset;
            justify-content: unset;
            width: 100%;

            .contact-info_home,
            .contact-info_email {
                font-weight: 600;
                font-size: 1rem;
                letter-spacing: 0.1em;
                color: $detail-cl-white;

                i {
                    margin-right: 30px;
                }
            }

            .contact-info_home {
                max-width: 206px;
                margin-right: 0;

                i {
                    top: 5.5px;
                }
            }

            .contact-info_email {
                max-width: 157px;
                margin-right: 10px;

                i {
                    top: 6.5px;
                }
            }
        }
    }

    /* Box Table */
    .detail-utilities_overview {
        background: $cl-gray-dark;
        padding-left: 0;
        border-left: 1px solid #EEEEEE;
        border-right: 1px solid #EEEEEE;

        .box {
            display: inline-block;
            border-bottom: 1px solid $cl-gray-light-white-1;
        }

        .box-full {
            width: 100%;
        }

        .box-half-lg {
            width: 100%;
        }

        span {
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 6px 20px;
            font-size: 0.75rem;
        }

        span.title {
            max-width: 135px;
        }
    }


}




@media (max-width: 767px) {

    //Navigation
    .nav_menu {
        .navbar-brand {
            max-width: 125px;
        }
    }

    /* SlideShow */
    .g-slideshow {
        padding-bottom: 40px;

        &:before {
            height: unset;
        }

        .splide {
            .splide-item {
                padding-top: 94.2%;
            }
        }

        .slideshow-text {
            bottom: 20px;

            h2 {
                @include fluid-font-size(375px, 767px, 48px, 110px);
            }

            .img-txt {}
        }
    }

    /* Top Page  */
    .lists-bg-gray {
        margin-bottom: 80px;

        h2 {
            font-size: 1.5rem;
            padding-top: 60px;
            margin-bottom: 30px;

            span {
                display: block;
            }
        }
    }

    .news-box {
        .news-box_list {
            padding: 82px 0;

            h2 {
                text-align: center;
                margin-bottom: 40px;
            }

            table {
                tr {
                    td {
                        padding: 30px 10px;
                        border-top: none;
                        border-bottom: 1px solid $cl-gray-white;
                    }
                }
            }

            .newx-box_item {
                h4 {
                    span {
                        right: -10px;
                    }
                }

                p {
                    span {
                        right: -10px;
                    }
                }
            }
        }
    }

    .section-top-page-content {

        .g-slideshow {
            &:before {
                right: 30px;
            }
        }

        .top-page-content_des {
            padding: 0 30px;

            h3 {
                font-size: 1.125rem;
            }
        }

        .top-page-content_promotion {
            margin-bottom: 60px;
        }
    }

    .section-top-page-services {
        .news-item {
            padding-right: 50%;
            margin-bottom: 40px;
            position: relative;
            min-height: 108px;
            max-width: 100%;
        }

        .news-item_ct {
            position: absolute;
            top: 0;
            right: 0;
            left: 50%;
            margin-left: 7px;
        }

        .news-item_img {
            margin-right: 7px;

        }

        .news-item_cat {
            margin-bottom: 10px;
        }

        .news-item_title {
            font-size: 1.125rem;
            padding-right: 25px;
            margin-bottom: 5px;
        }

        .news-item_des {
            padding-right: 25px;
        }

        .i-arrows {
            &:before {
                width: 20px;
                top: 24px;
            }

            &:after {
                top: 22px;
            }
        }

        .news-item_des {
            font-size: 0.75rem;
        }
    }


    /*Owned Property Page*/
    .owned-property_product {
        .col-md-6 {
            .product-items {
                margin-left: auto !important;
                margin-right: auto !important;
                margin-bottom: 40px !important;
            }
        }
    }

    /*About Service*/
    .section-about {
        h2 {
            text-align: center;
            margin-bottom: 44px;
        }

        .title-des {
            font-size: 1rem;
            margin-bottom: 60px;

            span {
                display: block;
            }
        }

        .news-item {
            .news-item_title {
                padding-right: 0;
            }
        }

        .note {
            font-weight: 300;
            font-size: 0.75rem;
            line-height: 200%;
            color: $cl-black;
            text-align: center;
        }
    }

    .about {
        margin-bottom: 80px;

        &:last-child {
            margin-bottom: 140px;
        }

        p {
            font-size: 0.75rem;
        }

        h3 {
            font-size: 1.125rem;

            span {
                display: block;
            }
        }
    }

    .about_planning {
        margin-bottom: 140px;

        &:before {
            top: -60px;
            bottom: 8.6%;
            left: 30px;
        }


    }

    .about_kitchin {
        margin-bottom: 80px;

        &:before {
            top: -60px;
            left: 30px;
            right: 0;
            bottom: 30%;
        }
    }

    .about_comforts {
        margin-bottom: 80px;

        &:before {
            top: 27%;
            bottom: 16%;
            left: 30px;
        }
    }


    .about_commitment {
        margin-bottom: 87px;
    }

    // About US
    #gtx-trans {
        bottom: 40px;
        top: unset;
        height: 15px;
        width: 15px;
        left: -16px;
    }

    .about-us {
        h1 {
            font-size: 2rem;

            span {
                font-size: 1rem;
            }
        }

        .line {
            height: 3px;
            margin-bottom: 20px;
        }
    }

    .about-us_table {
        table {
            tr {

                th,
                td {
                    font-size: 0.875rem;
                }
            }
        }
    }

    /* Detail Page */
    .detail_title {
        font-size: 1rem;

        span {
            display: block;
        }
    }

    .detail-group {
        padding-right: 0;
        padding-left: 0;
    }

    .detail-utilities_advantages {
        ul {
            li {
                font-size: 0.875rem;
            }
        }
    }

    .detail_slider {
        margin-bottom: 20px;

        .detail_primary_splide-slider {
            .splide__arrow {}

            .splide__arrow--prev {}

            .splide__arrow--next {}

            .splide__track {}
        }

        .details_slide-txt {
            margin: 20px 0;

            p {

                font-size: 0.875rem;
                text-align: center;
                color: $detail-black-light;
                margin-bottom: 0;

            }
        }

        .detail_splide-slider {
            max-width: 334px;
            margin: 0 auto;

            .splide__slide {
                display: inline-block;
                margin-bottom: 10px;
            }

            .splide__slide.is-active {
                border: none;
            }

            .splide__list {
                display: block;
                max-width: 100%;
            }
        }
    }

    .detail-utilities_info {

        table {


            td {
                .item-price {
                    font-size: 1.5rem;
                }

                .item-unit {
                    font-size: 0.875rem;
                }

            }

            th {
                font-size: 0.875rem;
                width: 100px;
                padding: 12.5px 15px;
            }

            tr:last-child {
                td {
                    padding: 0;
                }
            }
        }
    }

    .section-detail-contact {
        margin: 15px 0;
    }

    .details-contact {
        padding: 10px 0;
    }

    //Policy Page
    .policy-page {
        clear: both;
        margin: 0 0 30px 0;
        .policy h1 {
            font-size: 2rem;
            span{
                font-size:0.6875rem;
            }
        }
    }

    .policy-ct {
        text-align: justify;
        max-width: 880px;
        width: 100%;
        margin: 0 auto;
        font-size: 0.6875rem;
    }

}

@media (max-width: 425px) {

    /* SlideShow */
    .g-slideshow {
        .slideshow-text {
            h2 {
                @include fluid-font-size(320px, 374px, 40px, 48px);
            }

            .img-txt {
                padding-right: 47% !important;
            }
        }
    }

    /*Top Page */
    .top-page-slideshow {
        .g-slideshow {
            .slideshow-text {
                .img-txt {
                    padding-right: 0 !important;
                }
            }
        }
    }
}

@media (max-width: 374px) {

    /* Top Page  */
    .top-page_lists {
        &:before {
            left: 30px;
        }
    }

    .news-box {
        .news-box_list {
            .newx-box_item {
                h4 {
                    padding-right: 25px;
                }

                p {
                    padding-right: 25px;
                }
            }
        }
    }

    /* SlideShow */
    .g-slideshow {
        .slideshow-text {
            h2 {
                @include fluid-font-size(320px, 374px, 40px, 48px);
            }
        }
    }

    /* Top Page Service */
    .section-top-page-services {
        .news-item {
            min-height: 135px;
        }
    }

    /* Top Page Service */
    .btn-detail-contact {}
}