@media (min-width: 1200px) {
	.news-lists .container {
    	width: 1170px;
	}
}


@media (max-width: 1366px) and (min-width: 812px){
	
}


@media (max-width: 1100px) {
	
}

@media screen and (max-width: 1024px) {
	.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style] {
    min-width: 100% !important; 
    width: 100% !important; 
    position: relative !important; 
    height: 100%;
	}
}

@media (max-width: 1024px) and (min-width: 320px){
	
	
}


@media (max-width: 992px) {
	
}

@media (max-width: 800px) {
	
}

@media (max-width: 768px) {


}

@media (min-width: 768px) {

}
@media (max-width: 736px) {

}

@media (max-width: 667px) {

}

@media screen and (max-width: 576px){

}

@media (max-width: 568px) {

}

@media screen and (max-width:420px){

}

@media (max-width: 414px) {

}

@media (max-width: 375px) {

}
@media (max-width: 320px) {

}



@media not all and (min-resolution:.001dpcm) {

}

@supports (-webkit-overflow-scrolling: touch) {

}

@supports not (-webkit-overflow-scrolling: touch) {

}

@media screen and (-webkit-min-device-pixel-ratio:0){

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}