<!doctype html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>リノベーションについて｜クロニクルプラス</title>
    <meta name="description" content="リノベーションって実際どうなの？という疑問への返答を、当社のログマンションをご購入いただいたお客様にご紹介いただいております。">
    <meta name="og:description" content="リノベーションって実際どうなの？という疑問への返答を、当社のログマンションをご購入いただいたお客様にご紹介いただいております。">
    <meta name="keywords" content="リノベーションについて, 天然無垢材, リノベーション, リフォーム, 中古マンション, 中古戸建, マンション, 不動産"><link rel="apple-touch-icon" sizes="180x180" href="../cache/images/icon/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../cache/images/icon/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../cache/images/icon/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../cache/images/icon/favicons/manifest.html">
    <link rel="mask-icon" href="../cache/images/icon/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/dist/css/bootstrap7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min7c50.css?_t=1541565603">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700?_t=1541565603" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/global-navi7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/owlcarousel/assets/owl.carousel.min7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/owlcarousel/assets/owl.theme.default.min7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/styles.css" type="text/css">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/mobile7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/common/css/styles_nicker7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/common/css/mobile_nicker7c50.css?_t=1541565603" type="text/css">

    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/templates.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../cache/common/js/jquery.mina9db.js?_=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/js/jquery.easing.1.37c50.js?_t=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/dist/js/bootstrap.min7c50.js?_t=1541565603"></script>
    <script src="../cache/owlcarousel/owl.carousel7c50.js?_t=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/js/jquery.matchHeight-min7c50.js?_t=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/js/jquery.datetimepicker.full.min7c50.js?_t=1541565603"></script>
    <script src="../cache/common/js/jquery.matchHeight-min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.pkgd.min.js"></script>

    <script src="../cache/assets/themes/my-bootstrap/js/functions7c50.js?_t=1541565603"></script>
    
    <link rel="stylesheet" href="../static/common/css/tablet7c50.css?_t=1541565603" type="text/css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M9S2NL');
    

    </script>
    <!-- End Google Tag Manager -->
    <style type="text/css">
    .bottom_searchCondition {
        display: none;
    }
    .slideImgSP {
        display: none !important;
    }
    @media (max-width: 768px) {
       .slideImgSP {
            display: block !important;
       }
       .slideImgPC {
            display: none !important;
       }
    }
    </style>
</head>

<body>
    <script type="text/javascript" src="../../../www.googleadservices.com/pagead/f.txt"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9S2NL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "../../../connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="page">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav role="navigation" class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="text_menu">メニュー</span>
                            </button>
                            <a href="../index.html" class="navbar-brand">Brand</a>
                        </div>
                        <!-- Collection of nav links and other content for toggling -->
                        <div id="navbarCollapse" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="../index.html#">
                                        <div>クロニクルプラスとは
                                            <p>ABOUT <span class="caret"></span></p>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../flow/index.html"><span class="text_inline">中古購入の流れ</span></a></li>
                                        <li><a href="../about/index.html"><span class="text_inline">リノベーションについて</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../event/index.html">
                                        <div>イベント・セミナー
                                            <p>EVENT</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div>お客様の声
                                            <p>VOICE</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="../vr/index.html">
                                        <div>体験！VR
                                            <p>Virtual Reality</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="../works/index.html">
                                        <div>リノベーション実例
                                            <p>WORKS</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="../package/index.html" target="_blank">
                                        <div>クロニクルパッケージ
                                            <p>PACKAGE</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <div class="text_top hidden-lg hidden-md hidden-sm hidden-xs">
                                <p class="f18">中古マンション・戸建探しのポータルサイト</p>
                                <p class="f12">クロニクルプラスは、全国主要都市に拡がる
                                    <br>総合不動産企業クロニクルが運営しています。
                                </p>
                            </div>
                            <a class="box_top hidden-lg hidden-md hidden-sm hidden-xs" href="../showroom/index.html">
                                                        <img src="../cache/images/img01.jpg" alt="" class="img-responsive">
                                                        <p class="f12 mt12">コンシェルジェが物件探しをお手伝い</p>
                                                        <p class="text_shadow f16">お近くのショールームはこちら</p>
                                                    </a>
                        </div>

                        <div class="navTEL">
                            
                            

                            
                            <a href="tel:0120-602-423"><img src="../cache/images/gnavi-freecall-tokyo.png" alt=""></a>
                        </div>
                    </nav>
                    </div>
                </div>
            </div>
        </header>

        <!-- <div class="header services hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list_services">
                            <li  class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <div>クロニクルプラスとは
                                    <p>ABOUT <span class="caret"></span></p></div>
                                </a>
                                 <ul class="dropdown-menu">
                                    <li><a href="../flow/index.html"><span class="text_inline">中古購入の流れ</span></a></li>
                                    <li><a href="../about/index.html"><span class="text_inline">リノベーションについて</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../event/index.html">
                                    <div>イベント・セミナー
                                    <p>EVENT</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <div>お客様の声
                                    <p>VOICE</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="../vr/index.html">
                                    <div>体験！VR
                                    <p>Virtual Reality</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="../works/index.html">
                                    <div>リノベーション実例
                                    <p>WORKS</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="../package/index.html" target="_blank">
                                    <div>クロニクルパッケージ
                                    <p>PACKAGE</p></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div> -->

        
<main>
    <section class="section_article">
        <div class="container">
            <div class="col-xs-12 col-sm-8">
                <h2>Title Lorem ipsum dolor sit amet</h2>
                <small class="date">2018/10/31</small>
                <img src="../static/images/slider01.jpg" alt="" class="img-responsive mb15">
                <p>Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne.</p>

                <p class="head_title">Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id</p>
                <h3>Lorem ipsum dolor sit amet, ne</h3>
                <p>Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne. Quot accusamus vim te, at vim ullum solet audiam, singulis comprehensam duo et. Sumo elit diceret his cu. No cum vidisse nonumes, ea ius decore dictas integre, nemore option democritum pri no. Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne. Quot accusamus vim te, at vim ullum solet audiam, singulis comprehensam duo et. Sumo elit diceret his cu. No cum vidisse</p>
                <img src="../static/images/arcticle01.jpg" alt="" class="img-resposive w100">
                
                <h3>Lorem ipsum dolor sit amet, ne</h3>
                <p>Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne. Quot accusamus vim te, at vim ullum solet audiam, singulis comprehensam duo et. Sumo elit diceret his cu. No cum vidisse nonumes, ea ius decore dictas integre, nemore option democritum pri no.</p>
                <p class="head_title">Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id</p>
                <h3>Lorem ipsum dolor sit amet, ne</h3>
                <p>Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne. Quot accusamus vim te, at vim ullum solet audiam, singulis comprehensam duo et. Sumo elit diceret his cu. No cum vidisse nonumes, ea ius decore dictas integre, nemore option democritum pri no.</p>

                <img src="../static/images/arcticle02.jpg" alt="" class="img-resposive w100">

                <h3>Lorem ipsum dolor sit amet, ne</h3>
                <p>Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne. Quot accusamus vim te, at vim ullum solet audiam, singulis comprehensam duo et. Sumo elit diceret his cu. No cum vidisse nonumes, ea ius decore dictas integre, nemore option democritum pri no.</p>
                <h3>Lorem ipsum dolor sit amet, ne</h3>
                <p>Lorem ipsum dolor sit amet, ne volutpat pertinacia duo, illum legere pro id, vel at natum nonumy deterruisset. Dicta deseruisse ea sed. Sensibus inciderint ei mel, vim aeterno forensibus ne. Quot accusamus vim te, at vim ullum solet audiam, singulis comprehensam duo et. Sumo elit diceret his cu. No cum vidisse nonumes, ea ius decore dictas integre, nemore option democritum pri no.</p>

                <div class="box_light">
                    <div class="row no-pad">
                        <div class="col-xs-12 col-sm-6">
                            <div class="box_light_content br0">
                                <div class="row">
                                    <div class="col-xs-4 col-sm-4">
                                        <a href="#"><img src="../static/images/img01.png" alt="" class="img-responsive"></a>
                                    </div>
                                    <div class="col-xs-8 col-sm-8">
                                        <h5><a href="#">前の記事</a></h5>
                                        <p><a href="#">天井は極張りにフ木に包まれた癒 Lの空間、りノベーション8事例</a> </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <div class="box_light_content">
                                <div class="row">
                                    <div class="col-xs-8 col-sm-8">
                                        <div class="text-right">
                                            <h5><a href="#">前の記事</a></h5>
                                            <p><a href="#">トッブインタビュー1Miele Japan／ミーレジ＋，にン」俊昌</a> </p>
                                        </div>
                                    </div>
                                    <div class="col-xs-4 col-sm-4">
                                        <a href="#"><img src="../static/images/img02.png" alt="" class="img-responsive"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-center w_btn">
                    <a href="#" class="btn btnYellow">button 1</a>
                    <a href="#" class="btn btnYellow">button 2</a>
                    <a href="#" class="btn btnYellow">button 3</a>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="side_right">
                    <h4>新着記事</h4>
                    <div class="box_new_arcticle">
                        <a href="#" class="article_items">
                            <article>
                                <div class="row no-pad">
                                    <div class="col-xs-3 col-sm-3">
                                        <div class="article_items_img">
                                            <img src="https://www.renovation-soup.com/wp/wp-content/uploads/2018/01/213_r_p_004s-700x514-140x140.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-9">
                                        <div class="article_items_content">
                                            <p>5分でわかる、長期優良住宅のメリットとデメリット</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <span class="label_sub">property</span>
                        </a>
                        <a href="#" class="article_items">
                            <article>
                                <div class="row no-pad">
                                    <div class="col-xs-3 col-sm-3">
                                        <div class="article_items_img">
                                            <img src="https://www.renovation-soup.com/wp/wp-content/uploads/2018/01/407ab_main1-700x514-140x140.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-9">
                                        <div class="article_items_content">
                                            <p>リノベーションのビフォーアフター事例集</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <span class="label_sub">renovation</span>
                        </a>
                        <a href="#" class="article_items">
                            <article>
                                <div class="row no-pad">
                                    <div class="col-xs-3 col-sm-3">
                                        <div class="article_items_img">
                                            <img src="https://www.renovation-soup.com/wp/wp-content/uploads/2018/01/roman_mains1-700x514-140x140.jpg" alt="" class="img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-9 col-sm-9">
                                        <div class="article_items_content">
                                            <p>大正ロマンなインテリアをつくる、4つのポイント</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <span class="label_sub">interior</span>
                        </a>
                        <a href="#" class="article_items">
                            <article>
                                <p class="showall">すべてを表示</p>
                            </article>
                        </a>
                    </div>

                    <div class="category_list">
                        <h4>ジャンル別で記事を見る</h4>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                        <a href="#">Lorem ipsum</a>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>

</div>

<div class="bottom_searchCondition">
    <div class="container">
        <div class="row relative">
            <div class="col-xs-12 text-center">
                <a class="btn btnIntro  btnIntro_custom" href="../contact.html"><i class="i_user"></i> <span>コンシェルジェに相談（無料）する</span></a>
            </div>
            <a href="#" class="btn btn_pageTop hidden-sm hidden-xs">
                <img src="../static/images/btn_pageTop.jpg" alt="" class="img-responsive">
            </a>
        </div>
    </div>
</div>

    
    </div>
    <!-- #page -->
    

    <footer>
        <div class="page_top visible-sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="back-top">
                            <a href="#">
                                <p><img src="../cache/images/icon/i_arrow_top.png" alt="" class="img-responsive" width="66px" height="33px"></p>
                                <p>PAGE TOP</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h5><img src="../cache/images/logo_white.png" alt="" class="img-responsive">
                                <span>– クロニクルが提供するサービス –</span></h5>
                    </div>
                    <div class="col-xs-12">
                        <ul class="link_footer_top">
                            <li><a href="https://www.chronicle-web.com/logmansion/" target="_blank">ログマンション</a></li>
                            <li><a href="https://www.chronicle-web.com/order_renove/" target="_blank">オーダーリノベ</a></li>
                            <li><a href="../index.html" target="_blank">クロニクルプラス</a></li>
                            <li><a href="https://www.chronicle-web.com/reform/" target="_blank">クロニクルリフォーム</a></li>
                            <li><a href="http://www.chro-residence.com/aobadai/" target="_blank">クロニクルレジデンス</a></li>
                            <li><a href="https://www.chronicle-web.com/showroom/" target="_blank">ショールーム</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <ul class="link_footer_bottom">
                            <li><a href="../contact.html" target="_blank">お問い合わせ</a></li>
                            <li><a href="https://www.chronicle-web.com/terms/" target="_blank">WEBサイト利用規約</a></li>
                            <li><a href="https://www.chronicle-web.com/policy/" target="_blank">プライバシーポリシー</a></li>
                            <li><a href="https://www.chronicle-web.com/company/about/" target="_blank">運営会社（企業情報）</a></li>
                            <li>法人のお客様 （<a href="https://www.propolife.co.jp/wordpress/wp-content/uploads/sell.pdf" target="_blank">社有物件一覧表</a>）</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <div class="copyright">Copyright © CHRONICLE. All Rights Reserved.</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                        <img class="img-responsive pull-right img_penguins" src="../cache/images/img_penguins.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
<!--================= formassist start ==================-->

<!--================= //formassist end ==================-->


</body>


<!-- Mirrored from www.chronicle-web.com/plus/voice/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Nov 2018 07:18:20 GMT -->
</html>