<!doctype html>
<html>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <title>リノベーションについて｜クロニクルプラス</title>
    <meta name="description" content="リノベーションって実際どうなの？という疑問への返答を、当社のログマンションをご購入いただいたお客様にご紹介いただいております。">
    <meta name="og:description" content="リノベーションって実際どうなの？という疑問への返答を、当社のログマンションをご購入いただいたお客様にご紹介いただいております。">
    <meta name="keywords" content="リノベーションについて, 天然無垢材, リノベーション, リフォーム, 中古マンション, 中古戸建, マンション, 不動産"><link rel="apple-touch-icon" sizes="180x180" href="../cache/images/icon/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../cache/images/icon/favicons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../cache/images/icon/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../cache/images/icon/favicons/manifest.html">
    <link rel="mask-icon" href="../cache/images/icon/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/dist/css/bootstrap7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../../../maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min7c50.css?_t=1541565603">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700?_t=1541565603" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/global-navi7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/owlcarousel/assets/owl.carousel.min7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/owlcarousel/assets/owl.theme.default.min7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/styles.css" type="text/css">
    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/mobile7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/common/css/styles_nicker7c50.css?_t=1541565603" type="text/css">
    <link rel="stylesheet" href="../cache/common/css/mobile_nicker7c50.css?_t=1541565603" type="text/css">

    <link rel="stylesheet" href="../cache/assets/themes/my-bootstrap/css/templates.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.min.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../cache/common/js/jquery.mina9db.js?_=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/js/jquery.easing.1.37c50.js?_t=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/dist/js/bootstrap.min7c50.js?_t=1541565603"></script>
    <script src="../cache/owlcarousel/owl.carousel7c50.js?_t=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/js/jquery.matchHeight-min7c50.js?_t=1541565603"></script>
    <script src="../cache/assets/themes/my-bootstrap/js/jquery.datetimepicker.full.min7c50.js?_t=1541565603"></script>
    <script src="../cache/common/js/jquery.matchHeight-min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flickity/2.1.2/flickity.pkgd.min.js"></script>

    <script src="../cache/assets/themes/my-bootstrap/js/functions7c50.js?_t=1541565603"></script>
    
    <link rel="stylesheet" href="../static/common/css/tablet7c50.css?_t=1541565603" type="text/css">

    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '../../../www.googletagmanager.com/gtm5445.html?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-M9S2NL');
    

    </script>
    <!-- End Google Tag Manager -->
    <style type="text/css">
    .bottom_searchCondition {
        display: none;
    }
    .slideImgSP {
        display: none !important;
    }
    @media (max-width: 768px) {
       .slideImgSP {
            display: block !important;
       }
       .slideImgPC {
            display: none !important;
       }
    }
    </style>
</head>

<body>
    <script type="text/javascript" src="../../../www.googleadservices.com/pagead/f.txt"></script>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M9S2NL"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="fb-root"></div>
    <script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "../../../connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v2.6";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <div id="page">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <nav role="navigation" class="navbar navbar-default">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="text_menu">メニュー</span>
                            </button>
                            <a href="../index.html" class="navbar-brand">Brand</a>
                        </div>
                        <!-- Collection of nav links and other content for toggling -->
                        <div id="navbarCollapse" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="../index.html#">
                                        <div>クロニクルプラスとは
                                            <p>ABOUT <span class="caret"></span></p>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="../flow/index.html"><span class="text_inline">中古購入の流れ</span></a></li>
                                        <li><a href="../about/index.html"><span class="text_inline">リノベーションについて</span></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../event/index.html">
                                        <div>イベント・セミナー
                                            <p>EVENT</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="index.html">
                                        <div>お客様の声
                                            <p>VOICE</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="../vr/index.html">
                                        <div>体験！VR
                                            <p>Virtual Reality</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="../works/index.html">
                                        <div>リノベーション実例
                                            <p>WORKS</p>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="../package/index.html" target="_blank">
                                        <div>クロニクルパッケージ
                                            <p>PACKAGE</p>
                                        </div>
                                    </a>
                                </li>

                            </ul>
                            <div class="text_top hidden-lg hidden-md hidden-sm hidden-xs">
                                <p class="f18">中古マンション・戸建探しのポータルサイト</p>
                                <p class="f12">クロニクルプラスは、全国主要都市に拡がる
                                    <br>総合不動産企業クロニクルが運営しています。
                                </p>
                            </div>
                            <a class="box_top hidden-lg hidden-md hidden-sm hidden-xs" href="../showroom/index.html">
                                                        <img src="../cache/images/img01.jpg" alt="" class="img-responsive">
                                                        <p class="f12 mt12">コンシェルジェが物件探しをお手伝い</p>
                                                        <p class="text_shadow f16">お近くのショールームはこちら</p>
                                                    </a>
                        </div>

                        <div class="navTEL">
                            
                            

                            
                            <a href="tel:0120-602-423"><img src="../cache/images/gnavi-freecall-tokyo.png" alt=""></a>
                        </div>
                    </nav>
                    </div>
                </div>
            </div>
        </header>

        <div class="header services hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <ul class="list_services">


                            <li  class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    <!-- <i class="i_usedPurchase"></i> -->
                                    <div>クロニクルプラスとは
                                    <p>ABOUT <span class="caret"></span></p></div>

                                </a>
                                 <ul class="dropdown-menu">
                                    <li><a href="../flow/index.html"><span class="text_inline">中古購入の流れ</span></a></li>
                                    <li><a href="../about/index.html"><span class="text_inline">リノベーションについて</span></a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="../event/index.html">
                                    <!-- <i class="i_purchaseExperiences"></i> -->
                                    <div>イベント・セミナー
                                    <p>EVENT</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="index.html">
                                    <!-- <i class="i_renovationCase"></i> -->
                                    <div>お客様の声
                                    <p>VOICE</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="../vr/index.html">
                                    <!-- <i class="i_forRenovation"></i> -->
                                    <div>体験！VR
                                    <p>Virtual Reality</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="../works/index.html">
                                    <!-- <i class="i_ourServices"></i> -->
                                    <div>リノベーション実例
                                    <p>WORKS</p></div>
                                </a>
                            </li>
                            <li>
                                <a href="../package/index.html" target="_blank">
                                    <!-- <i class="i_ourServices"></i> -->
                                    <div>クロニクルパッケージ
                                    <p>PACKAGE</p></div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        

        
        
<section class="banner_sub_general">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-8 col-lg-offset-2">
                <h1><i class="i_home_black"></i> クロニクルマガジン </h1>
                <p class="hidden-xs">Knowledge for your real estate</p>
            </div>
        </div>
    </div>
</section>

<section class="banner_slider">
    <div class="carousel" data-flickity='{"wrapAround": true, "pageDots": false }'>
        <div class="carousel-cell">
            <a href="#"><img src="https://media.istockphoto.com/photos/skyscrapers-of-los-angeles-skylinearchitectureurbancityscape-picture-id478821794" alt="" class="img-responsive"></a>
        </div>
        <div class="carousel-cell">
            <a href="#"><img src="https://media.istockphoto.com/photos/road-next-to-golf-course-in-melbourne-picture-id938467874" alt="" class="img-responsive"></a>
        </div>
        <div class="carousel-cell">
            <a href="#"><img src="https://media.istockphoto.com/photos/prices-of-real-estate-in-the-city-concept-picture-id881503530" alt="" class="img-responsive"></a>
        </div>
        <div class="carousel-cell">
            <a href="#"><img src="https://media.istockphoto.com/photos/modern-minimalist-villa-picture-id910193030" alt="" class="img-responsive"></a>
        </div>
        <div class="carousel-cell">
            <a href="#"><img src="https://media.istockphoto.com/photos/aerial-view-of-of-a-residential-neighborhood-in-picture-id841386250" alt="" class="img-responsive"></a>
        </div>
    </div>
</section>

<main>
    <section class="section_infoMansion">
        <div class="container">
            <div class="row no-pad">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/08/99dd4e20c07675f44b57dc2f354cf728.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">資産価値</span> <span class="date">2018.11.07</span></h4>
                            <small>買うならどっち？</small>
                            <a href="article.html" class="title_name">マンション vs 一戸建て</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/08/b52f871927b10d1f3d1a6a700c10da78.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">マンション</span> <span class="date">2018.11.07</span></h4>
                            <small>東京城東エリア</small>
                            <a href="article.html" class="title_name">今、絶対買いのビンテージマンショ ン7選！</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/08/cd8c8dced745f4c811435ee9e697f5f2.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">金融</span> <span class="date">2018.11.07</span></h4>
                            <small>金利上昇前の滑り込み！</small>
                            <a href="article.html" class="title_name">賢いローンの組み方と、変動金利のス スメ</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/05/660d34c1d2181faf3490f5e0454fcdec.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">資産価値</span> <span class="date">2018.11.07</span></h4>
                            <small>買うならどっち？</small>
                            <a href="article.html" class="title_name">マンション vs 一戸建て</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/07/d3d16a78c0a1f3afc80383ab5b154842.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">マンション</span> <span class="date">2018.11.07</span></h4>
                            <small>東京城東エリア</small>
                            <a href="article.html" class="title_name">今、絶対買いのビンテージマンショ ン7選！</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/08/2c22922417cbc35f43c90c3997ca2167.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">金融</span> <span class="date">2018.11.07</span></h4>
                            <small>金利上昇前の滑り込み！</small>
                            <a href="article.html" class="title_name">賢いローンの組み方と、変動金利のス スメ</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/04/a9058344d37985fb245d019c9b014877-1.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">資産価値</span> <span class="date">2018.11.07</span></h4>
                            <small>買うならどっち？</small>
                            <a href="article.html" class="title_name">マンション vs 一戸建て</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/08/41211a718e36d63765bb6bb68361bc1f.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">マンション</span> <span class="date">2018.11.07</span></h4>
                            <small>東京城東エリア</small>
                            <a href="article.html" class="title_name">今、絶対買いのビンテージマンショ ン7選！</a>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="infoMansion_items">
                        <figure>
                            <a href="article.html"><img src="https://30seconds-trip.jp/wp-content/uploads/2018/08/0f283a134f74623f1fe617fa82b3b3ca.png" alt="" class="img-responsive"></a>
                        </figure>
                        <div class="infoMansion_content_items">
                            <h4><span class="asset_value">金融</span> <span class="date">2018.11.07</span></h4>
                            <small>金利上昇前の滑り込み！</small>
                            <a href="article.html" class="title_name">賢いローンの組み方と、変動金利のス スメ</a>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-12 text-center">
                    <a href="#" class="btn btnLoadmore"> <span>»</span> もっとみる</a>
                </div>

            </div>
        </div>
    </section>

    <section class="section_recommend">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="box_editorial">
                        <h2>編集部オススメの記事</h2>
                        <article>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <div class="img_box_editorial">
                                        <a href="article2.html"><img src="../static/images/img01.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 col-md-8">
                                    <div class="date">2018.11.07</div>
                                    <p><a href="article2.html">買うならどっち?</a></p>
                                    <h4><a href="article2.html">マンション vs 戸建て</a></h4>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <div class="img_box_editorial">
                                        <a href="article2.html"><img src="../static/images/img01.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 col-md-8">
                                    <div class="date">2018.11.07</div>
                                    <p><a href="article2.html">買うならどっち?</a></p>
                                    <h4><a href="article2.html">マンション vs 戸建て</a></h4>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <div class="img_box_editorial">
                                        <a href="article2.html"><img src="../static/images/img01.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 col-md-8">
                                    <div class="date">2018.11.07</div>
                                    <p><a href="article2.html">買うならどっち?</a></p>
                                    <h4><a href="article2.html">マンション vs 戸建て</a></h4>
                                </div>
                            </div>
                        </article>
                        <article>
                            <div class="row">
                                <div class="col-xs-6 col-sm-4 col-md-4">
                                    <div class="img_box_editorial">
                                        <a href="article2.html"><img src="../static/images/img01.jpg" alt="" class="img-responsive"></a>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-8 col-md-8">
                                    <div class="date">2018.11.07</div>
                                    <p><a href="article2.html">買うならどっち?</a></p>
                                    <h4><a href="article2.html">マンション vs 戸建て</a></h4>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="box_listcate">
                        <h2>記事カテゴリ別一覧</h2>
                        <ul>
                            <li><a href="">資産価値</a></li>
                            <li><a href="">マンション</a></li>
                            <li><a href="">金融</a></li>
                            <li><a href="">リノベーション</a></li>
                            <li><a href="">教育</a></li>
                            <li><a href="">戸建て</a></li>
                            <li><a href="">家具</a></li>
                            <li><a href="">リノベーション</a></li>
                            <li><a href="">不動産</a></li>
                            <li><a href="">Mansion</a></li>
                            <li><a href="">Money</a></li>
                            <li><a href="">リノベーション</a></li>
                            <li><a href="">Property</a></li>
                            <li><a href="">Mansion</a></li>
                            <li><a href="">Money</a></li>
                            <li><a href="">リノベーション</a></li>
                            <li><a href="">Property</a></li>
                            <li><a href="">Mansion</a></li>
                            <li><a href="">Money</a></li>
                            <li><a href="">リノベーション</a></li>
                            <li><a href="">Property</a></li>
                            <li><a href="">Mansion</a></li>
                            <li><a href="">Money</a></li>
                            <li><a href="">リノベーション</a></li>
                        </ul>
                    </div>
                    <hr>
                    <div class="box_chronicleplus_contents">
                        <h2>クロニクルプラスのコンテンツ</h2>
                        <ul>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_pig.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_glasses.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_moustache.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_salons.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_pig.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_glasses.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_moustache.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span class="img_icon effect-1 sub-a">
                                        <img src="../static/images/i_salons.svg" alt="" class="img-responsive">
                                    </span>
                                    <p>ローン計算機</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

</main>

</div>

<!-- <aside class="hidden-sm hidden-xs">
    <a href="../contactfb78.html?material=1&amp;e=" class="btn btn_Requestinformation btn_fixed"><i class="i_list_svg"></i><span>資料請求<br>をする</span></a>
    <a href="../contact7fa3.html?reservation=1&amp;e=" class="btn btn_Makereservation btn_fixed"><i class="i_list_svg"></i><span>来場予約<br>をする</span></a>
</aside> -->

<div class="bottom_searchCondition">
    <div class="container">
        <div class="row relative">
            <div class="col-xs-12 text-center">
                <a class="btn btnIntro  btnIntro_custom" href="../contact.html"><i class="i_user"></i> <span>コンシェルジェに相談（無料）する</span></a>
            </div>
            <a href="#" class="btn btn_pageTop hidden-sm hidden-xs">
                <img src="../static/images/btn_pageTop.jpg" alt="" class="img-responsive">
            </a>
        </div>
    </div>
</div>

    
    </div>
    <!-- #page -->
    

    <footer>
        <div class="page_top visible-sm visible-xs">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <div class="back-top">
                            <a href="#">
                                <p><img src="../cache/images/icon/i_arrow_top.png" alt="" class="img-responsive" width="66px" height="33px"></p>
                                <p>PAGE TOP</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_top">
            <div class="container">
                <div class="row text-center">
                    <div class="col-xs-12">
                        <h5><img src="../cache/images/logo_white.png" alt="" class="img-responsive">
                                <span>– クロニクルが提供するサービス –</span></h5>
                    </div>
                    <div class="col-xs-12">
                        <ul class="link_footer_top">
                            <li><a href="https://www.chronicle-web.com/logmansion/" target="_blank">ログマンション</a></li>
                            <li><a href="https://www.chronicle-web.com/order_renove/" target="_blank">オーダーリノベ</a></li>
                            <li><a href="../index.html" target="_blank">クロニクルプラス</a></li>
                            <li><a href="https://www.chronicle-web.com/reform/" target="_blank">クロニクルリフォーム</a></li>
                            <li><a href="http://www.chro-residence.com/aobadai/" target="_blank">クロニクルレジデンス</a></li>
                            <li><a href="https://www.chronicle-web.com/showroom/" target="_blank">ショールーム</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <ul class="link_footer_bottom">
                            <li><a href="../contact.html" target="_blank">お問い合わせ</a></li>
                            <li><a href="https://www.chronicle-web.com/terms/" target="_blank">WEBサイト利用規約</a></li>
                            <li><a href="https://www.chronicle-web.com/policy/" target="_blank">プライバシーポリシー</a></li>
                            <li><a href="https://www.chronicle-web.com/company/about/" target="_blank">運営会社（企業情報）</a></li>
                            <li>法人のお客様 （<a href="https://www.propolife.co.jp/wordpress/wp-content/uploads/sell.pdf" target="_blank">社有物件一覧表</a>）</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer_white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
                        <div class="copyright">Copyright © CHRONICLE. All Rights Reserved.</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
                        <img class="img-responsive pull-right img_penguins" src="../cache/images/img_penguins.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
<!--================= formassist start ==================-->

<!--================= //formassist end ==================-->


<!-- <script type="text/javascript">
$(document).ready(function() {
    $(window).scroll(function() {
        var top = (document.documentElement && document.documentElement.scrollTop) || document.body.scrollTop;
        if(top == 0) {
            $(".bottom_searchCondition").fadeOut();
        } else {
            $(".bottom_searchCondition").fadeIn();
        }
    });
});
</script> -->
</body>


<!-- Mirrored from www.chronicle-web.com/plus/voice/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 Nov 2018 07:18:20 GMT -->
</html>