@charset "UTF-8";
.mutu_page .muku_content {
  position: relative;
  top: -100px;
  background: #fff;
  max-width: 998px;
  padding: 80px 145px;
}
.mutu_page .title {
  font-size: 2.25em;
  margin-bottom: 0;
  line-height: 1.5em;
  color: #000;
  position: relative;
  z-index: 200;
  font-weight: 600;
}
.mutu_page .subtitle {
  font-size: 0.75em;
  margin-bottom: 50px;
}
.mutu_page .list_img_content {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mutu_page .list_img_content li {
  width: 30.33%;
  margin-right: 20px;
  margin-bottom: 80px;
}
.mutu_page .list_img_content li:last-of-type {
  margin-right: 0;
}
.mutu_page .list_img_content li.no_cover a img {
  object-fit: inherit;
}
.mutu_page .list_img_content li h3 {
  margin: 20px 0 0 0;
  padding: 10px 0;
  font-size: 1.5rem;
  color: #938152;
}
.mutu_page .list_img_content li p {
  margin: 0;
}
.mutu_page .list_img_content li:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}
.mutu_page .list_img_content li a {
  display: block;
  width: 100%;
  height: 250px;
  overflow: hidden;
}
.mutu_page .list_img_content li a img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.section_muku {
  padding-top: 73px;
  padding-bottom: 80px;
}

ul.list_global {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul.list_global li {
  display: inline-block;
  position: relative;
}
ul.list_global li span {
  font-family: "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  font-size: 0.625em;
  font-weight: 600;
  color: #828282;
  display: block;
  position: relative;
  padding: 5px;
  letter-spacing: .1em;
}
ul.list_global li span::after {
  content: '';
  position: absolute;
  right: -3px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 1px;
  height: 10px;
  background: #828282;
}
ul.list_global li.active span {
  color: #000;
}
ul.list_global li:last-of-type span::after {
  display: none;
}

@media (max-width: 768px) {
  .mutu_page .title {
    font-size: 2em;
  }
  .mutu_page .subtitle {
    margin-bottom: 20px;
  }
  .mutu_page .section_muku {
    padding-bottom: 60px;
  }
  .mutu_page .muku_content {
    padding: 10px 15px 15px;
  }
  .mutu_page .list_img_content {
    flex-direction: column;
    margin-top: 30px;
  }
  .mutu_page .list_img_content li {
    width: 100%;
    margin-bottom: 30px;
  }
  .mutu_page .list_img_content li h3 {
    font-size: 1.4286em;
    margin-top: 10px;
  }
}
main section.result-list-page ul li:nth-of-type(3) {
  border-bottom: none;
  padding-bottom: 0;
}
main section.result-list-page ul li:nth-of-type(3) a {
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}
main section.result-list-page ul li:nth-of-type(3) ul.children li {
  border-bottom: none;
  padding-bottom: 0;
}
main section.result-list-page ul li:nth-of-type(3) ul.children li:first-of-type a {
  padding-top: 30px;
}
main section.result-list-page ul li:nth-of-type(3) ul.children li ul li {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 0;
}
main section.result-list-page ul li:nth-of-type(3) ul.children li ul li a {
  border-bottom: none;
  padding-bottom: 0;
}
