@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$primary-color: #000000;
$blue-color: #1C90B2;
$yellow-color: #F2C94C;
$silver-color: #F5F5FA;
$prink-color: #D7443E;
$primary-font: 'noto-sans-cjk-jp', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
$sub-font: 'Montserrat', sans-serif;

a {color: $primary-color;}
.btn {color: $primary-color; border-radius: 0;}
.btn,a,.btn:hover{-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.btn:hover, .btn.focus {-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
.btn.focus, .btn:focus {box-shadow: none;} button:focus {outline: none;}
::selection{background:$blue-color;color:#FFF;text-shadow:none;}
::-moz-selection{background:$blue-color;color:#FFF;text-shadow:none;}
::-webkit-selection{background:$blue-color;color:#FFF;text-shadow:none;}
html{width:100%;height:100%}
body{width:100%;height:100%;
  background: #fff;
  font-family: $primary-font;
  line-height: 1.5em;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
}
.btn-link {color: $primary-color;word-break:normal;word-break:break-all;word-break:keep-all;text-decoration: underline;}
.btn-link:hover{color: $primary-color;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family: $primary-font;
line-height: 1.3em; text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased; color:$primary-color; margin-bottom: 10px; font-size: 1.25em; font-weight: 800;}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box;}
html,body{position:relative;height:100%}
p {word-wrap: break-word; line-height: 1.8em;}
a:hover {text-decoration:none;color:$primary-color;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
h1 {font-size: 2.3125em;}
h2 {
  font-size: 1.5625em;
}

.red {color: #D7443E;}

.form-control {
  font-size: 0.875em;
  border-color: #BDBDBD;
  height: calc(1.5em + .75rem + 12px);
}
.custom-select:focus {
  border-color: $primary-color;
}
.form-control:focus {box-shadow: none; border-color: $primary-color;}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}
.form-control:focus {
  border-color: $blue-color;
}
.custom-control-label::before {
  border-color: $blue-color;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: $blue-color;
  border-color: $blue-color;
}

.relative {position: relative;}
b {
  font-weight: 700;
}
section {
  padding: 60px 0;
}
.title {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 1.5em;
  color: #000;
}
.title_sub {
  font-size: 2.5em;
  text-align: center;
  font-family: $sub-font;
  line-height: 1em;
  margin-bottom: 0;
  color: #000;
}
.subtitle {
  font-size: 1em;
  text-align: center;
  margin-bottom: 50px;
  color: #4F4F4F;
}

.navbar-light {
  .navbar-toggler-icon {
    background: none;
  }
}
.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
  position: relative;
  top: 0;
  left: 0;
  padding: 0;
  &:active, &:focus {
    outline: none;
  }
}
.navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #fff;
  transition: all 300ms linear;
  &:before, &:after {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
  }
  &:after {
    top: 8px;
  }
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.dropdown-slide {
  &.show {
    .dropdown-menu {
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
      opacity:1;
    }
  }
  .dropdown-menu {
    opacity:.3;
    display: block;
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-transform: scale(1, 0);
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    &:after {
      bottom: 100%;
      left: 26%;
      border: solid transparent;
      content: "";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: #fff;
      border-width: 10px;
      margin-left: -10px;
    }
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      color: #fff;
      font-family: $sub-font;
      font-size: 0.875em;
      text-transform: uppercase;
      font-weight: 500;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}

.dropdown-item {
  border-bottom: 1px solid #E4E4E4;
  font-size: 0.875em;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
  color: #1C90B2;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #1C90B2;
}
header {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background: #000;
  &.compressed {
    background: #000;
    -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  }
}

.section_banner {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  align-content: stretch;
  background-repeat: no-repeat;
  background-size: cover;
  &.custom {
    &:before {
      background-image: url('../images/slide-1.png');
      width: 1007px;
      height: 760px;
    }
    .caption {
      h1 {
        font-family: $sub-font;
      }
    }
  }
  .caption {
    h1 {
      font-size: 3.75em;
      font-weight: 500;
      color: #000;
      margin-bottom: 20px;
      // text-shadow: 0 2px 4px rgba(0,0,0,0.50);
      font-family: $sub-font;
      span {
        display: block;
        color: #1C90B2;
      }
    }
    p {
      color: #fff;
      margin-bottom: 20px;
    }
    .btn_call {
      border-radius: 100px;
      border: 1px solid #1C90B2;
      color: #fff;
      font-weight: 500;
      font-family: $sub-font;
      padding: 10px 50px;
      &:hover {
        background: #fff;
        color: #1C90B2;
        border-color: #fff;
      }
    }
  }
  .decor_banner {
    position: relative;
    img {
      position: absolute;
      right: -100px;
    }
  }
}

.section_services {
  background: url('../images/bg_services.jpg') no-repeat;
  background-size: cover;
  .title_sub, .subtitle {
    color: #fff;
  }
  .list_services {
    display: flex;
    justify-content: center;
    padding: 0 30px;
    .box_services {
      display: block;
      margin-right: 20px;
      width: 320px;
      &:last-child {
        margin-right: 0;
      }
      &:hover {
        img {
          transform: scale(1.1);
        }
      }
      .services_img {
        width: 320px;
        height: 250px;
        overflow: hidden;
        border-radius: 4px;
        transition: all 0.4s ease-in-out;
        position: relative;
        img {
          width: 100%;
          height: 250px;
          object-fit: cover;
          transition: all 0.2s linear;
        }
        span {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          padding: 10px;
          background: rgba(28, 144, 178, .8);
          font-weight: 500;
          color: #fff;
        }
      }
      h3 {
        font-weight: 700;
        font-size: 1.25em;
        margin-top: 20px;
        min-height: 60px;
        margin-bottom: 0;
        color: #fff;
      }
      h4 {
        font-size: 1em;
        font-family: $sub-font;
        font-weight: 600;
        color: #fff;
        margin-bottom: 10px;
      }
      .btn {
        color: #fff;
        background: $blue-color;
        border-radius: 4px;
        border: 1px solid $blue-color;
        margin-top: 15px;
        padding: 10px 40px;
        font-weight: 500;
        font-size: 0.875em;
        position: relative;
        &:hover {
          img {
            right: 10px;
            transform: scale(1);
          }
        }
        img {
          position: absolute;
          right: 15px;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: all 350ms ease-in;
        }
      }
    }
  }
}

.section_news {
  .box_newest {
    article {
      border-bottom: 1px solid #F5F5FA;
      padding-bottom: 25px;
      margin-bottom: 25px;
      a {
        display: flex;
        position: relative;
        &:hover {
          .newest_media {
            img {
              transform: scale(1.1);
            }
          }
        }
        .newest_media {
          -webkit-flex-basis: 440px;
          -ms-flex-preferred-size: 440px;
          flex-basis: 440px;
          margin-right: 20px;
          display: inline-block;
          overflow: hidden;
          img {
            transition: all 0.2s linear;
          }
        }
        .newest_content {
          -webkit-flex-basis: 100%;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%;
          position: relative;
          padding-bottom: 56px;
          h2 {
            font-size: 1.125em;
            font-weight: 700;
            line-height: 1.6em;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
          }
          time {
            color: #999;
            margin-bottom: 10px;
            display: block;
            font-family: $sub-font;
            font-size: 0.875em;
          }

          .newest_footer {
            position: absolute;
            left: 0;
            bottom: 0;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-align: center;
            -webkit-align-items: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: end;
            -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
            justify-content: flex-end;
            width: 100%;
            max-width: 100%;
            &:before {
              content: '';
              position: absolute;
              top: -10px;
              left: 0;
              width: 100%;
              height: 1px;
              background: #f1f1f1;
            }
            .author {
              -webkit-box-flex: 1;
              -webkit-flex: 1;
              -ms-flex: 1;
              flex: 1;
              display: flex;
              align-items: center;
              line-height: 1em;
              .author_img {
                width: 48px;
                height: 48px;
                border-radius: 100px;
                overflow: hidden;
                img {
                  width: 48px;
                  height: 48px;
                  object-fit: cover;
                }
              }
              .author_name {
                margin-left: 10px;
                font-size: 0.875em;
              }
            }
            }
          }
        }
      }
    }
  }

  .like {
    display: inline-block;
    color: #e85762;
    line-height: 1;
    .i_like {
      background: url('../images/svg/i_heart.svg') no-repeat;
      width: 20px;
      height: 16.5px;
      display: inline-block;
      margin-right: 5px;
    }
  }
  .like_counter {
    display: inline-block;
    font-size: 0.875em;
    font-weight: 700;
    letter-spacing: .01em;
    -webkit-transform: translate(0,-3px);
    transform: translate(0,-3px);
  }
  
.side_right {
  .box_newest_related {
    border-radius: 4px;
    border: 1px solid rgba(151, 151, 151, .25);
    margin-bottom: 30px;
    article {
      display: block;
      padding: 10px;
      border-bottom: 1px solid rgba(151, 151, 151, .25);
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: #f1f1f1;
      }
      a {
        display: block;
        .newest_content {
          padding-left: 10px;
          .newest_media {
            width: 100%;
            height: 75px;
            img {
              width: 100%;
              height: 75px;
              object-fit: cover;
            }
          }
          .top_newest_content {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: stretch;
            align-content: stretch;
            margin-bottom: 5px;
          }
          time {
            color: #999999;
            font-size: 0.875em;
            font-family: $sub-font;
          }
          h4 {
            font-size: 0.875em;
            font-weight: 500;
          }
        }
      }
    }
  }
  .box_banner_right {
    a {
      display: block;
      margin-bottom: 30px;
    }
  }
}


.section_article_list {
  background: $silver-color;
  .carousel-cell {
    width: 274px;
    height: 323px;
    margin-right: 15px;
    article {
      &:hover {
        .article_list_img {
          img {
            transform: scale(1.1);
          }
        }
      }
      h3 {
        font-size: 1em;
        font-weight: 500;
      }
      time {
        color: #999999;
        font-weight: 700;
        font-size: 0.875em;
        margin-bottom: 5px;
        margin-top: 10px;
        display: block;
        font-family: $sub-font;
      }
      a {
        display: block;
      }
      .article_list_img {
        width: 100%;
        height: 234px;
        overflow: hidden;
        img {
          width: 100%;
          height: 234px;
          object-fit: cover;
          transition: all 0.2s linear;
        }
      }
    }
  }
}

.section_news_popular {
  background: $silver-color;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      margin-bottom: 30px;
      margin-right: 15px;
      width: 32.33%;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}

article {
  &.vertical {
    &:hover {
      .newest_media {
        img {
          transform: scale(1.1);
        }
      }
    }
    .newest_media {
      width: 100%;
      height: 276px;
      overflow: hidden;
      img {
        width: 100%;
        height: 276px;
        object-fit: cover;
        transition: all 0.2s linear;
      }
    }

    time {
      color: #999999;
      font-size: 0.875em;
      margin-bottom: 5px;
      display: block;
      font-family: $sub-font;
    }
    h4 {
      font-size: 1.125em;
      font-weight: 700;
      margin-bottom: 0;
    }

    .newest_content_top {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      max-width: 100%;
      margin: 15px 0;
      .author {
        .author_name {
          font-size: 0.875em;
          margin-left: 10px;
        }
      }
    }
  }
}

footer {
  background: #151823;
  .footer_top {
    padding: 50px 0;
    h4 {
      color: #fff;
      font-weight: 700;
      font-size: 1.125em;
      font-family: $sub-font;
      text-transform: uppercase;
    }
    p {
      margin-bottom: 0;
      color: #fff;
      font-size: 0.8125em;
      font-family: $sub-font;
      a {
        color: #fff;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      justify-content: center;
      &.list_social {
        margin-top: 15px;
        display: flex;
        li {
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
            a {
              &:before {
                display: none;
              }
            }
          }
          a {
            position: relative;
            &:before {
              content: '';
              position: absolute;
              right: -10px;
              top: 5px;
              bottom: 0;
              margin: auto;
              width: 1px;
              height: 16px;
              background: #474747;
            }
          }
        }
      }
      &.menu-bottom {
        margin-bottom: 50px;
      }
      li {
        display: inline-block;
        margin: 0 15px;
        &:hover {
          a {
            color: $blue-color;
          }
        }
        a {
          color: #fff;
          font-size: 0.8125em;
        }
      }
    }
  }
  .footer_bottom {
    background: #1B2032;
    padding: 20px 0;
    p {
      text-align: center;
      font-size: 0.875em;
      color: #7E8399;
      font-family: $sub-font;
      a {
        color: #7E8399;
        &:hover {
          color: $blue-color;
        }
      }
    }
  }
}

.back-to-top {
  visibility: hidden;
  background-color: $blue-color;
  color: #fff;
  width: 46px;
  height: 46px;
  border-radius: 100px;
  text-align: center;
  line-height: 46px;
  position: fixed;
  bottom: 65px;
  right: 35px;
  z-index: 90;
  cursor: pointer;
  -webkit-transform: translateZ(0);
  transition: all .6s;
  box-shadow: 0 5px 20px rgba(0, 0, 0, .2);
  background-size: 300% 100%;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  &.show {
    visibility: visible;
    bottom: 8px;
    opacity: 1;
  }
}


.section_solvingbusiness {
  article {
    margin-bottom: 30px;
  }
}

.section_productionresults {
  background: $silver-color;
  .carousel-cell {
    width: 320px;
    height: 190px;
    margin-right: 20px;
    article {
      &:hover {
        .article_list_img {
          img {
            transform: scale(1.1);
          }
        }

        .article_list_content {
          opacity: 1;
          p, .btn_more {
            opacity: 1;
          }
          p {
            transition-delay: 0.1s;
            transform: translateY(50px);
            margin-bottom: 0;
          }
          .btn_more {
            transition-delay: 0.2s;
            transform: translateY(0px);
          }
        }

      }
      a {
        display: block;
      }
      .article_list_img {
        width: 100%;
        height: 190px;
        overflow: hidden;
        border-radius: 4px;
        position: relative;
        img {
          width: 100%;
          height: 190px;
          object-fit: cover;
          transition: all 0.2s linear;
        }
      }
      .article_list_content {
        width: 100%;
        height: 190px;
        position: absolute;
        overflow: hidden;
        top: 0;
        left: 0;
        transition: all 0.4s ease-in-out;
        opacity: 0;
        background-color: rgba(28, 114, 178, 0.75);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        p {
          position: relative;
          text-align: center;
          font-weight: 700;
          font-size: 1.125em;
          display: block;
          color: #fff;
          transform: translateY(-100px);
          opacity: 0;
          transition: all 0.2s ease-in-out;
          font-family: $sub-font;
        }
        .btn_more {
          position: relative;
          text-align: center;
          background: #000;
          font-family: $sub-font;
          color: #fff;
          font-weight: 500;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          max-width: 150px;
          margin: auto;
          border-radius: 100px;
          font-size: 0.875em;
          padding-left: 30px;
          padding-right: 30px;
          &:hover {
            background: $blue-color;
          }
        }
      }
    }
  }
}

.section_consult {
  text-align: center;
  border-bottom: 1px solid #f1f1f1;
  .btn {
    color: #fff;
    font-weight: 700;
    font-size: 1.125em;
    border-radius: 100px;
    min-width: 410px;
    padding: 20px;
    background: $blue-color;
    position: relative;
    font-family: $sub-font;
    &:hover {
      background: #0C3E4D;
      img {
        right: 20px;
      }
    }
    img {
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 350ms ease-in;
    }
  }
}

.section_subbanner {
  margin-top: 77px;
  height: 474px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, .5);
  }
  h1 {
    font-family: $sub-font;
    font-size: 3.125em;
    color: #fff;
    font-weight: 900;
    margin-bottom: 0;
    text-shadow: 0 2px 4px rgba(0,0,0,0.50);
    position: relative;
  }
  .breadcrumb {
    margin: 0;
    background: transparent;
    position: relative;
    .breadcrumb-item {
      text-transform: uppercase;
      font-weight: 500;
      color: #fff;
      font-family: $sub-font;
      a {
        color: #fff;
      }
    }
  }
}
.breadcrumb-item+.breadcrumb-item::before {
  color: #fff;    
}

.section_subnews {
  ul {
    padding-left: 0;
    margin: 0;
    list-style: none;
    li {
      display: block;
      margin-bottom: 30px;
      position: relative;
      padding-left: 45px;
      &:last-child {
        margin-bottom: 0;
      }
      &:before {
        content: '';
        position: absolute;
        left: -10px;
        top: 13px;
        width: 35px;
        height: 2px;
        background: #bdbdbd;
        transition: all 0.2s ease-in-out;
      }
      &:hover {
        &:before {
          left: 0;
          transition: all 0.2s ease-in-out;
        }
        h4 {
          color: $blue-color;
        }
      }
      time {
        color: #828282;
        font-size: 0.75em;
        font-family: $sub-font;
      }
      h4 {
        font-size: 1.125em;
        font-weight: 700;
        margin-bottom: 5px;
        font-family: $sub-font;
      }
      p {
        span {
          background: #1F91B3;
          color: #fff;
          padding: 3px 5px;
          margin-right: 5px;
          font-size: 0.625em;
        }
      }
    }
  }
}

.section_mission {
  padding-right: 60px;
  padding-left: 60px;
  position: relative;
  background-color: $silver-color;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   left: 30px;
  //   top: 20%;
  //   bottom: 0;
  //   margin: auto;
  //   background: url('../images/imac_home.png') no-repeat;
  //   width: 1052px;
  //   height: 821px;
  // }
  .subtitle {
    font-weight: 500;
  }
  .box_mission {
    border: 1px solid #ccc;
    background: rgba(255, 255, 255, .5);
    border-radius: 4px;
    padding: 25px;
    margin: 30px 0;
    h4 {
      span {
        color: $blue-color;
      }
    }
    p {
      font-weight: 500;
    }
  }
  .box_mission_footer {
    p {
      font-weight: 500;
    }
  }
}

.section_about {
  position: relative;
  // &:after {
  //   content: '';
  //   position: absolute;
  //   right: 0;
  //   bottom: 0;
  //   margin: auto;
  //   background: url('../images/Canvas.png') no-repeat;
  //   background-size: 100%;
  //   width: 610px;
  //   height: 600px;
  // }
}


.section_work {
  background: $silver-color;
  background-image: url('../images/Works_bak.jpg');
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
  p {
    color: #fff;
    &.subtitle {
      color: $silver-color;
    }
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    li {
      // border: 1px solid #dddddd;
      border-radius: 4px;
      background: #fff;
      padding: 30px;
      margin-right: 30px;
      margin-top: 30px;
      text-align: center;
      width: 33.33%;
      &:last-child {
        margin-right: 0;
      }
      h4 {
        font-size: 1.125em;
        margin-bottom: 15px;
        font-weight: 600;
      }
      img {
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 0;
        font-size: 0.875em;
        color: #000;
      }
    }
  }
}

.section_recruit {
  background: $silver-color;
  .btn {
    display: inline-block;
    border: 1px solid #000;
    margin-right: 15px;
    padding: 15px 30px;
    min-width: 280px;
    position: relative;
    font-weight: 500;
    img {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 350ms ease-in;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      img {
        right: 10px;
      }
    }
  }
}

.section_company {
  border-top: 1px solid #f1f1f1;
}

.section_marketing {
  margin-bottom: 60px;
  .box_marketing {
    .box_marketing_item {
      margin-bottom: 30px;
      text-align: left;
      background: rgba(255, 255, 255, 0.80);
      padding: 40px 35px 10px 37px;
      border: 1px solid #e4e7f2;
      border-radius: 4px;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 30px;
        top: 30px;
        margin: auto;
        background: url('../images/svg/i_right_black.svg') no-repeat;
        width: 18px;
        height: 21px;
      }
      .box_icon {
        width: 70px;
        height: 70px;
        border: 1px solid $blue-color;
        border-radius: 100px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin-bottom: 30px;
        position: relative;
      }
      h2 {
        color: #222222;
        font-size: 1.25em;
        line-height: 30px;
        font-weight: 700;
        text-align: left;
        text-transform: none;
        text-decoration: none;
        font-family: $sub-font;
      }
      p {
        color: #666;
      }
    }
    .box_marketing_item_img {
      margin-bottom: 30px;
      width: 100%;
      height: 376px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;
      border-radius: 4px;
      overflow: hidden;
      img {
        width: 100%;
        height: 376px;
        object-fit: cover;
      }
    }
  }
}

.box_orderspace {
  background: rgba(28, 114, 178, .1);
  margin-bottom: 30px;
  .box_orderspace_img {
    width: 100%;
    height: 378px;
    img {
      width: 100%;
      height: 378px;
      object-fit: cover;
    }
  }
  .box_orderspace_content {
    padding: 30px;
    h2 {
      font-size: 1.125em;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
    }
  }
}

.box_logrenove {
  margin-bottom: 60px;
  background: #f0f8f9;
  padding: 30px;
  position: relative;
  &:after {
    content: "";
    width: calc(100% - 30px)!important;
    height: 100%!important;
    position: absolute;
    z-index: -1;
    background: none;
    border: 1px solid $blue-color;
    right: -30px!important;
    top: 30px!important;
    transition: all 300ms ease-in-out;
  }
  .box_logrenove_content {
    padding-left: 30px;
    h2 {
      font-size: 1.125em;
      margin-bottom: 20px;
      color: $blue-color;
    }
    p {
      margin-bottom: 0;
    }
  }
  .box_logrenove_img {
    img {
      width: 100%;
    }
  }
}

.box_orderrenove {
  border-bottom: 1px solid #e4e7f2;
  padding: 30px 0;
  .box_orderrenove_img {
    margin-bottom: 30px;
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
    height: 500px;
    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
    }
  }
  h2 {
    font-size: 1.125em;
    margin-bottom: 10px;
    color: $blue-color;
    font-family: $sub-font;
  }
  p {
    margin-bottom: 0;
  }
  .box_orderrenove_content {
    p {
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

.section_contact {
  .frm_contact {
    label {
      font-weight: 500;
    }
    .info {
      a {
        color: $blue-color;
        font-weight: 600;
      }
    }
    .btnSend {
      margin-top: 15px;
      border: 1px solid #000;
      margin-right: 15px;
      padding: 15px 30px;
      min-width: 280px;
      position: relative;
      font-weight: 500;
      img {
        position: absolute;
        right: 15px;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: all 350ms ease-in;
      }
      &:hover {
        img {
          right: 10px;
        }
      }
    }
  }
}

.section_termpage {
  h3 {
    margin: 50px 0 20px;
  }
}

.highline {
  font-family: Menlo,Consolas,monaco,monospace;
  padding: .8em 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 0.875em;
  line-height: 1.8em;
}

.w_contact {
  text-align: center;
  padding: 30px 0;
  .btn_contact {
    background: #1ca8cc;
    border-radius: 4px;
    color: #fff;
    font-family: $sub-font;
    font-weight: 600;
    font-size: 1.125em;
    padding: 15px 60px;
    position: relative;
    &:hover {
      background: #0a6682;
      img {
        right: 10px;
      }
    }
    span {
      position: relative;
      display: inline-block;
    }
    img {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 350ms ease-in;
    }
  }
}




@media (max-width: 768px) {
  p {
    font-size: 0.875em;
  }
  header {
    background: #000;
  }
  .navbar-brand {
    img {
      width: 120px;
    }
  }
  .dropdown-slide {
    &.show {
      .dropdown-menu {
        display: block;
      }
    }
   .dropdown-menu {
      display: none;
      z-index: 200;
      &:after {
        left: 28%;
      }
    }
  }
  .title {
    font-size: 1.3em;
  }
  .title_sub {
    font-size: 2em;
  }
  .subtitle {
    margin-bottom: 30px;
  }
  section {
    padding: 30px 0;
  }
  .section_banner {
    &:before {
      top: inherit;
      width: 466px;
      height: 349px;
    }
    .caption {
      z-index: 10;
      position: relative;
      h1 {
        font-size: 1.6em;
        img {
          &.logo {
            display: block;
            width: 80%;
            margin: auto auto 20px;
          }
          width: 30px;
        }
      }
      p {
        font-size: 0.875em;
      }
    }

  }

  .section_subbanner {
    margin-top: 56px;
  }

  .section_services {
    .list_services {
      padding: 0;
      flex-direction: column;
      .box_services {
        margin-bottom: 30px;
        width: 100%;
        margin-right: 0;
        .services_img {
          width: 100%;
        }
        h3 {
          font-size: 1em;
          min-height: auto;
        }
      }
    }
  }

  .section_news {
    .box_newest {
      article {
        padding-bottom: 15px;
        margin-bottom: 15px;
        a {
          .newest_media {
            webkit-flex-basis: 105px;
            -ms-flex-preferred-size: 105px;
            flex-basis: 105px;
            margin-right: 15px;
          }
          .newest_content {
            padding-bottom: 26px;
            time {
              font-size: 0.625em;
              line-height: 1em;
              margin-bottom: 5px;
            }
            h2 {
              font-size: 0.75em;
            }
            .newest_footer {
              .author {
                .author_img {
                  width: 24px;
                  height: 24px;
                  img {
                    width: 24px;
                    height: 24px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .section_news_popular {
    ul {
      li {
        width: 100%;
        margin-bottom: 30px;
        margin-right: 0;
      }
    }
  }

  .section_article_list {
    padding-bottom: 60px;
  }

  footer {
    .footer_info {
      text-align: center;
      margin-bottom: 30px;
    }
    ul {
      &.list_social {
        margin: auto;
        justify-content: center;
        flex-wrap: wrap;
        flex-direction: row;
      }
      
    }
    .footer_top {
      padding: 30px 0;
      h4 {
        
      }
      ul {
        margin-bottom: 15px;
        li {
          text-align: left;
        }
      }
    }
    .footer_bottom {
      p {
        font-size: 0.75em;
      }
    }
  }

  .section_consult {
    .btn {
      min-width: auto;
      display: block;
      margin-left: 15px;
      margin-right: 15px;
      font-size: 1em;
      img {
        right: 20px;
      }
    }
  }

  .section_mission {
    padding-left: 0;
    padding-right: 0;
    &:after, &:before {
      display: none;
    }
    .box_mission {
      padding: 15px;
    }
  }

  .section_about {
    &:after {
      display: none;
    }
  }

  .section_work {
    ul {
      flex-wrap: wrap;
      li {
        width: 100%;
        margin-right: 0;
      }
    }
  }

  .section_recruit {
    .btn {
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  .section_company {
    .table {
      th, td {
        font-size: 0.8125em;
      }
      th {
        width: 30%;
      }
    }
  }

  .section_subbanner {
    h1 {
      font-size: 2em;
      text-align: center;
    }
  }

  .section_marketing {
    .box_marketing {
      .box_marketing_item {
        padding: 15px;
      }
      .box_marketing_item_img {
        height: auto;
        img {
          height: auto;
        }
      }
    }
  }

  .box_logrenove {
    padding: 15px;
    &:after {
      right: 0 !important;
    }
    .box_logrenove_content {
      padding-left: 0;
      padding-top: 30px;
      h2 {
        margin-bottom: 10px;
      }
    }
  }

  .w_contact {
    .btn_contact {
      font-size: 1em;
      padding-left: 40px;
      padding-right: 40px;
      img {
        width: 20px;
      }
    }
  }
}

@media (max-width: 428px) {
  footer {
    .footer_top {
      ul {
        &.menu-bottom {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

.box_works_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 80px;
  iframe {
    width: 33.33%;
    height: 260px;
  }
  h2 {
    flex-basis: 100%;
  }
  .card {
    width: 33.33%;
    overflow: hidden;
    position: relative;
    border: none;
    border-radius: 0;
    .content {
      z-index: 2;
      width: 100%;
      position: absolute;
      bottom: -100px;
      transition: all 0.7s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;
      box-sizing: border-box;
      min-height: 100px;
      background-color: rgba(51, 58, 86, 0.8);
      span {
        &:first-child {
          text-transform: uppercase;
          margin-bottom: 5px;
          font-weight: 700;
          letter-spacing: 1px;
          text-align: center;
          color: #fff;
          font-size: 1em;
        }
        &:last-child {
          color: #fff;
          text-align: center;
          font-size: 0.875em;
        }
      }
    }
    .image {
      z-index: 1;
      width: 100%;
      height: 260px;
      overflow: hidden;
      transition: all 0.5s ease;
      background: #f1f1f1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    img {
      height: auto;
      width: 100%;
      object-fit: cover;
      transition: all 0.5s ease;
      // transform: scale(1.2);
    }
    &:hover {
      .content {
        bottom: 0px;
        color: #fff;
        justify-content: center;
        height: 100%;
        transition: all 0.5s ease;
      }
      .image {
        img {
          // transform: scale(1);
        }
      }
    }
  }
  .btnmore {
    margin-top: 50px;
    background: #1ca8cc;
    border-radius: 4px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    padding: 15px 60px;
    position: relative;
    img {
      position: absolute;
      right: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 350ms ease-in;
    }
    &:hover {
      background: #0a6682;
      img {
        right: 10px;
      }
    }
  }
}

.fancybox__caption {
  text-align: center;
}

@media screen and (max-width: 768px) {
  .box_works_content {
    iframe {
      width: 50%;
      margin-bottom: 10px;
    }
    .card {
      width: 50%;
      .content {
        bottom: 0;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .box_works_content {
    iframe {
      width: 100%;
    }
    .card {
      width: 100%;
    }
  }
}

.box_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.load-more-container {
  text-align: center;
  .box_gallery {
    a {
      &:nth-child(1n + 7) {
        max-height: 0;
        opacity: 0;
        transition: 0.1s ease-in;
      }
    }
  }
  .load-more-btn {
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    background: #1ca8cc;
    border-radius: 4px;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    padding: 15px 60px;
    position: relative;
    &:hover {
      background: #333;
    }
    .loaded {
      display: none;
    }
  }
  #load-more {
    display: none;
  }
}

.load-more-container #load-more:checked ~ .box_gallery a:nth-child(1n + 5) {
  max-height: 999px;
  opacity: 1;
  transition: 0.2s ease-in;
}
.load-more-container #load-more:checked ~ .load-more-btn .loaded {
  display: block;
}
.load-more-container #load-more:checked ~ .load-more-btn {
  display: none;
}