.main_right .each_boxright {
	.article_ranking{
		position:absolute;
		height:35px;
		width: 35px;
		top:0;
		left:0;
		justify-content:center;
		background-color:#333333;
		color:#FFF;
		display: flex;
		align-items: center;
		&.ranking-one{
			background:#AD814D;
		}
		&.ranking-two{
			background: #999999;
		}
		&.ranking-three{
			background: #CD7B5D;
		}
	}
}