//Global
.animation-btn{
	position: relative;
	overflow:hidden;

	&:before{
		content: "";
	    display: block;
	    position: absolute;
	    z-index: -1;
	    top: 0;
	    left: 0;
	    width: calc(100% + 4rem);
	    height: 101%;
	    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	    transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	    -webkit-transform: skewX(-45deg) scale(0, 1);
	    transform: skewX(-45deg) scale(0, 1);
	    -webkit-transform-origin: right top;
	    transform-origin: right top;
	    background: rgba(174,129,72,0.1)
	}
	&:hover{
		&:before {
		    -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.07s;
		    transition: -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.07s;
		    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.07s;
		    transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.07s, -webkit-transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.07s;
		    -webkit-transform: skewX(-45deg) scale(1, 1);
		    transform: skewX(-45deg) scale(1, 1);
		    -webkit-transform-origin: left top;
		    transform-origin: left top;
		}
	}
}

 //Scroll Through Menu
.menu-animation-scroll {
    animation-name: top-to-bottom;
    animation-duration: 1s;
}

.animation-scroll{
	animation-name: top-to-bottom1;
    animation-duration: 1s;
}

.menu-animation-scroll {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    transition: all .5s ease;
}

//Button
.menu-sp-action{
	position: absolute;
	right:30px;
}
button {
    position: relative;
    height: 30px;
    width: 30px;
    .nav-toggler-line {
        position: absolute;
        width: 22px;
        left: 50%;
        transform: translateX(-50%);
        height: 2px;
        background-color: #000;
        transition: all 0.7s cubic-bezier(0, 0.7, 0, 1);
        transition-delay: 0.2s;
        backface-visibility: hidden;

        &:nth-child(1) {
            top: 7px;
        }

        &:nth-child(2) {
            top: 13px;
        }

        &:nth-child(3) {
            bottom: 3px;
        }
    }
    &.open {
        .nav-toggler-line {
            &:nth-child(1) {
                transform: rotateZ(45deg) translate(-3px, 12px);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: rotateZ(-45deg) translate(-4px, -12px);
            }
        }
    }
}

.dropdown-toggle::after {
    content: none;
}

//Sub navigation
header{
	z-index: 9999;
}

.has-touch{
	-webkit-transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1);
  	transition: 0.8s cubic-bezier(0.19, 1, 0.22, 1); 
  	-webkit-transform: rotateY(-11deg) rotateX(5deg) scale(0.99); 
  	transform: rotateY(-11deg) rotateX(5deg) scale(0.99);
}

.nav-main{
	background-color:#fff;
	position: relative;
	z-index: 120;
	.navbar{
		padding-bottom:0;
	}
	.navbar-brand{
		padding-right:20px;
	}
	.main-menu{
		border-left: 1px solid #eaeaea;
	}
	.navbar-expand-lg .navbar-nav .nav-link, .navbar-nav .nav-link{
		padding: 20px 8px;
		@media (min-width:992px) and (max-width: 1100px){
			font-size: 0.75rem;
		}
	}
}

.nav-sub{
   	position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
}

.nav-sub_block{
	position: relative;
	background: #fff;
	height:0;
}

.nav-sub_section{
	visibility: hidden;
    position: absolute;
    background-color:#fff;
    top: 73px;
    right: 0;
    left: 0;
    margin: 0 auto;
    padding: 20px 86px 50px;
}


.nav-sub_box{
	padding: 50px 20px;
	.nav-sub_box_title{
		text-align:center;

		h3{
			font-size: 3rem;
			color:#000;
			line-height:36px;
			span{
				font-size: 1.125rem;
				display: block;
			}
		}
	}

	ul.nav-sub_box_items{
		padding-top:30px;
		li{
			width:calc(100%/3 - 20px);
			margin-right:20px;
			&:nth-child(3n){
				margin-right:0;
			}
			.nav-sub_box_link{
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				height:60px;
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				color:#000;
				z-index: 2;
				padding-left:20px;
				font-weight: 500;
				font-size: 1.125rem;
				&:after{
					content: "";
				    display: inline-block;
				    position: absolute;
				    top: 0;
				    right: 15px;
				    bottom: 0;
				    margin: auto;
				    width: 20px;
				    height: 20px;
				    background: url('../images/common/i-arrow-right-black.svg') no-repeat left top/100% auto;
				}
				&:hover{
					color:#ae8148;
					&:after{
						background: url('../images/common/i-arrow-right-brown.svg') no-repeat left top/100% auto;		
					}
				}
			}
		}
		
	}

}


//Sub Menu Open
.view-submenu{
	overflow:hidden;
	.bg-overflow{
		position: fixed;
		top:90px;
		right:0;
		bottom:0;
		left:0;
		background:rgba(0,0,0,.25);
		z-index:99;
	}
}



//SP Menu

@media (max-width:991px){
	.nav-main {
		.navbar{
			padding:20px 15px;
		}
	}
	.menu-sp{
		background: #fff;
	    width: 230px;
	    padding: 20px 0 60px;
	    flex-flow: column;
	    top: 0;
	    bottom: 0;
	    right: 0;
	    position: fixed;
	    transition: .4s ease-in-out;
	    transform: translate3d(300px,0,0);
	    overflow: auto;
		>.navbar-nav{
			border-left: 1px solid #eaeaea;
			border-right: 1px solid #eaeaea;
			width: 100%;
			>.nav-item{
				text-align: left;
				.social-link{
					margin-top:20px;
					text-align: center;
					a{
						padding-right:5px;
					}
				}
				.nav-link{
					position: relative;
					border-bottom: 1px solid #ccc;
					padding: 10px 15px;
					&:before{
					    content: "";
					    background: url(../images/1x/icon03.png) no-repeat right center;
					    background-size: 6px 10px;
					    width: 12px;
					    height: 20px;
					    display: inline-block;
					    position: absolute;
					    right: 15px;
					    top: 50%;
					    transform: translateY(-50%);
					    border-bottom: none;
					    left: unset;
					}
					&.dropdown-toggle:before{
						content: "";
					    background: url(../images/1x/icon04.png) no-repeat right center;
					    background-size: 10px;
					    width: 18px;
					    height: 18px;
					    display: inline-block;
					    position: absolute;
					    right: 13px;
					    top: 50%;
					    transform: translateY(-50%);
					    border-bottom: none;
					    left: unset;
					}
				}
				.dropdown-menu{
					.dropdown-item{
						position:relative;
						&:before {
						    content: "";
						    background: url(../images/1x/icon03.png) no-repeat right center;
						    background-size: 6px 10px;
						    width: 12px;
						    height: 20px;
						    display: inline-block;
						    position: absolute;
						    right: 15px;
						    top: 50%;
						    transform: translateY(-50%);
						    border-bottom: none;
						    left: unset;
						}
					}
				}


			}
		}
	}
	//Open SP Menu
	.menu-opened{
		overflow: hidden;
		.menu-sp{
		    width: calc(50% + 50px);
    		height: calc(100vh - 100px);
    		transform: translate3d(0,60px,0);
    		z-index: 9999;
		}
		.mobile-overlay{
			left: 0;
		    position: fixed;
		    top: 60px;
			right: 0;
			bottom:0;
			opacity: 0.5;
    		background-color: #000;
		}
	}

}


@keyframes drawer-open {
   0%{
        opacity: 0;
        transform: translateX(-100%);
   }
   50%{
        opacity: 1;
   }    
   100% {
        opacity: 1;
        transform: translateX(0);
    } 
}

@keyframes drawer-close {
   0%{
        opacity: 1;
        transform: translateX(0);
   }
   50%{
        opacity: 0;
   }    
   100% {
        opacity: 0;
        transform: translateX(-100%);
    } 
}

@keyframes top-to-bottom {
  0%   {top:-200px;}
  100% {top:0;}
}

@keyframes top-to-bottom1 {
  0%   {top:-200px;}
  100% {top:0;}
}

@media(max-width:767px){
    .nav_menu {
        .navbar-brand{
            span{
                font-size: 0.375rem;
            }
        }
    }
}

@media(max-width:374px){
    .nav_menu {
        .navbar-brand{
            span{
                display: block;
            }
        }
    }
}


