.booking-confirm{

	.booking-success_box{
		padding-left:15px;
		padding-right:15px;
		margin-bottom:10px;
		h2{
			font-weight: bold;
			font-size: 2.25rem;
			line-height: 36px;
			text-align: center;
			color: #4D4D4D;
			margin-bottom:25px;
		}
	}
	.booking-success_ct{
		.img{
			width: 100%;
		    max-width: 541px;
		    margin: 0 auto;
		}
	}
	
	.btn-lp-turquoise{
		height:50px;
	    max-width: 366px;
	    font-weight: 600;
		font-size: 1.125rem;
		line-height: 21px;
		padding-right: 45px;
		margin-bottom: 60px;
		.circle-arrow-right{
			right:46px;
		}
	}

}


