.box_tab {
    .box_tab_content {
        padding: 20px 0 10px;
    }

    .btn_tab {
        &.active {
            border: none;
            background-color: #E5F2FD;
        }
    }

    form {
        flex-direction: column;

        .box_tab_content_left {
            min-width: none;
            margin-right: 0;

            .row_custom {
                margin-bottom: 15px;
            }
        }
    }

    .box_button {
        .btn {
            width: inherit;
            min-width: 217px;

            &:last-of-type {
                min-width: 444px;
                background: #0168B7;
                color: #fff;
                margin: inherit;
                margin-bottom: 0;

                &:hover {
                    background: #084879;
                }
            }
        }
    }
}

@media (max-width: 896px) {
    .box_tab {
        .box_tab_content {
            padding: 15px 15px;
        }

        .box_button {
            .btn {
                min-width: 30%;
                padding: 10px;

                &:last-of-type {
                    min-width: 33.333%;
                    height: auto;
                }
            }
        }
    }
}