@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

$primary_color: #0168B7;

a {
  color: #000;
}
.btn {
  font-size: 16px;
  color: #000;
  border-radius: 0;
}
.btn, a, .btn:hover {
  transition: color .25s ease;
}
.btn:hover, .btn.focus {
  color: $primary_color;
  transition: all .3s linear;
}
.btn.focus, .btn:focus {
  box-shadow: none;
}
button:focus {
  outline: none;
}
::-moz-selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}

::selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}
::-moz-selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}
::-webkit-selection {
  background: $primary_color;
  color: #FFF;
  text-shadow: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #FBFBFB;
  font-family: "SF Pro Display", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.8em;
  font-size: 1rem;
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}

.btn-link {
  color: #000;
  word-break: normal;
  word-break: break-all;
  word-break: keep-all;
  font-size: 0.75em;
  text-decoration: underline;
}

.btn-link:hover {
  color: #B48856;
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "SF Pro Display", "Noto Sans JP", "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color: #000;
  margin-bottom: 10px;
  font-size: 2em;
  font-weight: 700;
  font-style: normal;
}

*, :before, :after {
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  position: relative;
  height: 100%;
}

p {
  word-wrap: break-word;
}

a:hover {
  text-decoration: none;
  color: #000;
  transition: all .3s linear;
}

.red {
  color: #eb5757;
}

.form-control {
  font-size: 0.875em;
  border-color: #828282;
  height: calc(1.5em + .75rem + 7px);
  border-radius: 4px;
  font-family: 'Noto Sans JP';
}
.row>* {
  padding-left: 15px;
  padding-right: 15px;
}
section {
  padding: 120px 0;
}
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1127px;
  }
}

header {
  background: $primary_color;
  text-align: center;
  &.template2 {
    h1 {
      text-align: left;
    }
  }
  h1 {
    color: #fff;
    padding: 80px 0;
    margin: 0;
  }
}

.main_content {
  display: flex;
  align-items: flex-start;
  &.template2 {
    flex-direction: row-reverse;
  }
}
.box_reverse {
  display: flex;
  flex-direction: column;
}

.btn_inquiry {
  background: $primary_color;
  display: block;
  border-radius: 4px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  margin: 40px 0;
  font-size: 0.75em;
  padding: 10px;
  line-height: 1em;
  &:hover {
    background: #00467d;
    color: #fff;
  }
}
.main_left {
  max-width: 260px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.02);
  padding: 20px;
  position: relative;
  top: -126px;
  text-align: center;
  p {
    font-size: 0.875em;
  }
  .box_avatar {
    margin-bottom: 40px;
    .avatar {
      display: block;
      width: 124px;
      height: 124px;
      border-radius: 100px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 124px;
        object-fit: cover;
      }
    }
    h2 {
      font-size: 1.25em;
      margin: 10px 0;
    }
  }
  .box_info {
    .box_logo {
      text-align: center;
    }
    .logo {
      margin-bottom: 10px;
      display: block;
    }
    .linkweb {
      display: block;
      font-weight: 700;
      font-size: 1em;
    }
    p {
      text-align: left;
      line-height: 1em;
      margin-bottom: 15px;
      span {
        display: inline-block;
        background: #000;
        color: #fff;
        font-size: 0.7143em;
        font-weight: 700;
        padding: 0 10px;
        margin-right: 10px;
      }
    }
    ul {
      padding: 0;
      &.info {
        border-top: 1px dotted #aaa;
        padding-top: 10px;
        margin-top: 15px;
        li {
          display: flex;
          align-items: center;
          text-align: left;
          &:last-of-type {
            a {
              text-decoration: underline;
            }
          }
          a {
            font-size: 0.75em;
            display: block;
            text-decoration: none;
          }
          img {
            margin-right: 10px;
          }
        }
      }
    }
    .about_me_desc {
      font-size: 0.75em;
      line-height: 1.8em;
    }
  }

  .box_social {
    margin-top: 40px;
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      border: 1px solid #AAA;
      background: #FFF;
      margin-bottom: 10px;
      font-weight: 700;
      font-size: 0.75em;
      text-decoration: none;
      &:hover {
        background: #d7d6d6;
      }
      img {
        margin-right: 10px;
      }
    }
  }




}


.main_right {
  max-width: 800px;
  margin-top: 50px;
  margin-left: 37px;
  &.template2 {
    margin-left: 0;
    margin-right: 37px;
  }
  .standard_article {
    padding-bottom: 30px;
    margin-bottom: 50px;
    border-bottom: 1px dotted #ccc;
    &:last-of-type {
      border-bottom: none;
    }
    h2 {
      font-size: 1.5em;
      position: relative;
      padding-left: 15px;
      margin-bottom: 10px;
      // &::before {
      //   content: '';
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 6px;
      //   height: 100%;
      //   background: $primary_color;
      //   border-radius: 3px;
      // }
      span {
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 6px;
        height: 100%;
        background: $primary_color;
        border-radius: 3px;
      }
    }
    .entry_date {
      text-align: right;
      color: #666;
      margin-bottom: 30px;
      font-size: 0.875em;
    }
    .standard_download {
      margin-bottom: 60px;
      padding: 0 85px;
      ul {
        min-width: 260px;
        margin: 0 20px 0 0;
        padding: 0;
        li {
          display: flex;
          align-items: center;
          font-size: 0.875em;
          font-weight: 700;
          margin-bottom: 30px;
          &:last-of-type {
            margin-bottom: 0;
          }
          p {
            margin-bottom: 0;
            line-height: 1.5em;
            margin-right: 20px;
          }
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            border: 2px solid $primary_color;
            background: #FFF;
            color: $primary_color;
            font-weight: 700;
            font-size: 1em;
            min-width: 260px;
            &:hover {
              background: #e1e0e0;
            }
            img {
              margin-right: 10px;
            }
          }
        }
      }
    }

    .standard_post_img {
      margin-bottom: 30px;
      img {
        width: 100%;
      }
    }

    .standard_content {
      margin-bottom: 30px;
      p {
        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .standard_list_video {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      li {
        max-width: 253px;
        margin: 0 20px 20px 0;
        &:nth-of-type(3n) {
          margin-right: 0;
        }
        .box_video {
          width: 100%;
          height: 142px;
          background: #D9D9D9;
          margin-bottom: 10px;
        }
        p {
          font-size: 0.75em;
          margin-bottom: 0;
          line-height: 1.5em;
        }
        a {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

  }
  
}

footer {
  border-top: 1px solid #ccc;
  padding: 30px 0 20px;
  text-align: center;
  p {
    font-family: 'Mont', "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
    font-size: 0.75em;
    font-weight: 700;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-right: 20px;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        a {
          color: #494949;
        }
      }
      a {
        display: block;
        font-size: 0.625em;
        text-decoration: none;
      }
    }
  }
}

.btn_showdetail {
  display: none;
}
.btn_close {
  display: none;
}
.btn_inquiry {
  &.btn_inquiry2 {
    display: none;
  }
}

@media (max-width: 992px) {
  .box_reverse {
    margin-bottom: 30px;
  }
  .main_right {
    .standard_article {
      .standard_download {
        padding: 0;
        margin: 0 0 30px 0;
        ul {
          li {
            display: block;
            p {
              text-align: center;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  header {
    h1 {
      font-size: 1.5em;
      padding: 60px 10px;
      text-align: center;
    }
  }
  .main_content {
    display: block;
  }
  .main_left {
    max-width: 100%;
    box-shadow: none;
    padding: 0;
    top: 0;
    .box_avatar {
      position: relative;
      top: -40px;
      margin-bottom: 0;
      .avatar {
        width: 78px;
        height: 78px;
        img {
          height: 78px;
        }
      }
      p {
        margin-bottom: 0;
      }
    }
    .box_info {
      .box_logo {
        text-align: left;
        display: flex;
        align-items: center;
        a {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: 0;
          img {
            width: 50px;
          }
        }
      }
    }
    .box_social {
      margin: 20px 0;
    }

    &.admin {
      .box_info {
        .form_group {
          input {
            width: 100% !important;
          }
        }
      }
    }
  }
  
  .btn_inquiry {
    margin: 0 0 20px;
  }
  .btn_showdetail {
    display: block;
    font-size: 0.75em;
    font-weight: 700;
    position: relative;
    text-align: center;
    &:hover, &:focus {
      border: none;
    }
    img {
      display: block;
      margin: 0 auto;
    }
  }
  .btn_close {
    font-size: 0.75em;
    font-weight: 700;
    position: relative;
    img {
      display: block;
      margin: 0 auto;
      padding-left: 10px;
    }
  }
  .main_right {
    max-width: 100%;
    margin-top: 30px;
    margin-left: 0;
    &.template2 {
      margin-right: 0;
    }
    .standard_article {
      .standard_img {
        display: block;
        margin-bottom: 20px;
        ul {
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      h2 {
        font-size: 1.25em;
      }
      .entry_date {
        font-size: 0.875em;
      }
      .standard_list_video {
        justify-content: center;
        li {
          width: 47%;
          margin: 0 15px 15px 0;
          &:nth-of-type(3n) {
            margin-right: 15px;
          }
          &:nth-of-type(2n) {
            margin-right: 0;
          }
          .box_video {
            height: 90px;
            overflow: hidden;
            img {
              object-fit: cover;
              height: 90px;
              width: 100%;
            }
          }
        }
      }

      .standard_download {
        padding: 0;
        ul {
          width: 100%;
          li {
            display: block;
            p {
              margin-bottom: 10px;
              margin-right: 0;
              text-align: center;
            }
          }
        }
      }
      
    }
  }

  .box_detail {
    display: none;
  }
  .btn_inquiry {
    &.btn_inquiry2 {
      display: block;
    }
  }

  .box_reverse {
    flex-direction: column-reverse;
  }

  footer {
    ul {
      li {
        a {
          font-size: 0.5em;
        }
      }
    }
  }

  

}

@media (max-width: 430px) {
  .main_right {
    .standard_article {
      .standard_list_video {
        justify-content: flex-start;
      }
    }
  }
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  60% {
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

// Admin page
.container_custom {
  max-width: 800px;
}
.frm_admin {
  header {
    padding: 78px 0 42px;
    .form-control {
      border: 1px solid #828282;
      background: #fff;
      font-size: 2em;
      font-weight: 700;
    }
  }
}

.main_right {
  &.admin {
    .standard_article {
      h2 {
        margin-bottom: 30px;
        input {
          font-size: 24px;
          font-weight: 700;
        }
      }
    }
  }
}

.standard_post_main_img {
  padding: 50px 70px 62px 70px;
  background: rgba(1, 104, 183, 0.06);
  margin-bottom: 30px;
  h3 {
    font-size: 1.25em;
    opacity: .5;
    color: $primary_color;
    margin-bottom: 34px;
    text-align: center;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    li {
      max-width: 200px;
      min-width: 200px;
      height: 100px;
      margin-right: 30px;
      margin-bottom: 30px;
      position: relative;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:last-of-type {
        background: #fff;
        text-align: center;
        color: $primary_color;
      }
      a {
        img {
          width: 100%;
          height: 100px;
          object-fit: cover;
        }
        .icon_cloud {
          img {
            width: auto;
            height: auto;
          }
        }
      }
      
    }
  }
}

.box_uploads {
  width: 100%;
  height: 100px;
  position: relative;
  &:hover {
    .upload_custom {
      background: #f4f3f3;
    }
  }
}
.upload_default {
  display: none;
}
.upload_custom {
  height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background: #fff;
  padding: 16px;
  border-radius: 6px;
  border: 2px solid $primary_color;
  color: $primary_color;
  cursor: pointer;
  margin-bottom: 0;
  span {
    margin-top: 5px;
    display: block;
    font-weight: 600;
    font-size: 0.75em;
    line-height: 1em;
    font-family: 'Inter';
    color: $primary_color;
  }
  i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 100px;
    background: #e1ecf8;
  }
}

.box_reverse {
  textarea {
    height: 160px;
    margin-bottom: 30px;
  }
  .text_link {
    margin-bottom: 30px;
    display: flex;
    align-self: center;
    align-items: center;
    .input_text {
      margin-right: 20px;
      min-width: 314px;
    }
    .box_link {
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: 2px solid $primary_color;
      background: #fff;
      padding: 10px;
      min-width: 460px;
      position: relative;
      img {
        margin-right: 10px;
      }
      input {
        &:last-of-type {
          margin-left: 10px;
        }
      }
    }
  }
}

.btn_addlink {
  border-radius: 4px;
  border: 1px solid var(--primal-color, #0168B7);
  background: var(--white, #FFF);
  padding: 10px;
  margin-bottom: 30px;
  font-size: 0.75em;
  font-weight: 700;
  color: $primary_color;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  min-width: 426px;
  &:hover {
    background: #e6e6e6;
    border-color: #0168B7;
  }
  &.active {
    border-color: $primary_color;
    background: $primary_color;
    color: #fff;
    &:hover {
      background: #02487e;
    }
  }
  img, svg {
    margin-right: 10px;
  }
}

.box_material_content {
  ul {
    padding: 0;
    margin: 0 0 10px;
    list-style: none;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    li {
      border-radius: 4px;
      background: #F0F6FB;
      padding: 20px;
      // min-width: 253px;
      width: 31.33%;
      margin-right: 10px;
      margin-bottom: 20px;
      display: inline-block;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      p {
        &.or {
          color: rgba(0, 104, 184, .5);
          text-align: center;
          margin-bottom: 0;
          font-family: 'Inter';
          font-size: 0.75em;
        }
      }
      label {
        &.label_url {
          font-family: 'Noto Sans JP';
          font-weight: 700;
          font-size: 0.75em;
          color: $primary_color;
        }
      }
      input {
        border-radius: 4px;
        border: 2px solid var(--primal-color, #0168B7);
        background: var(--white, #FFF);
        margin-bottom: 10px;
        color: #828282;
        font-size: 0.875em;
      }
      textarea {
        border-radius: 4px;
        border: 1px solid var(--Gray-3, #828282);
        background: var(--white, #FFF);
        height: 80px;
        color: #828282;
        font-size: 0.875em;
      }
    }
  }
  .btn_addlink {
    margin: 0 auto 30px;
  }
  hr {
    margin-bottom: 30px;
    border-style: dotted;
  }
}

.checkbox-lg .form-check-input {
  top: .8rem;
  scale: 1.8;
  margin-right: 0.7rem;
  width: 1.5em;
  &:focus {
    box-shadow: none;
  }
 }

 .btn_tab {
  position: relative;
  border-radius: 2px 2px 0px 0px;
  background: #E5F2FD;
  padding: 10px 40px;
  &:hover {
    background: #E5F2FD;
  }
  &:active {
    border: none;
  }
 }

.box_tab {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  .box_tab_content {
    background: #E5F2FD ;
    padding: 64px 0;
  }
  form {
    display: flex;
    align-self: center;
    .box_tab_content_left {
      margin-right: 52px;
      min-width: 600px;
      .row_custom {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        label {
          margin-right: 20px;
          min-width: 100px;
        }
        .box_companykey {
          width: 100%;
        }
        .form-switch {
          padding-left: 3em;
        }
      }
      .link {
        margin-bottom: 5px;
        font-size: 0.875em;
        b {
          color: $primary_color;
        }
      }
      input {
        &.note {
          color: #EB5757;
          &::placeholder {
            color: #EB5757;
          }
        }
      }
    }
    label {
      background: #000;
      font-size: 0.625em;
      font-weight: 700;
      color: #fff;
      line-height: 1em;
      padding: 3px 20px;
    }
  }
  .note {
    color: #EB5757;
    font-size: 0.875em;
    font-family: 'Inter';
  }
  .box_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    .btn {
      padding: 14.5px 16px;
      border-radius: 6px;
      border: 1px solid var(--primal-color, #0168B7);
      background: var(--white, #FFF);
      margin-right: 10px;
      width: 50%;
      max-width: 217px;
      font-size: 0.875em;
      font-weight: 700;
      color: $primary_color;
      &:last-of-type {
        margin-right: 0;
      }
      &:hover {
        background: $primary_color;
        color: #fff;
      }
    }
  }
  .btn_registration {
    border-radius: 6px;
    background: var(--primal-color, #0168B7);
    display: flex;
    max-width: 444px;
    margin: 0 auto;
    height: 55px;
    padding: 16px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: #fff;
    font-weight: 590;
    &:hover {
      background: #01477d;
    }
  }
}

@media (max-width: 834px) {
  .standard_post_main_img {
    padding-left: 15px;
    padding-right: 15px;
    ul {
      li {
        width: 47%;
        max-width: none;
        min-width: auto;
        margin-bottom: 15px;
        margin-right: 15px;
        &:nth-of-type(3n) {
          margin-right: 15px;
        }
        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }
    }
  }
  .box_reverse {
    .text_link {
      display: block;
      width: 100%;
      .box_link {
        min-width: 100%;
      }
      .input_text {
        min-width: auto;
        margin-bottom: 10px;
      }
    }
  }
  .btn_addlink {
    min-width: auto;
  }

  .box_material_content {
    ul {
      display: block;
      li {
        margin-right: 0;
        min-width: auto;
        width: 100%;
      }
    }
  }

  .box_tab {
    .box_tab_content {
      padding: 0 0 10px;
    }
    form {
      display: block;
      .box_tab_content_left {
        min-width: auto;
        margin-right: 0;
        .row_custom {
          display: block;
          margin-bottom: 10px;
          .form-switch {
            margin-bottom: 10px;
            margin-top: 10px;
          }
        }
      }
    }
    .note {
      line-height: 1.5em;
    }
  }

}

.main_left {
  &.admin {
    h2 {
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
    .form-control {
      color: #828282;
      font-family: 'Noto Sans JP';
      margin-bottom: 10px;
    }
    .box_info {
      ul {
        &.info {
          li {
            margin-bottom: 10px;
            input {
              padding: 5px 10px;
              font-size: 0.875em;
              border-radius: 4px;
              border: 1px solid var(--Gray-3, #828282);
              background: var(--white, #FFF);
              width: 100%;
              font-family: 'Noto Sans JP';
            }
          }
        }
      }
      .box_indicate {
        margin-top: 10px;
        margin-bottom: 40px;
        label {
          font-size: 0.875em;
        }
      }
      .form_group {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        span {
          background: #000;
          color: #fff;
          font-weight: 700;
          line-height: 1em;
          font-size: 0.625em;
          padding: 3px 5px;
          margin-right: 10px;
          min-width: 50px;
        }
        input {
          padding: 5px 10px;
          font-size: 0.875em;
          border-radius: 4px;
          border: 1px solid var(--Gray-3, #828282);
          background: var(--white, #FFF);
          width: 155px;
          font-family: 'Noto Sans JP';
        }
      }
      .about_me_desc {
        textarea {
          width: 100%;
          margin-top: 30px;
          min-height: 432px;
          font-size: 0.875em;
          margin-bottom: 0;
        }
      }
    }
  }
}


.modal_inquiry {
  color: #333;
  .modal-header {
    flex-direction: column;
    padding: 50px 60px 26px;
    border-radius: 0;
    position: relative;
    border-bottom: none;
    h1 {
      font-family: 'Inter';
      font-size: 1.5em;
      font-weight: 600;
      letter-spacing: -0.48px;
      color: $primary_color;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 0;
      &:last-of-type {
        font-size: 0.75em;
      }
    }
    .btn-close {
      position: absolute;
      right: 20px;
      top: 20px;
      border-radius: 100px;
      border: 1px solid #EAECEE;
    }
  }
  .modal-content {
    border-radius: 0;
  }
  .modal-body {
    padding: 0 60px 50px;
  }
  label {
    display: block;
    text-align: left;
    color: #333;
    font-weight: 700;
    font-size: 0.875em;
  }
  .form-control {
    color: #828282;
    font-size: 0.875em;
    &::placeholder {
      color: #828282;
    }
  }
  .form-check {
    margin-bottom: 10px;
    label {
      font-weight: 400;
      margin-left: 10px;
    }
  }
  .form_group {
    margin-bottom: 20px;
  }
  textarea {
    min-height: 90px;
    font-size: 0.875em;
  }
  ::-webkit-inner-spin-button {
    display: none;
  }
  .form_check_agree {
    display: flex;
    justify-content: center;
  }
  .box_agree {
    text-align: center;
    font-size: 0.75em;
    font-family: 'Noto Sans JP';
    line-height: 1.6em;
    a {
      color: $primary_color;
      font-weight: 700;
    }
  }
  .form-check-input[type=checkbox] {
    border-radius: 2px;
  }
  .form-check-input:checked[type=checkbox] {
    background-image: url('../images/i_check.svg');
  }
  .form-check-input {
    width: 20px;
    height: 20px;
    &:checked {
      border-color: $primary_color;
      background-color: $primary_color;
    }
    &:focus {
      box-shadow: none;
    }
  }
  .btn_Submit {
    background: $primary_color;
    font-size: 0.875em;
    color: #fff;
    min-width: 442px;
    border-radius: 4px;
    padding: 13.5px;
  }
}

@media (max-width: 932px) {
  .modal_inquiry {
    .modal-header {
      padding: 15px;
    }
    .modal-body {
      padding: 0 15px 15px;
    }
    .btn_Submit {
      min-width: auto;
    }
  }
}

.btnClose {
  border: none;
  display: block;
  position: absolute;
  right: -15px;
  top: -10px;
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' fill='currentColor' class='bi bi-x-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  &:active {
    border: none;
  }
}

.box_personal_data {
  .form_group {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    &:last-of-type {
      margin-bottom: 0;
    }
    span {
      min-width: 60px;
      background: #000;
      color: #fff;
      font-size: 0.7143em;
      font-weight: 700;
      line-height: 1.3em;
      padding: 0 10px;
      margin-right: 10px;
    }
    p {
      margin-bottom: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;
      max-height: 50px;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }
}

.colorpicker {
  padding: 0;
  border: none;
  border-radius: 4px;
  &:focus {
    box-shadow: none;
  }
}
.btn_change {
  min-width: 100px;
  height: 40px;
  background: $primary_color;
  color: #fff;
  font-size: 0.875em;
  font-weight: 600;
  border-radius: 4px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    background: #01477d;
    color: #fff;
  }
}

@media (max-width:830px) {
  .btn_change {
    width: 100%;
    margin-left: 0;
    margin-top: 10px;
  }
  .box_tab {
    .box_button {
      .btn {
        padding: 10px 15px;
      }
    }
  }
}