@charset "UTF-8";
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
.main_right.template2 {
  min-width: 800px;
}
.main_right.new_templates {
  min-width: 100%;
}
.main_right.new_templates .standard_article {
  padding-bottom: 50px;
}
.main_right.new_templates .standard_article h2 {
  margin-bottom: 30px;
}
.main_right.new_templates .standard_article .standard_post_img {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 45%;
  /* Tính toán tỷ lệ 4:3 dựa trên chiều rộng 60% */
  position: relative;
}
.main_right.new_templates .standard_article .standard_post_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Đảm bảo hình ảnh luôn che phủ toàn bộ box */
}
.main_right.new_templates .standard_article .box_reverse {
  max-width: 725px;
}
.main_right.new_templates .standard_article .box_reverse .standard_download {
  padding: 0;
}
.main_right.new_templates .standard_article .box_reverse .standard_download .link_description_text_editor2 {
  padding: 5px;
  min-width: 300px;
  margin-right: 20px;
  line-height: 1.5em;
}
.main_right.new_templates .standard_article .box_reverse .standard_download .link_description_text_editor2 p {
  margin: 0;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li {
  margin-bottom: 0;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn {
  background: #0168B7;
  color: #fff;
  height: 44px;
  min-width: 260px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn img {
  width: 20px;
  vertical-align: middle;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #004376;
  transition: bottom 0.4s;
  z-index: 1;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn:hover::before {
  bottom: 0;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn:hover {
  color: #fff;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn span {
  position: relative;
  z-index: 2;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul li a.btn.btn_long {
  min-width: 342px;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li {
  margin-bottom: 30px;
  justify-content: center;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li:nth-of-type(2n) {
  margin-right: 0;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li:last-of-type {
  margin-right: 0;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li a {
  display: flex;
  max-width: 100%;
}
.main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li a.btn_long {
  width: 100%;
}
.main_right.new_templates .standard_article ul.standard_list_video {
  justify-content: center;
}
.main_right.new_templates .standard_article ul.standard_list_video.justify-start {
  justify-content: flex-start;
  /* Canh trái khi có lớp này */
}
.main_right.new_templates .standard_article ul.standard_list_video li {
  width: calc(33.3333333333% - 20px);
  max-width: calc(33.3333333333% - 20px);
  transition: transform 0.3s ease;
}
.main_right.new_templates .standard_article ul.standard_list_video li:hover {
  transform: translateY(-2px);
}
.main_right.new_templates .standard_article ul.standard_list_video li:last-of-type {
  margin-right: 0;
}
.main_right.new_templates .standard_article ul.standard_list_video li:has(> li:nth-child(4)) {
  justify-content: flex-start;
}
.main_right.new_templates .standard_article ul.standard_list_video li .box_video {
  width: 100%;
  height: 250px;
}
.main_right.new_templates .standard_article ul.standard_list_video li .box_video img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main_right.new_templates .standard_article ul.standard_list_video li .box_uploads {
  height: 250px;
}
.main_right.new_templates .standard_article ul.standard_list_video li .upload_custom a {
  position: relative;
  width: 100%;
  height: 100%;
}
.main_right.new_templates .standard_article ul.standard_list_video li .upload_custom a img {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
  margin: auto;
}
.main_right.new_templates.admin .standard_article .box_reverse {
  max-width: 100%;
}
.main_right.new_templates.admin .standard_article .box_reverse .button_size {
  margin: 20px auto 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_right.new_templates.admin .standard_article .box_reverse .button_size span {
  display: inline-block;
  margin-right: 20px;
  font-weight: 600;
}
.main_right.new_templates.admin .standard_article .box_reverse .button_size .form-check-label {
  font-size: 0.875em;
}

.article_footer {
  margin: 40px auto 0 auto;
  text-align: center;
}
.article_footer .btn_inquiry_xl {
  border-radius: 4px;
  border: 2px solid var(--primal-color, #0168B7);
  background: var(--white, #FFF);
  color: #0168B7;
  font-size: 1.25em;
  font-weight: 700;
  padding: 10px;
  min-width: 356px;
  height: 55px;
  overflow: hidden;
  transition: color 0.4s;
  position: relative;
}
.article_footer .btn_inquiry_xl::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #0168B7;
  transition: left 0.4s;
  z-index: 1;
  border-color: #0168B7;
}
.article_footer .btn_inquiry_xl:hover::before {
  left: 0;
}
.article_footer .btn_inquiry_xl:hover {
  color: #fff;
}
.article_footer .btn_inquiry_xl span {
  position: relative;
  z-index: 2;
}

.box_tab .box_tab_content {
  padding: 20px 0 10px;
}
.box_tab .btn_tab.active {
  border: none;
  background-color: #E5F2FD;
}
.box_tab .note {
  line-height: 1em;
}
.box_tab form {
  flex-direction: column;
}
.box_tab form .box_tab_content_left {
  min-width: none;
  margin-right: 0;
}
.box_tab form .box_tab_content_left .row_custom {
  margin-bottom: 10px;
}
.box_tab form .box_tab_content_left .row_custom:first-of-type {
  max-width: 50%;
}
.box_tab .box_button .btn {
  width: inherit;
  min-width: 217px;
  padding: 8px;
}
.box_tab .box_button .btn:last-of-type {
  min-width: 444px;
  height: auto;
  background: #0168B7;
  color: #fff;
  margin: inherit;
  margin-bottom: 0;
}
.box_tab .box_button .btn:last-of-type:hover {
  background: #084879;
}

.main_left aside.box_info {
  background: #fff;
  position: relative;
  z-index: 10;
  top: 0;
}
.main_left aside.box_info.fixed {
  top: 0 !important;
}
.main_left aside.box_info::before {
  content: "";
  position: absolute;
  z-index: -1;
  left: -20px;
  right: 0;
  top: 0;
  width: 117%;
  height: 102%;
  background: #fff;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.02);
  border-radius: 5px;
}
.main_left.admin .box_info .box_indicate {
  margin-bottom: 20px;
}

.nav_addblock {
  padding: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: fixed;
  z-index: 100;
  left: -130px;
  top: 20%;
  width: 140px;
  background: #e5f2fe;
  transition: left 0.3s;
}
.nav_addblock.show {
  left: 0;
  /* Hiển thị box */
}
.nav_addblock .btn_collapse {
  position: absolute;
  right: -30px;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #e5f2fe;
  transition: top 0.3s;
}
.nav_addblock .btn_collapse:active {
  border: none;
  background: #e5f2fe;
}
.nav_addblock .main_options {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.nav_addblock .main_options li {
  margin-bottom: 10px;
  background: rgba(1, 104, 183, 0.06);
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav_addblock .main_options li:last-of-type {
  margin-right: 0;
  margin-bottom: 0;
}
.nav_addblock .main_options li a {
  display: block;
  padding: 10px;
  width: 100%;
  height: 100%;
  border: 1px solid #0168B7;
}

.snip1467 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 10px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snip1467 *,
.snip1467 *:before,
.snip1467 *:after {
  box-sizing: border-box;
  transition: all 0.25s linear;
}

.snip1467 img {
  width: 120%;
  backface-visibility: hidden;
  vertical-align: top;
}

.snip1467 i {
  position: absolute;
  color: #fff;
  font-size: 1em;
  text-align: center;
  line-height: 40px;
  width: 40px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: translateX(-55px);
}

.snip1467 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.snip1467:hover img,
.snip1467.hover img {
  zoom: 1;
  filter: alpha(opacity=30);
  -webkit-opacity: 0.3;
  opacity: 0.3;
  transform: translateX(0px);
}

.snip1467:hover figcaption,
.snip1467.hover figcaption {
  transform: translateY(-50%);
  opacity: 1;
}

.snip1467:hover i,
.snip1467.hover i {
  transform: translateX(0);
}

.standard_post_main_img:hover {
  cursor: move !important;
  cursor: -moz-grabbing;
}
.standard_post_main_img.new ul {
  justify-content: center;
}
.standard_post_main_img.new ul li {
  width: 30%;
  max-width: 30%;
  margin-left: 15px;
  margin-right: 15px;
  height: 180px;
}
.standard_post_main_img.new ul li:nth-of-type(3n) {
  margin-right: 15px;
}
.standard_post_main_img.new ul li a img {
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
}
.standard_post_main_img.new .box_uploads {
  height: 180px;
}
.standard_post_main_img.new .upload_custom {
  height: 180px;
  justify-content: center;
}

.block_content {
  margin-bottom: 30px;
}

.box_inquiry {
  max-width: 426px;
  margin: 0 auto;
  text-align: center;
}
.box_inquiry .btn {
  margin-bottom: 15px;
  padding: 14px;
}
.box_inquiry label {
  font-size: 0.875em;
}
.box_inquiry .box_indicate_product {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.box_inquiry .box_indicate_product.show {
  display: block;
  opacity: 1;
}
.box_inquiry .box_indicate_product label {
  margin-bottom: 5px;
  font-weight: 600;
  color: #0168B7;
}

.draggable:hover {
  cursor: move;
}
.draggable:active {
  cursor: move;
}

/* Dragged source element style */
.dragged {
  opacity: 0.6;
  border: 2px dotted #0168B7;
}

/* Drag feedback image style */
.drag-feedback {
  background: #0168B7;
  border: 1px solid dodgerblue;
}

.block_title,
.block_content,
.block_box_reverse,
.box_material_content {
  position: relative;
}
.block_title .btnClose,
.block_content .btnClose,
.block_box_reverse .btnClose,
.box_material_content .btnClose {
  top: -10px !important;
  right: -10px !important;
  z-index: 10;
}

.box_material_content ul {
  flex-direction: row;
}
.box_material_content ul li.list-group-item {
  padding: 20px;
  background: #F0F6FB;
  margin-bottom: 10px;
}

.box_reverse .text_link {
  margin-bottom: 10px;
}
.box_reverse .text_link.list-group-item {
  margin-bottom: 10px;
}
.box_reverse .text_link:last-of-type {
  margin-bottom: 30px;
}

.list-group {
  padding: 0;
  margin: 0;
  background: transparent;
}
.list-group .list-group-item {
  border: none;
  padding: 0;
  margin: 0;
  background: transparent;
}

.highlight-background {
  background-color: #0168B7;
  /* Màu nền highlight */
  transition: background-color 0.3s ease, border 0.3s ease;
}

.highlight-dropzone {
  /* Màu nền highlight mờ */
  transition: background-color 0.3s ease, border 0.3s ease;
}

.main_left {
  position: relative;
  width: 260px;
}
.main_left .box_avatar_scroll {
  position: fixed;
  z-index: 100;
  background: #fff;
  top: 0;
  width: 220px;
  display: none;
  padding: 10px 30px;
}
.main_left .box_avatar_scroll .btn-link {
  color: #0168B7;
}
.main_left .box_avatar_scroll .avatar {
  display: block;
  border-radius: 100px;
  overflow: hidden;
}
.main_left .box_avatar_scroll .avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.box_material_content.three_columns ul li {
  width: calc(33.3333333333% - 10px);
  max-width: calc(33.3333333333% - 10px);
}
.box_material_content.three_columns ul li:last-of-type {
  margin-right: 0;
}

.box_reverse .link_container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.box_reverse .link_container .text_link {
  margin-bottom: 10px;
}
.box_reverse textarea {
  min-width: 794px;
}

.box_text_link_item {
  margin: 0 auto;
}
.box_text_link_item .text_link {
  justify-content: center;
  flex-direction: row;
}
.box_text_link_item .text_link .btnClose {
  right: -15px !important;
  top: -10px !important;
}
.box_text_link_item .box_text_link_item_footer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}
.box_text_link_item .box_text_noinput_footer {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standard_article .block_fulltextimage {
  display: flex;
}
.standard_article .block_fulltextimage .standard_post_img {
  width: 60%;
}
.standard_article .block_fulltextimage .standard_content {
  width: 40%;
  margin-left: 20px;
}
.standard_article .block_onlytext .standard_content {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.standard_post_main_img.edit {
  display: flex;
}
.standard_post_main_img.edit ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Chia thành 2 cột đều nhau */
  gap: 10px;
  /* Khoảng cách giữa các phần tử */
  width: 60%;
}
.standard_post_main_img.edit ul li {
  margin-right: 0;
  margin-bottom: 0;
  max-width: inherit;
  min-width: inherit;
  height: auto;
}
.standard_post_main_img.edit ul li:nth-of-type(2n) {
  margin-right: 0;
}
.standard_post_main_img.edit ul li:nth-of-type(3n) {
  margin-right: 0;
}
.standard_post_main_img.edit ul li a img {
  height: 150px;
}
.standard_post_main_img.edit textarea {
  width: 40%;
  margin-left: 20px;
  height: 150px;
}
.standard_post_main_img.edit .box_uploads {
  height: 150px;
}
.standard_post_main_img.edit .box_uploads .upload_custom {
  justify-content: center;
}

.standard_post_main_edit {
  display: flex;
}
.standard_post_main_edit .standard_post_main_img_edit {
  width: 60%;
  padding-top: 45%;
  /* 4:3 ratio (4/3 = 1.33333, 1.33333 * 100 = 75%) */
  position: relative;
}
.standard_post_main_edit .standard_post_main_img_edit img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Đảm bảo hình ảnh luôn che phủ toàn bộ box */
}

textarea.textarea_custom {
  height: 130px;
}

.box_scheduleurl label {
  font-weight: 600;
  font-size: 0.875em;
  text-align: left;
  display: block;
}

.main_right .standard_article .standard_list_video.list_video_twoblocks {
  flex-wrap: wrap;
  justify-content: center;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li {
  width: calc(50% - 20px);
  max-width: calc(50% - 20px);
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li:nth-of-type(3n) {
  margin-right: 20px;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li a {
  position: relative;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li a img {
  position: absolute;
  width: 20%;
  height: auto;
  left: 40%;
  margin-left: 0;
  top: 35%;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li a img.show-thumbnail {
  width: 100%;
  height: 100%;
  position: relative;
  left: inherit;
  top: inherit;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li .upload_custom span {
  margin-top: 5px;
  display: block;
  font-weight: 600;
  font-size: 0.75em;
  line-height: 1em;
  font-family: "Inter";
  color: #0168B7;
  word-break: break-all;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks li .docs_video_des {
  margin-top: 10px;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks.three-or-more {
  justify-content: flex-start;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks .box_video {
  height: 250px;
  margin-bottom: 0;
}
.main_right .standard_article .standard_list_video.list_video_twoblocks .box_uploads {
  height: 250px;
}

.standard_post_img {
  width: 100%;
  max-width: 100%;
  /* Căn giữa container */
}
.standard_post_img .img-container {
  position: relative;
  width: 100%;
  padding-bottom: 75%;
  /* 4:3 aspect ratio (3 / 4 * 100%) */
  overflow: hidden;
}
.standard_post_img .img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  /* Đảm bảo ảnh bao phủ toàn bộ container */
}

@media (max-width: 1200px) {
  .main_right .standard_article .standard_list_video.list_video_twoblocks li .box_video {
    height: 250px !important;
  }
  .main_right .standard_article .standard_list_video.list_video_twoblocks li .box_video img {
    height: 100% !important;
  }
}
@media (max-width: 1180px) {
  .main_right.template2 {
    min-width: 100%;
  }
  .main_left {
    width: 100%;
  }
  .main_left aside.box_info {
    top: 0 !important;
  }
  .main_left aside.box_info::before {
    display: none;
  }
  .main_left .box_avatar_scroll {
    display: none !important;
  }
}
@media (max-width: 992px) {
  .box_reverse textarea {
    min-width: 100%;
  }
}
@media (max-width: 896px) {
  .box_tab .box_tab_content {
    padding: 15px 15px;
  }
  .box_tab form .box_tab_content_left .row_custom:first-of-type {
    max-width: 100%;
  }
  .box_tab .box_button .btn {
    min-width: 30%;
    padding: 10px;
  }
  .box_tab .box_button .btn:last-of-type {
    min-width: 33.333%;
    height: auto;
  }
  .box_material_content {
    text-align: center;
  }
  .box_material_content.three_columns ul li {
    width: 100%;
    max-width: 100%;
    margin-right: 0;
  }
  .box_material_content ul li.list-group-item {
    width: 100%;
  }
  .nav_addblock {
    height: 50px;
  }
  .nav_addblock.show {
    height: auto;
  }
  .main_right.new_templates .standard_article .standard_post_img {
    max-width: 100%;
    padding-top: 75%;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download .link_description_text_editor2 {
    text-align: center;
    margin-right: 0;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download .link_description_text_editor2 p {
    margin-bottom: 5px !important;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li {
    width: 100%;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li a {
    min-width: 80%;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li a.btn {
    max-width: 80%;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download ul.two_col li a.btn_long {
    max-width: 100%;
  }
  .main_right.new_templates .standard_article .box_reverse .standard_download ul li {
    margin-bottom: 15px;
  }
  .main_right.new_templates .standard_article ul.standard_list_video li {
    width: calc(50% - 10px);
    max-width: calc(50% - 10px);
    margin: 0 15px 15px 0;
  }
  .main_right.new_templates .standard_article ul.standard_list_video li:nth-of-type(2) {
    margin-right: 0;
  }
  .main_right.new_templates .standard_article ul.standard_list_video li .box_video {
    height: 250px !important;
  }
  .main_right.new_templates .standard_article ul.standard_list_video li .box_video img {
    height: 100% !important;
  }
  .article_footer .btn_inquiry_xl {
    min-width: 100%;
  }
  .standard_post_main_img.new ul {
    justify-content: center;
  }
  .standard_post_main_img.new ul li {
    width: 47%;
    max-width: 47%;
    margin-left: 5px;
    margin-right: 5px;
  }
  .standard_post_main_img.new ul li:nth-of-type(3n) {
    margin-right: 5px;
  }
  .list-group .list-group-item .btn_addlink {
    min-width: 100%;
  }
  .box_reverse .button_size span {
    font-size: 0.625em;
  }
  .standard_article .block_fulltextimage {
    flex-direction: column;
  }
  .standard_article .block_fulltextimage .standard_post_img {
    width: 100%;
  }
  .standard_article .block_fulltextimage .standard_content {
    width: 100%;
    margin-left: 0;
  }
  .standard_post_main_img.edit {
    padding: 15px;
    flex-direction: column;
  }
  .standard_post_main_img.edit ul {
    width: 100%;
  }
  .standard_post_main_img.edit textarea {
    margin-left: 0;
    margin-top: 15px;
    width: 100%;
  }
  .standard_post_main_edit {
    flex-direction: column;
  }
  .standard_post_main_edit .standard_post_main_img_edit {
    width: 100%;
    padding-top: 75%;
  }
  .standard_post_main_edit textarea {
    width: 100%;
    margin-left: 0;
    margin-top: 15px;
  }
}
@media (max-width: 834px) {
  .standard_post_main_img.edit ul li {
    width: auto;
  }
  .standard_post_main_img.edit ul li:nth-of-type(5n) {
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  .main_right .standard_article .standard_list_video.list_video_twoblocks li {
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    margin-right: 0;
  }
  .main_right .standard_article .standard_list_video.list_video_twoblocks li:nth-of-type(2n) {
    margin-right: 0;
  }
  .main_right .standard_article .standard_list_video.list_video_twoblocks .box_video {
    height: 250px !important;
  }
  .main_right .standard_article .standard_list_video.list_video_twoblocks .box_video img {
    height: 100% !important;
  }
}
@media (max-width: 430px) {
  .main_right.new_templates .standard_article ul.standard_list_video li {
    width: 100%;
    max-width: 100%;
    margin: 0 0 15px 0;
  }
  .standard_post_main_img.new ul li {
    width: 100%;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}/*# sourceMappingURL=styles_new.css.map */