.navbar-expand-lg {
	.navbar-nav {
		.nav-item {
			&:last-of-type {
				&:hover {
					.nav-link {
						color: $cl-black;
						span {
							&::before {
								background: #fff;
							}
						}
					}
				}
				.nav-link {
					padding-left: 90px;
					span {
						display: inline-block;
						position: relative;
						&::before {
							content: '';
							position: absolute;
							z-index: -1;
							border-radius: 100px;
							border: 1px solid #fff;
							left: -60px;
							right: -60px;
							top: -10px;
							bottom: -10px;
						}
					}
				}
			}
			.nav-link {
				color: #fff;
				font-weight: 600;
				font-size: 0.875em;
				padding: 34.5px;
			}
		}
	}
}

.navbar-nav .nav-item.active>.nav-link, .navbar-nav .nav-item:active:focus>.nav-link, .navbar-nav .nav-item:active>.nav-link, .navbar-nav .nav-item:focus>.nav-link, .navbar-nav .nav-item:hover>.nav-link {
	color: #ccc;
}

header {
	.bsnav {
		background: $cl-green;
	}
}

footer {
	background: $cl-green;
	padding: 40px 0;
	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
		align-items: stretch;
		align-content: stretch;
		padding-left: 0;
		li {
			a {
				color: #fff;
				padding: 0 30px;
				font-weight: 300;
			}
		}
	}
	p {
		color: #fff;
	}
	small {
		font-size: 75%;
	}
}

@media (max-width: 1024px) {
	.navbar-expand-lg {
		.navbar-nav {
			padding-right: 50px;
			.nav-item {
				.nav-link {
					padding: 25px 15px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	.title {
		font-size: 2em;
	}
	.navbar-brand {
		margin: auto;
		img {
			width: 100px;
		}
	}
	.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
		background: #fff;
	}
	.bsnav-mobile, .bsnav-mobile .bsnav-mobile-overlay, .bsnav-sticky.navbar-fade, .bsnav-sticky.navbar-slide {
		top: 53px;
	}
	.bsnav-mobile {
		z-index: 999;
		&.in {
			.bsnav-mobile-overlay {
				background: rgba(115, 136, 107, .64);
			}
		}
		
		.navbar-nav {
			padding: 0;
			.nav-item {
				.nav-link {
					padding: 10px 15px;
					border-bottom: 1px solid $cl-gray-light-white-1;
					display: block;
					font-weight: 500;
				}
			}
		}
		.navbar {
			padding-top: 15px;
		}
	}
	header {
		position: fixed;
		z-index: 999;
		width: 100%;
		top: 0;
		left: 0;
		.bsnav {
			padding: 10px;
		}
	}
	.navbar-expand-lg {
		.navbar-nav {
			padding-right: 0;
		}
	}

	.breadcrumb {
		padding-top: 80px;
	}


	footer {
		ul {
			li {
				a {
					padding: 0 5px;
					font-size: 0.875em;
				}
			}
		}
	}
}