.section_banner {
  margin-top: 84px;
}

.section_banner::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.4);
}

.custom_item .box_body h3 {
  font-size: 1.125em;
}

.section_list_templates .list_content.mansions li .box_body {
  min-height: 155px;
}
.section_list_templates .list_content li .box_body {
  position: relative;
  min-height: 195px;
}
.section_list_templates .list_content li .box_body::after {
  content: '';
  position: absolute;
  background: url(../images/icons/i_right2.svg) no-repeat;
  background-size: 100%;
  width: 6px;
  height: 10px;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.section_list_templates .list_content li .box_body h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 47px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.section_list_templates .list_content li .box_body h4 {
  margin-bottom: 5px;
}
.section_list_templates .list_content li .box_body h4::after {
  display: none;
}
.section_list_templates .list_content li .box_body p.address {
  font-size: 0.6875em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 37px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 820px) {
  .section_list_templates .list_content li:nth-of-type(4n) {
    margin-right: 20px;
  }
}
@media (max-width: 768px) {
  .section_list_templates .list_content li:nth-of-type(4n) {
    margin-right: 20px;
  }
  .section_list_templates .list_content li .box_body {
    min-height: auto;
  }
  .section_list_templates .list_content li .box_body p.address {
    min-height: auto;
  }
}
@media (max-width: 414px) {
  .section_list_templates .list_content.mansions li .box_body {
    min-height: auto;
  }
  .section_list_templates .list_content li {
    margin-bottom: 15px;
  }
  .section_list_templates .list_content li:nth-of-type(4n) {
    margin-right: 0;
  }
  .section_list_templates .list_content li .box_body {
    min-height: auto;
  }
  .section_list_templates .list_content li .box_body h3 {
    min-height: auto;
    font-size: 1.25em;
  }
}
.box_bottom {
  background: rgba(255, 255, 255, 0.6);
}

.carousel .box_item .box_footer {
  padding: 10px;
}

.section_detailproperty {
  padding-top: 80px;
}

.btn_inquire_availability {
  background: #CA6407;
  border-radius: 100px;
  font-weight: 700;
  font-size: 1.125em;
  color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
  margin: 0 auto;
  max-width: 348px;
  padding: 15.5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn_inquire_availability::before {
  content: '';
  display: block;
  border: 1px solid #fff;
  border-radius: 100px;
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
}
.btn_inquire_availability::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 5px;
  bottom: 0;
  margin: auto;
  background: url("../images/icons/i_down.svg") no-repeat;
  background-size: 100%;
  width: 15px;
  height: 15px;
}
.btn_inquire_availability:hover {
  background: #ad5503;
  color: #fff;
}
.btn_inquire_availability img {
  margin-right: 5px;
  position: relative;
  top: 2px;
}
.btn_inquire_availability span {
  display: flex;
  align-items: center;
}

.custom_item {
  width: 260px;
  margin-bottom: 30px;
  background: #FFFFFF;
  display: block;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.custom_item a {
  text-decoration: none;
  display: block;
  overflow: hidden;
}
.custom_item .box_img {
  position: relative;
  padding-bottom: 66.67%;
  overflow: hidden;
  transition: all 300ms;
}
.custom_item .box_img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.5s;
  transform: scale(1);
}
.custom_item .box_img span {
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  color: #fff;
  font-weight: 600;
  font-size: 0.625em;
  padding: 3px 30px 3px 20px;
  clip-path: polygon(0 0, 100% 0%, 85% 100%, 0% 100%);
}
.custom_item .box_img span.label_blue {
  background: #2D9CDB;
}
.custom_item .box_img span.label_black {
  background: #424242;
}
.custom_item .box_img span.label_violet {
  background: #BB6BD9;
}
.custom_item .box_img span.label_green {
  background: #27AE60;
}
.custom_item .box_img span.label_yellow {
  background: #F2C94C;
}
.custom_item .box_img span.label_status {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  background: #BE9C59;
  color: #fff;
  padding: 2px 20px;
  font-size: .625em;
  font-weight: 500;
  -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
}
.custom_item .box_body {
  position: relative;
  min-height: 195px;
  padding: 10px;
}
.custom_item .box_body::after {
  content: '';
  position: absolute;
  background: url(../images/icons/i_right2.svg) no-repeat;
  background-size: 100%;
  width: 6px;
  height: 10px;
  right: 5px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.custom_item .box_body h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 47px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.custom_item .box_body h4 {
  margin-bottom: 5px;
  margin-top: 10px;
  font-size: 0.875em;
  color: #5C5B5B;
}
.custom_item .box_body .prices {
  font-weight: 700;
  font-size: 1.125em;
  color: #CA6407;
  margin-bottom: 0;
  min-height: 24px;
}
.custom_item .box_body .address {
  font-size: 0.6875em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  min-height: 37px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 0;
  color: #4F4F4F;
  line-height: 1.5em;
}
.custom_item .box_body ul.statistical {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 10px;
  bottom: 10px;
}
.custom_item .box_body ul.statistical li {
  margin-right: 15px;
  font-size: 0.875em;
  font-weight: 600;
  margin-bottom: 0;
  width: auto;
  position: relative;
  color: #424242;
  box-shadow: none;
}
.custom_item .box_body ul.statistical li::after {
  content: '/';
  font-weight: 600;
  position: absolute;
  right: -10px;
  top: 0;
  bottom: 0;
  margin: auto;
}
.custom_item .box_body ul.statistical li:last-of-type {
  margin-right: 0;
}

.frm_mansions {
  background: #F2F2F2;
  border: 1px solid #9B9B9B;
  padding: 60px 95px;
  margin: 120px 0;
}
.frm_mansions h2 {
  font-size: 1.5em;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
}
.frm_mansions .description {
  background: #fff;
  padding: 10px;
  border: 1px solid #be9c59;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
  color: #be9c59;
  margin-bottom: 60px;
}
.frm_mansions .form-group {
  margin-bottom: 40px;
}
.frm_mansions .form-control {
  border: 1px solid #9B9B9B;
  border-radius: 4px;
  color: #9b9b9b;
  font-weight: 400;
  font-size: 0.875em;
  height: 40px;
}
.frm_mansions textarea.form-control {
  height: 140px;
}
.frm_mansions .form-select {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3c?xml version='1.0' encoding='utf-8'?%3e%3c!-- Generator: Adobe Illustrator 26.3.1, SVG Export Plug-In . SVG Version: 6.00 Build 0) --%3e%3csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 20 21' style='enable-background:new 0 0 20 21;' xml:space='preserve'%3e%3cstyle type='text/css'%3e .st0%7bfill:url(%23SVGID_1_);%7d .st1%7bfill:none;stroke:%23FFFFFF;stroke-width:1.4;stroke-linecap:round;stroke-linejoin:round;%7d %3c/style%3e%3clinearGradient id='SVGID_1_' gradientUnits='userSpaceOnUse' x1='-7.219835e-06' y1='20.6098' x2='20' y2='0.6098' gradientTransform='matrix(1 0 0 -1 0 21.2756)'%3e%3cstop offset='0' style='stop-color:%23CFAF6E'/%3e%3cstop offset='1' style='stop-color:%23A3864B'/%3e%3c/linearGradient%3e%3ccircle class='st0' cx='10' cy='10.7' r='10'/%3e%3cpath class='st1' d='M5.3,8.9l4.7,4.7l4.7-4.7'/%3e%3c/svg%3e ");
  background-size: 21px 21px;
}
.frm_mansions label {
  font-weight: 600;
  font-size: 0.875em;
}
.frm_mansions label span {
  color: #eb5757;
}
.frm_mansions .sub_lable {
  margin-bottom: 0;
  font-size: 0.875em;
}
.frm_mansions .btn_auto {
  color: #be9c59;
  font-size: 0.875em;
  font-weight: 600;
  background: transparent;
  display: flex;
}
.frm_mansions .btn_auto img {
  margin-right: 10px;
}
.frm_mansions .btnAgree {
  font-weight: 600;
  font-size: 1.125em;
  background: linear-gradient(135deg, #CFAF6E 0%, #A3864B 100%);
  border-radius: 4px;
  min-width: 398px;
  padding: 10.5px;
  border: none;
}
.frm_mansions .btnAgree:hover {
  color: #fff;
}
.frm_mansions .box_content_footer {
  text-align: center;
}
.frm_mansions .box_content_footer .primary_policy {
  font-size: 0.75em;
}
.frm_mansions .box_content_footer .primary_policy .btn-link {
  color: #2f80ed;
  font-weight: 600;
}

.section_midinfo {
  padding-top: 80px;
}

@media (max-width: 768px) {
  .frm_mansions {
    padding: 30px 15px;
  }
  .frm_mansions .btnAgree {
    min-width: inherit;
    width: 100%;
  }
  .frm_mansions label {
    margin-bottom: 10px;
  }
  .frm_mansions .form-group {
    margin-bottom: 15px;
  }
  .frm_mansions .description {
    margin-bottom: 30px;
    font-size: 0.75em;
    line-height: 1.5em;
  }
  .frm_mansions .btn_auto {
    padding-left: 0;
  }

  .section_detailproperty .table tr th, .section_detailproperty .table tr td {
    display: inline-block;
    width: 100%;
  }

  .section_discerningequipment ul:last-of-type li a span:first-of-type {
    min-height: auto;
  }

  .property_vertical li a .box_img span {
    padding-right: 20px;
  }
  .property_vertical li a .box_img span.label_blue {
    background: #2D9CDB;
  }
  .property_vertical li a .box_img span.label_black {
    background: #424242;
  }
  .property_vertical li a .box_img span.label_violet {
    background: #BB6BD9;
  }
  .property_vertical li a .box_img span.label_green {
    background: #27AE60;
  }
}
@media (max-width: 414px) {
  .section_area .box_conditions_list li {
    margin-bottom: 15px;
  }
  .section_area .box_conditions_list li a .box_img {
    height: auto;
  }
  .section_area .box_conditions_list li a .box_img img {
    height: auto;
  }

  .carousel.carousel_property .carousel-cell, .carousel.carousel_conditions .carousel-cell {
    margin-right: 20px;
  }

  .carousel .box_item .box_img img {
    height: 100%;
  }

  .custom_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
    border-left: 1px solid #e5e4e4;
    border-right: 1px solid #e5e4e4;
  }
  .custom_item .box_body h3 {
    min-height: auto;
    font-size: 1.25em;
  }
  .custom_item .box_body .address {
    min-height: auto;
  }
}
.section_search .container {
  max-width: 934px;
}
.section_search h1 {
  text-align: center;
  font-size: 1.875em;
  margin-bottom: 30px;
}
.section_search .note {
  font-size: 0.875em;
}
.section_search .frm_mansions .w_btnAgree .btnAgree {
  min-width: auto;
  width: 100%;
  position: relative;
}
.section_search .table tr th, .section_search .table tr td {
  font-size: 0.75em;
  padding: 13px 15px;
  border-color: #E0E0E0;
}

@media (max-width: 768px) {
  .section_search h1 {
    font-size: 1.5em;
  }

  .frm_mansions .btnAgree .i_rightwhite {
    position: absolute;
    right: 15px;
  }
}
.w_btnAgree .btnAgree.custom {
  background: linear-gradient(269deg, #CFAF6E 0%, #A3864B 100%);
}

.btn_search {
  background: #424242;
  padding: 7px 13px;
  font-weight: 700;
  font-size: 0.75em;
  color: #fff;
  text-decoration: none;
  display: block;
  align-items: center;
  border-radius: 3px;
  max-width: 130px;
}
.btn_search:hover {
  color: #fff;
  background: #1d1d1d;
}
.btn_search img {
  margin-right: 5px;
}

.modal_search .btn-close {
  opacity: 1;
}
.modal_search .modal-header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.modal_search .modal-title {
  text-align: center;
  width: 100%;
  color: #424242;
  font-weight: 600;
  font-size: 1.5em;
}
.modal_search .modal-body {
  padding: 20px;
}
.modal_search .form-check-input {
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border-color: #CFAF6E;
}
.modal_search .form-check-input:checked {
  background-color: #cfaf6e;
  border-color: #cfaf6e;
}
.modal_search .form-check-input:focus {
  box-shadow: none;
}
.modal_search label {
  font-size: 0.875em;
  line-height: 1em;
  font-weight: 600;
  margin-left: 5px;
  color: #424242;
  position: relative;
  top: 2px;
}
.modal_search .box_select_item {
  position: relative;
}
.modal_search .box_select_item::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  right: 26px;
  top: 0;
  bottom: 0;
  background: #BDBDBD;
}
.modal_search .box_select {
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.modal_search .box_select span {
  margin: 0 5px;
  display: block;
}
.modal_search .box_select .form-select {
  font-size: 0.75em;
  height: 35px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='10' height='11' viewBox='0 0 10 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.90784 10.0345C5.55023 10.8087 4.44977 10.8087 4.09216 10.0345L0.459403 2.16932C0.15334 1.50667 0.637331 0.75 1.36724 0.75L8.63276 0.750001C9.36267 0.750001 9.84666 1.50667 9.5406 2.16932L5.90784 10.0345Z' fill='%23CFAF6E'/%3e%3c/svg%3e ");
  background-position: right 0.25rem center;
  min-width: 180px;
  border-radius: 2px;
}
.modal_search .box_select .form-select.not_specified {
  min-width: 385px;
}
.modal_search .box_select.custom .form-check {
  min-width: inherit;
}
.modal_search .box_select.list {
  justify-content: space-between;
}

.modal_frmsearch .btn_searhconditions {
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  background: #CA6407;
  border-radius: 100px;
  margin: 30px auto 60px;
  min-width: 348px;
  padding: 15.5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.modal_frmsearch .btn_searhconditions::before {
  content: '';
  display: block;
  border: 1px solid #fff;
  border-radius: 100px;
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
}
.modal_frmsearch .btn_searhconditions span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.modal_frmsearch .btn_searhconditions:hover {
  background: #a85304;
}

.accordion_search .form-check {
  display: flex;
  align-items: center;
}
.accordion_search .accordion-button {
  padding: 10px;
  font-size: 0.59em;
  line-height: 1em;
  font-weight: 600;
}
.accordion_search .accordion-button::after {
  border-radius: 100px;
  width: 20px;
  height: 20px;
}
.accordion_search .accordion-button.collapsed::after {
  background: url("../images/icons/i_add.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
}
.accordion_search .accordion-button:not(.collapsed) {
  background: #fff;
  color: #424242;
}
.accordion_search .accordion-button:not(.collapsed)::after {
  background: url("../images/icons/i_minus.svg") no-repeat;
  background-size: 100%;
  background-color: #fff;
}
.accordion_search .accordion-body {
  padding: 0;
}
.accordion_search .accordion-body .form-check {
  border-bottom: 1px solid #e0e0e0;
  padding: 5px 0 10px 40px;
}
.accordion_search .accordion-body .form-check:last-of-type {
  border-bottom: none;
}
.accordion_search .accordion-body .form-check .form-check-input {
  margin-left: 0;
}

.modal_search .modal-content {
  border-radius: 0;
  border: none;
}
.modal_search table tr {
  position: relative;
}
.modal_search table tr th {
  width: 20%;
  background: #F9F2E6;
  padding-top: 10px;
}
.modal_search table tr td:first-of-type {
  padding-left: 0;
}

.btn_showhide_accordion {
  background: url("../images/icons/i_minus.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 10px;
  transition: transform .2s ease-in-out;
  display: none;
}
.btn_showhide_accordion.active {
  background: url("../images/icons/i_add.svg") no-repeat;
  background-size: 100%;
  width: 20px;
  height: 20px;
  transform: rotate(-180deg);
}

@media (max-width: 768px) {
  .btn_search {
    right: 50px;
  }

  .navbar-toggler {
    position: absolute;
    right: 15px;
    top: 10px;
  }

  .btn_showhide_accordion {
    display: block;
  }

  .modal_search .btn-close {
    position: absolute;
    top: 30px;
    right: 15px;
  }
  .modal_search .modal-dialog {
    margin-top: 0;
    margin-left: 0;
    margin-right: 20px;
  }
  .modal_search .modal-title {
    text-align: left;
    font-size: 1.125em;
  }
  .modal_search .modal-header {
    border-bottom: none;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .modal_search .modal-header .btn_searhconditions {
    font-size: 0.75em;
    font-weight: 700;
    color: #fff;
    background: #CA6407;
    border-radius: 100px;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 160px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 30px;
  }
  .modal_search .modal-header .btn_searhconditions span {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  .modal_search .modal-header .btn_searhconditions:hover {
    background: #a85304;
  }
  .modal_search .modal-body {
    padding: 0;
  }
  .modal_search table {
    padding: 0 15px;
  }
  .modal_search table tr th {
    width: 100%;
    display: inline-block;
    position: relative;
  }
  .modal_search table tr td {
    display: inline-block;
    width: 100%;
  }
  .modal_search table tr td.td_list, .modal_search table tr td.td_custom {
    padding: 0;
  }
  .modal_search .box_select {
    width: 100% !important;
    flex-wrap: inherit;
  }
  .modal_search .box_select .form-select {
    min-width: auto;
  }
  .modal_search .box_select .form-select.not_specified {
    min-width: auto;
  }
  .modal_search .box_select.custom {
    display: block;
  }
  .modal_search .box_select.custom .form-check {
    min-width: auto;
    float: left;
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 7px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    position: relative;
  }
  .modal_search .box_select.custom .form-check:nth-child(2n) {
    padding-left: 35px;
    border-right: none;
  }
  .modal_search .box_select.custom .form-check:last-of-type label {
    position: absolute;
    top: 13px;
  }
  .modal_search .box_select.list {
    display: block;
    padding-left: 0;
  }
  .modal_search .box_select.list .form-check {
    float: left;
    width: 50%;
    margin-right: 0;
    margin-bottom: 0;
    padding-bottom: 10px;
    padding-top: 7px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
  }
  .modal_search .box_select.list .form-check:nth-child(2n) {
    padding-left: 35px;
    border-right: none;
  }
  .modal_search .modal_frmsearch {
    padding: 0 15px;
  }
  .modal_search .modal_frmsearch .box_select_item {
    width: 100%;
  }
  .modal_search .modal_frmsearch .btn_searhconditions {
    min-width: auto;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .modal_search .accordion_search .accordion-body .form-check {
    padding-left: 40px;
  }
}
header .navbar {
  position: fixed;
  z-index: 999;
  top: 0;
  width: 100%;
}

@media (max-width: 820px) {
  header .navbar {
    position: relative;
  }
}
@media (max-width: 768px) {
  .section_banner {
    margin-top: 0;
    height: 400px;
  }
  .section_banner img {
    height: 300px;
  }
  .section_banner::before {
    height: 75.5%;
  }

  .section_topinfo {
    margin-top: 0;
    padding-top: 0;
  }
  .section_topinfo .box_content {
    padding-bottom: 30px;
  }

  .section_list_templates {
    padding-top: 0;
  }

  .frm_mansions {
    margin: 60px 0;
  }
  .frm_mansions .box_content_footer .primary_policy {
    line-height: 1.5em;
    font-size: 0.625em;
  }
}
.box_searchcondition_top {
  padding: 15px;
  background: #F6F6F6;
  margin-bottom: 15px;
}
.box_searchcondition_top h3 {
  font-weight: 700;
  color: #424242;
  background: #fff;
  padding: 5px 10px;
  text-align: center;
}
.box_searchcondition_top p {
  margin-bottom: 5px;
  font-size: 0.875em;
  color: #9B9B9B;
}
.box_searchcondition_top p:last-of-type {
  margin-bottom: 0;
}
.box_searchcondition_top p span {
  font-weight: 700;
  color: #424242;
}

.box_searchnone {
  margin-top: 30px;
  text-align: center;
}
.box_searchnone h3 {
  font-size: 1em;
  font-weight: 700;
  color: #5C5B5B;
}
.box_searchnone p {
  font-size: 0.875em;
  color: #5C5B5B;
}
.box_searchnone .btn_searhconditions {
  font-size: 1.125em;
  font-weight: 700;
  color: #fff;
  background: #CA6407;
  border-radius: 100px;
  margin: 30px auto 60px;
  max-width: 348px;
  padding: 15.5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.box_searchnone .btn_searhconditions::before {
  content: '';
  display: block;
  border: 1px solid #fff;
  border-radius: 100px;
  position: absolute;
  left: 1px;
  top: 1px;
  right: 1px;
  bottom: 1px;
}
.box_searchnone .btn_searhconditions span {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.box_searchnone .btn_searhconditions:hover {
  background: #a85304;
}

@media (max-width: 768px) {
  .box_searchcondition_top h3 {
    font-size: 0.875em;
    text-align: center;
  }

  .modal_search table tr td.w_accordion_search {
    display: none;
  }

  .btn_showhide_accordion {
    background-image: url("../images/icons/i_add.svg");
  }
  .btn_showhide_accordion.active {
    background-image: url("../images/icons/i_minus.svg");
  }
}
.section_discerningequipment ul:first-of-type {
  padding: 10px 0;
  margin: 0 -30px 30px;
  align-items: flex-start;
  justify-content: flex-start;
}
.section_discerningequipment ul:first-of-type li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}
.section_discerningequipment ul:first-of-type li::after {
  right: 0;
  height: 40px;
  width: 1px;
}
.section_discerningequipment ul:first-of-type li span {
  min-height: 33px;
  line-height: 1.5em;
}

.section_discerningequipment > .container .bg-transparent li {
  width: 88px;
  margin-bottom: 10px;
}

@media (max-width: 926px) {
  .section_discerningequipment ul:first-of-type {
    margin: 0 -15px 30px;
  }

  .section_area .carousel.carousel_conditions .flickity-prev-next-button.next {
    right: 10px;
  }

  .section_detailproperty .figure {
    overflow: hidden;
  }
}
@media (max-width: 834px) {
  .section_discerningequipment > .container .bg-transparent li {
    width: 20%;
  }
}
@media (max-width: 768px) {
  .section_discerningequipment ul:first-of-type {
    justify-content: start;
  }
}
@media (max-width: 428px) {
  .section_discerningequipment > .container .bg-transparent li {
    width: 20%;
  }

  .section_discerningequipment ul:first-of-type {
    margin: 0 0 30px;
  }
  .section_discerningequipment ul:first-of-type li::after {
    margin-right: 0;
  }
}
.accordion_search .accordion-body {
  display: flex;
  flex-wrap: wrap;
}
.accordion_search .accordion-body .form-check {
  padding-left: 30px;
  width: 20%;
}
.accordion_search .accordion-body .form-check:last-of-type {
  border-bottom: 1px solid #e0e0e0;
}

@media (max-width: 1200px) {
  .modal-dialog {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .btn_searhconditions {
    font-size: 0.75em;
    font-weight: 700;
    color: #fff;
    background: #CA6407;
    border-radius: 4px;
    padding: 10px 20px;
    min-width: 160px;
    display: flex !important;
    align-items: center;
    justify-content: center;
    position: relative;
  }
}
@media (max-width: 834px) {
  .modal-dialog {
    max-width: 100%;
  }

  .modal_search table {
    width: 100%;
  }
  .modal_search table tr th {
    width: 100%;
    display: block;
    padding-top: 5px;
  }
  .modal_search table tr td {
    display: block;
  }
}
@media (max-width: 768px) {
  .modal_search label {
    font-size: 0.6em;
  }
  .modal_search .form-check-input {
    margin-top: 0;
  }
  .modal_search .accordion_search .accordion-body .form-check {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-bottom: 0;
    width: 33%;
    border-right: 1px solid #e0e0e0;
  }
  .modal_search table tr td.w_accordion_search {
    display: block;
  }

  .btn_showhide_accordion {
    display: none;
  }
}
main {
  margin-bottom: 0;
}

footer {
  padding-bottom: 40px;
}
footer .w_list {
  display: flex;
  justify-content: center;
}
footer .footer_top p {
  margin-bottom: 30px;
}
footer ul {
  align-items: center;
}
footer ul.social {
  margin-left: 15px;
}
footer ul.social li a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  background: #fff;
  width: 34px;
  height: 34px;
  border-radius: 100px;
  color: #262626;
  text-align: center;
}
footer ul.social li a svg {
  width: 14px;
  height: 16px;
}

header .navbar .container {
  padding-left: 15px;
}

.section_interested_property .property_item .item_image {
  background: #fff;
}

.section_renovation .contact-item {
  border: 1px solid #000;
  overflow: hidden;
}

.btn_mailmagazine {
  background: #fff;
  border-radius: 100px;
  color: #000;
  font-weight: 500;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-flex;
  height: 37px;
}

@media (max-width: 820px) {
  footer {
    padding: 30px 0;
  }
  footer .w_list {
    flex-direction: column;
  }
  footer ul li {
    margin-right: 0;
    margin-bottom: 5px;
  }
  footer ul.social {
    margin-left: 0;
    margin-top: 15px;
    flex-direction: row;
  }
  footer ul.social li {
    margin-right: 15px;
  }
  footer ul.social li:last-of-type {
    margin-right: 0;
  }
  footer .footer_top p {
    margin-bottom: 10px;
  }
  footer .footer_bottom ul li {
    margin-right: 15px;
  }
  footer .footer_bottom ul li:last-of-type {
    margin-right: 0;
  }

  .btn_mailmagazine {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .renovation_top_page {
    border-bottom: none;
  }
}
@media (max-width: 428px) {
  .section_banner .btn {
    width: 90%;
  }
}
/** section map **/
.section_map .section_map_content {
  max-width: 910px;
  background: #fff;
  margin: 0 auto;
  margin-top: -10px;
  border-radius: 10px;
  border: 4px solid #fff;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  position: relative;
}
.section_map .section_map_content h4 {
  font-family: 'Zen Old Mincho';
  font-weight: 700;
  font-size: 1em;
  color: #8C7D5E;
}
.section_map .section_map_content .box_map {
  position: relative;
  display: flex;
}
.section_map .section_map_content .box_map h4 {
  position: absolute;
  z-index: 10;
  top: 20px;
  left: 30px;
}
.section_map .section_map_content .box_map .main_map {
  position: relative;
  padding-top: 15px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  width: 51%;
}
.section_map .section_map_content .box_map .main_map:nth-child(1)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 15px;
  background: #F2F2F2;
}
.section_map .section_map_content .box_map .main_map:nth-child(3)::before {
  content: '';
  position: absolute;
  left: 0;
  top: 1px;
  width: 100%;
  height: 15px;
  background: #E0E0E0;
}
.section_map .section_map_content .box_searchby {
  padding: 20px 0 0 30px;
  width: 49%;
  position: relative;
}
.section_map .section_map_content .box_searchby h4 {
  margin-top: 0;
}
.section_map .section_map_content .box_searchby ul {
  list-style: none;
  padding: 0 15px 0 0;
  margin: 60px 0 0;
  display: flex;
  flex-wrap: wrap;
}
.section_map .section_map_content .box_searchby ul li {
  background: #F2F2F2;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 30px;
  padding: 15px;
  height: 144px;
  width: 120px;
}
.section_map .section_map_content .box_searchby ul li:nth-child(4), .section_map .section_map_content .box_searchby ul li:nth-child(5), .section_map .section_map_content .box_searchby ul li:nth-child(6) {
  height: 154px;
}
.section_map .section_map_content .box_searchby ul li:nth-child(4) p, .section_map .section_map_content .box_searchby ul li:nth-child(5) p {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 30px;
}
.section_map .section_map_content .box_searchby ul li:nth-child(3) p, .section_map .section_map_content .box_searchby ul li:nth-child(6) p {
  letter-spacing: -.1em;
}
.section_map .section_map_content .box_searchby ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  background: #FFFFFF;
  border: 3px solid #8C7D5E;
  border-radius: 100px;
  position: relative;
}
.section_map .section_map_content .box_searchby ul li a span {
  position: absolute;
  position: absolute;
  z-index: 10;
  top: -15px;
  right: -5px;
  font-weight: 700;
  font-size: 12px;
  line-height: 120%;
  color: #fff;
  background: #ca6407;
  padding: 8px;
  border-radius: 100px;
  width: 30px;
  display: flex;
  justify-content: center;
}
.section_map .section_map_content .box_searchby ul li p {
  text-align: center;
  color: #8C7D5E;
  font-size: 0.875em;
  font-family: 'Zen Old Mincho';
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: 1.2em;
}

.ikebukuro_area:hover path, .ikebukuro_area.active path {
  fill: #FEBE55;
}
.ikebukuro_area:hover path.st3, .ikebukuro_area.active path.st3 {
  fill: #fff;
}
.ikebukuro_area:hover path.st5, .ikebukuro_area.active path.st5 {
  opacity: 1;
}

.shinagawa_area:hover .st4, .shinagawa_area.active .st4 {
  fill: #AAC5E1;
}

.downtown_area:hover path, .downtown_area.active path {
  fill: #EFBCCC;
}
.downtown_area:hover path.st3, .downtown_area.active path.st3 {
  fill: #fff;
}
.downtown_area:hover path.st5, .downtown_area.active path.st5 {
  fill: none;
}

.shinjuku_area:hover path, .shinjuku_area.active path {
  fill: #74BAAB;
}
.shinjuku_area:hover path.st3, .shinjuku_area.active path.st3 {
  fill: #fff;
}

.shibuya_area:hover path, .shibuya_area.active path {
  fill: #F5DD00;
}
.shibuya_area:hover .st3, .shibuya_area.active .st3 {
  fill: #fff;
}

.marunouchi_area .st4:hover, .marunouchi_area .st4.active {
  fill: #EA9F72;
}
.marunouchi_area:hover path, .marunouchi_area.active path {
  fill: #EA9F72;
}
.marunouchi_area:hover path.st3, .marunouchi_area.active path.st3 {
  fill: #fff;
}

.banner_description.banner_description_map {
  line-height: 1em;
  top: 40%;
}
.banner_description.banner_description_map h1 {
  margin-bottom: 0;
}
.banner_description.banner_description_map h3 {
  margin-bottom: 0;
}

@media (max-width: 912px) {
  .section_map .section_map_content {
    margin-top: -18px;
    margin-left: 15px;
    margin-right: 15px;
    filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.1));
  }
  .section_map .section_map_content h4 {
    text-align: center;
  }
  .section_map .section_map_content .box_map {
    flex-direction: column;
  }
  .section_map .section_map_content .box_map h4 {
    position: relative;
    padding-bottom: 15px;
    left: 0;
  }
  .section_map .section_map_content .box_map .main_map {
    width: 100%;
  }
  .section_map .section_map_content .box_map .main_map::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 20px;
    background: #fff;
  }
  .section_map .section_map_content .box_searchby {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 0;
    padding-left: 0;
  }
  .section_map .section_map_content .box_searchby ul {
    margin-top: 20px;
    padding: 0;
    justify-content: center;
  }
  .section_map .section_map_content .box_searchby ul li {
    width: 31.33%;
    height: auto;
    padding: 15px 0;
    margin-right: 7px;
    margin-bottom: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section_map .section_map_content .box_searchby ul li:nth-child(4), .section_map .section_map_content .box_searchby ul li:nth-child(5), .section_map .section_map_content .box_searchby ul li:nth-child(6) {
    height: auto;
  }
}
/** map version 2 **/
.green_area:hover path, .green_area.active path {
  fill: #74baab;
}
.green_area:hover path.border, .green_area.active path.border {
  fill: #000;
}
.green_area:hover .st1, .green_area.active .st1 {
  fill: #74baab;
}
.green_area:hover .st2, .green_area.active .st2 {
  fill: #fff;
}

.yellow_area:hover path, .yellow_area.active path {
  fill: #f5dd00;
}
.yellow_area:hover .st1, .yellow_area.active .st1 {
  fill: #f5dd00;
}
.yellow_area:hover .st2, .yellow_area.active .st2 {
  fill: #fff;
}

.pink_area:hover path, .pink_area.active path {
  fill: #efbccc;
}
.pink_area:hover .st1, .pink_area.active .st1 {
  fill: #efbccc;
}
.pink_area:hover .st2, .pink_area.active .st2 {
  fill: #fff;
}

.blue_area:hover path, .blue_area.active path {
  fill: #aac5e1;
}
.blue_area:hover path.border, .blue_area.active path.border {
  fill: #000;
}
.blue_area:hover .st1, .blue_area.active .st1 {
  fill: #aac5e1;
}
.blue_area:hover .st2, .blue_area.active .st2 {
  fill: #fff;
}

.orange_area:hover path, .orange_area.active path {
  fill: #febe55;
}
.orange_area:hover .st1, .orange_area.active .st1 {
  fill: #febe55;
}
.orange_area:hover .st2, .orange_area.active .st2 {
  fill: #fff;
}

@media (max-width: 912px) {
  .section_map .section_map_content .box_map .main_map.main_map::after {
    display: none;
  }
}
/** map version 3 **/
.area_kitaward polygon {
  fill: #8c7d5e;
}
.area_kitaward:hover path, .area_kitaward.active path {
  fill: #74BAAB;
}
.area_kitaward:hover .st6, .area_kitaward.active .st6 {
  fill: #74BAAB;
}
.area_kitaward:hover .st1, .area_kitaward.active .st1 {
  fill: #fff;
}
.area_kitaward:hover .st2, .area_kitaward.active .st2 {
  fill: #fff;
}

.area_toshimaward polygon {
  fill: #8c7d5e;
}
.area_toshimaward:hover polygon, .area_toshimaward.active polygon {
  fill: #74BAAB;
}
.area_toshimaward:hover .st2, .area_toshimaward.active .st2 {
  fill: #fff;
}

.area_bunkyoward polygon {
  fill: #8c7d5e;
}
.area_bunkyoward:hover polygon, .area_bunkyoward.active polygon {
  fill: #74BAAB;
}
.area_bunkyoward:hover .st2, .area_bunkyoward.active .st2 {
  fill: #fff;
}

.area_taitoward polygon {
  fill: #8c7d5e;
}
.area_taitoward:hover polygon, .area_taitoward.active polygon {
  fill: #74BAAB;
}
.area_taitoward:hover .st2, .area_taitoward.active .st2 {
  fill: #fff;
}

.area_sumidaward polygon {
  fill: #8c7d5e;
}
.area_sumidaward:hover polygon, .area_sumidaward.active polygon {
  fill: #74BAAB;
}
.area_sumidaward:hover .st2, .area_sumidaward.active .st2 {
  fill: #fff;
}

.area_suginamiward polygon {
  fill: #8c7d5e;
}
.area_suginamiward:hover polygon, .area_suginamiward.active polygon {
  fill: #74BAAB;
}
.area_suginamiward:hover .st2, .area_suginamiward.active .st2 {
  fill: #fff;
}

.area_nakanoward .st5 {
  fill: #8c7d5e;
}
.area_nakanoward:hover .st5, .area_nakanoward.active .st5 {
  fill: #74BAAB;
}
.area_nakanoward:hover .st2, .area_nakanoward.active .st2 {
  fill: #fff;
}

.area_shinjukuward .st5 {
  fill: #8c7d5e;
}
.area_shinjukuward:hover .st5, .area_shinjukuward.active .st5 {
  fill: #74BAAB;
}
.area_shinjukuward:hover .st2, .area_shinjukuward.active .st2 {
  fill: #fff;
}

.area_chiyodaward polygon {
  fill: #8c7d5e;
}
.area_chiyodaward:hover polygon, .area_chiyodaward.active polygon {
  fill: #74BAAB;
}
.area_chiyodaward:hover .st2, .area_chiyodaward.active .st2 {
  fill: #fff;
}

.area_chuokuward polygon {
  fill: #8c7d5e;
}
.area_chuokuward:hover polygon, .area_chuokuward.active polygon {
  fill: #74BAAB;
}
.area_chuokuward:hover .st2, .area_chuokuward.active .st2 {
  fill: #fff;
}

.area_kotoward .st5, .area_kotoward .st6 {
  fill: #8c7d5e;
}
.area_kotoward:hover .st5, .area_kotoward:hover .st6, .area_kotoward.active .st5, .area_kotoward.active .st6 {
  fill: #74BAAB;
}
.area_kotoward:hover .st2, .area_kotoward.active .st2 {
  fill: #fff;
}

.area_setagayaward .st5 {
  fill: #8c7d5e;
}
.area_setagayaward:hover .st5, .area_setagayaward.active .st5 {
  fill: #74BAAB;
}
.area_setagayaward:hover .st2, .area_setagayaward.active .st2 {
  fill: #fff;
}

.area_shibuyaward .st5 {
  fill: #8c7d5e;
}
.area_shibuyaward:hover .st5, .area_shibuyaward.active .st5 {
  fill: #74BAAB;
}
.area_shibuyaward:hover .st2, .area_shibuyaward.active .st2 {
  fill: #fff;
}

.area_minatokuward .st5 {
  fill: #8c7d5e;
}
.area_minatokuward .st6 {
  fill: #8c7d5e;
}
.area_minatokuward:hover .st5, .area_minatokuward.active .st5 {
  fill: #74BAAB;
}
.area_minatokuward:hover .st6, .area_minatokuward.active .st6 {
  fill: #74BAAB;
}
.area_minatokuward:hover .st2, .area_minatokuward.active .st2 {
  fill: #fff;
}

.area_meguroward .st5 {
  fill: #8c7d5e;
}
.area_meguroward:hover .st5, .area_meguroward.active .st5 {
  fill: #74BAAB;
}
.area_meguroward:hover .st2, .area_meguroward.active .st2 {
  fill: #fff;
}

.area_shinagawaward .st5 {
  fill: #8c7d5e;
}
.area_shinagawaward:hover .st5, .area_shinagawaward.active .st5 {
  fill: #74BAAB;
}
.area_shinagawaward:hover .st2, .area_shinagawaward.active .st2 {
  fill: #fff;
}

.area_otakuward polygon {
  fill: #8c7d5e;
}
.area_otakuward .st5 {
  fill: #8c7d5e;
}
.area_otakuward .st6 {
  fill: #8c7d5e;
}
.area_otakuward:hover .st5, .area_otakuward:hover .st6, .area_otakuward.active .st5, .area_otakuward.active .st6 {
  fill: #74BAAB;
}
.area_otakuward:hover .st2, .area_otakuward.active .st2 {
  fill: #fff;
}
.area_otakuward:hover .st1, .area_otakuward.active .st1 {
  fill: #fff;
}

.big_island .st1 {
  fill: #8c7d5e;
}

.small_island .st1 {
  fill: #8c7d5e;
}

.section_map .section_map_content .box_searchby ul.list_new li {
  width: 98px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.section_map .section_map_content .box_searchby ul.list_new li a {
  width: 100%;
  height: 100%;
  border: none;
  background: transparent;
  border-radius: 4px;
  padding: 10px;
}

.banner_description {
  z-index: 10;
}

.section_map .section_map_content .box_searchby ul.list_new2 li {
  height: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4px;
  background-position: center;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
}
.section_map .section_map_content .box_searchby ul.list_new2 li:nth-child(4) p, .section_map .section_map_content .box_searchby ul.list_new2 li:nth-child(5) p {
  align-items: center;
}
.section_map .section_map_content .box_searchby ul.list_new2 li:nth-child(4), .section_map .section_map_content .box_searchby ul.list_new2 li:nth-child(5), .section_map .section_map_content .box_searchby ul.list_new2 li:nth-child(6) {
  height: 97px;
}
.section_map .section_map_content .box_searchby ul.list_new2 li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: none;
  border: none;
  min-height: 53px;
  min-width: 100%;
  margin-top: 0;
}
.section_map .section_map_content .box_searchby ul.list_new2 li a span {
  top: -22px;
  right: -5px;
}
.section_map .section_map_content .box_searchby ul.list_new2 li a p {
  width: 100%;
  color: #8C7D5E;
  text-align: center;
  font-size: 1em;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  margin-top: 0;
}
.section_map .section_map_content .box_searchby ul.list_new2 li a p.sub_desc_img-1 {
  margin-top: 0px;
  font-size: 0.75em;
  width: 120px;
}
.section_map .section_map_content .box_searchby ul.list_new2 li a p.sub_desc_img-2 {
  margin-top: 0px;
  font-size: 0.625em;
  width: 110px;
}

@media (max-width: 1441px) {
  .section_banner::before {
    height: 86.5%;
  }
}
@media (max-width: 835px) {
  .section_map .section_map_content .box_searchby ul.list_new2 li a span {
    right: -4px;
  }
}
@media (max-width: 768px) {
  .section_map .section_map_content {
    margin-top: 20px;
  }

  .section_banner::before {
    height: 75%;
  }
}
@media (max-width: 428px) {
  .section_banner {
    margin-top: 0;
    height: 500px;
  }
  .section_banner::before {
    height: 60%;
  }

  .banner_description.banner_description_map {
    top: 25%;
  }

  .section_map .section_map_content {
    margin-top: -20px;
  }

  .section_map .section_map_content .box_searchby ul.list_new2 li a span {
    top: -20px;
  }
}

@media (min-width: 1441px) {
  .section_banner::before {
    height: 87%;
  }
}
.area_saitamaward polygon {
  fill: #8c7d5e;
}
.area_saitamaward:hover, .area_saitamaward.active {
  cursor: pointer;
}
.area_saitamaward:hover polygon, .area_saitamaward.active polygon {
  fill: #74BAAB;
}
.area_saitamaward:hover .st-3-3, .area_saitamaward.active .st-3-3 {
  fill: #74BAAB;
}

.area_kawaguchiward polygon {
  fill: #8c7d5e;
}
.area_kawaguchiward:hover, .area_kawaguchiward.active {
  cursor: pointer;
}
.area_kawaguchiward:hover polygon, .area_kawaguchiward.active polygon {
  fill: #74BAAB;
}
.area_kawaguchiward:hover .st-3-3, .area_kawaguchiward.active .st-3-3 {
  fill: #74BAAB;
}

.area_kawasakiward polygon {
  fill: #8c7d5e;
}
.area_kawasakiward:hover, .area_kawasakiward.active {
  cursor: pointer;
}
.area_kawasakiward:hover polygon, .area_kawasakiward.active polygon {
  fill: #FFF;
}
.area_kawasakiward:hover .st-2-2, .area_kawasakiward.active .st-2-2 {
  fill: #74BAAB;
}

.area_yokohamaward polygon {
  fill: #8c7d5e;
}
.area_yokohamaward:hover, .area_yokohamaward.active {
  cursor: pointer;
}
.area_yokohamaward:hover polygon, .area_yokohamaward.active polygon {
  fill: #FFF;
}
.area_yokohamaward:hover .st-2-0, .area_yokohamaward.active .st-2-0 {
  fill: #74BAAB;
}

.carousel2.label_sold::before {
  content: '';
  position: absolute;
  z-index: 10;
  display: block;
  left: 10px;
  top: -5px;
  width: 50px;
  height: 72px;
  background: url(../images/icons/i_label_sold.svg) no-repeat;
}
