.g-slideshow {
	&.slideshow_company {
		.splide {
			.splide-item {
				position: relative;
				text-align: center;
				.slideshow_caption {
					position: absolute;
					top: 15px;
					bottom: 0;
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
					align-content: stretch;
					h1 {
						font-size: 6em;
						font-weight: 600;
					}
					p {
						font-size: 0.875em;
						margin-bottom: 10px;
						font-weight: 600;
    					letter-spacing: 0.1em;
					}
					.btn_photo {
						font-size: 0.875em;
						color: #fff;
						border: 1px solid #fff;
						border-radius: 0;
						padding: 10px 15px;
						&:hover {
							background: #fff;
							color: #000;
						}
					}
				}
			}
		}
	}
}
.news-box {
	&.company_box {
		.news-box_list {
			width: 714px;
			padding: 0;
			margin: auto;
			table {
				tr {
					th {
						width: 40%;
					}
				}
			}
			.newx-box_item {
				p {
					margin-bottom: 0;
					color: #4F4F4F;
				}
			}
		}
	}
}

.section_access {
	padding: 80px;
	h2 {
		margin-bottom: 90px;
	}
	.box_access_img {
		position: relative;
		width: 100%;
		height: 420px;
		&.box_access_img_sm {
			&.pl20 {
				padding-left: 20px;
			}
			padding: 0 10px;
			height: 200px;
			overflow: hidden;
			margin-bottom: 20px;
			img {
				height: 200px;
			}
		}
		img {
			width: 100%;
			height: 420px;
			object-fit: cover;
		}
		p {
			margin-bottom: 0;
			position: absolute;
			top: 30px;
			left: 30px;
			font-size: 1.5em;
			color: #fff;
			font-weight: 600;
		}
	}
	.box_map {
		margin: 50px 0 50px;
	}
	.box_showroom {
		h3 {
			font-size: 1.125em;
			margin-bottom: 15px;
			font-weight: 600;
		}
		ul {
			padding: 0;
			margin: 0;
			list-style: none;
			li {
				font-size: 0.875em;
				display: block;
				margin-bottom: 15px;
				img {
					margin-right: 10px;
				}
			}
		}
		.btn_blue {
			margin-top: 20px;
			padding: 15px 65px;
			margin-right: 20px;
			border-radius: 2px;
			color: #fff;
			letter-spacing: .1em;
			background: #06121d; /* Old browsers */
			background: -moz-linear-gradient(-45deg,  #06121d 0%, #09a9cc 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg,  #06121d 0%,#09a9cc 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg,  #06121d 0%,#09a9cc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#06121d', endColorstr='#09a9cc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			border: none;
			&:last-child {
			    max-width: 288px;
			    display: block;
			    margin: 0 auto;
			}
			img {
				margin-right: 10px;
			}
		}
	}
}

.section_ir {
	margin-top:60px;
	.news-box {
		.news-box_list {
			width: 714px;
			padding: 0;
			margin: auto;
			table {
				tr {
					th {
						width: 40%;
					}
					td {
						p {
							color: #4F4F4F;
						}
					}
				}
			}
			.newx-box_item {
				p {
					margin-bottom: 10px;
					a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}




@media (max-width: 768px) {
	.g-slideshow {
		&.slideshow_company {
			.splide {
				.splide-item {
					.slideshow_caption {
						h1 {
							font-size: 3em;
						}
					}
				}
			}
		}
	}
	.news-box.company_box {
		.news-box_list {
			width: 100%;
			table {
				tr {
					th {
						width: 31%;
						span{
							display: block;
						}
					}
				}
			}
		}
	}
	.section_access {
		padding: 82px 0 0;
		.box_access_img {
			height: 230px;
			margin-bottom: 10px;
			p {
				font-size: 1.125em;
				left: 20px;
				top: 20px;
			}
			img {
				height: 230px;
			}
			&.box_access_img_sm {
				padding-right: 0;
				margin-bottom: 10px;
				height: 110px;
				&.pl20 {
					padding-left: 0;
					padding-right: 0;
				}
				img {
					height: 110px;
				}
			}
		}
		.box_showroom {
			ul {
				margin: 40px 0;
				p {
					display: flex;
				    flex-direction: row;
				    flex-wrap: nowrap;
				    justify-content: flex-start;
				    align-items: flex-start;
				    align-content: stretch;
				    span {
				    	display: block;
				    }
				}
			}
			.btn_blue {
				padding: 15px;
				margin-right: 0;
				display: block;
			}
		}
	}
	.section_access {
		.box_map {
			margin:40px 0 40px;
			iframe{
				max-height: 300px;
			}
		}
	}
	.section_ir {
		.news-box {
			.news-box_list {
				width: 100%;
				table {
					tr {
						th {
							width: 29%;
						}
						td{
							span{
								padding: 10px 0 0;
							}
						}
					}
				}
			}
		}
	}
}