.privacy-policy{
	p{
		font-size:0.875rem;
		line-height: 1.8;
		margin-bottom:0;
	}
	h4{
		font-weight: 600;
		font-size: 1.125rem;
		line-height: 1.8;
		margin-bottom: 0px;
	}

	.des{
		margin-bottom:53px;
	}
	.box-txt{
		margin-bottom: 53px;
		.border-txt{
			border:1px solid #000;
			padding:15px 0;
		}
	}
	.rule-txt{
		margin-bottom:23px;
		a{
			span{
				color: #B48856;
				font-weight: 600;
				text-decoration: underline;
			}
		}
	}
}