//----------------------------------------------//
// *Response Font Size                          //
//----------------------------------------------//
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}
@mixin fluid-font-size($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
    }
  }
}


@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
	.modal-xl {
		max-width: 954px;
	}
	
}

@media (max-width: 1100px) {
	
}

@media (max-width: 1024px) {
	.section_plan {
		.box_infoview_content {
			margin-bottom: 50px;
		}
		.box_premium {
			margin-bottom: 15px;
		}
		.box_normal {
			.box_normal_item {
				width: 49%;
				margin-right: 15px;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				&:nth-of-type(3n) {
					margin-right: 15px;
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
//THI
	//Equip - Specifi
	#plandesign,#plandesign2 {
	    ul.equip-spec {
	        li {
	            a {
	        	    padding: 0 40px;
	            }
	        }
	    }
	}
}
@media (max-width: 992px) {
//THI MENU
	.js-menuAnimation{
		opacity: 0;
    	transform: translateX(-10px);
	}
	.bsnav-mobile {
		z-index: 999;
		.navbar{
			opacity:0;
			width: 100%;
			position: fixed;
			transform:translate3d(0,0,0);
		    top: 0;
		    left: 0;
		    width: 100vw;
		    height: 100vh;
		    overflow-y: scroll;
		    transition: all .4s cubic-bezier(.42,0,.58,1);
		    padding:110px 0 15px;
		}
		&.in{
			.navbar{
				opacity:1;
				.js-menuAnimation{
					opacity: 1;
    				transform: translateX(0);
				}
			}
		}
	}
	.navbar-nav {
		.nav-item{
			text-align:center;
			&:hover,&:focus{
				border:none;
				color:rgba(0,0,0,1);
				outline:none;
				.caret{
					border-top-color: #000;
				}
			}
			&:first-child{
				.nav-link{
					font-size:1rem;
					&:hover,&:focus{
						border:none;
						color:rgba(0,0,0,1);
						outline:none;
					}
				}
			}
			&:last-child{
				.nav-link{
					&:hover,&:focus{
						border:none;
						color:rgba(0,0,0,1);
						outline:none;
					}
				}
			}
		}
		.nav-link{
			color:#000;
			font-size:1rem;
			&:hover{
				border:none;
				color:rgba(0,0,0,1);
			}
		}
	}
//THIS CUSTOM MENU
	// .bsnav-mobile .navbar-nav .nav-item .navbar-nav{
	// 	margin-left: 0; 
 //    	margin-right: 0; 
	// }
	// .nav-item .caret{
	//   border-top: solid 5px #444;
	// }
	// .carets{
	// 	&:before{
	// 		border-top: solid 5px #444;
	// 	}
	// }
	// .bsnav-mobile {
	// 	.navbar-nav{
	// 		padding:0;
	// 	}
	// }	
//This BTN  Menu
	.menu {
		z-index:9999;
	   	position: relative;
	    display: inline-block;
	    width: 31px;
	    height: 31px;
	    transition: all 0.4s;
	    right:20px;
		.menuLine{
			box-sizing: border-box;
			background: #fff;
		    position: absolute;
		    left: 50%;
		    display: inline-block;
		    width: 30px;
		    height: 1px;
		    transition: all 0.4s;
		    transform: translate(-50%, 0);
	    	&:nth-of-type(1) {
			    top: 7px;
			    animation: initBar_1 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
			}
			&:nth-of-type(2) {
			    top: 15px;
			    animation: initBar_2 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
			}
			&:nth-of-type(3) {
			    bottom: 7px;
			    animation: initBar_3 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
			}
		}
		&.active{
			.menuLine {
				background: #000;
				&:nth-of-type(1) {
	    			animation: activeBar_1 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s forwards;
	    		}
				&:nth-of-type(2) {
	    			animation: activeBar_2 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s forwards;
	    		}
				&:nth-of-type(3) {
				    animation: activeBar_3 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.15s forwards;
				}
			}
		}
	}
	.menu{
		&:after {
		    position: absolute;
		    top: 50%;
		    left: 50%;
		    border: 1px solid transparent;
		    border-radius: 50%;
		    display: block;
		    content: "";
		    opacity: 0;
		    width: 15px;
		    height: 15px;
		    transition: all 0.1s;
		    transform: translate(-50%, -50%);
		    border-color: rgba(255, 255, 255, 0.5);
		}
		&.active {
			&:after{
				animation: circle 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
			}
		}
	}

//Equip - Specifi
#plandesign,#plandesign2 {
    ul.equip-spec {
        li {
            a {
        	    padding: 0 30px;
            }
        }
    }
}

#plandesign,#plandesign2 {
    .equip-spec_box {
    	margin-bottom:60px;
        .equip-spec_box-title {
           	font-size:0.8rem;
        }
    }
}

.carousel_view{
	.carousel_view_day,.carousel_view_night{
		background-size: cover;
	}
}




}

@media (max-width: 800px) {
	
}

@media (max-width: 768px) {
	/* bsnav */
	.navbar-brand {
		margin: auto;
	}
	.bsnav {
		padding-top: 15px;
	}
	.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
		background-color: #fff;
	}
	.bsnav-sticky.bsnav-sticky-slide.sticked.in {
		.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
			background-color: #000;
		}
	}
	.bsnav-mobile.in .bsnav-mobile-overlay {
		background: rgba(0, 0, 0, .7);
	}

	.bsnav-mobile {
		.navbar {
			padding-top: 30px;
		}
		 .navbar-nav {
			padding: 0;
			.nav-item {
				padding: 0;
				&:first-child {
					padding-left: 0;
					padding-right: 0;
				}
				&:last-child {
					margin-left: 0;
				}
				.caret {
					border-top-color: #000;
				}
				.nav-link {
					display: block;
					color: #000;
					padding: 15px 15px;
					border-bottom: 1px solid #f1f1f1;
				}
				.navbar-nav {
					.nav-item {
						.nav-link {
							padding-left: 40px;
						}
					}
				}
			}
		}
	}
	.fade:not(.show) {
		opacity: 1;
	}
	
	.news.notlogin::after {
		right: 10px;
	}

	/* header */
	.header_afterlogin {
		.bsnav {
			padding: 15px;
			.navbar-brand {
				padding: 0;
			}
		}
		
	}

	.header_sub {
		.navbar-brand {
			padding: 0 0 15px;
		}
		.navbar-toggler {
			top: -5px;
		}
		.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
			background-color: #000;
		}
	}
	.news {
		padding: 15px 30px 15px 15px;
		h2 {
			border-right: none;
			margin-bottom: 15px;
		}
		&.news_afterlogin {
			padding: 15px 40px 15px 15px;
		}
		.carousel_news .flickity-prev-next-button.previous {
			right: -30px;
		}
		.flickity-prev-next-button.next {
			right: -40px;
		}
	}

	main {
		padding-bottom: 50px;
	}
	.subtitle {
		margin-bottom: 30px;
	}

	/* login */
	.frm_login {
		.frm_login_top {
			padding: 30px;
		}
		.frm_login_bottom {
			h4 {
				margin-top: 30px;
			}
			.frm_login_bottom_content {
				padding: 0 30px 30px;
			}
		}
	}

	/* section_topbanner */
	.section_topbanner h1 {
		line-height: 1.5em;
		font-size: 1.4em;
	}
	.banner_content {
		padding-left: 30px;
	}

	/* section_living */
	.section_living {
		padding-top: 30px;
		padding-bottom: 0;
	}
	.living_content {
		padding-left: 0;
		padding-top: 30px;
	}
	.living_img {
		margin-top: 0;
	}

	/* section_spring_summer */
	.section_spring_summer {
		padding-bottom: 50px;
		.spring_summer_content {
			padding: 15px;
			top: -50px;
		}
	}

	.spring_summer_pictures {
		a {
			margin-right: 5px;
		}
	}

	/* section_autmun_winter */
	.section_autmun_winter {
		padding-bottom: 50px;
		.autmun_winter_content {
			padding: 15px;
			top: -50px;
		}
	}

	/* section_area_minyanomori */
	.section_area_minyanomori {
		margin-bottom: 50px;
		.area_minyanomori_content {
			padding: 40px 0;
		}
		h1 {
			font-size: 3em;
		}
		.area_minyanomori_pictures {
			flex-wrap: wrap;
			a {
				width: 50%;
			}
		}
	}

	/* section_interview */
	.section_interview {
		padding-bottom: 0;
		.interview_img {
			margin: 50px 0 30px;
		}
		.box_interview_info {
			padding-right: 0;
			padding-bottom: 30px;
		}
		.interview_content {
			padding: 50px 0 50px;
		}
	}

	/* .section_info_contact */
	.section_info_contact {
		padding: 50px 0 0;
		.info_contact_item {
			margin-bottom: 15px;
			padding-bottom: 15px;
			border-bottom: 1px solid #dbdbdb;
			&::after {
				display: none;
			}
			.btncontactus {
				padding: 8px 20px;
			}
		}

	}

	/* footer */
	footer {
		ul {
			margin-bottom: 20px;
		}
	}

	// .section_architecturaldesign
	.section_architecturaldesign {
		padding: 0 0 50px;
		.architecturaldesign_img {
			margin-top: 50px;
			margin-left: -15px;
		}
		.box_born_img {
			margin-right: -15px;
		}
	}

	.box_born {
		margin-top: 50px;
		padding-left: 0;
	}
	// section_places
	.section_places {
		padding-bottom: 0;
		.box_born {
			margin-top: 50px;
		}
	}

	// section_access
	.section_access {
		padding: 50px 0;
		.box_station {
			.box_station_item {
				margin-top: 20px;
				p {
					margin-bottom: 15px;
				}
			}
		}
		.box_map {
			margin-bottom: 50px;
			.info_location {
				.btnCheckgoogle {
					margin-bottom: 0;
				}
			}
			.box_schedule {
				margin-top: 30px;
			}
		}
	}

	// section_contactus
	.section_contactus {
		padding: 50px 0;
		border-bottom-width: 0;
		.contactus_top {
			p {
				&:nth-last-of-type(1) {
		        margin-top: 0;
		      }
			}
		}
		.contactus_content {
			width: 100%;
			.frm_contactus {
				.form-group {
					margin-bottom: 15px;
				}
				.frm_contactus_footer {
					.btnsubmit {
						min-width: auto;
					}
				}
			}
		}
	}

	// plan page
	.section_plan {
		.nav-tabs {
			&::after {
				width: 1000%;
				left: -50%;
			}
			margin-left: -15px;
			margin-right: -15px;
			.nav-item {
				.nav-link {
					font-size: 1em;
					padding: 5px 15px;
					&.active {
						height: 52px;
					}
				}
			}
		}
		.tab-content {
			.tab-pane {
				padding: 50px 0;
			}
		}

		.box_normal {
			.box_normal_item {
				width: 48.5%;
				margin-right: 15px;
				&:nth-of-type(2n) {
					margin-right: 0;
				}
				&:nth-of-type(3n) {
					margin-right: 15px;
				}
				&:last-child {
					margin-right: 0;
				}
				.box_premium {
					margin-bottom: 15px;
				}
			}
		}
		.carousel_view {
			.carousel-cell {
				height: 320px;
				img {
					height: 320px;
				}
			}
			.flickity-prev-next-button {
				height: 100px;
				width: 40px;
			}
		}
		.list_view_time {
			margin-top: 20px;
			li {
				a {
					min-width: auto;
				}
			}
		}
		.box_infoview_top {
			margin-bottom: 50px;
		}
		.box_infoview_content {
			h2 {
				margin-bottom: 50px;
			}
			.box_infoview_img {
				position: relative;
				top: 0;
			}
		}
	}

	// plan detail page
	.section_plan_detail {
		padding-top: 50px;
		.box_plan_detail_top {
			h1 {
				font-size: 1.8em;
			}
			p {
				padding-left: 0;
				border-left: none;
				margin-top: 15px;
			}
		}
		.box_plan_detail_body {
			margin-bottom: 50px;
			.box_plan_detail_img {
				padding: 15px 15px 50px;
			}
			.box_plan_detail_body_top {
				padding: 30px 15px 15px;
				.box_infoview_content {
					margin-bottom: 0;
					h1 {
						font-size: 2em;
					}
					.box_infoview_img {
						top: 0;
					}
					.see_video {
						width: 100px;
						height: 100px;
						right: -30px;
						bottom: -90px;
					}
				}
			}
		}

		.box_plan_detail_footer {
			.box_infoview_content {
				padding: 15px;
				.box_infoview_img {
					top: 0;
				}
				.box_plan_detail_footer_content {
					h1 {
						margin-top: 0;
						font-size: 2em;
					}
				}
			}
			
		}

	}

	.modal-title {
		margin-bottom: 0;
	}

	// section_equipment 
	.box_equipment_info {
		padding: 50px 0 0;
		p {
			padding-left: 0;
			border-left: none;
		}
		.box_equipment_info_top {
			h2 {
				font-size: 1.8em;
			}
			.box_box_equipment_info_top_custom {
				padding-bottom: 30px;
			}
		}
	}

//THI
	.slide-main {
	    .slideText{
	        bottom: 26%;
	        p{
	            @include fluid-font-size(320px,767px,12px,36px);
	            &.small{
	                 @include fluid-font-size(320px,767px,10px,14px);
	            }
	        }
	    }
	}
	//Equip - Specifi
	#plandesign,#plandesign2 {
	    ul.equip-spec {
	        li {
	            a {
	        	    padding: 0 5px;
	        	    font-size:0.75rem;
	            }
	        }
	    }
	}

	#plandesign,#plandesign2 {
    	.equip-spec_note {
	        font-size: 0.8rem;
	    }
	}

}

@media (min-width: 768px) {

}
@media (max-width: 736px) {
	.section_plan {
		.box_normal {
			.box_normal_item {
				width: 100%;
				margin-right: 0;
				&:nth-of-type(3n) {
					margin-right: 0;
				}
			}
		}
	}
	
}

@media (max-width: 667px) {

}

@media only screen and (min-width: 641px){
	//THI
  .slideContent {
    height: 100vh;
    min-height: 600px;
    padding-top: 0;
    max-height: 909px;
    .slide {
      height: 100vh;
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 576px){

}

@media (max-width: 568px) {

}

@media screen and (max-width:420px){

}

@media (max-width: 414px) {
// THI
	.slide-main {
	    .slideText{
	      right: 5.8%;
	      bottom: 23%;
	    }
	}
	.slideScroll a{
	    font-size:9px
	}
	.slideScroll{
	    left:5%;
	    height: 160px;
	    &:before{
	      height:100px;
	    }
	    &:after{
	      bottom:100px;
	      animation-name: scrollBar1;
	      animation-duration: 2.5s;
	      animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	      animation-iteration-count: infinite;
	    }
	}
  	//Equip - Specifi
	#plandesign,#plandesign2 {
	    ul.equip-spec {
	        li {
	            a {
	        	    font-size:0.5625rem;
	            }
	        }
	    }
	}
	#plandesign,#plandesign2 {
    	.equip-spec_note {
	        font-size: 0.6rem;
	    }
	}
	//Privacy Policy
	.title_sub{
		font-size:1.5625rem;
	}
	.privacy-policy{
		p{
			font-size:0.75rem;
		}
		.box-txt{
			.border-txt{
				span{
					display:block;
					margin-left:15px;
				}
			}
		}
	}

}

@media (max-width: 375px) {
	
}
@media (max-width: 320px) {
	.title {
		font-size: 2em;
	}
	.box_infoview_content
	{
		h1 {
			font-size: 2.5em;
		}
		h2 {
			.number {
				font-size: 2em;
			}
		}
	}
}



@media not all and (min-resolution:.001dpcm) {

}

@supports (-webkit-overflow-scrolling: touch) {

}

@supports not (-webkit-overflow-scrolling: touch) {

}

@media screen and (-webkit-min-device-pixel-ratio:0){

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
}