@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.svg#SFProDisplay-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Black.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Black.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Black.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Black.svg#SFProDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Bold.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Bold.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.svg#SFProDisplay-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Heavy.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.svg#SFProDisplay-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.svg#SFProDisplay-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-LightItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.svg#SFProDisplay-LightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Light.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Light.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Light.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Light.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Medium.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Medium.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Medium.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.svg#SFProDisplay-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.svg#SFProDisplay-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Regular.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Regular.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Thin.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Thin.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Thin.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Thin.svg#SFProDisplay-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.svg#SFProDisplay-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Semibold.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.svg#SFProDisplay-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Ultralight.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.svg#SFProDisplay-UltralightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/noto-sans-jp/NotoSansJP-Black-Alphabetic.eot");
  src: url("../fonts/noto-sans-jp/NotoSansJP-Black-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-jp/NotoSansJP-Black-Alphabetic.woff2") format("woff2"), url("../fonts/noto-sans-jp/NotoSansJP-Black-Alphabetic.woff") format("woff"), url("../fonts/noto-sans-jp/NotoSansJP-Black-Alphabetic.ttf") format("truetype"), url("../fonts/noto-sans-jp/NotoSansJP-Black-Alphabetic.svg#NotoSansJP-Black-Alphabetic") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/noto-sans-jp/NotoSansJP-Light-Alphabetic.eot");
  src: url("../fonts/noto-sans-jp/NotoSansJP-Light-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-jp/NotoSansJP-Light-Alphabetic.woff2") format("woff2"), url("../fonts/noto-sans-jp/NotoSansJP-Light-Alphabetic.woff") format("woff"), url("../fonts/noto-sans-jp/NotoSansJP-Light-Alphabetic.ttf") format("truetype"), url("../fonts/noto-sans-jp/NotoSansJP-Light-Alphabetic.svg#NotoSansJP-Light-Alphabetic") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/noto-sans-jp/NotoSansJP-Bold-Alphabetic.eot");
  src: url("../fonts/noto-sans-jp/NotoSansJP-Bold-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-jp/NotoSansJP-Bold-Alphabetic.woff2") format("woff2"), url("../fonts/noto-sans-jp/NotoSansJP-Bold-Alphabetic.woff") format("woff"), url("../fonts/noto-sans-jp/NotoSansJP-Bold-Alphabetic.ttf") format("truetype"), url("../fonts/noto-sans-jp/NotoSansJP-Bold-Alphabetic.svg#NotoSansJP-Bold-Alphabetic") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/noto-sans-jp/NotoSansJP-Thin-Alphabetic.eot");
  src: url("../fonts/noto-sans-jp/NotoSansJP-Thin-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-jp/NotoSansJP-Thin-Alphabetic.woff2") format("woff2"), url("../fonts/noto-sans-jp/NotoSansJP-Thin-Alphabetic.woff") format("woff"), url("../fonts/noto-sans-jp/NotoSansJP-Thin-Alphabetic.ttf") format("truetype"), url("../fonts/noto-sans-jp/NotoSansJP-Thin-Alphabetic.svg#NotoSansJP-Thin-Alphabetic") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/noto-sans-jp/NotoSansJP-Medium-Alphabetic.eot");
  src: url("../fonts/noto-sans-jp/NotoSansJP-Medium-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-jp/NotoSansJP-Medium-Alphabetic.woff2") format("woff2"), url("../fonts/noto-sans-jp/NotoSansJP-Medium-Alphabetic.woff") format("woff"), url("../fonts/noto-sans-jp/NotoSansJP-Medium-Alphabetic.ttf") format("truetype"), url("../fonts/noto-sans-jp/NotoSansJP-Medium-Alphabetic.svg#NotoSansJP-Medium-Alphabetic") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Noto Sans JP';
  src: url("../fonts/noto-sans-jp/NotoSansJP-Regular-Alphabetic.eot");
  src: url("../fonts/noto-sans-jp/NotoSansJP-Regular-Alphabetic.eot?#iefix") format("embedded-opentype"), url("../fonts/noto-sans-jp/NotoSansJP-Regular-Alphabetic.woff2") format("woff2"), url("../fonts/noto-sans-jp/NotoSansJP-Regular-Alphabetic.woff") format("woff"), url("../fonts/noto-sans-jp/NotoSansJP-Regular-Alphabetic.ttf") format("truetype"), url("../fonts/noto-sans-jp/NotoSansJP-Regular-Alphabetic.svg#NotoSansJP-Regular-Alphabetic") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 16px;
  background: transparent;
  font-family: 'Noto Serif JP', serif;
  color: #46505C;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Noto Serif JP', serif;
}

ul, ol {
  font-family: 'Noto Serif JP', serif;
}

.container {
  max-width: 1061px;
}

input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color] {
  height: 40px;
  font-size: .875rem;
  line-height: 17px;
  font-family: 'SF Pro Display';
  border: 1px solid #828282;
  border-radius: 4px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus {
  outline: none;
}

.pagination {
  border-top: 1px solid #828282;
  border-radius: 0;
}
.pagination li span, .pagination li a {
  width: 30px;
  line-height: 15px;
  padding: 5px;
  text-align: center;
  display: block;
  font-size: 0.875rem;
  background: #fff;
  border: 1px solid #006973;
  margin-left: 5px;
}
.pagination li span.current, .pagination li a.current {
  color: #fff;
  background: #006973;
}

textarea.form-control {
  border: 1px solid #828282;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #828282;
  font-size: .875rem;
  line-height: 17px;
  font-family: 'SF Pro Display';
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #828282;
  font-size: .875rem;
  line-height: 17px;
  font-family: 'SF Pro Display';
}

::-ms-input-placeholder {
  color: #828282;
  font-size: .875rem;
  line-height: 17px;
  font-family: 'SF Pro Display';
}

::placeholder {
  color: #828282;
  font-size: .875rem;
  line-height: 17px;
  font-family: 'SF Pro Display';
}

.breadcrumb {
  background: transparent;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a,
a:focus,
a:active,
a:hover {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button,
button:focus,
button:active,
button:hover {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn.focus,
.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

/*Global Setting*/
img {
  max-width: 100%;
  height: auto;
}

/*Text Color*/
.txt-black {
  color: black !important;
}

/* Head Title */
h1, h2 {
  font-size: 1.5rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  font-family: 'Noto Serif JP';
}

h2.title {
  position: relative;
  margin-left: -35px;
  margin-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Noto Serif JP';
}
@media (min-width: 768px) and (max-width: 991px) {
  h2.title {
    margin-left: -20px;
  }
}

.sub-title {
  font-family: 'Noto Serif JP';
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 40px;
  color: #46505C;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .sub-title {
    letter-spacing: 0.05em;
  }
}
@media (max-width: 767px) {
  .sub-title span {
    display: block;
    padding-left: 56px;
  }
}

.title-line {
  position: relative;
  width: 100%;
}
@media (min-width: 768px) {
  .title-line:before {
    content: '';
    position: absolute;
    top: calc(50%);
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    right: 0;
    background: #000;
    height: 1px;
    max-width: 105px;
    width: 100%;
  }
}

.title-custom {
  left: -135px;
}

.ct-page h2 {
  font-size: 3.5rem;
  color: #777777;
  text-align: center;
  font-weight: 600px;
  line-height: 1.2;
  margin-top: 20px;
}
.ct-page h2 span {
  margin: 14px 0 10px 0;
  font-size: 1.125rem;
  font-weight: normal;
  color: #000000;
  line-height: 1.2;
}
.ct-page .line {
  width: 247px;
  height: 6px;
  margin: 0 auto 60px auto;
  background-color: #e1e1e1;
  margin-bottom: 45px;
}

.sm-title h3 {
  padding-top: 52px;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
@media (max-width: 767px) {
  .sm-title h3 {
    padding-top: 25px;
  }
}

/* Width And Height*/
@media (max-width: 767px) {
  .mr-last-to-md-0 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .w-to-md-100 {
    max-width: 100%;
  }
}

.max-w-100 {
  max-width: 100%;
}

/*Background Gradient*/
.bg-gradient-black-turquoise {
  background: linear-gradient(135deg, #FFCB44 0%, #DC6909 100%);
}

.bg-gradient-ovlarticle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255, 255, 255, 0)), color-stop(85%, rgba(255, 255, 255, 0.8)), to(white));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.8) 85%, white 100%);
}

.logsuite-box-shadow {
  -webkit-box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.25);
}

/*Breadcrumb*/
.breadcrumb ul {
  padding: 32px 0;
}
.breadcrumb ul li {
  font-family: 'Noto Sans JP';
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 17px;
  letter-spacing: 0.05em;
  padding-right: 15px;
  position: relative;
}
.breadcrumb ul li:before {
  content: '';
  background: #828282;
  right: 7px;
  position: absolute;
  top: 50%;
  width: 1px;
  height: 17px;
  -webkit-transform: translateY(-50%) rotate(10deg);
          transform: translateY(-50%) rotate(10deg);
}
.breadcrumb ul li a {
  color: #828282;
}
.breadcrumb ul li span {
  color: #000000;
}
.breadcrumb ul li.active:before {
  width: 0;
}

/* Icons */
[class^=i-], [class*=i-] {
  position: relative;
  display: inline-block;
}
[class^=i-]:before, [class*=i-]:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.i-email {
  height: 13px;
  width: 18px;
}
.i-email:before {
  background-image: url("../images/icons/mail.svg");
  height: 13px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.i-call-phone {
  height: 17px;
  width: 25px;
}
.i-call-phone:before {
  background-image: url("../images/icons/call-phone.svg");
  height: 17px;
  width: 25px;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.bg-white {
  background: #fff;
}

.btn-contact {
  font-family: 'Noto Serif JP';
  font-size: 1rem;
  padding: 0;
  line-height: 90px;
  letter-spacing: 0.5px;
  text-align: center;
  font-weight: 600;
  color: #46505C;
  max-height: 90px;
  width: 100%;
  max-width: 240px;
  border-radius: 0;
  border: none;
  right: 0;
  position: absolute;
}
@media (max-width: 991px) {
  .btn-contact {
    display: none;
  }
}

.nav-menu {
  line-height: 90px;
  background: #006973;
  position: relative;
}
@media (max-width: 768px) {
  .nav-menu {
    line-height: 60px;
  }
}
.nav-menu .navbar {
  padding: 0;
}
.nav-menu .navbar-brand {
  max-width: 208px;
  padding: 0;
  margin-left: 9.2%;
  width: 100%;
}
.nav-menu .navbar-brand img {
  margin-right: 10px;
}
.nav-menu .navbar-brand span {
  font-size: 0.75rem;
  color: #fff;
  line-height: 1;
  position: relative;
}
@media (max-width: 768px) {
  .nav-menu .navbar-brand {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    max-width: 163px;
    margin-left: 7.2%;
  }
  .nav-menu .navbar-brand span {
    display: block;
    padding-left: 43px;
    position: relative;
    top: -5px;
  }
}
.nav-menu .nav-menu-list {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.nav-menu .nav-menu-list ul {
  position: absolute;
  display: block;
  top: 100%;
  z-index: 999999;
  background: #006973;
  width: 100%;
  max-width: 240px;
  visibility: hidden;
  height: 0;
}
@media (max-width: 991px) {
  .nav-menu .nav-menu-list ul {
    max-width: 100%;
  }
}
.nav-menu .nav-menu-list ul li[js-animation] {
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.nav-menu .nav-menu-list ul li a {
  color: #fff;
  border-bottom: 1px solid #fff;
  width: 100%;
  display: block;
  line-height: 60px;
  font-weight: 600;
  padding: 0 10px;
}
.nav-menu a.navbar-toggler {
  position: relative;
  height: 30px;
  width: 58px;
  padding: 0 20px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}
.nav-menu a.navbar-toggler .nav-toggler-line {
  position: absolute;
  width: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 2px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.7s cubic-bezier(0, 0.7, 0, 1);
  transition: all 0.7s cubic-bezier(0, 0.7, 0, 1);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.nav-menu a.navbar-toggler .nav-toggler-line:nth-child(1) {
  top: 7px;
}
.nav-menu a.navbar-toggler .nav-toggler-line:nth-child(2) {
  top: 13px;
}
.nav-menu a.navbar-toggler .nav-toggler-line:nth-child(3) {
  bottom: 7px;
}

header.open-hamburger .nav-menu-list ul {
  visibility: visible;
}
@media (min-width: 992px) {
  header.open-hamburger .nav-menu-list ul {
    height: auto;
  }
}
@media (max-width: 991px) {
  header.open-hamburger .nav-menu-list ul {
    height: 110vh;
  }
}
header.open-hamburger .nav-menu-list ul li[js-animation] {
  opacity: 1;
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}
header.open-hamburger a.navbar-toggler .nav-toggler-line:nth-child(1) {
  -webkit-transform: rotateZ(45deg) translate(-3px, 12px);
          transform: rotateZ(45deg) translate(-3px, 12px);
}
header.open-hamburger a.navbar-toggler .nav-toggler-line:nth-child(2) {
  opacity: 0;
}
header.open-hamburger a.navbar-toggler .nav-toggler-line:nth-child(3) {
  -webkit-transform: rotateZ(-45deg) translate(-4px, -12px);
          transform: rotateZ(-45deg) translate(-4px, -12px);
}

@-webkit-keyframes drawer-open {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes drawer-open {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes drawer-close {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@keyframes drawer-close {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.menu-animation-scroll {
  position: fixed;
  z-index: 9999;
  background: #fff;
  width: 100%;
  -webkit-animation-name: top-to-bottom;
          animation-name: top-to-bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  top: 0;
  left: 0;
}
.menu-animation-scroll .nav-menu {
  background: #006973;
}

@-webkit-keyframes top-to-bottom {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

@keyframes top-to-bottom {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@media (max-width: 767px) {
  .nav-fixed {
    position: fixed;
    z-index: 99999;
    width: 100%;
    background: transparent;
  }
}

.g-slideshow {
  position: relative;
}
.g-slideshow:before {
  position: absolute;
  background: #006973;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.g-slideshow .splide {
  position: relative;
  max-height: 550px;
  overflow: hidden;
}
.g-slideshow .splide .splide-item {
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 768px) {
  .g-slideshow .splide {
    padding-left: 14.25%;
  }
  .g-slideshow .splide .splide-item {
    padding-top: 42.41%;
    max-height: 550px;
    max-width: 1112px;
    margin-left: auto;
  }
}
@media (max-width: 767px) {
  .g-slideshow .splide .splide-item {
    height: 600px;
  }
}
.g-slideshow .slideshow-text {
  position: absolute;
  top: 70px;
  left: 13.5%;
}
.g-slideshow .slideshow-text h2 {
  font-weight: 500;
  font-size: 3rem;
  line-height: 1.6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
@media (min-width: 768px) and (max-width: 1300px) {
  .g-slideshow .slideshow-text h2 {
    font-size: calc(20px + 28 * ((100vw - 768px) / 532));
  }
}
@media (max-width: 767px) {
  .g-slideshow .slideshow-text {
    left: 30px;
    top: 140px;
  }
  .g-slideshow .slideshow-text h2 {
    font-size: 2rem;
  }
}

footer .footer-top {
  position: relative;
  background: #006973;
  padding-top: 40px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  footer .footer-top {
    padding-top: 30px;
  }
}
footer .footer-top ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-top ul li {
  padding: 0 15px;
}
footer .footer-top ul li a.nav-link {
  font-family: SF Pro Display;
  text-align: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.4;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  footer .footer-top ul {
    display: block;
  }
  footer .footer-top ul li a.nav-link {
    font-size: .75rem;
  }
}
footer .footer-top .social {
  padding: 15px 0 30px;
}
footer .footer-top .social li {
  padding: 0 15px;
}
@media (max-width: 767px) {
  footer .footer-top .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 20px;
  }
}
footer .copyright {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
  font-family: SF Pro Display;
}

.lk-asset-action {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  width: 100%;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
}
.lk-asset-action a {
  display: inline-block;
  font-family: SF Pro Display;
  background: #006973;
  border-radius: 100px;
  color: #fff;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0.1em;
  width: 100%;
  max-width: 240px;
  text-align: center;
  margin: 0 10px;
}
.lk-asset-action a i {
  margin-right: 10px;
  position: relative;
  top: 1px;
}
@media (max-width: 767px) {
  .lk-asset-action {
    padding: 0 20px;
  }
  .lk-asset-action a {
    margin: 0;
    line-height: 37px;
    font-size: 0.875rem;
  }
  .lk-asset-action a:first-child {
    margin-right: 2.5px;
  }
  .lk-asset-action a:last-child {
    margin-left: 2.5px;
  }
}
@media (max-width: 374px) {
  .lk-asset-action a {
    font-size: 0.75rem;
  }
}

@media (max-width: 768px) {
  .home-news {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.lk-asset-news .time {
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 768px) {
  .lk-asset-news .time {
    margin-bottom: 10px;
  }
}
.lk-asset-news .time .date {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.05em;
  color: #46505C;
  margin-right: 20px;
}
.lk-asset-news .time .type {
  border: 1px solid #006973;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 18px;
  width: 70px;
  letter-spacing: 0.05em;
  color: #006973;
  text-align: center;
  display: inline-block;
}
.lk-asset-news .des {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 20px;
  letter-spacing: 0.05em;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lk-asset-news .read-more .sp1 {
  font-weight: 400;
  font-size: .625rem;
  line-height: 14px;
  letter-spacing: 0.05em;
  color: #006973;
  margin-right: 20px;
}
.lk-asset-news .read-more .sp2 {
  background: #006973;
  border-radius: 50%;
  color: #fff;
  height: 40px;
  width: 40px;
  display: inline-block;
  padding: 8px 13px;
}

.home-news__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.1);
  border-radius: 80px;
  padding: 20px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: -44px;
  position: relative;
}
@media (max-width: 768px) {
  .home-news__item {
    border-radius: 20px;
    padding: 20px 30px;
  }
}

.home-about__mission {
  padding-top: 108px;
  margin-bottom: 120px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-about__mission {
    margin-bottom: 150px;
    padding-top: 70px;
  }
}
.home-about__mission__contain {
  max-width: 663px;
  width: 100%;
}
@media (min-width: 768px) {
  .home-about__mission__contain {
    padding-left: 45px;
    padding-top: 95px;
  }
}
@media (max-width: 767px) {
  .home-about__mission__contain {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 20px;
  }
  .home-about__mission__contain h2 {
    max-width: 272px;
    margin-bottom: 23px;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .home-about__mission .box-contain {
    margin-right: 103px;
  }
  .home-about__mission .box-contain .contain {
    max-width: 397px;
    text-align: justify;
    padding-right: 10px;
  }
}
.home-about__mission p {
  line-height: 2;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .home-about__mission p {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .home-about__mission__img .img1 {
    width: calc(100% - 23%);
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .home-about__mission__img .img2 {
    margin-top: -96px;
    margin-left: -103px;
    max-width: 411px;
    width: 35vw;
  }
}
@media (max-width: 767px) {
  .home-about__mission__img .img2 {
    width: calc(100% - 50.5%);
    margin-top: -44px;
  }
}

.home-about__business {
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .home-about__business {
    padding-bottom: 50px;
  }
  .home-about__business:before {
    top: 15.6%;
  }
}
@media (min-width: 768px) {
  .home-about__business > div:before {
    content: '';
    position: absolute;
    background: #f2f2f2;
    top: 246px;
    bottom: 0;
    width: 100%;
    z-index: -1;
  }
}
.home-about__business .title .title-line:before {
  left: 20px;
  right: 0;
  width: unset;
  max-width: 100%;
}
@media (min-width: 768px) {
  .home-about__business .title {
    margin-top: 95px;
    margin-left: -138px;
    max-width: 664px;
  }
}
@media (max-width: 767px) {
  .home-about__business .title {
    max-width: 304px;
    margin-left: 0;
    margin-bottom: 35px;
  }
}
.home-about__business__contain {
  max-width: 526px;
}
@media (max-width: 767px) {
  .home-about__business__contain {
    max-width: 100%;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
  }
  .home-about__business__contain:before {
    content: '';
    position: absolute;
    background: #f2f2f2;
    top: 145px;
    left: 0;
    bottom: -50px;
    width: 100%;
    z-index: -1;
  }
}
.home-about__business .box-contain {
  max-width: 526px;
}
@media (min-width: 768px) {
  .home-about__business .box-contain {
    margin-left: 24.3%;
    padding-right: 15px;
  }
}
@media (max-width: 767px) {
  .home-about__business .box-contain {
    padding-right: 15px;
  }
}
.home-about__business .box-contain p {
  line-height: 2;
  text-align: justify;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .home-about__business__img .img1 {
    width: calc(100% - 18%);
    margin-bottom: 72px;
  }
}

.home-about__business__type {
  padding-bottom: 132px;
  background: #f2f2f2;
  padding-top: 68px;
  overflow: hidden;
}
@media (min-width: 768px) {
  .home-about__business__type .container {
    max-width: 1107px;
    padding-left: 37px;
    padding-right: 37px;
  }
}
.home-about__business__type .row {
  margin-left: -37px;
  margin-right: -37px;
}
@media (max-width: 767px) {
  .home-about__business__type .row {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.home-about__business__type [class^=col], .home-about__business__type [class*=col] {
  padding-left: 37px;
  padding-right: 37px;
}
@media (max-width: 767px) {
  .home-about__business__type [class^=col], .home-about__business__type [class*=col] {
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.home-about__business__type h2 {
  font-weight: 700;
  line-height: 1.4;
  padding: 25px 0;
  text-align: center;
}
.home-about__business__type p {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 2;
  text-align: justify;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .home-about__business__type {
    padding-bottom: 70px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-about__business__type [class^=col], .home-about__business__type [class*=col] {
    max-width: 100%;
  }
}

.home-about__business__map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 120px;
  background: #f2f2f2;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  overflow: hidden;
}
@media (max-width: 767px) {
  .home-about__business__map {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .home-about__business__map .map-contain {
    padding-right: 13px;
    padding-top: 50px;
  }
}
.home-about__business__map .map-contain > p {
  font-weight: 700;
  line-height: 2;
  margin-bottom: 49px;
}
.home-about__business__map .map-contain .contain {
  border: 1px solid #BDBDBD;
  border-radius: 4px;
  padding: 25px 20px 20px;
  position: relative;
  margin-bottom: 30px;
}
.home-about__business__map .map-contain .contain p {
  margin-bottom: 0;
  line-height: 2;
  letter-spacing: -0.02em;
}
.home-about__business__map .map-contain .contain p:first-child {
  position: absolute;
  top: -17px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #f2f2f2;
  padding: 2px 20px;
  font-weight: 700;
  font-size: .875rem;
  line-height: 2;
}
.home-about__business__map .map-contain .contain p span {
  font-weight: 700;
}
@media (max-width: 767px) {
  .home-about__business__map .map-contain {
    padding-right: 0;
    width: 100%;
  }
  .home-about__business__map .map-contain > p {
    padding-top: 0;
    margin-bottom: 45px;
  }
  .home-about__business__map .map-contain .contain {
    margin-bottom: 30px;
    padding: 25px 15px 20px;
  }
}
@media (min-width: 768px) {
  .home-about__business__map .map-image {
    max-width: 563px;
    padding-left: 13px;
  }
}

.home-about__business__gallery {
  overflow: hidden;
  background: #f2f2f2;
}

.home-about__result {
  overflow: hidden;
}
@media (min-width: 768px) {
  .home-about__result {
    padding-top: 150px;
    margin-bottom: 65px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {
  .home-about__result h2.title {
    padding-left: 20px;
    margin-left: -20px;
  }
}
.home-about__result .des {
  margin-bottom: 30px;
}
.home-about__result .row {
  margin-left: -10px;
  margin-right: -10px;
}
.home-about__result .row .col-md-6 {
  padding-left: 10px;
  padding-right: 10px;
}
.home-about__result .item {
  margin-bottom: 50px;
}
.home-about__result .item img {
  margin-bottom: 10px;
}
.home-about__result .item .type {
  background: #f2f2f2;
  display: table;
  padding: 5px 20px;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 16px;
  letter-spacing: 0.05em;
}
.home-about__result .item h2 {
  font-weight: 600;
  padding: 10px 0;
  line-height: 1.8;
  letter-spacing: 0.05em;
}
.home-about__result .item .box .sp1 {
  border: 1px solid #46505C;
  font-size: .75rem;
  line-height: 20px;
  letter-spacing: 0.05em;
  width: 70px;
  text-align: center;
  display: inline-block;
  margin-bottom: 6px;
  margin-right: 7px;
}
.home-about__result .item .box .sp2 {
  font-size: .875rem;
  line-height: 19px;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .home-about__result {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;
    padding-top: 120px;
  }
  .home-about__result .des {
    padding: 0 0 30px;
  }
  .home-about__result .title {
    max-width: 254px;
    margin-left: 0;
    margin-bottom: 20px;
  }
  .home-about__result .item {
    margin-bottom: 30px;
  }
  .home-about__result .item h2 {
    padding: 12px 0 0;
    margin-bottom: 5px;
  }
}

.home-about__group {
  background: #1E1F23;
  padding: 120px 0;
  color: #fff;
  overflow: hidden;
}
.home-about__group p {
  line-height: 2;
  margin-bottom: 30px;
}
.home-about__group .d-flex {
  margin-bottom: 60px;
}
@media (min-width: 767px) {
  .home-about__group .contain {
    max-width: 50.68%;
    padding-right: 17.5px;
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .home-about__group .img {
    max-width: 49.32%;
    padding-left: 17.5px;
  }
}
@media (max-width: 767px) {
  .home-about__group .img {
    margin-bottom: 25px;
    width: 100%;
    text-align: center;
  }
}
.home-about__group h2, .home-about__group h3 {
  color: #fff;
}
.home-about__group h2 {
  margin-bottom: -15px;
}
@media (min-width: 768px) {
  .home-about__group h2 {
    padding-left: 20px;
  }
}
.home-about__group .sub-title {
  margin-bottom: 30px;
  letter-spacing: 0.05em;
}
.home-about__group .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .home-about__group .row .col-md {
    max-width: 325px;
  }
}
.home-about__group .row .col-md h4 {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  text-align: center;
  padding: 16px 0;
}
@media (max-width: 767px) {
  .home-about__group .row h2 {
    margin-bottom: 30px;
    margin-top: 60px;
    text-align: center;
  }
  .home-about__group .row .col-md h4 {
    padding: 40px 0 25px;
  }
}
@media (max-width: 767px) {
  .home-about__group {
    margin-bottom: 100px;
    padding-top: 125px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-about__group .d-flex {
    margin-bottom: 0px;
  }
  .home-about__group .title {
    margin-left: 0;
    max-width: 214px;
  }
  .home-about__group .contain {
    margin-bottom: 20px;
  }
  .home-about__group .contain p {
    margin-bottom: 30px;
    line-height: 2;
  }
}

.home-propifle {
  padding-top: 120px;
  padding-bottom: 115px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.home-propifle__title {
  width: 100%;
}
@media (min-width: 768px) {
  .home-propifle__title {
    max-width: 317px;
  }
}
.home-propifle__contain {
  width: 100%;
}
@media (min-width: 768px) {
  .home-propifle__contain {
    max-width: calc(100% - 423px);
    padding-top: 50px;
  }
}
.home-propifle table {
  width: 100%;
}
.home-propifle table td {
  vertical-align: top;
  padding: 20px 0;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  font-weight: 700;
  font-size: .875rem;
  line-height: 2;
}
@media (min-width: 768px) {
  .home-propifle table td {
    min-width: 130px;
  }
}
@media (max-width: 767px) {
  .home-propifle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 100px 15px;
  }
  .home-propifle__contain {
    max-width: 100%;
    padding-top: 25px;
  }
  .home-propifle table td {
    padding: 20px 0;
  }
  .home-propifle table td:nth-of-type(1) {
    padding-right: 10px;
    padding-left: 0px;
  }
  .home-propifle table td:nth-of-type(2) {
    padding-left: 10px;
    padding-right: 0px;
  }
}

.home-news-topics {
  overflow: hidden;
  padding-bottom: 120px;
  padding-top: 120px;
  position: relative;
}
.home-news-topics:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #F2F2F2;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.home-news-topics h2 {
  font-weight: 500;
  font-size: 2.25rem;
  line-height: 30px;
  margin-bottom: 50px;
}
.home-news-topics h2 span {
  font-weight: 400;
  margin-left: 20px;
  font-size: .875rem;
  line-height: 30px;
}
@media (max-width: 767px) {
  .home-news-topics {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .home-news-topics h2 {
    margin-bottom: 20px;
  }
}
.home-news-topics .btn-main {
  background: #006973;
  border-radius: 40px;
  font-weight: 700;
  font-size: .75rem;
  line-height: 26px;
  color: #FFFFFF;
  width: 200px;
  position: relative;
}
.home-news-topics .btn-main:hover {
  color: #006973;
  background: #fff;
  border: 1px solid #006973;
}
.home-news-topics .btn-main i {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.home-news-topics__readmore {
  width: 100%;
}
@media (min-width: 768px) {
  .home-news-topics__readmore {
    max-width: 317px;
  }
}
.home-news-topics__contain {
  width: 100%;
}
@media (min-width: 768px) {
  .home-news-topics__contain {
    max-width: calc(100% - 423px);
  }
}
.home-news-topics__contain .lk-asset-news .time, .home-news-topics__contain .lk-asset-news .des {
  margin-bottom: 22px;
  margin-top: 26px;
}
.home-news-topics__contain .lk-asset-news .des {
  position: relative;
}
.home-news-topics__contain .lk-asset-news .des i {
  position: absolute;
  right: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #006973;
}
@media (max-width: 767px) {
  .home-news-topics__contain .lk-asset-news .date {
    margin-right: 13px;
  }
  .home-news-topics__contain .lk-asset-news .time {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .home-news-topics__contain .lk-asset-news .des i {
    right: 5px;
  }
}
.home-news-topics__contain ul {
  padding-left: 0;
  margin-bottom: 0;
}
.home-news-topics__contain ul li {
  border-bottom: 1px solid #BDBDBD;
  position: relative;
  overflow: hidden;
}
.home-news-topics__contain ul li:before {
  content: '';
  position: absolute;
  width: 79px;
  right: 0;
  bottom: 0;
  height: 1px;
  background: #006973;
  -webkit-animation: animation-width 5s linear;
          animation: animation-width 5s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.home-news-topics__contain ul li.active .lk-asset-news .des, .home-news-topics__contain ul li:hover .lk-asset-news .des {
  color: #006973;
}
.home-news-topics__contain ul li.active .lk-asset-news .date, .home-news-topics__contain ul li:hover .lk-asset-news .date {
  color: #006973;
}
.home-news-topics__contain ul li.active:before, .home-news-topics__contain ul li:hover:before {
  width: 100%;
  right: 0;
  left: 0;
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.home-news-topics__contain ul li:first-child .lk-asset-news .time {
  margin-top: 0;
}
@media (max-width: 767px) {
  .home-news-topics .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
  }
  .home-news-topics__contain {
    max-width: 100%;
  }
  .home-news-topics h2 {
    letter-spacing: -0.01em;
    padding-left: 15px;
  }
  .home-news-topics__readmore {
    margin-bottom: 50px;
  }
}

@-webkit-keyframes animation-width {
  0% {
    right: 0px;
  }
  100% {
    right: -79px;
  }
}

@keyframes animation-width {
  0% {
    right: 0px;
  }
  100% {
    right: -79px;
  }
}
.inquiry {
  margin-bottom: 120px;
}
.inquiry .container {
  max-width: 846px;
}
.inquiry .error-required {
  display: block;
  font-size: 0.875rem;
  line-height: 1;
}
@media (max-width: 767px) {
  .inquiry .error-required {
    margin-bottom: 10px;
  }
}
.inquiry .row {
  margin-left: -10px;
  margin-right: -10px;
}
.inquiry .row [class*=col], .inquiry .row [class^=col] {
  padding-left: 10px;
  padding-right: 10px;
}
@media (min-width: 768px) {
  .inquiry .row .col-md:nth-of-type(1) {
    max-width: 313px;
  }
  .inquiry .row .col-md:nth-of-type(2) {
    max-width: calc(100% - 313px);
  }
}
.inquiry .form-group {
  margin-bottom: 40px;
}
.inquiry .form-group:nth-last-child(0n+2) .error-required {
  margin-bottom: 0;
}
.inquiry .btn-submit, .inquiry .btn-custom {
  padding: 0;
  background: #006973;
  line-height: 60px;
  width: 100%;
  max-width: 398px;
  color: #fff;
  border-radius: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  border: none;
  font-size: 1.125rem;
}
.inquiry .btn_brown {
  line-height: 60px;
  background: #006973;
  color: #fff;
  font-size: 1.125rem;
}

.inquiry .contact_top h1 {
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 40px;
  letter-spacing: 0.05em;
  padding-top: 30px;
  margin-bottom: 90px;
}
.inquiry .contact_top p {
  font-weight: 500;
  line-height: 1.8;
  margin-bottom: 60px;
}

.inquiry .form-group label {
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Noto Serif JP';
  font-style: normal;
  font-weight: 700;
  font-size: .875rem;
}
@media (min-width: 768px) {
  .inquiry .form-group label {
    margin-bottom: 0;
  }
}
.inquiry .form-group label.label {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.inquiry .form-group span.red {
  background: #006973;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-style: normal;
  font-size: .75rem;
  line-height: 24px;
  height: 24px;
  color: #FFFFFF;
  width: 50px;
  text-align: center;
  display: inline-block;
}
.inquiry .form-group .placeholder {
  top: 20px;
  left: 20px;
  right: 30px;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: absolute;
  color: #828282;
  font-size: 0.875em;
  line-height: 1;
  font-size: 0.875rem;
}
.inquiry .form-group .placeholder.hidden {
  display: none;
}
.inquiry .form-group textarea {
  margin-top: 10px;
  font-size: 0.875rem;
}

.inquiry .frm_contactus_footer {
  font-size: .75rem;
  font-family: 'SF Pro Display';
  font-weight: 400;
  line-height: 24px;
}
.inquiry .frm_contactus_footer a {
  color: #006973;
  font-weight: 600;
  text-decoration: underline;
}
.inquiry .frm_contactus_footer .custom-control-label {
  font-size: .875rem;
  font-family: 'SF Pro Display';
  font-weight: 400;
  position: relative;
  display: inline-block;
}
.inquiry .frm_contactus_footer .custom-control {
  margin: 20px 0;
  text-align: center;
}
.inquiry .frm_contactus_footer .custom-control-label::before, .inquiry .frm_contactus_footer .custom-control-label::after {
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
  left: -1rem;
}
.inquiry .frm_contactus_footer .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #006973;
  background-color: #006973;
}
.inquiry .frm_contactus_footer .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-color: #006973;
}