@media only screen and (max-width: 1024px) {
	.anchor-link {
	    padding-left: 175px;
	    margin-top: 120px;
	}
}
@media only screen and (max-width: 992px) {
	h2 {
		font-size: 26px;
	}
	h3 {
		font-size: 20px;
	}
	.zoom-img-item img {
	    max-width: 100%;
	    min-height: 100% !important;
	}
	.zoom-img-item, .zoom-img-item a, .zoom-img-item iframe {
		height: 120px;
	}
	.ongoing-content p {
		font-size: 12px;
	}
	.ongoing .ongoing-content .ongoing-content-action {
	    max-width: 75%;
	    margin-top: 18px;
	    padding-top: 7px;
	}
	.carousel-control-prev, .carousel-control-next {
		top: 90px !important;
	}
	.ot-office-content span {
		font-size: 14px;
	}
	.pt-intro .real-img {
		height: 140px;
	}
	.anchor-link {
	    padding-left: 48px;
	    margin-top: 0px;
	}
	.anchor-link button {
	    width: 120px;
	    font-size: 12px;
	}
	.search-img-item a .fa {
	    top: 120px;
	    left: 135px;
	}
	.access iframe {
		max-width: 100%;
	}
}
@media only screen and (max-width: 568px) {
	section {
		margin-top: 30px;
	}
	h2 {
		font-size: 24px;
	}
	.logo img {
		width: 200px;
	}
	.pt-intro-content .occupied, .pt-intro-content .bl-price, .pt-intro-content .amount, .pt-intro-content .skeleton, .pt-intro-content .monthly-renovation {
		font-size: 12px;
	}
	.pt-intro-content .pt-intro-content-action span.btn {
		max-height: 22px;
		max-width: 110px;
		font-size: 10px;
		padding: 4px 0 9px;
	}
	.pt-intro-content h6 {
	    font-size: 15px;
	}
	.pt-intro .pt-intro-content .label {
		max-width: 40%;
	}
	.head-office-action a {
	    font-size: 13px;
	}
	.zoom-img-item {
		margin-bottom: 5px;
	}
	.ot-office-content {
		margin-top: 15px;
		padding: 0px 10px;
	}
	.ot-office-content h3 {
		font-size: 20px;
		font-weight: 550;
	}
	.ot-office-content span {
		font-weight: 400;
	}
	.anchor-link {
	    margin-top: 10px;
	    padding-left: 0px;
	}
	#container-data .box ul li {
		width: 100%;
		height: 100%;
	}
	#container-data .box ul li a .pc {
		display: none;
	}
	#container-data .box ul li a .sp {
		display: block !important;
	}
	#container-data .box ul li a .sp .icon {
		display: none;
	}
	#container-data .box ul li {
	    float: unset;
	    border: 0;
	    border-bottom: 1px solid #e1e1e1;
	    float: none !important;
	    font-size: 13px;
	    font-weight: bold;
	    line-height: 1.5;
	    margin: 0;
	    min-height: auto;
	    padding: 0;
	    max-width: 100%;
		}
	#container-data .box ul li span {
	    display: unset;
	    font-size: 16px;
	    font-weight: normal;
	}
	#container-data .box ul li .imgBox {
	    width: 90px;
	    overflow: hidden;
	}
	#container-data .box ul li .imgBox img {
	    height: auto;
	}
	#container-data .box ul li a .btn {
		display: none;
	}

	.search-img-item a .fa {
	    top: 150px;
    	left: 160px;
	}
	.gallery {
		padding-right: 5px;
		padding-left: 5px;
	}
	.gallery-box {
		padding-left: 10px;
		padding-right: 10px;
	}
	.pt-intro .real-img {
		height: 110px;
	}
	.head-office h4 {
		font-size: 20px;
	}
	.head-office-action {
		text-align: center;
	}
	.head-office-action a {
		font-size: 16px;
	}
	.head-office-action .access-link, .head-office-action .phone-contact {
		margin: auto;
		max-width: 70%;
	}
	.head-office-action .phone-contact a {
		display: unset;
	}
	.head-office-action .phone-contact a img {
	    padding-bottom: 0px !important;
	}
	.fb-place {
		margin-top: 40px;
	}
	iframe {
		width: 100%;
	}
	.footer span {
	    font-size: 14px;
	}
}
@media only screen and (max-width: 375px) {
	h2 {
	    font-size: 22px;
	}
	.search-img-item a .fa {
	    top: 130px;
	    left: 140px;
	}
	.anchor-link {
	    padding-right: 5px;
	}
	#container-data .box ul li {
		width: 100%;
		height: 100%;
	}
	#container-data .box ul li span {
	    font-size: 14px;
	}
	.pt-intro .real-img {
		height: 130px;
	}
	.pt-intro-content h6 {
	    font-size: 14px;
	}
	.head-office h4 {
		font-size: 18px;
	}
	.head-office-action a {
		font-size: 15px;
	}
	.footer span {
	    font-size: 12px;
	}
}