header {
  padding: 0 2rem;
  background: #f0e9d9;
  height: 125px;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100%;
  z-index: 11;
}
header.fixed {
  transform: translateY(-100%);
  animation: dropDown 0.5s forwards;
}
header .block {
  display: flex;
  justify-content: space-between;
}
header .block nav ul {
  padding: 0;
}
header .block nav ul.mega_menu {
  font-size: 0.8rem;
  display: flex;
  margin-bottom: 0;
}
header .block nav ul.mega_menu li {
  font-family: "Noto Sans JP", "Hiragino Sans", "Hiragino Kaku Gothic ProN", YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  line-height: 1.6rem;
}
header .block nav ul.mega_menu li:hover ul.child_menu {
  visibility: visible;
  opacity: 1;
}
header .block nav ul.mega_menu li a {
  font-weight: 600;
  display: block;
  padding: 1.5rem 1rem;
  position: relative;
  text-decoration: none;
}
header .block nav ul.mega_menu li.menu a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 20px 10px;
  border-color: transparent transparent #f0e9d9 transparent;
  opacity: 0;
}
header .block nav ul.mega_menu li.menu:hover a::after {
  opacity: 1;
  transition: 1s, 1s opacity;
}
header .block nav ul.mega_menu li ul.child_menu {
  display: flex;
  box-shadow: 0px 5px 5px #555;
  position: absolute;
  top: 100%;
  left: 0;
  align-items: center;
  padding: 2rem;
  background: #f0e9d9;
  visibility: hidden;
  opacity: 0;
  transition: 1s top, 1s opacity;
  width: 100%;
}
header .block nav ul.mega_menu li ul.child_menu li.ttl {
  width: 30%;
}
header .block nav ul.mega_menu li ul.child_menu li.ttl b {
  font-size: 1.8rem;
}
header .block nav ul.mega_menu li ul.child_menu li.ttl span {
  display: block;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}
header .block nav ul.mega_menu li ul.child_menu li.ttl span::after {
  content: "";
  background: #000;
  display: block;
  margin-top: 1.5rem;
  height: 2px;
  width: 100px;
}
header .block nav ul.mega_menu li ul.child_menu li.link {
  width: 250px;
}
header .block nav ul.mega_menu li ul.child_menu li.link span {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}
header .block nav ul.mega_menu li ul.child_menu li.link span::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0 0.5em 0 0;
  border: 5px solid transparent;
  border-right: 0 solid transparent;
  border-left: 8px solid #000;
}
header .block nav ul.mega_menu li ul.child_menu li img {
  filter: grayscale(100%);
  width: 100%;
}
header .block nav ul.mega_menu li ul.child_menu li a:hover {
  opacity: 1;
}
header .block nav ul.mega_menu li ul.child_menu li a:hover img {
  filter: grayscale(0%);
  opacity: 1;
  transition: 0.3s;
}
header .block__ttl {
  display: flex;
  align-items: flex-end;
}
header .block__ttl h1 {
  padding-bottom: 0.7rem;
  margin-bottom: 0;
  width: 230px;
}
header .block__ttl h1 img {
  width: 100%;
}
header .block__navi a.btn-cv {
  margin: 1rem 0rem 0 auto;
}

@keyframes dropDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
.btn-cv {
  border: 1px solid #000;
  display: block;
  font: 0.9rem/1rem "a-otf-ryumin-pr6n", "Noto Serif JP", "Hiragino Mincho ProN", YuMincho, "Yu Mincho", "serif";
  letter-spacing: 0.1em;
  font-family: "a-otf-ryumin-pr6n", "Noto Serif JP", "Hiragino Mincho ProN", YuMincho, "Yu Mincho", "serif";
  padding: 0.6rem 0 0.5rem 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  transition: all 0.3s;
  text-align: center;
  text-decoration: none;
  width: 170px;
}

.menu-list-scroll {
  top: 0;
}

.menu_list {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: #fff;
  top: 125px;
  padding: 30px;
  border: 0.5px solid #E0E0E0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
}
.menu_list.fixed {
  transform: translateY(-100%);
  animation: dropDown 0.5s forwards 0.3s;
}
.menu_list ul.list_tags {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.menu_list ul.list_tags li {
  margin-right: 10px;
}
.menu_list ul.list_tags li a {
  position: relative;
  background: #F4F4F4;
  border-radius: 50px;
  padding: 6.5px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 17px;
  color: #000000;
  transition: transform 0.3s ease-in-out;
}
.menu_list ul.list_tags li:hover a {
  transform: translateY(-5px);
}

#page-top {
  bottom: 50px;
  position: fixed;
  right: 20px;
  z-index: 9999;
}
#page-top a {
  width: 50px;
  display: block;
}

.slideshow-top {
  padding-top: 234px;
}
.slideshow-top .splide__pagination__page.is-active {
  background: #0074BD;
}

.title-main {
  color: #0074BD;
}

.btn-main {
  border-color: #0074BD;
  color: #0074BD;
}

.box-items .box-title {
  margin-top: 10px;
  font-weight: normal;
}

#link {
  padding: 4rem 0;
  background: #f0e9d9;
}
#link ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}
#link ul li {
  width: 23%;
}
#link ul li img {
  width: 100%;
}

footer {
  background: #807974;
  color: #fff;
  padding-top: 6rem;
}
footer .container {
  max-width: 1200px;
}
footer .block {
  padding-bottom: 6rem;
  display: flex;
  justify-content: space-between;
}
footer .block__link {
  display: flex;
  justify-content: space-between;
  width: 54%;
}
footer .block__link:nth-child(2) {
  width: 44%;
}
footer .block__link--item b {
  border-bottom: 1px solid #fff;
  display: block;
  padding-bottom: 0.2rem;
  font-size: 1.1rem;
}
footer .block__link--item.list1 {
  width: 33%;
}
footer .block__link--item.list2 {
  width: 63%;
}
footer .block__link--item.list3 {
  width: 54%;
}
footer .block__link--item.list4 {
  width: 40%;
}
footer .block__link--item .box {
  font: 0.9rem/1.6rem "a-otf-ryumin-pr6n", "Noto Serif JP", "Hiragino Mincho ProN", YuMincho, "Yu Mincho", "serif";
  margin-top: 1rem;
}
footer .block__link--item .box span {
  display: flex;
}
footer .block__link--item .box span a:hover {
  text-decoration: underline;
}
footer .block__link--item ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 1em;
}
footer .block__link--item ul li {
  font: 0.9rem/1.6rem "a-otf-ryumin-pr6n", "Noto Serif JP", "Hiragino Mincho ProN", YuMincho, "Yu Mincho", "serif";
}

.page-list {
  padding-top: 40px;
}

.copyright {
  background: center/cover url("../images/bg_footer.jpg") no-repeat;
  color: #fff;
  font-size: 0.9rem;
  padding: 4rem 0;
  text-align: center;
}
.copyright a {
  margin-bottom: 1em;
  display: block;
}
.copyright .copyright_content {
  position: relative;
}
.copyright .copyright_content .logo_img {
  position: absolute;
  right: 0;
  top: -1.5em;
  bottom: 0;
  margin: 0 auto;
}
.copyright .copyright_content .logo_img img {
  width: 100%;
  max-width: 100px;
}

.menu_toggle {
  display: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1265px) {
  header {
    padding: 0 1rem;
  }
  header .block__ttl {
    position: absolute;
    top: 1rem;
  }
  header .block__navi {
    width: 100%;
  }
  header .block__navi nav ul.mega_menu {
    justify-content: space-between;
  }
}
#nav-toggle {
  display: none;
  z-index: 101000;
  position: fixed;
  top: 15px;
  right: 1rem;
  height: 32px;
  cursor: pointer;
}
#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}
#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

@media screen and (max-width: 1000px) {
  #nav-toggle {
    display: block;
  }
  #nav-toggle div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    width: 100%;
    height: 2px;
    left: 0;
    display: block;
    background: #000;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
    width: 70%;
    right: 0;
    margin: 0 0 0 auto;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
    margin: 0 0 0 auto;
    width: 50%;
    right: 0;
  }
  #nav-toggle.open span {
    background: #000;
  }
  #nav-toggle.open span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  #nav-toggle.open span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  #nav-toggle.open span:nth-child(3) {
    top: 15px;
    width: 100%;
    transform: rotate(-45deg);
  }
  header {
    height: 70px;
    padding: 1rem;
  }
  header .block__ttl {
    top: 8px;
  }
  header .block__ttl h1 {
    width: 170px;
  }
  header .block__navi a.btn-cv {
    position: absolute;
    right: 70px;
    margin: 0;
  }
  header .block nav {
    transition: all 0.3s;
    position: fixed;
    top: 70px;
    right: -120%;
    height: 100%;
    overflow-y: scroll;
    width: 100%;
    background: #fff;
    padding-bottom: 70px;
  }
  header .block nav.open {
    right: 0;
    transition: all 0.3s;
  }
  header .block nav ul.mega_menu {
    flex-wrap: wrap;
    justify-content: space-between;
  }
  header .block nav ul.mega_menu li {
    width: 100%;
    margin-left: 0;
    padding-left: 0rem;
  }
  header .block nav ul.mega_menu li a {
    padding: 1.5rem 1rem;
    display: block;
    border-bottom: 1px solid #000;
  }
  header .block nav ul.mega_menu li.menu a::after {
    display: none;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu {
    background: #fff;
    box-shadow: none;
    visibility: inherit;
    position: relative;
    flex-wrap: wrap;
    opacity: 1;
    top: 0;
    padding: 0;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li {
    border-bottom: 0px;
    width: 50%;
    padding: 0;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li.ttl {
    display: none;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li a {
    padding: 1rem 0px 1rem 1rem;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li a img {
    display: none;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li.link:nth-child(3), header .block nav ul.mega_menu li.menu ul.child_menu li.link:nth-child(5) {
    border-left: 1px solid #000;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li.link span {
    margin: 0;
  }
  header .block nav ul.mega_menu li.menu ul.child_menu li.link.lg {
    border-left: 0px;
    width: 100%;
  }
  header .block nav ul.mega_menu li + li {
    border-left: 0px;
  }
  .btn-cv {
    max-width: 120px;
  }
  .menu_list {
    top: 70px;
  }
  .menu_list ul.list_tags {
    flex-wrap: wrap;
    gap: 10px;
  }
  .menu_list ul.list_tags li {
    flex: 1 1 calc(50% - 20px);
  }
  .menu_list ul.list_tags li a {
    padding: 8px 15px;
  }
  .slideshow-top {
    padding-top: 84px;
  }
  footer .block {
    flex-direction: column;
  }
  footer .block__link {
    flex-wrap: wrap;
    width: 100%;
  }
  footer .block__link:nth-child(2) {
    margin-top: 4rem;
    width: 100%;
  }
  footer .block__link--item.list1, footer .block__link--item.list2, footer .block__link--item.list3, footer .block__link--item.list4 {
    width: 48%;
  }
  .copyright .copyright_content .logo_img {
    position: initial;
    margin-top: 15px;
  }
}
@media screen and (max-width: 768px) {
  #link ul {
    flex-wrap: wrap;
  }
  #link ul li {
    width: 47%;
  }
  #link ul li:nth-child(3), #link ul li:nth-child(4) {
    margin-top: 2rem;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (max-width: 768px) {
  .menu_list {
    padding-top: 0;
    padding-bottom: 0;
  }
  .menu_list ul.list_tags {
    display: none;
    animation: slideDown 0.3s ease-in-out forwards;
    transform: translateY(-100%);
  }
  .menu_list.active {
    padding-bottom: 30px;
  }
  .menu_list.active ul.list_tags {
    animation: slideDown 0.3s ease-in-out forwards;
    display: flex;
  }
  .menu_toggle {
    display: block;
  }
  .menu_toggle.active {
    transform: rotate(180deg);
  }
}
@media screen and (max-width: 559px) {
  header .block__ttl h1 img {
    width: 90%;
  }
  header .block nav ul.mega_menu li a {
    min-height: 85px;
    display: flex;
    align-items: center;
  }
  #link ul li:nth-child(3) {
    margin-top: 2rem;
  }
  footer {
    padding-top: 4rem;
  }
  footer .block {
    padding-bottom: 4rem;
  }
  footer .block__link--item.list1, footer .block__link--item.list2, footer .block__link--item.list3, footer .block__link--item.list4 {
    width: 100%;
  }
  footer .block__link--item.list2, footer .block__link--item.list4 {
    margin-top: 4rem;
  }
  footer .block__link b {
    font-size: 1rem;
    display: flex;
    align-items: center;
  }
  .main-content {
    padding-top: 0;
  }
}/*# sourceMappingURL=chinoblog.css.map */