@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300;400;500;600;700;900&display=swap');
@import url('https://db.onlinewebfonts.com/c/1c45e28f8e86cc89876f003b953cc3e9?family=SF+Pro+Text+Regular');
@import url('https://fonts.cdnfonts.com/css/sf-pro-display');

body {
    font-family: 'SF Pro Display', "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", Meiryo, メイリオ, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

$primary_color: #8C7D60;
$second_color: #AD814D;
$red_color: #EB5757;
$blue_color: #3CBCCF;

.red {
    color: $red_color;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.header-top {
    button {
        &.hamburger-menu {
            z-index: 99999;
        }
    }
    &.main {
        .navbar-expand-lg {
            ul {
                &.navbar-nav {
                    &:first-of-type {
                        li {
                            &:hover {
                                a {
                                    color: $second_color;
                                }
                            }
                            &.nav-item {
                                a {
                                    &.nav-link {
                                        margin-right: 20px;
                                    }
                                }
                            }
                        }
                    }
                    li {
                        &.nav-item {
                            a {
                                &.nav-link {
                                    width: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.nav-link {
    &:hover {
        .btn-blog {
            background: $second_color;
        }
    }
}


.banner {
    margin-bottom: 50px;
    .banner_img {
        width: 100%;
        height: 300px;
        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
        }
    }
    .banner_content {
        padding: 17px 41px;
        background: #8C7D60;
        img {
            width: 100%;
        }
    }
}

.btn-blog {
    font-weight: 400px;
}
.footer {
    .social-list {
        li {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                a {
                    background: #e3e3e3;
                }
            }
        }
        a {
            width: 40px;
            height: 40px;
            border-radius: 100px;
            background: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            width: auto;
        }
    }
}

.w_estate_list_item {
    margin-bottom: 50px;
    .estate_list_item {
        background: #F8F8F8;
        padding: 20px;
        h3 {
            font-size: 1.25em;
            font-weight: 700;
            border-left: 5px solid #AD814D;
            padding-left: 10px;
            margin-bottom: 20px;
        }
        .estate_list_item_main {
            display: flex;
            align-items: center;
            .estate_list_img {
                min-width: 330px;
                height: 450px;
                overflow: hidden;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: 450px;
                    object-fit: cover;
                }
            }
            .estate_list_content {
                h4 {
                    font-weight: 700;
                    font-size: 1em;
                    color: #8C7D60;
                    margin-top: 0;
                    margin-bottom: 15px;
                }
                ul {
                    padding: 0;
                    margin: 0 0 13px;
                    list-style: none;
                    li {
                        font-size: 0.75em;
                        line-height: 1.8em;
                    }
                }
                table {
                    background: #fff;
                    margin-bottom: 0;
                    th {
                        font-size: 0.75em;
                        color: #AD814D;
                        background: #F7F3EA;
                        padding: 13px;
                        min-width: 100px;
                        vertical-align: middle;
                        font-weight: 600;
                    }
                    td {
                        font-size: 0.875em;
                        padding: 13px;
                        vertical-align: middle;
                        color: #4F4F4F;
                    }
                }
            }
        }
    }
    .estate_list_footer {
        display: flex;
        align-items: center;
        .btn {
            width: 50%;
            padding: 13px 10px;
            background: #3CBCCF;
            color: #fff;
            font-weight: 700;
            font-size: 1em;
            letter-spacing: 0.8px;
            border-radius: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            &:hover {
                background: #2b95a6;
            }
            &:last-of-type {
                background: #AD814D;
                &:hover {
                    background: #7d5b31;
                }
            }
            img {
                margin-right: 10px;
            }
        }
    }
}

.estate_detail_top {
    .estate_detail_top_head {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        h2 {
            font-size: 2em;
            font-weight: 400;
            padding: 0;
            margin: 0;
        }
    }
    .estate_detail_top_img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
       
    }
    p {
        padding: 18px 40px;
        background: $primary_color;
        color: #fff;
        margin-bottom: 20px;
    }
    ul {
        padding: 0;
        margin: 0 0 60px;
        list-style: none;
        display: flex;
        li {
            min-width: 260px;
            background: #D9D9D9;
            margin-right: 20px;
            position: relative;
            font-size: 0.875em;
            transition: all .3s linear;
            &::after {
                content: '';
                position: absolute;
                right: 10px;
                top: 0;
                bottom: 0;
                margin: auto;
                background: url('../images/i_arrowdown.svg') no-repeat;
                width: 14px;
                height: 8px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                a {
                    box-shadow: 0px 0px 60px 0 rgba(90, 116, 148, 0.4);
                    transition: all .3s linear;
                }
            }
            a {
                display: block;
                padding: 10px 30px 10px 70px;
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
            }
            span {
                display: block;
                padding: 15px 8px;
                background: $primary_color;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                color: #fff;
                font-weight: 600;
                writing-mode: vertical-rl;
                font-family: 'Noto Serif JP', serif;
                letter-spacing: 0.2em;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.accepting_propertyentries {
    background: #F7F3EA;
    padding: 25px;
    text-align: center;
    margin-bottom: 60px;
    h3 {
        font-size: 1.125em;
        font-weight: 400;
        font-family: "SF Pro Text Regular";
        margin-bottom: 18px;
    }
    .btn {
        background: #0B265E;
        font-size: 1.125em;
        font-weight: 600;
        position: relative;
        color: #fff;
        padding: 25.5px 45px;
        border-radius: 0;
        &::before {
            content: '';
            position: absolute;
            left: 2px;
            top: 2px;
            bottom: 2px;
            right: 2px;
            border: 1px solid #fff;
        }
        &:hover {
            background: #061a42;
        }
    }
}

.estate_detail {
    margin-bottom: 100px;
    article {
        margin-bottom: 60px;
        .article_title {
            font-weight: 500;
            font-size: 1.5em;
            font-family: "SF Pro Text Regular";
            position: relative;
            background: #F2F2F2;
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            padding: 20px;
            padding-left: 90px;
            span {
                display: flex;
                align-items: center;
                justify-content: center;
                background: $primary_color;
                font-size: 0.8333em;
                color: #fff;
                padding: 24px 7px;
                margin-right: 20px;
                min-width: 74px;
                text-align: center;
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
            }
        }
        .article_subtitle {
            font-family: "SF Pro Text Regular";
            font-size: 1.25em;
            color: $primary_color;
            margin-bottom: 20px;
            font-weight: 700;
        }
        .article_subtitle2 {
            font-size: 1.5em;
            color: #333;
            margin-bottom: 20px;
            font-weight: 700;
            border-left: 5px solid $primary_color;
            padding-left: 10px;
        }
        p {
            margin-bottom: 20px;
            font-family: "SF Pro Text Regular";
        }
    }
    .w_img {
        display: flex;
        align-items: center;
        margin-bottom: 60px;
        .w_square_small {
            .square_small {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
        .square_big {
            min-width: 540px;
            margin-right: 20px;
            width: 100%;
            height: 400px;
            overflow: hidden;
            img {
                width: 100%;
                height: 400px;
                object-fit: none;
            }
        }
        .square_small {
            margin-bottom: 20px;
            min-width: 260px;
            .square_small_img {
                width: 100%;
                height: 170px;
                img {
                    width: 100%;
                    height: 170px;
                    object-fit: cover;
                }
            }
            span {
                
            }
        }
        .square_big_content {
            margin-left: 20px;
        }
    }
    .description {
        display: block;
        font-size: 0.625em;
        font-family: "SF Pro Text Regular";
        margin-top: 5px;
        text-align: left;
    }
    .list_square_img {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin-right: 20px;
            margin-bottom: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                display: block;
                width: 100%;
                height: 260px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 260px;
                    object-fit: cover;
                }
            }
        }
    }
    .box_rectangle_img {
        margin-bottom: 20px;
    }
    .rectangle_img {
        width: 100%;
        height: 400px;
        overflow: hidden;
        img {
            width: 100%;
            height: 400px;
            object-fit: cover;
        }
    }

    .w_box_square {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        .box_square {
            margin-right: 20px;
            &:last-of-type {
                margin-right: 0;
            }
            a {
                display: block;
                width: 100%;
                height: 400px;
                img {
                    width: 100%;
                    height: 400px;
                    object-fit: cover;
                }
            }
        }
    }
}

.list_estate_item {
    padding: 0;
    margin: 0;
    display: flex;
    align-content: center;
    li {
        min-width: 258px;
        margin-right: 20px;
        margin-bottom: 20px;
        &:nth-of-type(3n) {
            margin-right: 0;
        }
        .list_estate_item_img {
            width: 100%;
            height: 200px;
            overflow: hidden;
            border: 1px solid #E0E0E0;
            border-bottom: none;
            img {
                width: 100%;
                height: 200px;
                object-fit: cover;
            }
            a {
                display: block;
            }
        }
        .list_estate_item_content {
            padding: 20px;
            border: 1px solid #E0E0E0;
            border-bottom: none;
            background: #fff;
            h4 {
                font-size: 1em;
                color: $primary_color;
                font-weight: 700;
                margin-bottom: 10px;
            }
            p {
                font-family: 'SF Pro Display';
                margin-bottom: 0;
                font-size: 0.875em;
                &.price {
                    margin-bottom: 10px;
                    .big_price {
                        font-size: 1.7143em;
                        color: #EB5757;
                        font-weight: 700;
                    }
                    i {
                        font-style: normal;
                        font-weight: 700;
                        color: #EB5757;
                    }
                }
            }
        }
        .btn_viewdetail {
            display: block;
            background: #AD814D;
            color: #fff;
            border-radius: 0;
            font-size: 0.75em;
            font-weight: 700;
            padding: 8.5px 10px;
            &:hover {
                background: #664a28;
            }
        }
    }
}

.fancybox__container {
    z-index: 9999;
}

.mansiongallery {
    padding: 30px 20px;
    background: #F7F3EA;
    h2 {
        color: #AD814D;
        text-align: center;
        font-weight: 600;
        font-size: 1.5em;
        margin-bottom: 20px;
    }
    p {
        line-height: 200%;
        font-family: 'SF Pro Text Regular';
    }
    .mansiongallery_item {
        margin-top: 30px;
        display: flex;
        align-content: center;
        &:nth-of-type(2n) {
            .mansiongallery_img {
                margin-right: 0;
                margin-left: 20px;
            }    
        }
        .mansiongallery_img {
            min-width: 400px;
            margin-right: 20px;
            height: 290px;
            overflow: hidden;
            img {
                width: 100%;
                height: 290px;
                object-fit: cover;
            }
        }
        .mansiongallery_content {
            h3 {
                font-family: 'SF Pro Text Regular';
                color: #AD814D;
                font-weight: 700;
                font-size: 1.25em;
            }
        }
    }
    .box_inquiries_contact {
        margin-top: 47px;
        padding: 30px 20px 20px 20px;
        border: 1px solid var(--Primary, #AD814D);
        background: var(--Primary, #FFF);
        position: relative;
        h4 {
            position: absolute;
            left: 0;
            right: 0;
            top: -18px;
            margin: 0 auto;
            max-width: 332px;
            text-align: center;
            font-weight: 700;
            font-family: 'SF Pro Text Regular';
            font-size: 1em;
            color: #AD814D;
            border: 1px solid var(--Primary, #AD814D);
            background: var(--Primary, #FFF);
            padding: 6px 28px;
            display: inline-block;
        }
        .box_inquiries_contact_content {
            display: flex;
            justify-content: center;
            align-items: center;
            .map {
                min-width: 415px;
                height: 240px;
                overflow: hidden;
                margin-right: 20px;
                img {
                    width: 100%;
                    height: 240px;
                    object-fit: cover;
                }
            }
        }
        .info {
            h5 {
                color: #000;
                font-family: 'SF Pro Text Regular';
                font-weight: 400;
                line-height: 180%;
                font-size: 1.25em;
            }
            p {
                font-size: 0.875em;
                font-weight: 700;
                margin-bottom: 10px;
                line-height: 120%;
                small {
                    font-size: 0.8571em;
                    font-weight: 400;
                }
            }
        }
        .btn_reserve {
            display: block;
            background: #AD814D;
            color: #fff;
            border-radius: 0;
            min-height: 40px;
            margin-top: 15px;
            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 2px;
                right: 2px;
                bottom: 2px;
                top: 2px;
                border: 1px solid #fff;
            }
            &::after {
                content: '';
                position: absolute;
                right: 30px;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 10px;
                height: 10px;
                background: url('../images/i_polygon.svg') no-repeat;
            }
            &:hover {
                background: #77562f;
            }
        }
    }
}

.section_contactus {
    .container {
        max-width: 950px;
    }
    .contactus_top {
        text-align: center;
        h2 {
            font-size: 2.25em;
            position: relative;
            margin-bottom: 60px;
            margin-top: 40px;
            span {
                font-size: 0.875rem;
            }
            p {
                small {
                    margin-bottom: 0;
                    font-size: 0.75rem;
                    line-height: 1.4em;
                }
            }
        }
    }
    .contactus_content {
        padding-bottom: 100px;
        .form-group {
            margin-bottom: 30px;
        }
        .custom-control {
            margin-bottom: 5px;
        }
        .form-control {
            font-size: 0.875em;
            border-color: #828282;
            height: calc(1.5em + 0.75rem + 7px);

        }
        textarea {
            &.form-control {
                height: auto;
            }
        }
        .box_datetime {
            position: relative;
            .i_datetime {
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='22' viewBox='0 0 20 22' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M17 3H3C1.89543 3 1 3.89543 1 5V19C1 20.1046 1.89543 21 3 21H17C18.1046 21 19 20.1046 19 19V5C19 3.89543 18.1046 3 17 3Z' stroke='%23B48856' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M14 1V5' stroke='%23B48856' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M6 1V5' stroke='%23B48856' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3cpath d='M1 9H19' stroke='%23B48856' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e");
                width: 20px;
                height: 22px;
                position: absolute;
                right: 9px;
                top: 9px;
            }
        }
        .contactus_footer {
            text-align: center;
            .custom-checkbox {
                label {
                    line-height: 1.8em;
                }
            }
            p {
                font-size: 0.75em;
                line-height: 1.5em;
                color: #333;
            }
            .btnsubmit {
                display: block;
                background: $second_color;
                color: #fff;
                border-radius: 3px;
                padding: 12px 20px;
                min-width: 440px;
                margin: auto;
                margin-top: 15px;
                &:hover {
                    background: $primary_color;
                }
            }
        }
        
        .btn_autofill_prefectureaddress {
            display: flex;
            align-content: center;
            color: $second_color;
        }
    }

    .custom-checkradio {
        padding-left: 15px;
        padding-right: 0;
        max-width: 130px;
    }
    .check-radio {
        display: block;
        position: relative;
        padding-left: 35px;
        margin-bottom: 12px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        span {
            margin-left: 0;
        }
        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
        }
        .checkmark {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            height: 20px;
            width: 20px;
            border: 1px solid #828282;
            border-radius: 50%;
            &::after {
                content: "";
                position: absolute;
                display: none;
            }
        }
    }
    .check-radio input:checked ~ .checkmark:after {
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #B48856;
        display: block;
    }
    .custom-select {
        background: #fff url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='10' cy='10' r='10' fill='%23B48856'/%3e%3cpath d='M5.29413 8.23535L10 12.9412L14.7059 8.23535' stroke='white' stroke-width='1.4' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e") no-repeat right 0.75rem center/20px 20px;
        color: #828282;
    }
    label {
        font-size: 0.875em;
        margin-bottom: 0;
        font-weight: 500;
    }
    .custom-checkbox {
        .custom-control-label {
            span {
                display: inline-block;
                margin-left: 8px;
                position: relative;
                top: 5px;
            }
            &::before {
                border-radius: 0;
                width: 1.25rem;
                height: 1.25rem;
            }
            &::after {
                width: 1.25rem;
                height: 1.25rem;
            }
        }
    }
    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $primary_color;
        background: $primary_color;
    }
}

.box_estates_info_top {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    .box_estates_info_top_img {
        width: 200px;
        height: 150px;
        overflow: hidden;
        margin-right: 15px;
        img {
            width: 100%;
            height: 150px;
            object-fit: cover;
        }
    }
    .box_estates_info_top_content {
        width: 100%;
        h4 {
            font-size: 1em;
            color: $second_color;
            font-weight: 700;
            margin-bottom: 10px;
        }
        table {
            margin-bottom: 0;
            th {
                color: #9a9a9a;
            }
            td {
                font-size: 0.875em;
                vertical-align: middle;
            }
        }
    }
}

.contact_tel {
    border: 1px solid #000;
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    p {
        margin-bottom: 0;
    }
}
[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
    opacity: 1;
}
.card {
    &.assessmentmethod {
        border: none;
        margin-top: 30px;
        .card-header {
            background-color: $second_color;
            color: #fff;
            border: none;
            &:first-child {
                border-radius: 0;
            }
        }
        .describe {
            border: 1px solid rgba(0,0,0,.125);
            border-radius: 0.25rem;
            padding: 10px;
        }
    }
}

.contactus_top {
    &.request_assessment_top {
        margin-top: 90px;
    }
}

.box_keypoints {
    display: flex;
    align-items: center;
    position: relative;
    height: 146px;
    border: 1px solid $second_color;
    span {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $second_color;
        width: 173px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding: 20px;
        font-weight: 600;
        color: #fff;
    }
    p {
        margin-bottom: 0;
        padding: 20px;
        margin-left: 173px;
    }
}

.section_unit_detail {
    h2 {
        font-weight: 500;
        margin-bottom: 20px;
        font-family: 'SF Pro Display';
    }
    .box_unit_detail_img {
        display: flex;
        align-content: flex-start;
        .big_img {
            margin-right: 20px;
            min-width: 350px;
            height: 490px;
            border: 1px solid #E0E0E0;
            overflow: hidden;
            img {
                width: 100%;
                height: 490px;
                object-fit: cover;
            }
        }
        .list_fourimg {
            padding: 0;
            margin: 0;
            display: flex;
            flex-wrap: wrap;
            li {
                width: 47%;
                height: 236px;
                margin-right: 20px;
                margin-bottom: 20px;
                &:nth-of-type(2n) {
                    margin-right: 0;
                }
                a {
                    display: block;
                }
                img {
                    width: 100%;
                    height: 236px;
                    object-fit: cover;
                }

            }
        }
    }

    .box_unit_detail_info {
        margin-top: 30px;
        table {
            margin-bottom: 50px;
            border-bottom: 1px solid #BDBDBD;
            th {
                font-weight: 600;
                background-color: #E0E0E0;
                padding: 10px;
                color: #333;
                border-color: #BDBDBD;
                vertical-align: middle;
                min-width: 200px;
            }
            td {
                padding: 19px 20px;
                font-size: 0.875em;
                color: #333;
                border-color: #BDBDBD;
                p {
                    margin-bottom: 0;
                }
            }
            .price {
                color: $red_color;
                font-weight: 700;
                font-size: 1.7143em;
            }
        }
        .box_features {
            border-radius: 10px;
            background: #F2F2F2;
            padding: 30px 40px 40px 40px;
            margin-bottom: 100px;
            font-family: 'SF Pro Display';
            &.brown {
                background: #F7F3EA;
                margin-bottom: 50px;
            }
            h3 {
                font-size: 1.5em;
                margin-bottom: 20px;
                font-weight: 700;
            }
            h4 {
                font-size: 1em;
                font-weight: 700;
                margin-bottom: 10px;
            }
            ul {
                margin: 0;
                padding: 0 0 20px 22px;
                list-style-type: disc;
                li {
                    font-size: 0.875em;
                    margin-bottom: 5px;
                }
            }
            p {
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            .box_personincharge {
                border-radius: 10px;
                background: #FFF;
                padding: 10px 20px 20px 20px;
                p {
                    font-size: 0.875em;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .box_objectsummary {
            margin-bottom: 50px;
            h2 {
                font-size: 1.5em;
                font-weight: 700;
                position: relative;
                padding-left: 10px;
                &::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    width: 5px;
                    height: 30px;
                    background: $second_color;
                }
            }
            table {
                margin-bottom: 12px;
                th {
                    background-color: #F7F3EA;
                    border-right: 1px solid #E0E0E0;
                    min-width: 200px;
                    color: $second_color;
                }
            }
            h3 {
                font-size: 1em;
                font-weight: 400;
            }
            small {
                font-size: 0.75em;
                color: #828282;
                line-height: 160%
            }
        }

        .box_considering_purchasing {
            padding-bottom: 50px;
            border-bottom: 1px dotted;
            margin-bottom: 50px;
            display: flex;
            .box {
                width: 50%;
                margin-right: 20px;
                .btn {
                    position: relative;
                    &::before {
                        content: '';
                        position: absolute;
                        left: 3px;
                        top: 3px;
                        bottom: 3px;
                        right: 3px;
                        border: 1px solid #fff;
                    }
                }
                &:first-of-type {
                    .btn {
                        background: $second_color;
                        &:hover {
                            background: #7d5a2f;
                        }
                    }
                }
                &:last-of-type {
                    margin-right: 0;
                }
            }
            h4 {
                font-size: 1em;
                margin-bottom: 10px;
            }
            .btn_inquiry {
                background: #3CBCCF;
                display: block;
                padding: 13px;
                color: #fff;
                border-radius: 0;
                width: 100%;
                display: flex;
                align-content: center;
                align-items: center;
                justify-content: center;
                &:hover {
                    background: #1e7684;
                }
                img {
                    margin-right: 8px;
                }
            }            
        }
        .box_followprostyle {
            border: 1px solid $primary_color;
            padding: 19px;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 30px;
            &::before {
                content: 'PROSTYLEのSNSをフォロー';
                font-weight: 700;
                font-size: 1em;
                color: $second_color;
                position: absolute;
                left: 0;
                right: 0;
                top: -15px;
                margin: 0 auto;
                text-align: center;
                width: 29%;
                background: #fff;
            }
            li {
                margin-right: 20px;
                &:last-of-type {
                    margin-right: 0;
                }
                &:first-of-type {
                    a {
                        img {
                            width: 10px;
                        }
                    }
                }
                &:hover {
                    a {
                        background: #eee;
                    }
                }
                a {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-content: center;
                    align-items: center;
                    justify-content: center;
                    background: #fff;
                    border-radius: 100px;
                    img {
                        width: 20px;
                    }
                }
            }
        }
        .btn_mokusiru {
            width: 100%;
            padding: 32px;
            background: $second_color;
            display: flex;
            align-content: center;
            align-items: center;
            justify-content: center;
            border-radius: 0;
            margin-bottom: 100px;
            &:hover {
                background: #72522c;
            }
        }

    }
}

.list_page {
    .section_result {
        border-bottom: 1px solid #ccc;
        margin-bottom: 50px;
        .section_result_head {
            text-align: center;
            color: $second_color;
            margin-bottom: 50px;
            h3 {
                font-family: 'Montserrat';
                font-weight: 400;
                letter-spacing: 2px;
            }
            p {
                font-size: 0.875em;
                margin-bottom: 0;
            }
        }
        .list_result {
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
            li {
                width: 31%;
                min-width: 260px;
                margin-right: 20px;
                margin-bottom: 40px;
                &:nth-of-type(3n) {
                    margin-right: 0;
                }
                ol {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    li {
                        margin-right: 0;
                        margin-bottom: 0;
                        width: 100%;
                        font-size: 0.6875em;
                        color: #4F4F4F;
                        position: relative;
                        &::before {
                            content: '● ';
                            display: inline-block;
                        }
                    }
                }
                .item_img {
                    display: block;
                    width: 100%;
                    height: 250px;
                    overflow: hidden;
                    background-color: #E0E0E0;
                    img {
                        width: 100%;
                        height: 250px;
                        object-fit: cover;
                        -webkit-transform: scale(1);
                        transform: scale(1);
                        -webkit-transition: .3s ease-in-out;
                        transition: .3s ease-in-out;
                    }
                    &:hover {
                        img {
                            -webkit-transform: scale(1.3);
	                        transform: scale(1.3);
                        }
                    }
                }
                .item_content {
                    padding: 10px 0;
                    border-bottom: 1px dotted #000;
                    h4 {
                        font-size: 0.875em;
                        color: $second_color;
                    }
                }
                .btn_detail {
                    font-size: 0.6875em;
                    display: flex;
                    align-self: center;
                    align-items: center;
                    justify-content: flex-end;
                    margin-top: 10px;
                    img {
                        margin-left: 10px;
                    }
                    &:hover {
                        color: $second_color;
                    }
                }
            }
        }
    }
}

.article_estate {
    margin-bottom: 50px;
    .article_subtitle2 {
        font-size: 1.5em;
        color: #333;
        margin-bottom: 20px;
        font-weight: 700;
        border-left: 5px solid #8C7D60;
        padding-left: 10px;
    }
    .list_estate_item_footer {
        display: flex;
        .btn {
            color: #fff;
            border-radius: 0;
            font-size: 0.75em;
            font-weight: 700;
            padding: 8.5px 10px;
            width: 50%;
            &:first-of-type {
                background: #3CBCCF;
                border-radius: 0;
                &:hover {
                    background: #2693a4;
                }
            }
        }
    }
}

.box_purchasing {
    text-align: center;
    margin-bottom: 40px;
    h4 {
        color: $second_color;
        font-size: 1em;
        margin-bottom: 20px;
    }
    .btn {
        background: $second_color;
        display: block;
        padding: 18px 13px;
        color: #fff;
        border-radius: 0;
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        position: relative;
        &:hover {
            background: #634723;
        }
        &::before {
            content: '';
            position: absolute;
            left: 3px;
            top: 3px;
            bottom: 3px;
            right: 3px;
            border: 1px solid #fff;
        }
        img {
            margin-right: 10px;
        }
    }
}
.box_consideringselling {
    border-radius: 10px;
    background: #EEFDFF;
    padding: 20px 40px 40px 40px;
    text-align: center;
    margin-bottom: 40px;
    h4 {
        font-size: 1.25em;
        color: $blue_color;
        margin-bottom: 20px;
    }
    p {
        margin-bottom: 20px;
        font-size: 0.875em;
    }
    ul {
        padding: 0;
        margin: 0 0 15px;
        li {
            margin-bottom: 10px;
            font-size: 0.875em;
            &::before {
                content: '• ';
            }
        }
    }
    .btn {
        width: 100%;
        background: $blue_color;
        color: #fff;
        font-weight: 700;
        border-radius: 0;
        padding: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background: #238796;
        }
        img {
            margin-right: 10px;
        }
    }
}
hr {
    &.dot {
        border-style: dotted;
        margin: 40px 0;
    }
}

@media (max-width: 1130px) {
    .estate_detail_top {
        ul {
            li {
                min-width: auto;
            }
        }
    }
}

@media (max-width: 1180px) {
    .w_estate_list_item {
        .estate_list_item {
            .estate_list_item_main {
                flex-direction: column;
                .estate_list_img {
                    min-width: 100%;
                    height: auto;
                    margin-right: 0;
                    margin-bottom: 15px;
                    img {
                        height: auto;
                    }
                }
            }
        }
    }

    .estate_detail {
        .w_box_square {
            flex-direction: column;
            .box_square {
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
        .w_img {
            flex-direction: column;
            .square_big {
                min-width: auto;
                margin-right: 0;
            }
        }
        .rectangle_img {
            height: 300px;
            img {
                height: 300px;
            }
        }
        .list_square_img {
            li {
                margin-right: 5px;
                width: 33%;
                a {
                    height: 100px;
                    img {
                        height: 200px;
                    }
                }
            }
        }

        article {
            .article_title {
                flex-direction: column;
                padding: 15px;
                span {
                    position: relative;
                    display: block;
                    width: 100%;
                    height: auto;
                    margin-bottom: 10px;
                    margin-right: 0;
                    padding: 15px;
                }
            }
        }
    }


    .section_contactus {
        label {
            margin-bottom: 5px;
        }
        .contactus_content {
            .form-group {
                margin-bottom: 15px;
            }
            .contactus_footer {
                .btnsubmit {
                    min-width: 260px;
                }
            }
            .btn_autofill_prefectureaddress {
                margin-top: 10px;
            }
        }
        .contactus_top {
            margin-top: 130px;
            h2 {
                font-size: 1.8em;
            }
        }
    }

    .list_estate_item {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .mansiongallery {
        h2 {
            font-size: 1.2em;
        }
        .mansiongallery_item {
            flex-direction: column;
            &:nth-of-type(2n) {
                .mansiongallery_img {
                    margin-left: 0;
                }
            }
            .mansiongallery_img {
                width: 100%;
                min-width: auto;
                margin-bottom: 15px;
            }
        }
        .box_inquiries_contact {
            h4 {
                left: 15px;
                right: 15px;
            }
            .info {
                h5 {
                    font-size: 1em;
                }
                p {
                    font-size: .75em;
                }
            }
            .box_inquiries_contact_content {
                flex-direction: column;
                .map {
                    min-width: auto;
                    margin: 15px 0;
                }
            }
        }
    }

    .accepting_propertyentries {
        padding: 15px;
    }

    .section_unit_detail {
        .box_unit_detail_img {
            flex-wrap: wrap;
            .big_img {
                min-width: auto;
                width: 100%;
                margin-right: 0;
                margin-bottom: 10px;
            }
            .list_fourimg {
                li {
                    margin-right: 10px;
                    margin-bottom: 10px;
                    width: 49%;
                }
            }
        }
        .box_unit_detail_info {
            table {
                th {
                    min-width: auto;
                }
            }
            .box_objectsummary {
                table {
                    th {
                        min-width: 120px;
                    }
                }
            }
            .box_followprostyle {
                &::before {
                    width: 70%;
                }
            }
            
        }
        
    }

    .box_keypoints {
        height: auto;
        flex-direction: column;
        text-align: center;
        span {
            position: relative;
            width: 100%;
            display: block;
        }
        p {
            margin-left: 0;
        }
    }

    .list_page {
        .section_result {
            .list_result {
                li {
                    width: 47%;
                    min-width: auto;
                    margin-right: 10px;
                    &:nth-of-type(2n) {
                        margin-right: 0;
                    }
                    &:nth-of-type(3n) {
                        margin-right: 10px;
                    }
                    .item_img {
                        height: 263px;
                        img {
                            height: 263px;
                        }
                    }
                }
            }
        }
    }
    
}

@media (max-width: 834px) {
    .menu-list {
        z-index: 999;
        ul {
            li {
                &:first-child {
                    a {
                        &.nav-link {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
        .navbar_text {
            justify-content: center;
            border-bottom: 1px solid #ccc;
            li {
                width: 50%;
                text-align: center;
            }
        }
        .social-list {
            li {
                text-align: center;
                width: 30px;
                a {
                    width: 100%;
                    text-align: center;
                }
                &:last-of-type {
                    a {
                        img {
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
    .list_estate_item {
        li {
            width: 48%;
            margin-right: 20px;
            &:nth-of-type(2n) {
                margin-right: 0;
            }
        }
    }

    .estate_detail_top {
        .estate_detail_top_head {
            h2 {
                font-size: 1em;
            }
        }
        ul {
            flex-direction: column;
            li {
                display: flex;
                align-items: center;
                margin-right: 0;
                margin-bottom: 10px;
                min-width: auto;
                width: 100%;
                min-height: 85px;
            }
        }
    }
    
}

@media (max-width: 430px) {
    .section_unit_detail {
        .box_unit_detail_img {
            .big_img {
                height: 400px;
                img {
                    height: 400px;
                }
            }
            .list_fourimg {
                li {
                    width: 48%;
                }
            }
        }
        .box_unit_detail_info {
            .box_features {
                padding: 30px 15px;
                h3 {
                    margin-bottom: 10px;
                }
            }
            .box_considering_purchasing {
                flex-direction: column;
                .box {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 15px;
                }
            }
            
        }
    }

    .article_estate {
        .article_subtitle2 {
            font-size: 1.3em;
        }
    }

    .list_estate_item {
        li {
            width: 100%;
            margin-right: 0;
        }
    }

    

    .box_consideringselling {
        padding: 20px;
    }

    .box_estates_info_top {
        flex-direction: column;
        .box_estates_info_top_img {
            width: 100%;
            height: 200px;
            margin-right: 0;
            margin-bottom: 15px;
            img {
                height: 200px;
            }
        }
    }

    .list_page {
        .section_result {
            .list_result {
                li {
                    .item_img {
                        height: 150px;
                        img {
                            height: 150px;
                        }
                    }
                }
            }
        }
    }

}