$primary-color: #000000;
$purple-color: #BB6BD9;
$yellow-color: #F2C94C;
$sliver-color: #F2F2F2;
$prink-color: #EB5757;
$primary-font: 'kozuka-gothic-pr6n', '游ゴシック', YuGothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;

a {color: $primary-color;}
.btn {color: $primary-color; border-radius: 0;}
.btn,a,.btn:hover{-webkit-transition:color .25s ease;-moz-transition:color .25s ease;-o-transition:color .25s ease;transition:color .25s ease;}
.btn:hover, .btn.focus {-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
.btn.focus, .btn:focus {box-shadow: none;} button:focus {outline: none;}
::selection{background:$yellow-color;color:#FFF;text-shadow:none;}
::-moz-selection{background:$yellow-color;color:#FFF;text-shadow:none;}
::-webkit-selection{background:$yellow-color;color:#FFF;text-shadow:none;}
html{width:100%;height:100%}
body{width:100%;height:100%;
  background:#F2F2F2;
  font-family: $primary-font;
  line-height: 1.5em;
  font-size: 1rem;
  font-weight: 400;
  color: #4F4F4F;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale;
}
.btn-link {color: $primary-color;word-break:normal;word-break:break-all;word-break:keep-all;text-decoration: underline;}
.btn-link:hover{color: $primary-color;text-decoration:underline;}
h1,h2,h3,h4,h5,h6{font-family: $primary-font;
line-height: 1.3em; text-rendering:optimizeLegibility;-webkit-font-smoothing:antialiased; color:$primary-color; margin-bottom: 10px; font-size: 1.25em; font-weight: 700;}
*,:before,:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;box-sizing:border-box}
html,body{position:relative;height:100%}
p {word-wrap: break-word;}
a:hover {text-decoration:none;color:$primary-color;-webkit-transition:all .3s linear;-moz-transition:all .3s linear;-o-transition:all .3s linear;transition:all .3s linear;}
h1 {font-size: 2.3125em;}
h2 {
  font-size: 1.5625em;
}

.red {color: #EB5757;}

.form-control {
  font-size: 0.875em;
  border-color: #BDBDBD;
  height: calc(1.5em + .75rem + 7px);
}
.custom-select:focus {
  border-color: $primary-color;
}
.form-control:focus {box-shadow: none; border-color: $primary-color;}
.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}
.custom-control-input:focus~.custom-control-label::before {
  box-shadow: none;
}

.custom-control-label::before {
  border-color: $prink-color;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: $prink-color;
  border-color: $prink-color;
}

.relative {position: relative;}
b {
  font-weight: 700;
}
section {
  padding: 60px 0;
}
.title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 500;
}
