.slider {
	position: relative;
	padding: 96px 0;
	@media (max-width: 767px) {
		padding: 0;	
	}
}

.slider__block {
	@media (min-width: 768px) {
		position: absolute;
		background-image: url('../images/common/slider.jpg');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		width: 100%;
	    top: -106px;
	    z-index: -1;
	    left: 0;
	    height: 100%;
	    padding-top: 49.27%;
	}
}

.slider {
	&__img {
		.img {
			margin-top: -25px;
		}
	}
}

.slider__item {
	position: relative;
	.text {
		div {
			color: #644F21;
			font-family: Mont;
			font-size: 2rem;
			font-weight: 700;
			@media (max-width: 767px) {
				font-size: 1.75rem;	
			    line-height: 1.4;
			}
		}
		div:nth-child(2) {
			span {
				color: #644F21;
				font-size: 3rem;
				letter-spacing: 4.8px;
				@media (max-width: 767px) {
					font-size: 2.5rem;	
				}
			}
		}
		p {
			padding: 20px 0;
			color: #4F4F4F;
			text-align: justify;
			font-size: 0.9375rem;
			font-weight: 700;
			line-height: 2;
			margin-bottom: 0;
		}
	}
}