@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-BlackItalic.svg#SFProDisplay-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Black.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Black.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Black.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Black.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Black.svg#SFProDisplay-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Bold.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Bold.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Bold.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Bold.svg#SFProDisplay-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-BoldItalic.svg#SFProDisplay-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Heavy.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Heavy.svg#SFProDisplay-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-HeavyItalic.svg#SFProDisplay-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-LightItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-LightItalic.svg#SFProDisplay-LightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("SFProDisplay-Light.eot");
  src: url("SFProDisplay-Light.eot?#iefix") format("embedded-opentype"), url("SFProDisplay-Light.woff2") format("woff2"), url("SFProDisplay-Light.woff") format("woff"), url("SFProDisplay-Light.ttf") format("truetype"), url("SFProDisplay-Light.svg#SFProDisplay-Light") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-MediumItalic.svg#SFProDisplay-MediumItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Regular.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Regular.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Regular.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Regular.svg#SFProDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Medium.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Medium.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Medium.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Medium.svg#SFProDisplay-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-RegularItalic.svg#SFProDisplay-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Semibold.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Semibold.svg#SFProDisplay-Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-ThinItalic.svg#SFProDisplay-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Thin.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Thin.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Thin.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Thin.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Thin.svg#SFProDisplay-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-SemiboldItalic.svg#SFProDisplay-SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-Ultralight.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-Ultralight.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-Ultralight.svg#SFProDisplay-Ultralight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.eot");
  src: url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff2") format("woff2"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.woff") format("woff"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.ttf") format("truetype"), url("../fonts/sf-pro-display/SFProDisplay-UltralightItalic.svg#SFProDisplay-UltralightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-BlackItalic.eot");
  src: url("../fonts/mont/Mont-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-BlackItalic.woff2") format("woff2"), url("../fonts/mont/Mont-BlackItalic.woff") format("woff"), url("../fonts/mont/Mont-BlackItalic.ttf") format("truetype"), url("../fonts/mont/Mont-BlackItalic.svg#Mont-BlackItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-Black.eot");
  src: url("../fonts/mont/Mont-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Black.woff2") format("woff2"), url("../fonts/mont/Mont-Black.woff") format("woff"), url("../fonts/mont/Mont-Black.ttf") format("truetype"), url("../fonts/mont/Mont-Black.svg#Mont-Black") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-Bold.eot");
  src: url("../fonts/mont/Mont-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Bold.woff2") format("woff2"), url("../fonts/mont/Mont-Bold.woff") format("woff"), url("../fonts/mont/Mont-Bold.ttf") format("truetype"), url("../fonts/mont/Mont-Bold.svg#Mont-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-BoldItalic.eot");
  src: url("../fonts/mont/Mont-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-BoldItalic.woff2") format("woff2"), url("../fonts/mont/Mont-BoldItalic.woff") format("woff"), url("../fonts/mont/Mont-BoldItalic.ttf") format("truetype"), url("../fonts/mont/Mont-BoldItalic.svg#Mont-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont Book';
  src: url("../fonts/mont/Mont-BookItalic.eot");
  src: url("../fonts/mont/Mont-BookItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-BookItalic.woff2") format("woff2"), url("../fonts/mont/Mont-BookItalic.woff") format("woff"), url("../fonts/mont/Mont-BookItalic.ttf") format("truetype"), url("../fonts/mont/Mont-BookItalic.svg#Mont-BookItalic") format("svg");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont Book';
  src: url("../fonts/mont/Mont-Book.eot");
  src: url("../fonts/mont/Mont-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Book.woff2") format("woff2"), url("../fonts/mont/Mont-Book.woff") format("woff"), url("../fonts/mont/Mont-Book.ttf") format("truetype"), url("../fonts/mont/Mont-Book.svg#Mont-Book") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont DEMO';
  src: url("../fonts/mont/Mont-DEMOExtraLight.eot");
  src: url("../fonts/mont/Mont-DEMOExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-DEMOExtraLight.woff2") format("woff2"), url("../fonts/mont/Mont-DEMOExtraLight.woff") format("woff"), url("../fonts/mont/Mont-DEMOExtraLight.ttf") format("truetype"), url("../fonts/mont/Mont-DEMOExtraLight.svg#Mont-DEMOExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont Hairline';
  src: url("../fonts/mont/Mont-Hairline.eot");
  src: url("../fonts/mont/Mont-Hairline.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Hairline.woff2") format("woff2"), url("../fonts/mont/Mont-Hairline.woff") format("woff"), url("../fonts/mont/Mont-Hairline.ttf") format("truetype"), url("../fonts/mont/Mont-Hairline.svg#Mont-Hairline") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-ExtraLightItalic.eot");
  src: url("../fonts/mont/Mont-ExtraLightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-ExtraLightItalic.woff2") format("woff2"), url("../fonts/mont/Mont-ExtraLightItalic.woff") format("woff"), url("../fonts/mont/Mont-ExtraLightItalic.ttf") format("truetype"), url("../fonts/mont/Mont-ExtraLightItalic.svg#Mont-ExtraLightItalic") format("svg");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont Hairline';
  src: url("../fonts/mont/Mont-HairlineItalic.eot");
  src: url("../fonts/mont/Mont-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-HairlineItalic.woff2") format("woff2"), url("../fonts/mont/Mont-HairlineItalic.woff") format("woff"), url("../fonts/mont/Mont-HairlineItalic.ttf") format("truetype"), url("../fonts/mont/Mont-HairlineItalic.svg#Mont-HairlineItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont DEMO';
  src: url("../fonts/mont/Mont-DEMOHeavy.eot");
  src: url("../fonts/mont/Mont-DEMOHeavy.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-DEMOHeavy.woff2") format("woff2"), url("../fonts/mont/Mont-DEMOHeavy.woff") format("woff"), url("../fonts/mont/Mont-DEMOHeavy.ttf") format("truetype"), url("../fonts/mont/Mont-DEMOHeavy.svg#Mont-DEMOHeavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-ExtraLight.eot");
  src: url("../fonts/mont/Mont-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-ExtraLight.woff2") format("woff2"), url("../fonts/mont/Mont-ExtraLight.woff") format("woff"), url("../fonts/mont/Mont-ExtraLight.ttf") format("truetype"), url("../fonts/mont/Mont-ExtraLight.svg#Mont-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont Regular';
  src: url("../fonts/mont/Mont-RegularItalic.eot");
  src: url("../fonts/mont/Mont-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-RegularItalic.woff2") format("woff2"), url("../fonts/mont/Mont-RegularItalic.woff") format("woff"), url("../fonts/mont/Mont-RegularItalic.ttf") format("truetype"), url("../fonts/mont/Mont-RegularItalic.svg#Mont-RegularItalic") format("svg");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-HeavyItalic.eot");
  src: url("../fonts/mont/Mont-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-HeavyItalic.woff2") format("woff2"), url("../fonts/mont/Mont-HeavyItalic.woff") format("woff"), url("../fonts/mont/Mont-HeavyItalic.ttf") format("truetype"), url("../fonts/mont/Mont-HeavyItalic.svg#Mont-HeavyItalic") format("svg");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-Heavy.eot");
  src: url("../fonts/mont/Mont-Heavy.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Heavy.woff2") format("woff2"), url("../fonts/mont/Mont-Heavy.woff") format("woff"), url("../fonts/mont/Mont-Heavy.ttf") format("truetype"), url("../fonts/mont/Mont-Heavy.svg#Mont-Heavy") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-LightItalic.eot");
  src: url("../fonts/mont/Mont-LightItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-LightItalic.woff2") format("woff2"), url("../fonts/mont/Mont-LightItalic.woff") format("woff"), url("../fonts/mont/Mont-LightItalic.ttf") format("truetype"), url("../fonts/mont/Mont-LightItalic.svg#Mont-LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-Regular.eot");
  src: url("../fonts/mont/Mont-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Regular.woff2") format("woff2"), url("../fonts/mont/Mont-Regular.woff") format("woff"), url("../fonts/mont/Mont-Regular.ttf") format("truetype"), url("../fonts/mont/Mont-Regular.svg#Mont-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-Light.eot");
  src: url("../fonts/mont/Mont-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Light.woff2") format("woff2"), url("../fonts/mont/Mont-Light.woff") format("woff"), url("../fonts/mont/Mont-Light.ttf") format("truetype"), url("../fonts/mont/Mont-Light.svg#Mont-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-SemiBoldItalic.eot");
  src: url("../fonts/mont/Mont-SemiBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-SemiBoldItalic.woff2") format("woff2"), url("../fonts/mont/Mont-SemiBoldItalic.woff") format("woff"), url("../fonts/mont/Mont-SemiBoldItalic.ttf") format("truetype"), url("../fonts/mont/Mont-SemiBoldItalic.svg#Mont-SemiBoldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-ThinItalic.eot");
  src: url("../fonts/mont/Mont-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-ThinItalic.woff2") format("woff2"), url("../fonts/mont/Mont-ThinItalic.woff") format("woff"), url("../fonts/mont/Mont-ThinItalic.ttf") format("truetype"), url("../fonts/mont/Mont-ThinItalic.svg#Mont-ThinItalic") format("svg");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-SemiBold.eot");
  src: url("../fonts/mont/Mont-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-SemiBold.woff2") format("woff2"), url("../fonts/mont/Mont-SemiBold.woff") format("woff"), url("../fonts/mont/Mont-SemiBold.ttf") format("truetype"), url("../fonts/mont/Mont-SemiBold.svg#Mont-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Mont';
  src: url("../fonts/mont/Mont-Thin.eot");
  src: url("../fonts/mont/Mont-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/mont/Mont-Thin.woff2") format("woff2"), url("../fonts/mont/Mont-Thin.woff") format("woff"), url("../fonts/mont/Mont-Thin.ttf") format("truetype"), url("../fonts/mont/Mont-Thin.svg#Mont-Thin") format("svg");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  /* declare weights giving two values to specify a range */
  font-weight: 400 800;
  src: url(Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'SF Compact';
  src: url("../fonts/sf-compact/SF-Compact.ttf") format("truetype");
  font-weight: 100 200 300 457 500 600 700 800 900;
}
@font-face {
  font-family: 'SF Compact Text';
  src: url("../fonts/sf-compact/SFCompactText-Bold.eot");
  src: url("../fonts/sf-compact/SFCompactText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-compact/SFCompactText-Bold.woff2") format("woff2"), url("../fonts/sf-compact/SFCompactText-Bold.woff") format("woff"), url("../fonts/sf-compact/SFCompactText-Bold.ttf") format("truetype"), url("../fonts/sf-compact/SFCompactText-Bold.svg#SFCompactText-Bold") format("svg");
  font-weight: bold;
}
@font-face {
  font-family: 'SF Pro';
  src: url("../fonts/sf-pro/SF-Pro.ttf") format("truetype");
  font-weight: 100 200 300 457 500 600 700 800 900;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url("../fonts/sf-pro-text/SFProText-Bold.eot");
  src: url("../fonts/sf-pro-text/SFProText-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-text/SFProText-Bold.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Bold.woff") format("woff"), url("../fonts/sf-pro-text/SFProText-Bold.ttf") format("truetype"), url("../fonts/sf-pro-text/SFProText-Bold.svg#SFProText-Bold") format("svg");
  font-weight: 700;
}
@font-face {
  font-family: 'SF Pro Text';
  src: url("../fonts/sf-pro-text/SFProText-Regular.eot");
  src: url("../fonts/sf-pro-text/SFProText-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/sf-pro-text/SFProText-Regular.woff2") format("woff2"), url("../fonts/sf-pro-text/SFProText-Regular.woff") format("woff"), url("../fonts/sf-pro-text/SFProText-Regular.ttf") format("truetype"), url("../fonts/sf-pro-text/SFProText-Regular.svg#SFProText-Regular") format("svg");
  font-weight: 400;
}
body {
  background: #F4F3EF;
  font-family: 'SF Pro Display';
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

.container {
  max-width: 1063px;
}
@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: Mont;
}

a {
  text-decoration: none;
}

@media (max-width: 767px) {
  .sp-no-padding .container {
    padding-left: 0;
    padding-right: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* Icons */
[class^=i-], [class*=i-] {
  position: relative;
  display: inline-block;
}
[class^=i-]:before, [class*=i-]:before {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
}

.i-email {
  height: 13px;
  width: 18px;
}
.i-email:before {
  background-image: url("../images/icons/mail.svg");
  height: 13px;
  width: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
}

.i-call-phone {
  height: 17px;
  width: 25px;
}
@media (max-width: 767px) {
  .i-call-phone {
    width: 31px;
    height: 21px;
  }
  .i-call-phone:before {
    background-image: url("../images/icons/free-call.svg");
    width: 31px;
    height: 21px;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
}
@media (min-width: 768px) {
  .i-call-phone:before {
    background-image: url("../images/icons/call-phone.svg");
    height: 17px;
    width: 25px;
    top: 60%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
  }
}

/*custom column width*/
.col-cus-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 27%;
}
@media (max-width: 767px) {
  .col-cus-3 {
    width: 100%;
  }
}

.col-cus-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 73%;
}
@media (max-width: 767px) {
  .col-cus-9 {
    width: 100%;
  }
}

.btn-yellow-linear {
  color: #644F21;
  text-align: center;
  font-family: 'SF Pro';
  font-size: 1rem;
  width: 100%;
  max-width: 277px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 1px;
  border-radius: 60px;
  background: var(--btn, linear-gradient(135deg, #FFC700 0%, #FCFF6F 100%));
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
}
@media (max-width: 991px) {
  .btn-yellow-linear.btn-header {
    padding: 5px;
    font-size: 0.625rem;
  }
}

header {
  width: 100%;
  padding: 20px 5px;
  overflow: hidden;
}
@media (max-width: 767px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 767px) {
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: 375px;
  }
}
.logo img {
  margin-right: 20px;
}
@media (max-width: 991px) {
  .logo img {
    max-width: 160px;
  }
}
.logo span {
  color: #000;
  font-size: 0.875rem;
  font-weight: 457;
  font-family: SF Compact;
}
@media (max-width: 767px) {
  .logo span {
    font-size: 0.625rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1274px;
  margin: 0 auto;
}
.header__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__contact span {
  font-family: SF Pro;
  font-weight: 400;
  color: #333;
  font-size: 0.75rem;
  white-space: nowrap;
  margin-right: 25px;
}
@media (max-width: 991px) {
  .header__contact span {
    font-size: 0.625rem;
  }
}

.menu-animation-scroll {
  position: fixed;
  z-index: 9999;
  background: #F4F3EF;
  width: 100%;
  -webkit-animation-name: top-to-bottom;
          animation-name: top-to-bottom;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}
.menu-animation-scroll .nav-menu {
  background: #006973;
}

@-webkit-keyframes top-to-bottom {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}

@keyframes top-to-bottom {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
.slider {
  position: relative;
  padding: 5.8vw 0;
  margin-bottom: 13px;
}
@media (max-width: 767px) {
  .slider {
    padding: 0;
  }
}

@media (min-width: 768px) {
  .slider__block {
    position: absolute;
    width: 100%;
    z-index: -1;
    top: -100px;
    bottom: -68px;
    background-image: url("../images/mansion-associate/images/common/slider.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    left: 0;
  }
}
@media (min-width: 1600px) {
  .slider__block {
    background-size: contain;
  }
}

.slider__img {
  z-index: -1;
  position: relative;
}
.slider__img .img {
  margin-top: -25px;
}

.slider__item {
  position: relative;
  max-width: 540px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .slider__item {
    max-width: 360px;
  }
}
.slider__item .text div {
  color: #644F21;
  font-family: Mont;
  font-size: 2rem;
  font-weight: 700;
}
@media (max-width: 767px) {
  .slider__item .text div {
    font-size: 1.75rem;
    line-height: 1.4;
  }
}
.slider__item .text div:nth-child(2) span {
  color: #644F21;
  font-size: 3rem;
  letter-spacing: 4.8px;
}
@media (max-width: 767px) {
  .slider__item .text div:nth-child(2) span {
    font-size: 2.5rem;
  }
}
.slider__item .text p {
  padding: 20px 0;
  color: #4F4F4F;
  text-align: justify;
  font-size: 0.9375rem;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 0;
}

.why-us {
  text-align: center;
}
.why-us h1 {
  color: #644F21;
  text-align: center;
  font-family: Mont;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 2px;
  padding-top: 6px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .why-us h1 {
    font-size: 1.75rem;
    line-height: 1.4;
    letter-spacing: 1.4px;
    padding-top: 4px;
  }
}

.we-have {
  border-radius: 10px;
  background: #FFF;
  margin-top: -40px;
  z-index: 1;
  position: relative;
}
@media (max-width: 767px) {
  .we-have {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.we-have .quote-group {
  text-align: center;
}
.we-have .quote-group h2 {
  color: #BA9D5D;
  font-family: Mont;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 3.2px;
  padding-top: 56px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 20px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .we-have .quote-group h2 {
    font-size: 1.5rem;
    letter-spacing: 2.4px;
  }
}
@media (max-width: 374px) {
  .we-have .quote-group h2 {
    letter-spacing: 1.6px;
  }
}
.we-have .quote-group h2 .quote {
  height: 41px;
  width: 35px;
  position: relative;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.we-have .quote-group h2 .quote.quote-right {
  background-image: url("../images/icons/quot-right.svg");
  margin-left: 20px;
  top: 13px;
}
.we-have .quote-group h2 .quote.quote-left {
  background-image: url("../images/icons/quot-left.svg");
  margin-right: 20px;
  top: 5px;
}
@media (max-width: 767px) {
  .we-have .quote-group h2 .quote {
    width: 17px;
    height: 20px;
  }
  .we-have .quote-group h2 .quote.quote-right {
    margin-left: 10px;
    top: 0;
  }
  .we-have .quote-group h2 .quote.quote-left {
    margin-right: 10px;
    top: -5px;
  }
}
@media (max-width: 374px) {
  .we-have .quote-group h2 .quote.quote-right {
    margin-left: 5px;
    top: 0;
  }
  .we-have .quote-group h2 .quote.quote-left {
    margin-right: 5px;
    top: -5px;
  }
}
.we-have .quote-group p {
  color: #4F4F4F;
  font-weight: 700;
  line-height: 2;
  margin-bottom: 62px;
  font-family: SF Pro;
}
@media (max-width: 767px) {
  .we-have .quote-group p {
    font-size: 15px;
    text-align: justify;
    letter-spacing: 1px;
    letter-spacing: -0.3px;
    margin-bottom: 30px;
  }
}

.arrow-down {
  margin: 60px auto;
  width: 108px;
  height: 29px;
  background-image: url("../images/icons/arrow-down.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 767px) {
  .arrow-down {
    margin: 33px auto;
    width: 44px;
    height: 12px;
  }
}

.system-group {
  margin-bottom: 64px;
  overflow: hidden;
}
@media (max-width: 767px) {
  .system-group {
    margin-bottom: 0;
  }
}
.system-group h2 {
  color: #BA9D5D;
  text-align: center;
  font-family: Mont;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 2.4px;
  margin-bottom: 10px;
}
@media (max-width: 767px) {
  .system-group h2 {
    font-size: 1.5rem;
    padding: 0 10px;
  }
}
.system-group .description {
  color: #4F4F4F;
  font-weight: 700;
  line-height: 2;
  font-family: SF Pro;
  text-align: center;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .system-group .description {
    text-align: justify;
  }
}
.system-group__content {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 35px;
}
@media (max-width: 767px) {
  .system-group__content {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }
}
.system-group__content .row {
  margin-left: -10px;
  margin-right: -10px;
}
.system-group__content .row [class^=col] {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}
@media (min-width: 768px) {
  .system-group__content .row .col-md-6:nth-child(2) .article {
    max-height: 535px;
    height: 100%;
  }
}
@media (max-width: 767px) {
  .system-group__content .row .col-md-6:nth-child(2) .article {
    margin-bottom: 30px;
  }
  .system-group__content .row .col-md-6:nth-child(4) .article {
    margin-bottom: 35px;
  }
}
.system-group .article {
  max-width: 400px;
  width: 100%;
  position: relative;
  height: 100%;
}
@media (max-width: 767px) {
  .system-group .article {
    margin-bottom: 20px;
    margin: 0 auto;
  }
}
.system-group .article:before {
  content: '';
  position: absolute;
  border-radius: 10px;
  background: rgba(242, 242, 242, 0.5);
  bottom: 0;
  top: 142px;
  width: 100%;
  z-index: -1;
}
.system-group .article__img {
  text-align: center;
}
.system-group .article__item {
  padding: 23px 25px 20px 25px;
}
.system-group .article__item h3 {
  color: #644F21;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 2px;
  font-family: SF Pro;
}
.system-group .article__item p {
  color: #4F4F4F;
  text-align: justify;
  font-size: 0.9375rem;
  line-height: 2;
  margin-bottom: 0;
  font-family: SF Pro;
}
@media (max-width: 767px) {
  .system-group .article__item {
    padding: 0px 25px 20px 25px;
  }
  .system-group .article__item h3 {
    letter-spacing: 0.4px;
    padding-top: 23px;
  }
}

.mark-group {
  position: relative;
  margin-bottom: -8px;
}
@media (max-width: 767px) {
  .mark-group {
    margin-bottom: 0;
  }
}
.mark-group__title {
  color: #644F21;
  font-size: 9.375rem;
  font-weight: 590;
  opacity: .1;
  margin-left: -45px;
  font-family: SF Pro;
}
@media (min-width: 768px) and (max-width: 1140px) {
  .mark-group__title {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .mark-group__title {
    font-size: 6rem;
    margin-left: 0;
  }
}
.mark-group h2 {
  position: absolute;
  font-family: SF Pro;
  bottom: 40px;
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1.4px;
}
@media (max-width: 767px) {
  .mark-group h2 {
    font-size: 1.5rem;
    line-height: 1.6;
    letter-spacing: 1.2px;
    bottom: 22px;
    max-width: 290px;
  }
}

.group {
  background: #e9e0cf;
  position: relative;
  padding-bottom: 60px;
  overflow: hidden;
}
.group__one {
  margin-bottom: 45px;
}
.group__one .mark-group {
  margin-top: 13px;
  margin-bottom: -13px;
}
@media (max-width: 767px) {
  .group__one .mark-group {
    margin-bottom: 45px;
    margin-top: 20px;
  }
  .group__one .mark-group h2 {
    bottom: -30px;
  }
  .group__one p {
    margin-bottom: 30px;
    letter-spacing: .6px;
  }
}
.group__one p {
  font-family: SF Pro;
}
.group__one .p1 {
  margin-bottom: 30px;
}
.group__two h3 {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: 1px;
  margin-bottom: 22px;
  font-family: SF Pro;
}
@media (min-width: 576px) and (max-width: 767px) {
  .group__two h3 h3 {
    font-size: 1rem;
  }
}
@media (max-width: 767px) {
  .group__two h3 {
    margin-top: 38px;
    margin-bottom: 25px;
  }
}
@media (min-width: 1200px) {
  .group__two .row {
    margin-left: -37px;
    margin-right: -37px;
  }
  .group__two .row [class^=col-sm-4] {
    padding-left: 37px;
    padding-right: 37px;
  }
}
.group__two .row .col-sm-4:first-child h3 {
  margin-top: 0;
  margin-bottom: 25px;
}
.group:before {
  content: '';
  position: absolute;
  background-image: url("../images/icons/bg.png");
  top: -32%;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.group p {
  line-height: 2;
}

.reason {
  background: #fff;
  padding: 50px 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .reason {
    padding: 60px 0;
  }
}
.reason h2 {
  color: #644F21;
  font-family: SF Pro Display;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 2.4px;
  margin-bottom: 18px;
}
@media (max-width: 767px) {
  .reason h2 {
    line-height: 1.6;
  }
}
.reason p {
  color: #4F4F4F;
  font-weight: 500;
  line-height: 2;
  margin-bottom: 0;
}
@media (max-width: 767px) {
  .reason .img {
    margin-top: 30px;
  }
}

.voice {
  margin-bottom: 30px;
  overflow: hidden;
}
.voice .mark-group h2 {
  font-family: SF Pro Text;
}
@media (max-width: 767px) {
  .voice .mark-group {
    margin-bottom: 26px;
    margin-bottom: 34px;
    margin-top: 10px;
  }
  .voice .mark-group h2 {
    bottom: 12px;
  }
}
.voice__img {
  display: grid;
  grid-row: 2;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 20px;
  margin-top: 10px;
}
@media (max-width: 767px) {
  .voice__img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.voice__img img {
  margin-bottom: 10px;
}
.voice__img span {
  display: block;
  color: #4F4F4F;
  font-family: SF Pro Text;
  text-align: center;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.6;
}
.voice__txt {
  background: #fff;
  padding: 18px;
  margin-bottom: 48px;
  border-radius: 10px;
  position: relative;
  margin-left: 35px;
}
.voice__txt:before {
  z-index: -1;
  content: '';
  position: absolute;
  left: -12px;
  top: 55px;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-right: 50px solid #fff;
  border-bottom: 25px solid transparent;
}
@media (max-width: 767px) {
  .voice__txt {
    margin-left: 0;
    margin-bottom: 34px;
  }
  .voice__txt:before {
    visibility: hidden;
  }
}
.voice p {
  color: #4F4F4F;
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 0;
  font-family: SF Pro Text;
}
.voice p strong {
  font-weight: 700;
}
.voice p span {
  margin-top: 7px;
  display: block;
  font-size: 0.875rem;
  font-weight: 400;
}
@media (max-width: 767px) {
  .voice p span {
    margin-top: 15px;
  }
}

.contact {
  background: #E9E0CD;
  overflow: hidden;
  max-height: 240px;
}
.contact .mark-group h2 {
  font-family: SF Pro Text;
}
@media (min-width: 768px) and (max-width: 1100px) {
  .contact {
    max-height: 100%;
  }
}
@media (max-width: 767px) {
  .contact {
    max-height: 100%;
  }
}
.contact .contact__group {
  padding: 30px 60px 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .contact .contact__group {
    padding: 30px 60px;
  }
}
@media (max-width: 768px) {
  .contact .contact__group {
    padding: 30px 0 60px;
  }
}
@media (max-width: 768px) {
  .contact .row {
    margin-left: 0;
    margin-right: 0;
  }
}
.contact .col-cus-2 {
  width: 100%;
  max-width: 181px;
  padding: 0;
  width: 50%;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .contact .col-cus-2 {
    position: relative;
  }
}
.contact .col-cus-8 {
  width: 100%;
  max-width: calc(100% - 362px);
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}
@media (max-width: 768px) {
  .contact .col-cus-8 {
    max-width: 100%;
  }
}
.contact .col-cus-8 p {
  color: #644F21;
  font-weight: 700;
  line-height: 2;
  padding-top: 10px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .contact .col-cus-8 p {
    padding-top: 35px;
    letter-spacing: -0.1px;
  }
}
.contact .col-cus-8 a.btn {
  max-width: 316px;
  font-size: 1.25rem;
  padding: 9px 60px;
  letter-spacing: 1.5px;
}
.contact .img {
  position: relative;
}
@media (max-width: 768px) {
  .contact .img-man {
    max-width: 169px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .contact .img-woman {
    position: absolute;
    bottom: 0;
    max-width: 151px;
    width: 100%;
    left: 12px;
  }
}

.address {
  overflow: hidden;
}
.address .mark-group h2 {
  font-family: SF Compact Text;
}
@media (max-width: 767px) {
  .address .mark-group {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .address .mark-group__title {
    font-size: 4.6875rem;
  }
  .address .mark-group h2 {
    bottom: -15px;
  }
}
.address__table {
  padding-left: 35px;
}
@media (max-width: 767px) {
  .address__table {
    padding-left: 0;
  }
}
.address table {
  width: 100%;
  margin-bottom: 60px;
}
.address table td {
  font-family: SF Pro;
  padding: 20px 0;
  border-bottom: 1px solid #E0E0E0;
  vertical-align: top;
  color: #4F4F4F;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2;
}
.address table td:first-child {
  width: 210px;
}
@media (max-width: 767px) {
  .address table td:first-child {
    width: 110px;
  }
}
.address table td a {
  font-size: 0.875rem;
}
.address table td p {
  line-height: 2;
  margin-bottom: 0;
  color: #4F4F4F;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 2;
}
.address table tr:first-child td {
  padding-top: 0;
}
@media (max-width: 767px) {
  .address table tr:first-child td {
    padding-top: 8px;
  }
}
.address table tr:nth-child(2) td:first-child div:first-child {
  margin-bottom: 30px;
}

footer .footer-top {
  position: relative;
  background: #BAA77E;
  padding-top: 40px;
  padding-bottom: 100px;
}
@media (max-width: 767px) {
  footer .footer-top {
    padding-top: 20px;
    padding-bottom: 80px;
  }
}
footer .footer-top ul {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
footer .footer-top ul li {
  padding: 0 15px;
}
footer .footer-top ul li a.nav-link {
  text-align: center;
  font-weight: 500;
  font-size: .875rem;
  line-height: 1.4;
  color: #FFFFFF;
  padding: 0;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  footer .footer-top ul {
    display: block;
    margin-bottom: 10px;
  }
  footer .footer-top ul li a.nav-link {
    font-size: .75rem;
  }
  footer .footer-top ul li a.nav-link:last-child {
    margin-bottom: 13px;
  }
}
footer .footer-top .social {
  padding: 15px 0px 30px;
}
footer .footer-top .social li {
  padding: 0 10px;
}
@media (max-width: 767px) {
  footer .footer-top .social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 10px 0 20px;
  }
}
footer .copyright {
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 2;
  text-align: center;
  color: #FFFFFF;
}

.footer-action {
  position: fixed;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  width: 100%;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999;
}
@media (min-width: 768px) {
  .footer-action {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 80px;
  }
}
@media (max-width: 767px) {
  .footer-action {
    background: linear-gradient(135deg, #FFC700 0%, #FCFF6F 100%);
  }
}
.footer-action__call {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 767px) {
  .footer-action__img {
    position: relative;
    height: 84px;
    width: 100%;
    max-width: 75px;
  }
  .footer-action__img:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("../images/icons/receptionist.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.footer-action a {
  display: inline-block;
  background: #644F21;
  border-radius: 100px;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.1em;
  width: 100%;
  max-width: 240px;
  width: 100%;
  text-align: center;
  margin: 0 10px;
}
.footer-action a i {
  margin-right: 10px;
  position: relative;
  top: 1px;
}
@media (max-width: 767px) {
  .footer-action {
    padding: 0 20px;
    height: 60px;
  }
  .footer-action a {
    background: none;
    margin: 0;
    line-height: 1.3;
    color: #644F21;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.48px;
    position: relative;
  }
  .footer-action a span {
    color: #333;
    font-size: 0.625rem;
    letter-spacing: 0.4px;
    font-weight: 400;
  }
  .footer-action a span:before {
    content: '';
    position: absolute;
    right: -17px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-left: 5px solid #644F21;
    border-bottom: 6px solid transparent;
  }
  .footer-action a:first-child {
    margin-right: 2.5px;
  }
  .footer-action a:last-child {
    margin-left: 2.5px;
  }
}
@media (max-width: 374px) {
  .footer-action a {
    font-size: 1rem;
  }
  .footer-action a span {
    font-size: 0.5rem;
  }
}
