.owned-property_product{
	.col-md-6:nth-child(3n+2){
		.product-items{
			margin:0 auto;
		}
	}
	.col-md-6:nth-child(3n){
		.product-items{
			margin-left:auto;
			margin-right:0;
		}
	}
	.product-items{
		margin-bottom: 60px;
	}
}



