.top-page-slideshow{
	.g-slideshow {
		.splide {
			.splide-item{
				max-height: 640px;
            	padding-top: 51.8218%;
			}
		}
	}
}


.news-box{
	.news-box_list{
		padding:82px 100px;
		span.news-box_border{
			padding:6px 20px;
			margin:0 32px;
			width: max-content;
		}
		span.border-blue{
			border: 1px solid #2F80ED;
			font-size: 0.75rem;
			align-items: center;
			color: #2F80ED;
			border-radius: 100px;
		}
		span.border-red{
			border: 1px solid #EB5757;
			box-sizing: border-box;
			border-radius: 100px;
			font-size: 0.75rem;
			color: #EB5757;
		}
		span.border-green{
			border: 1px solid #219653;
			border-radius: 100px;
			font-size: 0.75rem;
			color: #219653;
		}
		h2{
			text-align:center;
			margin-bottom: 80px;
		}
		.news-box_row{
			ul{
				li{
					display: inline-block;
					font-weight: bold;
					font-size: 0.875rem;
					color: $cl-black-light;
					border-top: none;
					padding: 30px 0 30px;
					border-bottom: 1px solid $cl-gray-medium;
				}
				li:nth-child(1){
					width:100%;
					max-width: 75px;

				}
				li:nth-child(2){
					width: 100%;
					max-width:214px;
				}
				li:nth-child(3){
					padding: 30px 20px 30px;
					border-top: none;
					width: calc(100% - 290px);
					border-bottom: 1px solid $cl-gray-white;
				}
			}
		}
		.newx-box_item{
			h4{
				font-weight: 600;
				font-size: 0.875rem;
				color: $cl-black-light;
				margin-bottom: 5px;
				position: relative;
				padding-right:40px;
				span{
					top:5px;
					right: -20px;
				}
			}
			p{
				font-weight: normal;
				font-size: 14px;
				color: $cl-black-light;
				margin-bottom:0;
				position: relative;
				padding-right:40px;
				span{
					top:5px;
					right: -20px;
				}
			}

		}
		.btn-mansion{
			margin-top: 60px;
		}
	}
}


.lists-bg-gray{
	position: relative;
	margin-bottom:80px;
	&:before{
		content:'';
		position: absolute;
		top:0;
	    bottom: 29%;
		left:14%;
		right:0;
		background: $cl-gray-light;
		z-index: -1;
	}
	h2{
		padding-top:80px;
		font-weight: 600;
		font-size: 1.875rem;
		line-height: 36px;
		color: $cl-black;
		text-align: center;
		margin-top: 50px;
		margin-bottom: 60px;
		.sm-title-top{
			font-weight: 600;
			font-size: 0.875rem;
			letter-spacing: 0.1em;
			color: $cl-black;
			margin-bottom:15px;
		}
	}
	.top-page-corporate_des{
		margin-bottom: 60px;
		p{
			font-weight: 500;
			font-size: 1.125rem;
			letter-spacing: 0.1em;
			color: $cl-black;
			text-align:center;
		}
	}
}

.section-top-page-corporate{
	.news-group{
		.news-item{
			.news-item_des{
				&.i-arrows{
					&:before{
						height:0;
					}
					&:after{
						height:0;
					}
				}
			}
		}
	}
}

.section-top-page-business{
	h2{
		text-align:center;
	}
	.business_block{
		position: relative;
		margin-bottom: 30px;
		&:before{
			position: absolute;
			background:$logsuote-bg-businees;
			content:'';
			top:70px;
			left:7%;
			right:7%;
			bottom:70px;
			z-index:-1;
		}
	}
	.about-us{
		padding: 35px 0 35px 7%;
		display: flex;
		align-items:center;
	    flex-flow: nowrap;
		.about-us_content{
	    	width: 50%;
    		max-width: 619px;
			padding:88px 0 88px 7%;
			margin-left: auto;
		}
		.about-us_content-img{
			margin-left: auto;
		}
		.about-us_title{
			text-align: right;
			font-weight: 600;
			font-size: 1.125rem;
			color: #333333;
			margin-bottom: 10px;
			.about-us_sm-title{
				font-size: 0.875rem;
				font-weight:normal;
				color: $logsuite-main-txt-cl-black;
				height:20px;
			}
		}
		.about-us_des{
			font-size: 1rem;
			text-align: justify;
			color: $logsuite-business-des-cl-gray;
			p{
				margin-bottom:0;
				&:last-child{
					margin-bottom: 10px;
				}
			}
		}
		.about-us_more{
			font-weight: bold;
			font-size: 0.875rem;
			text-align: right;
			letter-spacing: 0.05em;
			color: $logsuite-cl-black;
			padding-right:45px;
			margin-bottom: 0;
		    display: block;
			&.i-arrows{
				&:before{
					top:unset;
					bottom:5px;
				}
				&:after{
					top:unset;
					bottom:7px;
				}
			}
		}
	}
	.flip-left{
		.about-us{
			padding: 35px 7% 35px 0;
		
			.about-us_content{
				padding:88px 7% 88px 0;
				margin-right: auto;
			}
		}
	}
}

.section-top-page-business{
	.business_recruit{
		background-image:url('../images/1x/top-page-1.jpg');
		background-size: cover;
		background-position:center;
		background-repeat: no-repeat;
		margin-top:70px;
		margin-bottom: 100px;
		h2{
			padding:68px 0 0 0;
			color:$logsuite-cl-white;
			p{
			    padding-bottom: 49px;
			}
		}
		p{
			padding-bottom: 68px;
			font-weight: 600;
			font-size: 1.5rem;
			letter-spacing: 0.05em;
			color:$logsuite-cl-white;
			text-align:center;
		}
	}
}

